{% extends '@EkynaAdmin/Entity/layout.html.twig' %}

{% block page_title %}
    {{ 'shipment.label.plural'|trans({}, 'EkynaCommerce')|raw }}
{% endblock page_title %}

{% block title %}
    <h1>{{ 'shipment.label.plural'|trans({}, 'EkynaCommerce')|raw }}</h1>
{% endblock title %}

{% block actions %}
    {%- set platforms = shipment_platform_global_actions() -%}
    {%- if platforms is not empty -%}
    <div class="btn-group">
        <button type="button" class="btn btn-default btn-sm dropdown-toggle"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ 'shipment.platforms'|trans({}, 'EkynaCommerce')|raw }} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
        {%- for name, actions in platforms -%}
            {%- for action in actions -%}
            <li>
                <a href="{{ path('admin_ekyna_commerce_shipment_platform_action', {
                    'platform': name, 'action': action
                }) }}">
                    <strong>{{ name|capitalize }}</strong> - {{ ('shipment.action.' ~ action)|trans({}, 'EkynaCommerce') }}
                </a>
            </li>
            {%- endfor -%}
        {%- endfor -%}
        </ul>
    </div>
    {%- endif -%}
{% endblock actions %}

{% block main %}
    {{ ekyna_table_render(resources) }}
{% endblock main %}
