{% extends "EkynaAdminBundle:Entity/Default:show.html.twig" %}

{% block actions %}{% endblock %}#}

{% block main %}
<div class="actions">
    {{ admin_resource_btn(attribute, 'edit') }}
    {{ admin_resource_btn(attribute, 'remove') }}
</div>
<div class="show show-with-tabs">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#general" data-toggle="tab">{{ 'ekyna_core.field.general'|trans }}</a>
        </li>
    </ul>
    <div class="show-body">
        <div class="tab-content">
            <div class="tab-pane active" id="general">
                {{ show_row(attribute.attributeGroup, 'entity', 'ekyna_commerce.attribute_group.label.singular', {
                    'route': 'ekyna_commerce_attribute_group_admin_show',
                    'route_params_map': {'attributeGroupId': 'id'}
                }) }}
                {{ show_row(attribute.name, 'text', 'ekyna_core.field.email') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
