<tbody>
{% for line in balance.lines %}
    <tr data-done="{{ line.done ? '1' : '0' }}" data-debit="{{ line.debit_raw }}" data-credit="{{ line.credit_raw }}"
            {% if not line.done %} class="danger"{% endif %}
            {% if balance.not_done and line.done %} style="display:none"{% endif %}>
        <td class="text-right">{{ line.date }}</td>
        <td>{{ line.number }}</td>
        <td class="text-right">{{ line.order_date }}</td>
        <td><a href="{{ line.order_url }}">{{ line.order_number }}</a></td>
        <td>{{ line.label }}</td>
        <td class="text-right">{{ line.debit }}</td>
        <td class="text-right">{{ line.credit }}</td>
        <td class="text-right">{{ line.due_date }}</td>
    </tr>
{% endfor %}
</tbody>
<tfoot>
<tr style="font-weight: bold">
    <td class="text-right" colspan="5"></td>
    <td class="debit-total text-right">{{ balance.debit }}</td>
    <td class="credit-total text-right">{{ balance.credit }}</td>
    <td></td>
</tr>
<tr style="font-weight: bold">
    <td class="text-right" colspan="6"></td>
    <td class="balance-total text-right">{{ balance.diff }}</td>
    <td></td>
</tr>
</tfoot>