{% if relay_points is defined %}
{% for rp in relay_points %}
    <div class="rp-point">
        <label for="rp_{{ loop.index0 }}">
            <input type="radio" name="rp_point" id="rp_{{ loop.index0 }}" value="{{ rp.number }}">
            <strong>{{ rp.company }}</strong><br>
            {{ rp.street }}<br>
            {{ rp.postal_code }} {{ rp.city }}
        </label>
        {% if rp.opening_hours is not empty %}
        <div class="rp-details">
            <table>
                {% for oh in rp.opening_hours %}
                <tr>
                    <td>{{ oh.day }}</td>
                    {% for rg in oh.ranges|slice(0, 2) %}
                        <td>{{ rg.from }} - {{ rg.to }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}
    </div>
{% endfor %}
{% elseif error is defined %}
    <div class="alert alert-danger">
        <p>{{ error }}</p>
    </div>
{% endif %}