<div class="message {{ message.admin ? 'admin' : 'customer' }}" data-id="{{ message.id }}">
    <div class="head">
        <p class="controls">
            {% if config.admin -%}
            <span class="btn btn-xs btn-{% if message.notified_at is not null %}success{% else %}default{% endif %}"
                  title="{{ message.f_notified_at }}">
                <i class="fa fa-{% if message.notify %}envelope-o{% else %}ban{% endif %}"></i>
            </span>
            {%- endif %}
            {% if message.attachment -%}
            <button type="button" class="btn btn-xs btn-success attachment-new"
               title="{{ trans.attachment }}">
                <i class="fa fa-file"></i>
            </button>
            {%- endif %}
            {% if message.edit -%}
            <button type="button" class="btn btn-xs btn-warning message-edit" title="{{ trans.edit }}">
                <i class="fa fa-pencil"></i>
            </button>
            {%- endif %}
            {% if message.remove -%}
            <button type="button" class="btn btn-xs btn-danger message-remove" title="{{ trans.remove }}">
                <i class="fa fa-trash"></i>
            </button>
            {%- endif %}
        </p>
        {% if message.internal -%}
            <i class="fa fa-lock"></i>&nbsp;
        {%- endif %}
        <strong>{{ message.author }}</strong>
        <em class="date">
            {{ message.f_created_at }}
            {% if message.updated_at > message.created_at %}({{ message.f_updated_at }}){% endif %}
        </em>
    </div>
    <div class="content">
        {{- message.content|raw -}}
    </div>
    <table class="table table-condensed table-hover">
        <tbody class="attachments">
        {% for attachment in message.attachments -%}
        {% include "@EkynaCommerce/Js/ticket_attachment.html.twig" with {
            'attachment': attachment, 'config': config, 'trans': trans
        } only %}
        {%- endfor %}
    </table>
</div>
