<{{ tag }} class="commerce-widget dropdown" id="{{ id }}">
    <a href="{{ href }}" title="{{ title }}" class="dropdown-toggle"
       data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <span class="{{ icon }}"></span>
        {{ label|raw }}
    </a>
    <div class="dropdown-menu"></div>
</{{ tag }}>