<{{ tag }} class="dropdown{% if class is not empty %} {{ class }}{% endif %}" id="{{ id }}">
    <a href="{{ href }}" title="{{ title }}" class="dropdown-toggle"
       data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        {% if icon is not empty %}<span class="{{ icon }}"></span>{% endif %}
        {{ label|raw }}
    </a>
    <div class="dropdown-menu dropdown-menu-right"></div>
</{{ tag }}>