{% extends "EkynaCommerceBundle:Cart:layout.html.twig" %}


{% block metas %}
    {{ cms_metas() }}
{% endblock metas %}


{% block content %}
    <div class="container checkout">
        {{ cms_title() }}
        {{ cms_content() }}

        <hr>

        {{ order.payments|last|payment_state_message|raw }}

        <p>Statut de votre commande : {{ order|sale_state_badge }}</p>

        <p>Statut du dernier paiement : {{ order.payments|last|payment_state_badge }}</p>

    </div>
{% endblock content %}


{#{% block stylesheets -%}
    {{ parent() }}
    <link href="{{ asset('bundles/ekynacommerce/css/sale-view.css') }}" type="text/css" rel="stylesheet"/>
{%- endblock stylesheets %}


{% block javascripts -%}
    {{ parent() }}
    <script type="text/javascript">require(['ekyna-commerce/sale-view']);</script>
{%- endblock javascripts %}#}
