{% extends "EkynaCommerceBundle:Cart:layout.html.twig" %}

{% import 'EkynaCommerceBundle:Cart:macros.html.twig' as macros %}

{% block metas %}
    {{ cms_metas() }}
{% endblock metas %}


{% block content %}
    <div class="container">
        {{ cms_title() }}
        {{ cms_content() }}
    </div>

    <div class="checkout cart-checkout" data-refresh-url="{{ path('ekyna_commerce_cart_checkout_index') }}">
    {% if cart is not same as(null) -%}

        {# Cart view #}
        <div class="container cart-checkout-view">
            {{- render_sale_view(view) -}}
        </div>

        {# Login #}
        <div class="cart-checkout-customer"{% if controls.customer == 1 %} style="display:none"{% endif %}>
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <p class="user-case"{% if controls.user == 0 %} style="display:none"{% endif %}>
                            {{- 'ekyna_commerce.checkout.message.register'|trans|raw -}}
                        </p>
                        <p class="no-user-case"{% if controls.user == 1 %} style="display:none"{% endif %}>
                            {{- 'ekyna_commerce.checkout.message.sign_in_or_register'|trans|raw -}}
                        </p>
                    </div>
                    <div class="col-md-4">
                        <div class="btn-group btn-group-sm">
                            <a href="{{ path('fos_user_security_login', {'target_path': 'ekyna_commerce_cart_checkout_index'}) }}"
                               class="btn btn-primary no-user-case"{% if controls.user == 1 %} style="display:none"{% endif %} data-user-modal>
                                {{- 'ekyna_commerce.checkout.index.sign_in'|trans -}}
                            </a>
                            <a href="{{ path('fos_user_registration_register') }}" class="btn btn-default">
                                {{- 'ekyna_commerce.checkout.index.register'|trans -}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# Forms #}
        <div class="cart-checkout-forms"{% if controls.empty == 1 %} style="display:none"{% endif %}>
            <div class="container">
                <div class="row">
                    {# Information #}
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a href="{{ path('ekyna_commerce_cart_information') }}"
                                   class="cart-checkout-button btn {% if controls.information == 1 %}btn-primary{% else %}btn-default disabled{% endif %}"
                                   id="cart-checkout-information-button" data-cart-modal>
                                    {{- 'ekyna_core.button.edit'|trans -}}
                                </a>
                                1.&nbsp;{{ 'ekyna_commerce.checkout.index.information'|trans }}<span>*</span>
                            </div>
                            <div class="panel-body" id="cart-checkout-information">
                                {{- macros.cart_information(cart) -}}
                            </div>
                        </div>
                    </div>

                    {# Invoice #}
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a href="{{ path('ekyna_commerce_cart_invoice_address') }}"
                                   class="cart-checkout-button btn {% if controls.invoice == 1 %}btn-primary{% else %}btn-default disabled{% endif %}"
                                   id="cart-checkout-invoice-button" data-cart-modal>
                                    {{- 'ekyna_core.button.edit'|trans -}}
                                </a>
                                2.&nbsp;{{ 'ekyna_commerce.checkout.index.invoice'|trans }}<span>*</span>
                            </div>
                            <div class="panel-body" id="cart-checkout-invoice">
                                {{- macros.cart_invoice_address(cart) -}}
                            </div>
                        </div>
                    </div>

                    {# Delivery #}
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a href="{{ path('ekyna_commerce_cart_delivery_address') }}"
                                   class="cart-checkout-button btn {% if controls.delivery == 1 %}btn-primary{% else %}btn-default disabled{% endif %}"
                                   id="cart-checkout-delivery-button" data-cart-modal>
                                    {{- 'ekyna_core.button.edit'|trans -}}
                                </a>
                                3.&nbsp;{{ 'ekyna_commerce.checkout.index.delivery'|trans -}}
                            </div>
                            <div class="panel-body" id="cart-checkout-delivery">
                                {{- macros.cart_delivery_address(cart) -}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    {# Comment #}
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a href="{{ path('ekyna_commerce_cart_comment') }}"
                                   class="cart-checkout-button btn {% if controls.comment == 1 %}btn-primary{% else %}btn-default disabled{% endif %}"
                                   id="cart-checkout-comment-button" data-cart-modal>
                                    {{- 'ekyna_core.button.edit'|trans -}}
                                </a>
                                4.&nbsp;{{ 'ekyna_commerce.checkout.index.comment'|trans -}}
                            </div>
                            <div class="panel-body" id="cart-checkout-comment">
                                {{- macros.cart_comment(cart) -}}
                            </div>
                        </div>
                    </div>
                    {# Attachments #}
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a href="{{ path('ekyna_commerce_cart_attachment_add') }}"
                                   class="cart-checkout-button btn {% if controls.attachments == 1 %}btn-primary{% else %}btn-default disabled{% endif %}"
                                   id="cart-checkout-attachments-button" data-cart-modal>
                                    {{- 'ekyna_core.button.add'|trans -}}
                                </a>
                                5.&nbsp;{{ 'ekyna_commerce.checkout.index.attachments'|trans -}}
                            </div>
                            <div class="panel-body" id="cart-checkout-attachments">
                                {{- macros.cart_attachments(cart) -}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# Footer #}
        <div class="container cart-checkout-footer">
            <div class="row">
                <div class="col-sm-12">
                    <div class="submit-prevented" style="display:none">
                        <div class="alert alert-warning">
                            <p class="text-center">
                                {{- 'ekyna_commerce.checkout.message.submit_prevented'|trans|raw -}}
                            </p>
                        </div>
                        <div class="alert alert-danger" style="display:none">
                            <p class="text-center"></p>
                        </div>
                    </div>
                    <p class="text-center">
                        <a href="{{ path('ekyna_commerce_cart_checkout_shipment') }}"
                           class="btn btn-primary btn-lg cart-checkout-submit{% if controls.valid == 0 %} disabled{% endif %}">
                            {{- 'ekyna_commerce.checkout.index.place_order'|trans -}}
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                        {% if controls.quote == 1 %}
                        <a href="{{ path('ekyna_commerce_cart_checkout_quote') }}"
                           class="btn btn-default btn-lg cart-checkout-quote{% if controls.valid == 0 or controls.quote == 0 %} disabled{% endif %}"
                           {%- if controls.quote == 0 %} style="display:none"{% endif %}>
                            {{- 'ekyna_commerce.checkout.index.to_quote'|trans -}}
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>

    {%- else -%}

        {# Empty cart #}
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p>{{ 'ekyna_commerce.checkout.index.empty'|trans }}.</p>
                </div>
            </div>
        </div>

    {%- endif %}
    </div>

{% endblock content %}


{% block stylesheets -%}
    {{ parent() }}
    <link href="{{ asset('bundles/ekynacommerce/css/sale-view.css') }}" type="text/css" rel="stylesheet"/>
{%- endblock stylesheets %}


{% block javascripts -%}
    {{ parent() }}
    <script type="text/javascript">require(['ekyna-commerce/sale-view']);</script>
    <script type="text/javascript">require(['ekyna-commerce/checkout/index']);</script>
{%- endblock javascripts %}
