{% extends "EkynaCommerceBundle:Cart:layout.html.twig" %}


{% block metas %}
    {{ cms_metas() }}
{% endblock metas %}


{% block content %}
    <div class="container">
        {{ cms_title() }}
        {{ cms_content() }}
    </div>

    {% if cart is defined %}

        {# Cart view #}
        <div class="container cart-view">
            {{ render_sale_view(view, 'EkynaCommerceBundle:Common:sale_view_editable.html.twig') }}
        </div>

        {# Login #}
        {% if customer is not defined %}
            <div style="padding: 20px 0; background-color: #e6e6e6">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            {# TODO {{ cms_block('cart_checkout_login', {'content': (''|trans)}) }}#}
                            <p>
                                Connectez-vous à votre compte client pour voir vos tarifs
                                préférentiels et accéder à votre carnet d'addresses.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <div class="btn-group">
                                <a href="javascript: void(0)" class="btn btn-primary">
                                    Connexion
                                </a>
                                <a href="javascript: void(0)" class="btn btn-default">
                                    Ouverture de compte
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <hr>
        {% endif %}

        <div class="container">
            <div class="row">
                {% set address_column_size = 6 %}

                {# Information #}
                {% if cart.email is not same as(null) %}
                    {% set address_column_size = 4 %}
                    <div class="col-md-4">
                        <h3>{{ 'ekyna_commerce.checkout.index.information'|trans }}</h3>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p>
                                    {% if cart.company is not same as(null) %}
                                    <strong>{{ cart.company }}</strong><br>
                                    {% endif %}
                                    {{ cart|commerce_identity }}<br>
                                    <em>{{ cart.email }}</em>
                                </p>
                            </div>
                        </div>
                        <p class="text-center">
                            <a href="javascript: void(0)" class="btn btn-default">
                                Modifier
                            </a>
                        </p>
                    </div>
                {% endif %}

                {# Invoice #}
                <div class="col-md-{{ address_column_size }}">
                    <h3>{{ 'ekyna_commerce.checkout.index.invoice'|trans }}</h3>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {% if cart.invoiceAddress is not same as(null) %}
                                {{ cart.invoiceAddress|commerce_address }}
                            {% else %}
                                {{ 'ekyna_core.value.undefined'|trans }}
                            {% endif %}
                        </div>
                    </div>
                    <p class="text-center">
                        <a href="javascript: void(0)" class="btn btn-default">
                            Choisir ou modifier
                        </a>
                    </p>
                </div>

                {# Delivery#}
                <div class="col-md-{{ address_column_size }}">
                    <h3>{{ 'ekyna_commerce.checkout.index.delivery'|trans }}</h3>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {% if cart.sameAddress %}
                                {{ 'ekyna_commerce.sale.field.same_address'|trans }}
                            {% elseif cart.deliveryAddress is not same as(null) %}
                                {{ cart.deliveryAddress|commerce_address }}
                            {% else %}
                                {{ 'ekyna_core.value.undefined'|trans }}
                            {% endif %}
                        </div>
                    </div>
                    <p class="text-center">
                        <a href="javascript: void(0)" class="btn btn-default">
                            Choisir ou modifier
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <hr>

        {# Next step #}
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p class="text-center">
                        <a href="{{ path('ekyna_commerce_cart_checkout_information') }}" class="btn btn-primary btn-lg">
                            {{ 'ekyna_commerce.checkout.index.place_order'|trans }}
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </p>
                </div>
            </div>
        </div>

    {% else %}

        {# Empty cart #}
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p>Votre panier est vide.</p>
                </div>
            </div>
        </div>

    {% endif %}

{% endblock content %}


{% block stylesheets -%}
    {{ parent() }}
    <link href="{{ asset('bundles/ekynacommerce/css/sale-view.css') }}" type="text/css" rel="stylesheet"/>
{%- endblock stylesheets %}


{% block javascripts -%}
    {{ parent() }}
    <script type="text/javascript">require(['ekyna-commerce/sale-view']);</script>
{%- endblock javascripts %}
