{% extends "EkynaCommerceBundle:Cart:layout.html.twig" %}

{% import 'EkynaCommerceBundle:Cart:macros.html.twig' as macros %}

{% block metas %}
    {{ cms_metas() }}
{% endblock metas %}


{% block content %}
    <div class="container">
        {{ cms_title() }}
        {{ cms_content() }}
    </div>

    <div class="checkout cart-checkout" data-refresh-url="{{ path('ekyna_commerce_cart_checkout_index') }}">
    {% if cart is not same as(null) %}

        {# Cart view #}
        <div class="container cart-view">
            {{ render_sale_view(view, 'EkynaCommerceBundle:Common:sale_view_editable.html.twig') }}
        </div>

        {# Login #}
        {% if customer is not defined %}
            <div style="padding: 20px 0; background-color: #e6e6e6" class="cart-sign-in-or-register">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            {# TODO {{ cms_block('cart_checkout_login', {'content': (''|trans)}) }}#}
                            <p>
                                Connectez-vous à votre compte client pour voir vos tarifs
                                préférentiels et accéder à votre carnet d'addresses.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <div class="btn-group btn-group-sm">
                                <a href="{{ path('fos_user_security_login', {'target_path': 'ekyna_commerce_cart_checkout_index'}) }}"
                                   class="btn btn-primary" data-user-modal>
                                    Connexion
                                </a>
                                <a href="{{ path('fos_user_registration_register') }}" class="btn btn-default">
                                    Ouverture de compte
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <hr>
        {% endif %}

        <div class="container">
            <div class="row">
                {# Information #}
                <div class="col-md-4">
                    <h3>
                        <a href="{{ path('ekyna_commerce_cart_information') }}"
                           class="btn btn-default btn-sm pull-right" data-cart-modal>
                            {{- 'ekyna_core.button.edit'|trans -}}
                        </a>
                        {{ 'ekyna_commerce.checkout.index.information'|trans }}
                    </h3>
                    <div class="panel panel-default">
                        <div class="panel-body cart-checkout-information">
                            {{ macros.cart_information(cart) }}
                        </div>
                    </div>
                </div>

                {# Invoice #}
                <div class="col-md-4">
                    <h3>
                        <a href="{{ path('ekyna_commerce_cart_invoice_address') }}"
                           class="btn btn-default btn-sm pull-right" data-cart-modal>
                            {{- 'ekyna_core.button.edit'|trans -}}
                        </a>
                        {{ 'ekyna_commerce.checkout.index.invoice'|trans }}
                    </h3>
                    <div class="panel panel-default">
                        <div class="panel-body cart-checkout-invoice-address">
                            {{ macros.cart_invoice_address(cart) }}
                        </div>
                    </div>
                </div>

                {# Delivery#}
                <div class="col-md-4">
                    <h3>
                        <a href="{{ path('ekyna_commerce_cart_delivery_address') }}"
                           class="btn btn-default btn-sm pull-right" data-cart-modal>
                            {{- 'ekyna_core.button.edit'|trans -}}
                        </a>
                        {{ 'ekyna_commerce.checkout.index.delivery'|trans }}
                    </h3>
                    <div class="panel panel-default">
                        <div class="panel-body cart-checkout-delivery-address">
                            {{ macros.cart_delivery_address(cart) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                {# Delivery#}
                <div class="col-md-12">
                    <h3>
                        <a href="{{ path('ekyna_commerce_cart_comment') }}"
                           class="btn btn-default btn-sm pull-right" data-cart-modal>
                            {{- 'ekyna_core.button.edit'|trans -}}
                        </a>
                        {{ 'ekyna_commerce.checkout.index.comment'|trans }}
                    </h3>
                    <div class="panel panel-default">
                        <div class="panel-body cart-checkout-comment">
                            {{ macros.cart_comment(cart) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        {# Next step #}
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p class="text-center">
                        <a href="{{ path('ekyna_commerce_cart_checkout_shipment') }}" class="btn btn-primary btn-lg">
                            {{ 'ekyna_commerce.checkout.index.place_order'|trans }}
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </p>
                </div>
            </div>
        </div>

    {% else %}

        {# Empty cart #}
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p>Votre panier est vide.</p>
                </div>
            </div>
        </div>

    {% endif %}
    </div>

{% endblock content %}


{% block stylesheets -%}
    {{ parent() }}
    <link href="{{ asset('bundles/ekynacommerce/css/sale-view.css') }}" type="text/css" rel="stylesheet"/>
{%- endblock stylesheets %}


{% block javascripts -%}
    {{ parent() }}
    <script type="text/javascript">require(['ekyna-commerce/sale-view']);</script>
    <script type="text/javascript">require(['ekyna-commerce/checkout']);</script>
{%- endblock javascripts %}
