{% extends '@EkynaCommerce/Cart/layout.html.twig' %}


{% block metas %}
    {{ cms_metas() }}
{% endblock metas %}


{% block content %}
{% apply spaceless %}
    <div class="container checkout">
        {{ cms_title() }}
        {{ cms_content() }}

        <hr>

        {% if cart.payments is not empty %}
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>{{ 'field.method'|trans({}, 'EkynaUi') }}</th>
                    <th>{{ 'field.amount'|trans({}, 'EkynaUi') }}</th>
                    <th>{{ 'field.status'|trans({}, 'EkynaUi') }}</th>
                    {#<th></th>#}
                </tr>
                </thead>
                <tbody>
                {% for payment in cart.payments %}
                    {% set paymentId = 'payment_' ~ loop.index0 %}
                    <tr data-id="{{ payment.id }}">
                        <td id="{{ paymentId }}_method">{{ payment.getMethod() }}</td>
                        <td id="{{ paymentId }}_amount">{{ payment.getRealAmount()|currency_quote(payment, true) }}</td>
                        <td id="{{ paymentId }}_state">{{ payment|payment_state_badge }}</td>
                        {#<td class="actions">
                            TODO cancel button ?
                        </td>#}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <hr>
        {% endif %}

        <div class="row">
            <div class="col-md-8">
                <div class="alert alert-info">
                    <p class="text-center">
                        {{- 'checkout.payment.last_step'|trans({}, 'EkynaCommerce')|raw -}}
                    </p>
                </div>
                {%- include '@EkynaCommerce/Account/Sale/payment_forms.html.twig' with {
                    'sale': cart, 'forms': forms
                } only -%}
            </div>
            <div class="col-md-4">
                {%- include '@EkynaCommerce/Account/Sale/summary.html.twig' with {
                    'title': t('checkout.summary', [], 'EkynaCommerce'), 'sale': cart, 'delivery': true
                } -%}
            </div>
        </div>

        <hr>

        <div class="text-center">
            <a href="{{ path('ekyna_commerce_cart_checkout_shipment') }}" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-chevron-left"></span>
                {{ 'button.previous_step'|trans({}, 'EkynaUi') }}
            </a>
        </div>
    </div>
{% endapply %}
{% endblock content %}
