{% extends '@EkynaCommerce/Cart/layout.html.twig' %}


{% block metas %}
    {{ cms_metas() }}
{% endblock metas %}


{% block content %}
    <div class="container checkout">
        {{ cms_title() }}
        {{ cms_content() }}

        <hr>

        {{ render_sale_view(cart|sale_view({'taxes_view': false})) }}

        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            {% include '@EkynaCommerce/Admin/Common/Sale/_form_transform.html.twig' %}
        {{ form_end(form) }}
    </div>
{% endblock content %}


{% block stylesheets -%}
    {{ parent() }}
    <link href="{{ absolute_url(asset('bundles/ekynacommerce/css/sale-view.css')) }}" type="text/css" rel="stylesheet"/>
{%- endblock stylesheets %}
