{% macro render_company() %}
{% spaceless %}
    <p>
    {% set companyAddress = get_setting('general.site_address') %}
    {{ companyAddress.street }}<br>
    {% if companyAddress.supplement|length > 0 %}{{ companyAddress.supplement }}<br>{% endif %}
    {{ companyAddress.postalCode ~ ' ' ~ companyAddress.city }}<br>

    {% if companyAddress.phone|length > 0 %}Tél. {{ companyAddress.phone }}<br>{% endif %}
    {% if companyAddress.mobile|length > 0 %}Port. {{ companyAddress.mobile }}<br>{% endif %}

    {{ get_setting('general.admin_email') }}<br>
    {{ absolute_url('/') }}
    </p>
{% endspaceless %}
{% endmacro %}


{% macro render_customer(customer) %}
{% spaceless %}
    <p>
    {% if customer['number'] is not empty %}
        {{ customer['number'] }}<br>
    {% endif %}

    {% if customer['company'] is not empty %}
        <strong>{{ customer['company'] }}</strong><br>
        {{ customer['full_name'] }}<br>
    {% else %}
        <strong>{{ customer['full_name'] }}</strong><br>
    {% endif %}

    <em>{{ customer['email'] }}</em>

    {% if customer['phone'] is not empty %}
        <br>Tél : {{ customer['phone'] }}
    {% endif %}

    {% if customer['mobile'] is not empty %}
        <br>Port : {{ customer['mobile'] }}
    {% endif %}
    </p>
{% endspaceless %}
{% endmacro %}


{% macro render_address(address) %}
{% spaceless %}
    <p>
    {% if address['company'] is not empty %}
        <strong>{{ address['company'] }}</strong><br>
        {{ address['full_name'] }}<br>
    {% else %}
        <strong>{{ address['full_name'] }}</strong><br>
    {% endif %}

    {{ address['street'] }}<br>
    {# TODO {% if address['supplement'] is not empty %}
        {{ address['supplement'] }}<br>
    {% endif %}#}

    {{ address['postal_code'] }} {{ address['city'] }}, {{ address['country'] }}

    {% if address['phone'] is not empty %}
        <br>Téléphone : {{ address['phone'] }}
    {% endif %}

    {% if address['mobile'] is not empty %}
        <br>Mobile : {{ address['mobile'] }}
    {% endif %}
    </p>
{% endspaceless %}
{% endmacro %}
