{% import "EkynaCommerceBundle:Invoice:macros.html.twig" as macro -%}

{% spaceless %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        {{- ('ekyna_commerce.' ~ invoice.type ~ '.label.singular')|trans }}
        {{ invoice.number -}}
    </title>

    {% block stylesheets %}
    <link href="{{ absolute_url(asset('bundles/ekynacommerce/css/invoice.css')) }}" rel="stylesheet" type="text/css" />
    {% endblock stylesheets %}
</head>
<body>
    <div class="sale-invoice">

        {# TODO translations #}

        {% set currency = invoice.currency %}

        {# --- HEADER --- #}
        {% block header -%}
        <table class="bloc header">
            <tr>
                <td class="logo">
                {%- block logo -%}
                    <a href="{{ absolute_url('/') }}">
                        <img alt="{{ get_setting('general.site_name') }}"
                             src="{{ absolute_url(asset(logo_path)) }}" />
                    </a>
                {%- endblock logo -%}
                </td>
                <td class="blank">
                    &nbsp;
                </td>
                <td class="address">
                {%- block company -%}
                     {{ macro.render_company() }}
                {%- endblock company -%}
                </td>
            </tr>
        </table>
        {%- endblock header %}

        {# --- TITLE --- #}
        {% block title -%}
        <div class="bloc title">
            <h1>
                {{- ('ekyna_commerce.' ~ invoice.type ~ '.label.singular')|trans }}
                {{ invoice.number -}}
            </h1>
            <p>Le {{ invoice.createdAt|localizeddate('long', 'none') }}.</p>
        </div>
        {%- endblock title %}

        {# --- ADDRESSES --- #}
        {% block addresses -%}
        <table class="bloc table addresses">
            <thead>
            <tr>
                <th>{{ 'ekyna_commerce.sale.field.customer'|trans }}</th>
                <th class="blank">&nbsp;</th>
                <th>{{ 'ekyna_commerce.sale.field.invoice_address'|trans }}</th>
                <th class="blank">&nbsp;</th>
                <th>{{ 'ekyna_commerce.sale.field.delivery_address'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="customer">
                    {%- block customer -%}
                        {{ macro.render_customer(invoice.customer) }}
                    {%- endblock customer -%}
                </td>
                <td>&nbsp;</td>
                <td class="address">
                {%- block invoice_address -%}
                    {{ macro.render_address(invoice.invoiceAddress) }}
                {%- endblock invoice_address -%}
                </td>
                <td>&nbsp;</td>
                <td class="address">
                {%- block delivery_address -%}
                {% if invoice.deliveryAddress is not empty %}
                    {{ macro.render_address(invoice.deliveryAddress) }}
                {% else %}
                    {{ macro.render_address(invoice.invoiceAddress) }}
                {% endif %}
                {%- endblock delivery_address -%}
                </td>
            </tr>
            </tbody>
        </table>
        {%- endblock addresses %}

        {# --- ITEMS --- #}
        {% block lines %}
        <table class="bloc table details">
            <thead>
            <tr>
                <th>{{ 'ekyna_core.field.designation'|trans }}</th>
                <th>{{ 'ekyna_core.field.reference'|trans }}</th>
                <th>{{ 'ekyna_commerce.sale.field.net_unit'|trans }}</th>
                <th>{{ 'ekyna_commerce.sale.field.tax_rate'|trans }}</th>
                <th>{{ 'ekyna_core.field.quantity'|trans }}</th>
                <th>{{ 'ekyna_commerce.sale.field.discount_total'|trans }}</th>
                <th>{{ 'ekyna_commerce.sale.field.net_total'|trans }}</th>
            </tr>
            </thead>

            {# GOODS #}
            <tbody class="stripped">
            {% for line in invoice.linesByType('good') %}
                <tr>
                    <td>
                        {{- line.designation -}}
                        {%- if line.description is not empty -%}
                            <br><p class="description">{{ line.description|nl2br }}</p>
                        {%- endif -%}
                    </td>
                    <td>{{ line.reference }}</td>
                    <td class="text-right">{{ line.netPrice|localizedcurrency(currency) }}</td>
                    <td class="text-right">
                        {%- for rate in line.taxRates -%}
                            {{- rate|localizednumber }}%
                            {%- if not loop.last %}, {% endif -%}
                        {%- else -%}
                            &nbsp;
                        {%- endfor -%}
                    </td>
                    <td class="text-right">{{ line.quantity|localizednumber }}</td>
                    <td class="text-right">
                        {%- if line.discountTotal -%}
                            {{- line.discountTotal|localizedcurrency(currency) -}}
                        {%- else -%}
                            &nbsp;
                        {%- endif -%}
                    </td>
                    <td class="text-right">{{ line.netTotal|localizedcurrency(currency) }}</td>
                </tr>
            {% endfor %}
            </tbody>


            {# DISCOUNTS #}
            {% set discounts = invoice.linesByType('discount') %}
            {% if discounts is not empty %}
            {% block spacer %}
            <tbody class="spacer">
                <tr>
                    <td colspan="7">&nbsp;</td>
                </tr>
            </tbody>
            {% endblock spacer %}

            <tbody>
            {% for line in discounts %}
                <tr>
                    <td colspan="6">{{ line.designation }}</td>
                    <td class="text-right">{{ line.netTotal|localizedcurrency(currency) }}</td>
                </tr>
            {% endfor %}
            </tbody>
            {% endif %}

            {# SHIPMENT #}
            {% set shipments = invoice.linesByType('shipment') %}
            {% if shipments is not empty %}
            {{ block('spacer') }}
            <tbody>
            {% for line in shipments %}
                <tr>
                    <td colspan="6">{{ line.designation }}</td>
                    <td class="text-right">{{ line.netTotal|localizedcurrency(currency) }}</td>
                </tr>
            {% endfor %}
            </tbody>
            {% endif %}

            {# TOTALS #}
            {{ block('spacer') }}
            <tbody class="totals">
            <tr>
                <td colspan="5" rowspan="3">&nbsp;</td>
                <th>{{ 'ekyna_commerce.sale.field.net_total'|trans }}</th>
                <td class="text-right">{{ (invoice.goodsBase + invoice.shipmentBase)|localizedcurrency(currency) }}</td>
            </tr>
            <tr>
                <th>{{ 'ekyna_commerce.sale.field.tax_total'|trans }}</th>
                <td class="text-right">{{ invoice.taxesTotal|localizedcurrency(currency) }}</td>
            </tr>
            <tr>
                <th>{{ 'ekyna_commerce.sale.field.grand_total'|trans }}</th>
                <td class="text-right">{{ invoice.grandTotal|localizedcurrency(currency) }}</td>
            </tr>
            </tbody>
        </table>
        {% endblock lines %}

        {# Taxes details #}
        {% if invoice.taxesDetails is not empty %}
        <table class="table taxes">
            <thead>
                <tr>
                    <th>Taxe</th>
                    <th>Montant total</th>
                </tr>
            </thead>
            <tbody>
                {%- for details in invoice.taxesDetails -%}
                <tr>
                    <th>{{ details.name }}</th>
                    <td class="text-right">{{ details.amount|localizedcurrency(currency) }}</td>
                </tr>
                {%- endfor -%}
            </tbody>
        </table>
        {% endif %}


        {# --- MISC --- #}
        {% block misc %}
            {#
            <table class="order-doc-bloc order-doc-inf">
                <tbody>
                    <tr>
                        <td>{{ sale.paiementMethod.title }}</td>
                    </tr>
                </tbody>
            </table>

            <table class="order-doc-bloc order-doc-inf">
                <tbody>
                    <tr>
                        <td>{{ sale.comment|raw }}</td>
                    </tr>
                </tbody>
            </table>
            #}
        {% endblock misc %}

        {# --- FOOTER --- #}
        {% block footer %}
        <div class="bloc footer">
            {{- get_setting('commerce.invoice_footer')|raw -}}
        </div>
        {% endblock footer %}

    </div>


    {# TERMS #}
    {#<hr>

    <div class="sale-invoice">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla posuere lectus quis lobortis consequat. Vivamus vehicula mauris sed ligula semper, et rutrum dolor porta. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras iaculis odio felis, nec viverra urna tristique vitae. Vivamus consectetur gravida porta. Integer sollicitudin libero nulla, in porta nulla euismod in. Donec gravida consequat nibh consequat aliquam. Morbi tincidunt velit sed tellus efficitur, at consectetur eros aliquam. Ut tortor velit, maximus sit amet leo id, aliquam fringilla urna. Nullam maximus erat vel velit rutrum, venenatis dapibus nisl commodo. Quisque est risus, imperdiet ac neque sit amet, condimentum dapibus libero. Proin id gravida ipsum. Nunc blandit lacus nec magna bibendum, nec scelerisque purus placerat. Phasellus sed metus venenatis, mattis turpis ut, faucibus libero. Integer id dictum dolor.</p>
        <p>Nulla laoreet ligula ac nulla commodo, in bibendum nulla pharetra. Aliquam viverra justo risus, sed luctus urna tempor et. Mauris semper fermentum dolor nec varius. Etiam eget viverra ipsum, id bibendum enim. Donec mollis nunc dui, nec tempor velit hendrerit in. Donec nec felis sed felis viverra eleifend in nec lacus. Vivamus et vulputate quam, in molestie sapien. Mauris luctus est odio, at tincidunt ex vulputate sed. Curabitur luctus urna lectus, nec consequat urna feugiat a. Mauris mauris tellus, aliquet id finibus a, elementum ac tellus. Suspendisse non dictum sapien.</p>
        <p>Pellentesque elementum nulla at arcu facilisis, ut pretium eros ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla et est non magna pellentesque vehicula ac ullamcorper libero. Nullam iaculis vel metus id condimentum. Sed nec aliquam justo. Nunc rutrum ante eget nisl accumsan mattis. Vivamus tincidunt feugiat eros quis tincidunt. Aliquam in sem lacinia, finibus elit vel, elementum tellus. Sed porta ligula ac leo malesuada, at malesuada ex laoreet. Suspendisse quam metus, suscipit sed condimentum vitae, sollicitudin id lorem. Praesent ac nulla dapibus, iaculis arcu a, ornare turpis.</p>
        <p>Nulla facilisi. Nam enim quam, viverra ac neque quis, interdum blandit massa. Curabitur eleifend sed felis vitae semper. Integer eleifend est a pellentesque auctor. Suspendisse dictum lorem eget quam convallis, non ultrices justo ultricies. Donec eu lobortis enim. Vestibulum diam urna, porta a faucibus nec, tempus a ex. Duis cursus quam orci, at semper nisl blandit ut. Nullam ut leo non felis mollis dictum. Etiam eget metus dolor.</p>
        <p>Sed eget auctor ipsum. Nam nec massa tempus turpis fermentum gravida. Proin iaculis eu elit non ultrices. Pellentesque eros orci, scelerisque tristique sem a, finibus lacinia purus. Quisque porta leo quis lectus consectetur, vel iaculis nisl mattis. Donec nec lacinia sem. Fusce dictum leo sed finibus molestie. Etiam bibendum, mi non sollicitudin posuere, nulla dui bibendum urna, sed vestibulum purus neque at leo. Cras convallis lacus massa, nec fringilla nulla congue non. Nam massa nunc, pretium sit amet fringilla a, eleifend non neque. Morbi venenatis fringilla libero, vitae venenatis elit cursus eu. Praesent id nibh ac elit dignissim elementum sit amet in ipsum. Sed facilisis imperdiet nulla. Praesent fringilla pulvinar elit sit amet fermentum. Aliquam lacinia, nisi fringilla malesuada sagittis, orci nibh imperdiet mi, maximus elementum massa dui eget risus. Proin eu metus velit.</p>
    </div>#}

</body>
</html>
{% endspaceless %}
