{% apply spaceless %}
<ul class="nav nav-tabs" data-tab-key="{{ resource_id }}">
    <li class="active">
        <a href="#shipment-general" id="toggle-general" data-toggle="tab">
            {{- 'ekyna_core.field.general'|trans -}}
        </a>
    </li>
    <li>
        <a href="#shipment-relay-point" id="toggle-relay-point" data-toggle="tab">
            {{- 'ekyna_commerce.relay_point.label.singular'|trans -}}
        </a>
    </li>
    <li>
        <a href="#shipment-receiver-address" id="toggle-receiver-address" data-toggle="tab">
            {{- 'ekyna_commerce.shipment.field.receiver_address'|trans -}}
        </a>
    </li>
    <li>
        <a href="#shipment-sender-address" id="toggle-sender-address" data-toggle="tab">
            {{- 'ekyna_commerce.shipment.field.sender_address'|trans -}}
        </a>
    </li>
</ul>
<div class="panel-body form-body">
    {{ bootstrap_set_style('horizontal') }}
    {{ bootstrap_set_col_size('md') }}
    {{ bootstrap_set_sizing('sm') }}
    {% if form.vars.privileged -%}
    <div class="alert alert-warning">
        <p><i class="fa fa-warning"></i>&nbsp;<strong>Privileged mode</strong></p>
    </div>
    {%- endif %}
    {{ form_errors(form, {'global_errors': true}) }}
    <div class="tab-content">
        <div class="tab-pane active" id="shipment-general">
            <div class="row">
                <div class="col-md-6">
                    {#{{ form_row(form.number, {'label_col': 4, 'widget_col': 8}) }}#}
                    {{ form_row(form.state, {'label_col': 4, 'widget_col': 8}) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.shippedAt, {'label_col': 4, 'widget_col': 8}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.weight, {'label_col': 4, 'widget_col': 8}) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.valorization, {'label_col': 4, 'widget_col': 8}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.method, {'label_col': 4, 'widget_col': 8}) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.trackingNumber, {'label_col': 4, 'widget_col': 8}) }}
                </div>
            </div>
            {% if form.autoInvoice is defined -%}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.autoInvoice, {'label_col': 4, 'widget_col': 8}) }}
                </div>
            </div>
            {%- endif %}
            {{ form_row(form.items) }}
            <div id="shipment-parcels">
                {{ form_row(form.parcels) }}
            </div>
            {{ form_row(form.gatewayData) }}
            {{ form_row(form.description) }}
        </div>
        <div class="tab-pane" id="shipment-relay-point">
            {{ form_row(form.relayPoint) }}
        </div>
        <div class="tab-pane" id="shipment-receiver-address">
            {{ form_row(form.receiverAddress) }}
        </div>
        <div class="tab-pane" id="shipment-sender-address">
            {{ form_row(form.senderAddress) }}
        </div>
    </div>
    {{ bootstrap_set_sizing('md') }}
    {{ form_rest(form) }}
    {{ ivory_google_api() }}
</div>
{% endapply %}
