{% extends "EkynaAdminBundle:Entity/Default:new.html.twig" %}

{% set shipment = _context[resource_name] %}

{% block title %}
    <h1>{{ ('ekyna_commerce.' ~ (shipment.return ? 'return' : 'shipment') ~ '.header.new')|trans|raw }}</h1>
{% endblock title %}

{% block actions %}
    {#{{ admin_resource_btn(resource, 'list') }}#}
    {#{{ admin_resource_btn(resource, 'new') }}#}
{% endblock actions %}

{% block side %}
    {% if shipment.sale is not sale_stockable_state %}
    <div class="alert alert-warning">
        {{ 'ekyna_commerce.shipment.message.sale_is_not_stackable'|trans|raw }}
    </div>
    {% endif %}
    {{ parent() }}
{% endblock side %}
