{% apply spaceless %}
<table class="table table-condensed table-alt-head">
    <thead>
    <tr>
        <th>{{ 'field.designation'|trans({}, 'EkynaUi') }}</th>
        <th>{{ 'field.reference'|trans({}, 'EkynaUi') }}</th>
        <th>{{ 'field.quantity'|trans({}, 'EkynaUi') }}</th>
    </tr>
    </thead>
    <tbody>
    {% for item in items -%}
    <tr>
        <td>{{ item.designation }}</td>
        <td>{{ item.reference }}</td>
        <td>{{ item.quantity|format_number }} / {{ item.total|format_number }}</td>{# TODO Packaging format #}
    </tr>
    {%- endfor %}
    </tbody>
</table>
{% if description is not empty or valorization is not empty or parcels is not empty -%}
<div>
    <dl class="dl-horizontal">
    {% if description is not empty %}
        <dt>{{ 'field.description'|trans({}, 'EkynaCommerce') }}</dt>
        <dd>{{ description|nl2br|raw }}</dd>
    {% endif %}
    {% if parcels is not empty %}
        <dt>{{ 'shipment.field.parcels'|trans({}, 'EkynaCommerce') }}</dt>
        <dd>{{ parcels|length }}</dd>
    {% endif %}
    {% if valorization is not empty %}
        <dt>{{ 'shipment.field.valorization'|trans({}, 'EkynaCommerce') }}</dt>
        <dd>{{ valorization|format_currency(commerce_default_currency) }}</dd>
    {% endif %}
    </dl>
</div>
{%- endif %}
{% endapply %}
