{% spaceless %}
<table class="table table-condensed">
    <thead>
    <tr>
        <th>{{ 'ekyna_core.field.designation'|trans }}</th>
        <th>{{ 'ekyna_core.field.reference'|trans }}</th>
        <th>{{ 'ekyna_core.field.quantity'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for item in items -%}
    <tr>
        <td>{{ item.designation }}</td>
        <td>{{ item.reference }}</td>
        <td>{{ item.quantity|localizednumber }} / {{ item.total|localizednumber }}</td>{# TODO Packaging format #}
    </tr>
    {%- endfor %}
    </tbody>
</table>
{% if description is not empty or valorization is not empty or parcels is not empty -%}
<div>
    <dl class="dl-horizontal">
    {% if description is not empty %}
        <dt>{{ 'ekyna_commerce.field.description'|trans }}</dt>
        <dd>{{ description|nl2br|raw }}</dd>
    {% endif %}
    {% if parcels is not empty %}
        <dt>{{ 'ekyna_commerce.shipment.field.parcels'|trans }}</dt>
        <dd>{{ parcels|length }}</dd>
    {% endif %}
    {% if valorization is not empty %}
        <dt>{{ 'ekyna_commerce.shipment.field.valorization'|trans }}</dt>
        <dd>{{ valorization|localizedcurrency(commerce_default_currency) }}</dd>
    {% endif %}
    </dl>
</div>
{%- endif %}
{% endspaceless %}
