{% extends '@EkynaCommerce/Account/layout.html.twig' %}

{% block account %}
{% apply spaceless %}
    <h3>{{ 'account.loyalty.title'|trans({}, 'EkynaCommerce')|raw }} : {{ customer.loyaltyPoints }} pts</h3>
    <hr>
    <h4>{{ 'customer.field.loyalty_logs'|trans({}, 'EkynaCommerce') }}</h4>
    {{ customer_loyalty_logs(customer) }}
    <h4>{{ 'coupon.label.plural'|trans({}, 'EkynaCommerce') }}</h4>
    {{ customer_coupons(customer) }}
{% endapply %}
{% endblock account %}
