<ul class="nav nav-tabs">
    <li class="active">
        <a href="#payment-term-general" data-toggle="tab">
            {{ 'ekyna_core.field.general'|trans }}
        </a>
    </li>
</ul>
<div class="panel-body form-body">
    {{ bootstrap_set_style('horizontal') }}
    {{ bootstrap_set_col_size('md') }}
    <div class="tab-content">
        {{ form_errors(form) }}
        <div class="tab-pane active" id="payment-term-general">
            {{ form_row(form.name) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.days, {'label_col': 4, 'widget_col': 8}) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.endOfMonth, {'label_col': 4, 'widget_col': 8}) }}
                </div>
            </div>
            {{ form_row(form.translations, {'label_col': 0, 'widget_col': 12}) }}
        </div>
        {{ form_rest(form) }}
    </div>

</div>
