{% spaceless %}
<div class="panel panel-default">
    <div class="panel-heading">
        {{ 'ekyna_commerce.supplier.label.singular'|trans }}
    </div>
    <div class="panel-body">
        <table class="table table-condensed table-alt-head">
            <tbody>
            <tr>
                <th>{{ 'ekyna_core.field.name'|trans }}</th>
                <td>{{ supplier.name }}</td>
            </tr>
            <tr>
                <th>{{ 'ekyna_core.field.locale'|trans }}</th>
                <td>{{ supplier.locale|language|capitalize }}</td>
            </tr>
            <tr>
                <th>{{ 'ekyna_commerce.supplier_carrier.label.singular'|trans }}</th>
                <td>{{ supplier.carrier }}</td>
            </tr>
            <tr>
                <th>{{ 'ekyna_core.field.description'|trans }}</th>
                <td>{{ supplier.description|raw }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endspaceless %}

{#<p><strong>{{ supplier.name }}</strong> ({{ supplier.locale|language }}</p>
<p>{{ supplier.email }}</p>
<p>{{ supplier|address }}</p>
{% if supplier.description is not empty %}
<p></p>
{% endif %}#}

