{% apply spaceless %}
<div class="panel panel-default">
    <div class="panel-heading">
        {{ 'supplier.label.singular'|trans({}, 'EkynaCommerce') }}
    </div>
    <div class="panel-body">
        <table class="table table-condensed table-alt-head">
            <tbody>
            <tr>
                <th>{{ 'field.name'|trans({}, 'EkynaUi') }}</th>
                <td>{{ supplier.name }}</td>
            </tr>
            <tr>
                <th>{{ 'field.locale'|trans({}, 'EkynaUi') }}</th>
                <td>{{ supplier.locale|language|capitalize }}</td>
            </tr>
            <tr>
                <th>{{ 'supplier_carrier.label.singular'|trans({}, 'EkynaCommerce') }}</th>
                <td>{{ supplier.carrier }}</td>
            </tr>
            <tr>
                <th>{{ 'field.description'|trans({}, 'EkynaUi') }}</th>
                <td>{{ supplier.description|raw }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endapply %}
