{% extends "EkynaAdminBundle:Entity/Default:show.html.twig" %}

{% block main %}
<div class="actions">
    {{- ui_button('ekyna_commerce.supplier_order.button.new', {
        'path': path('ekyna_commerce_supplier_order_admin_new', {'supplierId': supplier.id}),
        'type': 'link',
        'icon': 'list'
    }) -}}
    {{ admin_resource_btn(supplier, 'edit') }}
    {{ admin_resource_btn(supplier, 'remove') }}
</div>
<div class="show show-with-tabs">
    <ul class="nav nav-tabs" data-tab-key="{{ resource_id }}">
        <li class="active">
            <a href="#supplier-general" id="toggle-general" data-toggle="tab">
                {{ 'ekyna_core.field.general'|trans }}
            </a>
        </li>
    </ul>
    <div class="show-body">
        <div class="tab-content">
            <div class="tab-pane active" id="supplier-general">
                <div class="row">
                    <div class="col-md-6">
                        {{ show_row(supplier.name, 'text', 'ekyna_core.field.name', {
                            'label_nb_col': 4, 'widget_nb_col': 8
                        }) }}
                    </div>
                    <div class="col-md-6">
                        {{ show_row(supplier.currency, 'entity', 'ekyna_commerce.currency.label.singular', {
                            'route': 'ekyna_commerce_currency_admin_show',
                            'route_params_map': {'currencyId': 'id'},
                            'label_nb_col': 4, 'widget_nb_col': 8
                        }) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ show_row(supplier.customerCode, 'text', 'ekyna_commerce.supplier.field.customer_code', {
                            'label_nb_col': 4, 'widget_nb_col': 8
                        }) }}
                    </div>
                    <div class="col-md-6">
                        {{ show_row(supplier.carrier, 'entity', 'ekyna_commerce.supplier_carrier.label.singular', {
                            'route': 'ekyna_commerce_supplier_carrier_admin_show',
                            'route_params_map': {'supplierCarrierId': 'id'},
                            'label_nb_col': 4, 'widget_nb_col': 8
                        }) }}
                    </div>
                </div>
                <div class="row show-row">
                    <div class="col-md-2 show-label">
                        {{ 'ekyna_core.field.identity'|trans }}
                    </div>
                    <div class="col-md-10">
                        <div class="show-widget show-widget-inline">
                            {{ supplier|identity }}
                        </div>
                    </div>
                </div>
                {{ show_row(supplier.email, 'text', 'ekyna_core.field.email') }}
                {{ show_row(supplier.customerCode, 'text', 'ekyna_commerce.supplier.field.customer_code') }}
                <div class="row show-row">
                    <div class="col-md-2 show-label">
                        {{ 'ekyna_core.field.address'|trans }}
                    </div>
                    <div class="col-md-10">
                    {% if supplier.address is not same as(null) %}
                        <div class="show-widget show-widget-block">
                            {{ supplier.address|address }}
                        </div>
                    {% else %}
                        <div class="show-widget show-widget-inline">
                            <em>{{ 'ekyna_core.value.undefined'|trans }}</em>
                        </div>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sub-header">
    <h2>{{ 'ekyna_commerce.supplier_product.header.list'|trans|raw }}</h2>
</div>
<div class="actions">
    {{ admin_resource_btn('ekyna_commerce.supplier_product', 'new', {
        'label': 'ekyna_commerce.supplier_product.button.new',
        'path': path('ekyna_commerce_supplier_product_admin_new', {'supplierId': supplier.id})
    }) }}
</div>
{{ ekyna_table_render(supplierProducts) }}
{% endblock %}
