{% spaceless %}
<div class="form-body">
    {{ bootstrap_set_style('horizontal') }}
    {{ bootstrap_set_col_size('md') }}
    {{ form_errors(form, {'global_errors': true}) }}

    {% if form.customer is defined %}
        {{ form_row(form.customer) }}
    {% endif %}
    {% if form.shipmentMethod is defined %}
        {{ form_row(form.shipmentMethod) }}
    {% endif %}
    {% if form.relayPoint is defined %}
        {{ form_row(form.relayPoint) }}
    {% endif %}

    {% if form.voucherNumber is defined %}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.voucherNumber, {'label_col': 4, 'widget_col': 8}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.originNumber, {'label_col': 4, 'widget_col': 8}) }}
        </div>
    </div>
    {{ form_row(form.title) }}
    {% endif %}

    {{ form_row(form.comment) }}
    {% if form.description is defined %}
        {{ form_row(form.description) }}
    {% endif %}
    {{ form_row(form.confirm) }}

    {{ form_rest(form) }}
</div>
{% endspaceless %}
