<div class="form-body">
    {{ bootstrap_set_style('horizontal') }}
    {{ bootstrap_set_col_size('md') }}
    {{ form_errors(form) }}

    {% if form.customer is defined %}
        {{ form_row(form.customer) }}
    {% endif %}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.voucherNumber, {'label_col': 4, 'widget_col': 8}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.originNumber, {'label_col': 4, 'widget_col': 8}) }}
        </div>
    </div>
    {{ form_row(form.comment) }}
    {{ form_row(form.description) }}
    {{ form_row(form.confirm) }}

    {{ form_rest(form) }}
</div>
