{% apply spaceless %}
<?xml version="1.0" encoding="utf-8"?>
<response>
    <fields>
        <state><![CDATA[{{ sale|sale_state_badge }}]]></state>
        <weightTotal><![CDATA[{{ (sale.weightTotal|format_number ~ '&nbsp;kg')|raw }}]]></weightTotal>
        <shipmentMethod><![CDATA[
            {%- if sale.shipmentMethod is null -%}
                <em>{{ 'value.undefined'|trans({}, 'EkynaUi') }}</em>
            {%- else -%}
                <a href="{{ admin_resource_path(sale.shipmentMethod) }}" class="show-entity">{{ sale.shipmentMethod }}</a>
            {%- endif -%}
        ]]></shipmentMethod>
        <paymentMethod><![CDATA[
            {%- if sale.paymentMethod is null -%}
                <em>{{ 'value.undefined'|trans({}, 'EkynaUi') }}</em>
            {%- else -%}
                <a href="{{ admin_resource_path(sale.paymentMethod) }}" class="show-entity">{{ sale.paymentMethod }}</a>
            {%- endif -%}
        ]]></paymentMethod>

        {% if sale is payment_subject -%}
        <grandTotal><![CDATA[{{ sale.grandTotal|currency_quote(sale, true) }}]]></grandTotal>
        <paidTotal><![CDATA[{{ sale.paidTotal|currency_quote(sale, true) }}]]></paidTotal>
        <outstandingAccepted><![CDATA[{{ sale.outstandingAccepted|currency_quote(sale, true) }}]]></outstandingAccepted>
        <outstandingExpired><![CDATA[{{ sale.outstandingExpired|currency_quote(sale, true) }}]]></outstandingExpired>
        <outstandingLimit><![CDATA[{{ sale.outstandingLimit|currency_quote(sale, true) }}]]></outstandingLimit>
        <outstandingDate><![CDATA[
            {%- if sale.outstandingDate is empty -%}
                <em>{{ 'value.undefined'|trans({}, 'EkynaUi') }}</em>
            {%- else -%}
                {{- sale.outstandingDate|format_datetime('short', 'none') -}}
            {%- endif -%}
        ]]></outstandingDate>
        <paymentTerm><![CDATA[
            {%- if sale.paymentTerm is null -%}
                <em>{{ 'value.undefined'|trans({}, 'EkynaUi') }}</em>
            {%- else -%}
                <a href="{{ admin_resource_path(sale.paymentTerm) }}" class="show-entity">{{ sale.paymentTerm }}</a>
            {%- endif -%}
        ]]></paymentTerm>
        <paymentState><![CDATA[{{ sale.paymentState|payment_state_badge }}]]></paymentState>
        {%- endif %}

        {% if sale is shipment_subject -%}
        <shipmentState><![CDATA[{{ sale.shipmentState|shipment_state_badge }}]]></shipmentState>
        {%- endif %}

        {% if sale is invoice_subject -%}
        <invoiceTotal><![CDATA[{{ sale.invoiceTotal|currency_quote(sale, true) }}]]></invoiceTotal>
        <creditTotal><![CDATA[{{ sale.creditTotal|currency_quote(sale, true) }}]]></creditTotal>
        <invoiceState><![CDATA[{{ sale.invoiceState|invoice_state_badge }}]]></invoiceState>
        {%- endif %}
    </fields>
    <view>
        <![CDATA[{{ render_sale_view(sale_view) }}]]>
    </view>
</response>
{% endapply %}
