{% spaceless %}
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>{{ 'ekyna_core.field.number'|trans }}</th>
            <th>{{ 'ekyna_commerce.shipment.field.return'|trans }}</th>
            <th>{{ 'ekyna_core.field.method'|trans }}</th>
            <th>{{ 'ekyna_core.field.status'|trans }}</th>
            <th>{{ 'ekyna_core.field.weight'|trans }}</th>
            <th>{{ 'ekyna_commerce.shipment.field.tracking_number'|trans }}</th>
            <th>{{ 'ekyna_core.field.created_at'|trans }}</th>
            <th>{{ 'ekyna_commerce.invoice.label.singular'|trans }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for shipment in shipments %}
            {% set shipmentId = prefix ~ '_' ~ loop.index0 %}
            <tr data-id="{{ shipment.id }}">
                <td id="{{ shipmentId }}_number">{{ shipment.number }}</td>
                <td id="{{ shipmentId }}_return">
                    {% if shipment.return %}
                        <span class="label label-warning">
                            {{ 'ekyna_core.value.yes'|trans }}
                        </span>
                    {% else %}
                        <span class="label label-default">
                            {{ 'ekyna_core.value.no'|trans }}
                        </span>
                    {% endif %}
                </td>
                <td id="{{ shipmentId }}_method">{{ shipment.method }}</td>
                <td id="{{ shipmentId }}_state">{{ shipment|shipment_state_badge }}</td>
                <td id="{{ shipmentId }}_weight">
                    {%- if 0 < shipment.weight -%}
                        {{ shipment.weight|localizednumber }}&nbsp;kg
                    {%- else -%}
                        {{ shipment|shipment_weight|localizednumber }}&nbsp;kg (auto)
                    {%- endif -%}
                </td>
                <td id="{{ shipmentId }}_trackingNumber">
                    {% set tracking_url = shipment|shipment_tracking_link -%}
                    {% if tracking_url is not null -%}
                        <a href="{{ tracking_url }}" target="_blank">
                            <i class="fa fa-map-marker"></i> {{ shipment.trackingNumber }}
                        </a>
                    {%- else -%}
                        {{ shipment.trackingNumber }}
                    {% endif -%}
                </td>
                <td id="{{ shipmentId }}_createdAt">{{ shipment.createdAt|localizeddate('short', 'none') }}</td>
                <td id="{{ shipmentId }}_invoice">
                    {%- if shipment.invoice is not null %}{{ shipment.invoice.number }}{% endif -%}
                </td>
                <td class="actions">
                    {# Gateway actions #}
                    {%- for button in shipment_gateway_buttons(shipment) -%}
                    <a href="{{ path(button.route, button.parameters) }}"
                       class="btn btn-xs btn-{{ button.theme }}"
                       title="{{ button.label|trans }}"
                       {%- if button.target is not empty %} target="{{ button.target }}"{% endif %}
                       {%- if button.confirm is not empty %} onclick="return confirm('{{ button.confirm|escape('html_attr') }}')"{% endif %}>
                        {% if button.icon -%}
                            <span class="glyphicon glyphicon-{{ button.icon }}"></span>
                        {%- else -%}
                            {{ button.label|trans }}
                        {%- endif -%}
                    </a>
                    {%- endfor %}
                    {# Toggle details #}
                    <a href="javascript:void(0)"
                       id="{{ shipmentId }}_toggle_details"
                       class="btn btn-default btn-xs"
                       data-toggle-details="{{ shipmentId ~ '_details' }}">
                        <span class="fa fa-info-circle"></span>
                    </a>
                    {# Bill document #}
                    <a href="{{ admin_resource_path(shipment, 'render', {'type': 'bill'}) }}"
                       id="{{ shipmentId }}_render"
                       class="btn btn-primary btn-xs"
                       title="{{ ('ekyna_commerce.document.type.' ~ (shipment.return ? 'return' : 'shipment') ~ '_bill')|trans }}"
                       target="_blank">
                        <span class="fa fa-file"></span>
                    </a>
                    {# Form document #}
                    {%- if not shipment.return -%}
                    <a href="{{ admin_resource_path(shipment, 'render', {'type': 'form'}) }}"
                       id="{{ shipmentId }}_render"
                       class="btn btn-primary btn-xs"
                       title="{{ 'ekyna_commerce.document.type.shipment_form'|trans }}"
                       target="_blank">
                        <span class="fa fa-check-square-o"></span>
                    </a>
                    {%- endif -%}
                    {# Edit #}
                    <a href="{{ admin_resource_path(shipment, 'edit') }}"
                       id="{{ shipmentId }}_edit"
                       class="btn btn-warning btn-xs"
                       title="{{ 'ekyna_core.button.edit'|trans }}">
                        <span class="fa fa-pencil"></span>
                    </a>
                    {# Delete #}
                    {% if shipment|shipment_deleteable %}
                        <a href="{{ admin_resource_path(shipment, 'remove') }}"
                           id="{{ shipmentId }}_remove"
                           class="btn btn-danger btn-xs"
                           title="{{ 'ekyna_core.button.remove'|trans }}">
                            <span class="fa fa-trash"></span>
                        </a>
                    {% endif %}
                </td>
            </tr>
            <tr id="{{ shipmentId ~ '_details' }}" style="display:none;">
                <td>&nbsp;</td>
                <td colspan="7">
                    <table class="table table-alt table-striped table-condensed">
                        <thead>
                            <tr>
                                <th>{{ 'ekyna_core.field.designation'|trans }}</th>
                                <th>{{ 'ekyna_core.field.reference'|trans }}</th>
                                <th>{{ 'ekyna_core.field.quantity'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in shipment.items %}
                            {% set itemId = shipmentId ~ '_item_' ~ loop.index0 %}
                            <tr>
                                <td id="{{ itemId ~ '_designation' }}">
                                {%- if item.saleItem is subject_set -%}
                                    {% set url = item.saleItem|subject_private_url %}
                                    {% if url is not null %}
                                        <a href="{{ url }}">{{ item.saleItem.designation }}</a>
                                    {% else %}
                                        {{ item.saleItem.designation }}
                                    {% endif %}
                                {%- else -%}
                                    {{ item.saleItem.designation }}
                                {%- endif -%}
                                </td>
                                <td id="{{ itemId ~ '_reference' }}">{{ item.saleItem.reference }}</td>
                                <td id="{{ itemId ~ '_quantity' }}">{{ item.quantity|localizednumber }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if shipment.description is not empty  %}
                        <p>{{ shipment.description|nl2br }}</p>
                    {% endif %}
                </td>
                <td>&nbsp;</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9" class="text-center">
                    <em>{{ 'ekyna_commerce.shipment.alert.no_item'|trans }}</em>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endspaceless %}
