{% apply spaceless %}
<div class="row">
    <div class="col-md-6">
        {{ show_row(sale.voucherNumber, 'text', {
            'label': 'sale.field.voucher_number',
            'label_trans_domain': 'EkynaCommerce',
            'id': 'sale_voucherNumber',
            'label_col': 4
        }) }}
    </div>
    <div class="col-md-6">
        {{ show_row(sale.originNumber, 'text', {
            'label': 'sale.field.origin_number',
            'label_trans_domain': 'EkynaCommerce',
            'id': 'sale_originNumber',
            'label_col': 4
        }) }}
    </div>
</div>
<div class="row">
    {% if sale is sale_cart %}
    <div class="col-md-12">
        {{ show_row(sale.title, 'text', {
            'label': 'field.title',
            'label_trans_domain': 'EkynaUi',
            'id': 'sale_title'
        }) }}
    </div>
    {% else %}
    <div class="col-md-6">
        {{ show_row(sale.title, 'text', {
            'label': 'field.title',
            'label_trans_domain': 'EkynaUi',
            'id': 'sale_title',
            'label_col': 4
        }) }}
    </div>
    <div class="col-md-6">
        {{ show_row(sale.inCharge, 'resource', {
            'label': 'customer.field.in_charge',
            'label_trans_domain': 'EkynaCommerce',
            'id': 'sale_user',
            'label_col': 4
        }) }}
    </div>
    {% endif %}
</div>
{% if sale is not sale_cart %}
<div class="row">
    <div class="col-md-6">
        {{ show_row(sale.initiatorCustomer, 'commerce_customer', {
            'label': t('sale.field.initiator_customer', {}, 'EkynaCommerce'),
            'id': 'sale_initiatorCustomer',
            'label_col': 4
        }) }}
    </div>
    {% if attribute(sale, 'originCustomer') is defined %}
    <div class="col-md-6">
        {{ show_row(sale.originCustomer, 'commerce_customer', {
            'label': t('sale.field.origin_customer', {}, 'EkynaCommerce'),
            'id': 'sale_originCustomer',
            'label_col': 4
        }) }}
    </div>
    {% endif %}
</div>
{% if sale is sale_quote %}
<div class="row">
    <div class="col-md-6">
        {{ show_row(sale.projectDate, 'datetime', {
            'label': t('quote.field.project_date', {}, 'EkynaCommerce'),
            'id': 'sale_projectDate',
            'label_col': 4
        }) }}
    </div>
    <div class="col-md-6">
        {{ show_row(sale.projectTrust, 'number', {
            'label': t('quote.field.project_trust', {}, 'EkynaCommerce'),
            'id': 'sale_projectTrust',
            'label_col': 4
        }) }}
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        {{ show_row(sale.projectAlive, 'boolean', {
            'label': t('quote.field.project_alive', {}, 'EkynaCommerce'),
            'id': 'sale_projectAlive',
            'label_col': 4,
            'toggle_path': admin_resource_path(sale, 'admin_toggle', {property: 'projectAlive'})
        }) }}
    </div>
</div>
{% endif %}
{{ show_row(sale.project, 'resource', {
    'label': 'project.label.singular',
    'label_trans_domain': 'EkynaCommerce',
    'id': 'sale_project'
}) }}
{% endif %}
<hr>
{{ show_row(sale.comment, 'textarea', {
    'label': 'field.comment',
    'label_trans_domain': 'EkynaUi',
    'id': 'sale_comment',
}) }}
{{ show_row(sale.documentComment, 'textarea', {
    'label': 'sale.field.document_comment',
    'label_trans_domain': 'EkynaCommerce',
    'id': 'sale_documentComment',
}) }}
<hr>
{{ show_row(sale.description, 'textarea', {
    'label': 'field.description',
    'label_trans_domain': 'EkynaCommerce',
    'id': 'sale_description',
}) }}
{{ show_row(sale.preparationNote, 'textarea', {
    'label': 'sale.field.preparation_note',
    'label_trans_domain': 'EkynaCommerce',
    'id': 'sale_premaration_note',
}) }}
{% endapply %}
