<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>{{ 'ekyna_core.field.number'|trans }}</th>
            <th>{{ 'ekyna_core.field.method'|trans }}</th>
            <th>{{ 'ekyna_core.field.amount'|trans }}</th>
            <th>{{ 'ekyna_core.field.currency'|trans }}</th>
            <th>{{ 'ekyna_core.field.status'|trans }}</th>
            <th>{{ 'ekyna_core.field.created_at'|trans }}</th>
            <th>{{ 'ekyna_core.field.description'|trans }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for payment in sale.payments %}
            {% set paymentId = 'payment_' ~ loop.index0 %}
            <tr data-id="{{ payment.id }}">
                <td id="{{ paymentId }}_number">{{ payment.number }}</td>
                <td id="{{ paymentId }}_method">{{ payment.method }}</td>
                <td id="{{ paymentId }}_amount">{{ payment.amount|localizedcurrency(payment.currency.code) }}</td>
                <td id="{{ paymentId }}_currency">{{ payment.currency }}</td>
                <td id="{{ paymentId }}_state">{{ payment|payment_state_badge }}</td>
                <td id="{{ paymentId }}_createdAt">{{ payment.createdAt|localizeddate('short', 'none') }}</td>
                <td id="{{ paymentId }}_description">{{ payment.description }}</td>
                <td class="actions">
                    <a href="{{ admin_resource_path(payment, 'edit') }}" class="btn btn-warning btn-xs">
                        {{ 'ekyna_core.button.edit'|trans }}
                    </a>
                    {% if payment.getState() == 'new' %}
                        <a href="{{ admin_resource_path(payment, 'remove') }}" class="btn btn-danger btn-xs">
                            {{ 'ekyna_core.button.remove'|trans }}
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8" style="text-align: center">
                    <em>{{ 'ekyna_commerce.payment.alert.no_item'|trans }}</em>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<hr>
<div class="row">
    <div class="col-md-4">
        {{ show_row(sale.grandTotal|localizedcurrency(sale.currency.code), 'text', 'ekyna_commerce.sale.field.grand_total', {
            'id': 'sale_grandTotal',
            'label_nb_col': 6,
            'widget_nb_col': 6
        }) }}
    </div>
    <div class="col-md-4">
        {{ show_row(sale.paidTotal|localizedcurrency(sale.currency.code), 'text', 'ekyna_commerce.sale.field.paid_total', {
            'id': 'sale_paidTotal',
            'label_nb_col': 6,
            'widget_nb_col': 6
        }) }}
    </div>
    <div class="col-md-4">
        {{ show_row(sale.outstandingAmount|localizedcurrency(sale.currency.code), 'text', 'ekyna_commerce.sale.field.outstanding_amount', {
            'id': 'sale_outstandingAmount',
            'label_nb_col': 6,
            'widget_nb_col': 6
        }) }}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        {{ show_row(sale.paymentState|payment_state_badge, 'text', 'ekyna_commerce.sale.field.payment_state', {
            'id': 'sale_paymentState',
            'label_nb_col': 6,
            'widget_nb_col': 6
        }) }}
    </div>
    <div class="col-md-4">
        {{ show_row(sale.outstandingDate, 'datetime', 'ekyna_commerce.sale.field.outstanding_date', {
            'id': 'sale_outstandingDate',
            'time': false,
            'label_nb_col': 6,
            'widget_nb_col': 6
        }) }}
    </div>
    <div class="col-md-4">
        {{ show_row(sale.paymentTerm, 'entity', 'ekyna_commerce.payment_term.label.singular', {
            'id': 'sale_paymentTerm',
            'route': 'ekyna_commerce_payment_term_admin_show',
            'route_params_map': {'paymentTermId': 'id'},
            'label_nb_col': 6,
            'widget_nb_col': 6
        }) }}
    </div>
</div>
