<div class="row">
    <div class="col-md-6">
        <div class="row show-row">
            <div class="col-md-4 show-label">
                {{ 'ekyna_commerce.sale.field.invoice_address'|trans }}
            </div>
            <div class="col-md-8">
                <div class="panel panel-default" id="sale_invoiceAddress">
                    <div class="panel-body">
                        {{ sale.invoiceAddress|commerce_address }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        {# TODO #}
        [TODO Google map]
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="row show-row">
            <div class="col-md-4 show-label">
                {{ 'ekyna_commerce.sale.field.delivery_address'|trans }}
            </div>
            <div class="col-md-8">
                {% if not sale.sameAddress %}
                    <div class="panel panel-default">
                        <div class="panel-body" id="sale_deliveryAddress">
                            {{ sale.deliveryAddress|commerce_address }}
                        </div>
                    </div>
                {% else %}
                    <div class="show-widget show-widget-inline" id="sale_deliveryAddress">
                        <em>{{ 'ekyna_commerce.sale.field.same_address'|trans }}</em>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        {# TODO #}
        [TODO Google map]
    </div>
</div>
