<div class="row">
    <div class="col-md-6">
        {{ show_row(sale.voucherNumber, 'text', 'ekyna_commerce.sale.field.voucher_number', {
            'id': 'sale_voucherNumber',
            'label_nb_col': 4,
            'widget_nb_col': 8
        }) }}
    </div>
    <div class="col-md-6">
        {{ show_row(sale.originNumber, 'text', 'ekyna_commerce.sale.field.origin_number', {
            'id': 'sale_originNumber',
            'label_nb_col': 4,
            'widget_nb_col': 8
        }) }}
    </div>
</div>
{% if attribute(sale, 'originCustomer') is defined %}
    {% if sale.originCustomer is not null %}
        {{ show_row(sale.originCustomer|identity, 'entity', 'ekyna_commerce.sale.field.origin_customer', {
            'id': 'sale_originCustomer',
            'route': 'ekyna_commerce_customer_admin_show',
            'route_params': {'customerId': sale.originCustomer.id}
        }) }}
    {% else %}
        {{ show_row(null, 'text', 'ekyna_commerce.sale.field.origin_customer', {
            'id': 'sale_customer'
        }) }}
    {% endif %}
{% endif %}
<div class="row">
    <div class="col-md-12">
        {{ show_row(sale.comment, 'textarea', 'ekyna_core.field.comment', {
            'id': 'sale_comment',
        }) }}
    </div>
    <div class="col-md-12">
        {{ show_row(sale.description, 'textarea', 'ekyna_core.field.description', {
            'id': 'sale_description',
        }) }}
    </div>
</div>
