{% spaceless %}
<div class="row">
    <div class="col-md-4">
        {{ show_row(sale.number, 'text', {
            'label': 'ekyna_core.field.number',
            'id': 'sale_number',
            'label_col': 6
        }) }}
    </div>
    <div class="col-md-4">
        {{ show_row(sale.voucherNumber, 'text', {
            'label': 'ekyna_commerce.sale.field.voucher_number',
            'id': 'sale_voucherNumber',
            'label_col': 6
        }) }}
    </div>
    <div class="col-md-4">
        {{ show_row(sale|sale_state_badge, 'text', {
            'label': 'ekyna_commerce.field.status',
            'id': 'sale_state',
            'class': 'sale-state',
            'label_col': 6
        }) }}
    </div>
</div>
{% if sale.inCharge is defined %}
    <div class="row">
        <div class="col-md-6">
            {% if sale.customer is not null %}
                {{ show_row(sale.customer|identity, 'entity', {
                    'label': 'ekyna_commerce.customer.label.singular',
                    'id': 'sale_customer',
                    'route': 'ekyna_commerce_customer_admin_show',
                    'route_parameters': {'customerId': sale.customer.id},
                    'label_col': 4
                }) }}
            {% else %}
                {{ show_row(null, 'text', {
                    'label': 'ekyna_commerce.customer.label.singular',
                    'id': 'sale_customer',
                    'label_col': 4
                }) }}
            {% endif %}
        </div>
        {% if attribute(sale, 'originCustomer') is defined %}
        <div class="col-md-6">
            {% if sale.originCustomer is not null %}
                {{ show_row(sale.originCustomer|identity, 'entity', {
                    'label': 'ekyna_commerce.sale.field.origin_customer',
                    'id': 'sale_originCustomer',
                    'route': 'ekyna_commerce_customer_admin_show',
                    'route_parameters': {'customerId': sale.originCustomer.id},
                    'label_col': 4
                }) }}
            {% else %}
                {{ show_row(null, 'text', {
                    'label': 'ekyna_commerce.sale.field.origin_customer',
                    'id': 'sale_customer',
                    'label_col': 4
                }) }}
            {% endif %}
        </div>
        {% endif %}
    </div>
{% else %}
    {% if sale.customer is not null %}
        {{ show_row(sale.customer|identity, 'entity', {
            'label': 'ekyna_commerce.customer.label.singular',
            'id': 'sale_customer',
            'route': 'ekyna_commerce_customer_admin_show',
            'route_parameters': {'customerId': sale.customer.id}
        }) }}
    {% else %}
        {{ show_row(null, 'text', {
            'label': 'ekyna_commerce.customer.label.singular',
            'id': 'sale_customer'
        }) }}
    {% endif %}
{% endif %}
<div class="row">
    <div class="col-md-6">
        {{ show_row(sale|identity, 'text', {
            'label': 'ekyna_core.field.identity',
            'id': 'sale_identity',
            'label_col': 4
        }) }}
    </div>
    <div class="col-md-6">
        {{ show_row(sale.email, 'text', {
            'label': 'ekyna_core.field.email',
            'id': 'sale_email',
            'label_col': 4
        }) }}
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        {{ show_row(sale.company, 'text', {
            'label': 'ekyna_core.field.company',
            'id': 'sale_company',
            'label_col': 4
        }) }}
    </div>
    <div class="col-md-6">
        {{ show_row(sale.customerGroup, 'entity', {
            'label': 'ekyna_commerce.customer_group.label.singular',
            'id': 'sale_customerGroup',
            'route': 'ekyna_commerce_customer_group_admin_show',
            'route_parameters': {'customerGroupId': sale.customerGroup.id},
            'label_col': 4
        }) }}
    </div>
</div>
{% include '@EkynaCommerce/Admin/Common/Pricing/_show_vat_fields.html.twig' with {'subject': sale, 'prefix': 'sale'} %}
<hr>
{%- if sale is sale_order -%}
    {% set toggle_route = 'ekyna_commerce_order_admin_toggle' -%}
    {% set toggle_params = {'orderId': sale.id} %}
{%- elseif sale is sale_quote -%}
    {% set toggle_route = 'ekyna_commerce_quote_admin_toggle' -%}
    {% set toggle_params = {'quoteId': sale.id} %}
{%- else -%}
    {% set toggle_route = 'ekyna_commerce_cart_admin_toggle' -%}
    {% set toggle_params = {'cartId': sale.id} %}
{%- endif -%}
<div class="row">
    <div class="col-md-4">
        {{- show_row(sale.autoShipping, 'boolean', {
            'label': 'ekyna_commerce.sale.field.auto_shipping',
            'id': 'sale_autoShipping',
            'label_col': 6,
            'toggle_path': path(toggle_route, toggle_params|merge({field: 'autoShipping'}))
        }) -}}
    </div>
    <div class="col-md-4">
        {{- show_row(sale.autoDiscount, 'boolean', {
            'label': 'ekyna_commerce.sale.field.auto_discount',
            'id': 'sale_autoDiscount',
            'label_col': 6,
            'toggle_path': path(toggle_route, toggle_params|merge({field: 'autoDiscount'}))
        }) -}}
    </div>
    <div class="col-md-4">
        {{- show_row(sale.autoNotify, 'boolean', {
            'label': 'ekyna_commerce.sale.field.auto_notify',
            'id': 'sale_notifyEnabled',
            'label_col': 6,
            'toggle_path': path(toggle_route, toggle_params|merge({field: 'autoNotify'}))
        }) -}}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        {{ show_row(sale.taxExempt, 'boolean', {
            'label': 'ekyna_commerce.sale.field.tax_exempt',
            'id': 'sale_taxExempt',
            'label_col': 6,
            'color': true,
            'true_class': 'label label-danger',
            'false_class': 'label label-default'
        }) }}
    </div>
    {% if sample|default(false) -%}
    <div class="col-md-4">
        {{ show_row(sale.sample, 'boolean', {
            'label': 'ekyna_commerce.field.sample',
            'id': 'sale_sample',
            'label_col': 6,
            'color': true,
            'true_class': 'label label-indigo',
            'false_class': 'label label-default'
        }) }}
    </div>
    {%- endif %}
    <div class="col-md-4">
        {{ show_row(sale.createdAt, 'datetime', {
            'label': 'ekyna_core.field.created_at',
            'id': 'sale_createdAt',
            'label_col': 6
        }) }}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        {{ show_row(sale.grandTotal, 'currency_subject_amount', {
            'label': 'ekyna_commerce.sale.field.ati_total',
            'id': 'sale_grandTotal',
            'class': 'sale-grand-total',
            'subject': sale,
            'label_col': 6
        }) }}
    </div>
    <div class="col-md-4">
        {{ show_row(sale.currency.code|currency_name|title, 'text', {
            'label': 'ekyna_commerce.currency.label.singular',
            'id': 'sale_currency',
            'label_col': 6
        }) }}
    </div>
    <div class="col-md-4">
        {{ show_row(sale.locale|language|capitalize, 'text', {
            'label': 'ekyna_core.field.locale',
            'id': 'sale_locale',
            'label_col': 6
        }) }}
    </div>
</div>
{% if not sale.sample %}
<div class="row">
    <div class="col-md-4">
        {{ show_row(sale.paidTotal, 'currency_subject_amount', {
            'label': 'ekyna_commerce.sale.field.paid_total',
            'id': 'sale_paidTotal',
            'class': 'sale-paid-total',
            'subject': sale,
            'label_col': 6
        }) }}
    </div>
    <div class="col-md-4">
        {{ show_row(sale.paymentState|payment_state_badge, 'text', {
            'label': 'ekyna_commerce.sale.field.payment_state',
            'id': 'sale_paymentState',
            'class': 'sale-payment-state',
            'label_col': 6
        }) }}
    </div>
</div>
{% endif %}
{% if sale is shipment_subject %}
<div class="row">
    <div class="col-md-4">
        {{ show_row(sale.weightTotal, 'number', {
            'label': 'ekyna_commerce.sale.field.weight_total',
            'id': 'sale_weightTotal',
            'class': 'sale-weight-total',
            'append': 'kg',
            'label_col': 6
        }) }}
    </div>
    <div class="col-md-4">
        {{ show_row(sale.shipmentState|shipment_state_badge, 'text', {
            'label': 'ekyna_commerce.sale.field.shipment_state',
            'id': 'sale_shipmentState',
            'class': 'sale-shipment-state',
            'label_col': 6
        }) }}
    </div>
</div>
{% endif %}
{% if sale is invoice_subject and not sale.sample %}
<div class="row">
    <div class="col-md-4">
        {{ show_row(sale.invoiceTotal, 'currency_subject_amount', {
            'label': 'ekyna_commerce.sale.field.invoice_total',
            'id': 'sale_invoiceTotal',
            'class': 'sale-invoice-total',
            'subject': sale,
            'label_col': 6
        }) }}
    </div>
    <div class="col-md-4">
        {{ show_row(sale.invoiceState|invoice_state_badge, 'text', {
            'label': 'ekyna_commerce.sale.field.invoice_state',
            'id': 'sale_invoiceState',
            'class': 'sale-invoice-state',
            'label_col': 6
        }) }}
    </div>
</div>
{% endif %}
{% endspaceless %}
