{% spaceless %}
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>{{ 'ekyna_core.field.number'|trans }}</th>
            <th>{{ 'ekyna_core.field.type'|trans }}</th>
            <th>{{ 'ekyna_commerce.invoice.field.goods_base'|trans }}</th>
            <th>{{ 'ekyna_commerce.invoice.field.shipment_base'|trans }}</th>
            <th>{{ 'ekyna_commerce.invoice.field.taxes_total'|trans }}</th>
            <th>{{ 'ekyna_commerce.invoice.field.grand_total'|trans }}</th>
            <th>{{ 'ekyna_core.field.created_at'|trans }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% if 0 < sale.invoices|length %}
            {% set goodsTotal = 0 %}
            {% set shipmentTotal = 0 %}
            {% set taxesTotal = 0 %}
            {% set total = 0 %}

            {% for invoice in sale.invoices if invoice.type == type %}
                {% set currency = invoice.currency %}

                {# TODO currency conversion ! #}
                {% set goodsTotal = goodsTotal + invoice.goodsBase %}
                {% set shipmentTotal = shipmentTotal + invoice.shipmentBase %}
                {% set taxesTotal = taxesTotal + invoice.taxesTotal %}
                {% set total = total + invoice.grandTotal %}

                {% set invoiceId = type ~ '_' ~ loop.index0 %}
            <tr data-id="{{ invoice.id }}">
                <td id="{{ invoiceId }}_number">{{ invoice.number }}</td>
                <td id="{{ invoiceId }}_type">{{ invoice|invoice_type_badge }}</td>
                <td id="{{ invoiceId }}_goodsBase">{{ invoice.goodsBase|localizedcurrency(commerce_default_currency) }}</td>
                <td id="{{ invoiceId }}_shipmentBase">{{ invoice.shipmentBase|localizedcurrency(commerce_default_currency) }}</td>
                <td id="{{ invoiceId }}_taxesTotal">{{ invoice.taxesTotal|localizedcurrency(commerce_default_currency) }}</td>
                <td id="{{ invoiceId }}_grandTotal">{{ invoice.grandTotal|localizedcurrency(commerce_default_currency) }}</td>
                <td id="{{ invoiceId }}_createdAt">{{ invoice.createdAt|localizeddate('short', 'none') }}</td>
                <td class="actions">
                    <a href="javascript:void(0)"
                       id="{{ invoiceId }}_toggle_details"
                       class="btn btn-default btn-xs"
                       data-toggle-details="{{ invoiceId ~ '_details' }}">
                        <span class="fa fa-info-circle"></span>
                    </a>
                    <a href="{{ admin_resource_path(invoice, 'render') }}"
                       id="{{ invoiceId }}_render"
                       class="btn btn-primary btn-xs"
                       target="_blank">
                        <span class="fa fa-download"></span>
                    </a>
                    <a href="{{ admin_resource_path(invoice, 'recalculate') }}"
                       id="{{ invoiceId }}_recalculate"
                       class="btn btn-warning btn-xs"
                       onclick="return confirm('Êtes-vous sûr de vouloir recalculer cette facture ? (Opération non réversible).');">
                        <span class="fa fa-refresh"></span>
                    </a>
                    <a href="{{ admin_resource_path(invoice, 'edit') }}"
                       id="{{ invoiceId }}_edit"
                       class="btn btn-warning btn-xs">
                        {{ 'ekyna_core.button.edit'|trans }}
                    </a>
                    <a href="{{ admin_resource_path(invoice, 'remove') }}"
                       id="{{ invoiceId }}_remove"
                       class="btn btn-danger btn-xs">
                        {{ 'ekyna_core.button.remove'|trans }}
                    </a>
                </td>
            </tr>
            <tr style="display:none;" id="{{ invoiceId ~ '_details' }}">
                <td>&nbsp;</td>
                <td colspan="6">
                    <table class="table table-condensed table-alt table-striped">
                        <thead>
                            <tr>
                                <th>{{ 'ekyna_core.field.designation'|trans }}</th>
                                <th>{{ 'ekyna_core.field.reference'|trans }}</th>
                                {#<th>{{ 'ekyna_commerce.invoice_line.field.net_price'|trans }}</th>#}
                                <th>{{ 'ekyna_core.field.quantity'|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for line in invoice.lines %}
                            {% set lineId = invoiceId ~ '_line_' ~ loop.index0 %}
                            <tr>
                                <td id="{{ lineId ~ '_designation' }}">
                                    {{- line.designation -}}
                                    {%- if line.description is not empty -%}
                                        <br><p style="font-size:11px;padding-left:12px;">{{ line.description|nl2br }}</p>
                                    {%- endif -%}
                                </td>
                                <td id="{{ lineId ~ '_reference' }}">{{ line.reference }}</td>
                                {#<td id="{{ lineId ~ '_netPrice' }}">{{ line.netUnit|localizedcurrency(invoice.currency.code) }}</td>#}
                                <td id="{{ lineId ~ '_quantity' }}">{{ line.quantity|localizednumber }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% if invoice.description is not empty  %}
                        <p>{{ invoice.description|nl2br }}</p>
                    {% endif %}
                </td>
                <td>&nbsp;</td>
            </tr>
            {% endfor %}
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>{{ goodsTotal|localizedcurrency(commerce_default_currency) }}</td>
                <td>{{ shipmentTotal|localizedcurrency(commerce_default_currency) }}</td>
                <td>{{ taxesTotal|localizedcurrency(commerce_default_currency) }}</td>
                <td>{{ total|localizedcurrency(commerce_default_currency) }}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8" class="text-center">
                    <em>{{ 'ekyna_commerce.invoice.alert.no_item'|trans }}</em>
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>
{% endspaceless %}
