{% apply spaceless %}
<div class="row">
    <div class="col-md-6">
        {{ show_row(sale.voucherNumber, 'text', {
            'label': 'ekyna_commerce.sale.field.voucher_number',
            'id': 'sale_voucherNumber',
            'label_col': 4
        }) }}
    </div>
    <div class="col-md-6">
        {{ show_row(sale.originNumber, 'text', {
            'label': 'ekyna_commerce.sale.field.origin_number',
            'id': 'sale_originNumber',
            'label_col': 4
        }) }}
    </div>
</div>
<div class="row">
    {% if sale is sale_cart %}
    <div class="col-md-12">
        {{ show_row(sale.title, 'text', {
            'label': 'ekyna_core.field.title',
            'id': 'sale_title'
        }) }}
    </div>
    {% else %}
    <div class="col-md-6">
        {{ show_row(sale.title, 'text', {
            'label': 'ekyna_core.field.title',
            'id': 'sale_title',
            'label_col': 4
        }) }}
    </div>
    <div class="col-md-6">
        {{ show_row(sale.inCharge, 'entity', {
            'label': 'ekyna_commerce.customer.field.in_charge',
            'id': 'sale_user',
            'route': 'ekyna_admin_user_admin_show',
            'route_parameters_map': {'userId': 'id'},
            'label_col': 4
        }) }}
    </div>
    {% endif %}
</div>
<hr>
{{ show_row(sale.comment, 'textarea', {
    'label': 'ekyna_core.field.comment',
    'id': 'sale_comment',
}) }}
{{ show_row(sale.documentComment, 'textarea', {
    'label': 'ekyna_commerce.sale.field.document_comment',
    'id': 'sale_documentComment',
}) }}
<hr>
{{ show_row(sale.description, 'textarea', {
    'label': 'ekyna_commerce.field.description',
    'id': 'sale_description',
}) }}
{{ show_row(sale.preparationNote, 'textarea', {
    'label': 'ekyna_commerce.sale.field.preparation_note',
    'id': 'sale_premaration_note',
}) }}
{% endapply %}
