{% apply spaceless %}
<div class="table-responsive">
    <table class="table table-striped table-hover table-alt-head">
        <thead>
        <tr>
            <th>{{ 'field.number'|trans({}, 'EkynaUi') }}</th>
            <th>{{ 'invoice.field.goods_base'|trans({}, 'EkynaCommerce') }}</th>
            <th>{{ 'sale.field.shipment_net_total'|trans({}, 'EkynaCommerce') }}</th>
            <th>{{ 'field.taxes_total'|trans({}, 'EkynaCommerce') }}</th>
            <th>{{ 'sale.field.ati_total'|trans({}, 'EkynaCommerce') }}</th>
            <th>{{ 'sale.field.paid_total'|trans({}, 'EkynaCommerce') }}</th>
            {% if prefix != 'credit' -%}
            <th>{{ 'sale.field.outstanding_date'|trans({}, 'EkynaCommerce') }}</th>
            {% endif %}
            <th>{{ 'field.created_at'|trans({}, 'EkynaUi') }}</th>
            <th>{{ 'shipment.label.singular'|trans({}, 'EkynaCommerce') }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for invoice in invoices %}
            {% set currency = invoice.currency %}
            {% set locked = invoice is commerce_locked %}
            {% set invoiceId = prefix ~ '_' ~ loop.index0 %}
            <tr data-id="{{ invoice.id }}"
                data-side-detail='{{ admin_resource_path(invoice, 'Ekyna\\Bundle\\AdminBundle\\Action\\SummaryAction') }}'>
                <td id="{{ invoiceId }}_number">
                    {{ invoice.number }}
                    {% if locked -%}
                        <span class="fa fa-lock text-danger" title="{{ 'field.locked'|trans({}, 'EkynaUi') }}"></span>
                    {%- endif %}
                    {% if invoice.credit and invoice.ignoreStock -%}
                        <span class="fa fa-warning text-warning" title="{{ 'invoice.field.ignore_stock'|trans({}, 'EkynaCommerce') }}"></span>
                    {%- endif %}
                </td>
                <td id="{{ invoiceId }}_goodsBase">{{ invoice.goodsBase|format_currency(currency) }}</td>
                <td id="{{ invoiceId }}_shipmentBase">{{ invoice.shipmentBase|format_currency(currency) }}</td>
                <td id="{{ invoiceId }}_taxesTotal">{{ invoice.taxesTotal|format_currency(currency) }}</td>
                <td id="{{ invoiceId }}_grandTotal">
                    {{- invoice.grandTotal|format_currency(currency) -}}
                    {%- if currency != commerce_default_currency -%}
                        &nbsp;({{- invoice.realGrandTotal|format_currency(commerce_default_currency) -}})
                    {%- endif -%}
                </td>
                <td id="{{ invoiceId }}_paidTotal"{% if invoice.paidTotal < invoice.grandTotal %} class="danger"{% endif %}>
                    {{- invoice.paidTotal|format_currency(currency) -}}
                    {%- if currency != commerce_default_currency -%}
                        &nbsp;({{- invoice.realPaidTotal|format_currency(commerce_default_currency) -}})
                    {%- endif -%}
                </td>
                {% if prefix != 'credit' -%}
                <td id="{{ invoiceId }}_dueDate"{# TODO add danger class if due date is past #}>
                    {{- invoice.dueDate ? invoice.dueDate|format_datetime('short', 'none') : '&dash;' -}}
                </td>
                {%- endif %}
                <td id="{{ invoiceId }}_createdAt">{{ invoice.createdAt|format_datetime('short', 'none') }}</td>
                <td id="{{ invoiceId }}_shipment">
                    {%- if invoice.shipment is not null -%}
                        {{ invoice.shipment.number }}
                        {% if not locked -%}
                        <a href="{{ admin_resource_path(invoice, 'Ekyna\\Bundle\\CommerceBundle\\Action\\Admin\\Invoice\\UnlinkAction') }}"
                           id="{{ invoiceId }}_recalculate"
                           class="btn btn-link btn-xs"
                           title="{{ 'invoice.button.unlink'|trans({}, 'EkynaCommerce') }}"
                           onclick="return confirm('{{ 'invoice.message.unlink_confirm'|trans({
                               '%number%': invoice.shipment.number
                           }, 'EkynaCommerce')|escape('js') }}');">
                            <span class="fa fa-unlink"></span>
                        </a>
                        {%- endif %}
                    {%- endif -%}
                </td>
                <td class="actions">
                    <a href="{{ admin_resource_path(invoice, 'Ekyna\\Bundle\\CommerceBundle\\Action\\Admin\\Invoice\\RenderAction') }}"
                       id="{{ invoiceId }}_render"
                       class="btn btn-primary btn-xs"
                       title="{{ 'button.download'|trans({}, 'EkynaUi') }}"
                       target="_blank">
                        <span class="fa fa-download"></span>
                    </a>
                    <a href="{{ locked ? 'javascript:void(0)' : admin_resource_path(invoice, 'Ekyna\\Bundle\\CommerceBundle\\Action\\Admin\\Invoice\\ArchiveAction') }}"
                       id="{{ invoiceId }}_archive"
                       class="btn btn-default btn-xs{% if locked %} disabled{% endif %}"
                       title="{{ 'button.archive'|trans({}, 'EkynaUi') }}">
                        <span class="fa fa-archive"></span>
                    </a>
                    <a href="{{ locked ? 'javascript:void(0)' : admin_resource_path(invoice, 'Ekyna\\Bundle\\CommerceBundle\\Action\\Admin\\Invoice\\RecalculateAction') }}"
                       id="{{ invoiceId }}_recalculate"
                       class="btn btn-warning btn-xs{% if locked %} disabled{% endif %}"
                       {% if invoice.shipment -%}
                       title="{{ 'invoice.button.synchronize'|trans({}, 'EkynaCommerce') }}"
                       onclick="return confirm('{{ 'invoice.message.synchronize_confirm'|trans({}, 'EkynaCommerce')|escape('js') }}');"
                       {%- else -%}
                       title="{{ 'invoice.button.recalculate'|trans({}, 'EkynaCommerce') }}"
                       onclick="return confirm('{{ 'invoice.message.recalculate_confirm'|trans({}, 'EkynaCommerce')|escape('js') }}');"
                       {%- endif %}>
                        <span class="fa fa-refresh"></span>
                    </a>
                    <a href="{{ admin_resource_path(invoice, 'Ekyna\\Bundle\\AdminBundle\\Action\\UpdateAction') }}"
                       id="{{ invoiceId }}_edit"
                       class="btn btn-warning btn-xs"
                       title="{{ 'button.edit'|trans({}, 'EkynaUi') }}">
                        <span class="fa fa-pencil"></span>
                    </a>
                    {% if is_granted('ROLE_SUPER_ADMIN') -%}
                    <a href="{{ locked ? 'javascript:void(0)' : admin_resource_path(invoice, 'Ekyna\\Bundle\\CommerceBundle\\Action\\Admin\\Invoice\\DeleteAction') }}"
                       id="{{ invoiceId }}_remove"
                       class="btn btn-danger btn-xs{% if locked %} disabled{% endif %}"
                       title="{{ 'button.remove'|trans({}, 'EkynaUi') }}">
                        <span class="fa fa-trash"></span>
                    </a>
                    {%- endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="{{ prefix == 'credit' ? 9 : 10 }}" class="text-center">
                    <em>{{ 'invoice.alert.no_item'|trans({}, 'EkynaCommerce') }}</em>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endapply %}
