{% apply spaceless %}
{% set map_params = {'label': null, 'map_width': 520, 'map_height': 160, 'map_zoom': 17, 'map_static': false} %}
<div class="row">
    <div class="col-md-6">
        <div class="row show-row">
            <div class="col-md-4 show-label">
                {{ 'ekyna_commerce.sale.field.invoice_address'|trans }}
            </div>
            <div class="col-md-8">
                <div class="panel panel-default" id="sale_invoiceAddress">
                    <div class="panel-body">
                    {%- if sale.invoiceAddress is not null -%}
                        {{ sale.invoiceAddress|address }}
                    {%- else -%}
                        <p><em>{{ 'ekyna_core.value.undefined'|trans }}</em></p>
                    {%- endif -%}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        {{- show_row(sale.invoiceAddress, 'google_map', map_params) -}}
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="row show-row">
            <div class="col-md-4 show-label">
                {{ 'ekyna_commerce.sale.field.delivery_address'|trans }}
            </div>
            <div class="col-md-8">
            {%- if not sale.sameAddress -%}
                <div class="panel panel-default">
                    <div class="panel-body" id="sale_deliveryAddress">
                    {%- if sale.deliveryAddress is not null -%}
                        {{ sale.deliveryAddress|address }}
                    {%- else -%}
                        <p><em>{{ 'ekyna_core.value.undefined'|trans }}</em></p>
                    {%- endif -%}
                    </div>
                </div>
            {%- else -%}
                <div class="show-widget show-widget-inline" id="sale_deliveryAddress">
                    <em>{{ 'ekyna_commerce.sale.field.same_address'|trans }}</em>
                </div>
            {%- endif -%}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        {% if not sale.sameAddress -%}
            {{- show_row(sale.deliveryAddress, 'google_map', map_params) -}}
        {%- endif %}
    </div>
</div>
{% if sale.relayPoint is not null -%}
<div class="row">
    <div class="col-md-6">
        <div class="row show-row">
            <div class="col-md-4 show-label">
                {{ 'ekyna_commerce.relay_point.label.singular'|trans }}
            </div>
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-body" id="sale_relayPoint">
                        {{- sale.relayPoint|address -}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        {{- show_row(sale.relayPoint, 'google_map', map_params) -}}
    </div>
</div>
{%- endif %}
{% endapply %}
{{ ivory_google_api() }}
