{% apply spaceless %}
<div class="table-responsive">
    <table class="table table-striped table-hover table-alt-head">
        <thead>
        <tr>
            <th>{{ 'field.number'|trans({}, 'EkynaUi') }}</th>
            <th>{{ 'field.method'|trans({}, 'EkynaUi') }}</th>
            <th>{{ 'field.amount'|trans({}, 'EkynaUi') }}</th>
            <th>{{ 'field.currency'|trans({}, 'EkynaUi') }}</th>
            <th>{{ 'field.status'|trans({}, 'EkynaUi') }}</th>
            <th>{{ 'field.created_at'|trans({}, 'EkynaUi') }}</th>
            <th>{{ 'field.completed_at'|trans({}, 'EkynaUi') }}</th>
            {% block extra_headers %}{% endblock extra_headers %}
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for payment in payments %}
            {% set locked = payment is commerce_locked %}
            {% do currency_configure(payment) %}{# Configure currency renderer #}
            {% set paymentId = prefix ~ '_' ~ loop.index0 %}
            <tr data-id="{{ payment.id }}">
                <td id="{{ paymentId }}_number">
                    {{ payment.getNumber() }}
                    {% if locked -%}
                        <span class="fa fa-lock text-danger" title="{{ 'field.locked'|trans({}, 'EkynaUi') }}"></span>
                    {%- endif %}
                </td>
                <td id="{{ paymentId }}_method">{{ payment.getMethod() }}</td>
                <td id="{{ paymentId }}_amount">{{ payment.getRealAmount()|currency_quote(null, true) }}</td>
                <td id="{{ paymentId }}_currency">
                    {%- if payment.getCurrency().code != commerce_default_currency -%}
                        {{ null|currency_rate }}
                    {%- else -%}
                        {{ payment.getCurrency().code }}
                    {%- endif -%}
                </td>
                <td id="{{ paymentId }}_state">{{ payment|payment_state_badge }}</td>
                <td id="{{ paymentId }}_createdAt">{{ payment.getCreatedAt()|format_datetime('short', 'short') }}</td>
                <td id="{{ paymentId }}_completedAt">
                    {%- if payment.getCompletedAt() is not null -%}
                        {{ payment.getCompletedAt()|format_datetime('short', 'short') }}
                    {%- else -%}
                        <em>{{ 'value.undefined'|trans({}, 'EkynaUi') }}</em>
                    {%- endif -%}
                </td>
                {% block extra_cells %}{% endblock extra_cells %}
                <td class="actions">
                    {{ payment_admin_actions(payment) }}
                    {% if payment.getDescription() is not empty -%}
                    {# Toggle details #}
                    <a href="javascript:void(0)"
                       id="{{ paymentId }}_toggle_details"
                       class="btn btn-default btn-xs"
                       data-toggle-details="{{ paymentId ~ '_details' }}">
                        <span class="fa fa-info-circle"></span>
                    </a>
                    {%- endif %}
                </td>
            </tr>
            {% if payment.getDescription() is not empty -%}
                <tr id="{{ paymentId ~ '_details' }}" style="display:none;">
                    <td>&nbsp;</td>
                    <td colspan="{{ column_count|default(8) - 2 }}">
                        <p>{{ payment.getDescription()|nl2br }}</p>
                    </td>
                    <td>&nbsp;</td>
                </tr>
            {%- endif %}
        {% else %}
            <tr>
                <td colspan="{{ column_count|default(8) }}" class="text-center">
                    <em>{{ 'payment.alert.no_item'|trans({}, 'EkynaCommerce') }}</em>
                </td>
            </tr>
        {% endfor %}
        {% do currency_configure() %}{# Reset currency renderer #}
        </tbody>
    </table>
</div>
{% endapply %}
