{% spaceless %}
<div class="table-responsive">
    <table class="table table-hover table-alt-head">
        <thead>
        <tr>
            <th>{{ 'ekyna_core.field.number'|trans }}</th>
            <th>{{ 'ekyna_core.field.method'|trans }}</th>
            <th>{{ 'ekyna_core.field.amount'|trans }}</th>
            <th>{{ 'ekyna_core.field.currency'|trans }}</th>
            <th>{{ 'ekyna_core.field.status'|trans }}</th>
            <th>{{ 'ekyna_core.field.created_at'|trans }}</th>
            <th>{{ 'ekyna_core.field.completed_at'|trans }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for payment in sale.payments %}
            {% do currency_configure(payment) %}{# Configure currency renderer #}
            {% set paymentId = 'payment_' ~ loop.index0 %}
            <tr data-id="{{ payment.id }}">
                <td id="{{ paymentId }}_number">{{ payment.getNumber() }}</td>
                <td id="{{ paymentId }}_method">{{ payment.getMethod() }}</td>
                <td id="{{ paymentId }}_amount">{{ payment.getRealAmount()|currency_quote(null, true) }}</td>
                <td id="{{ paymentId }}_currency">
                    {%- if payment.getCurrency().code != commerce_default_currency -%}
                        {{ null|currency_rate }}
                    {%- else -%}
                        {{ payment.getCurrency().code }}
                    {%- endif -%}
                </td>
                <td id="{{ paymentId }}_state">{{ payment|payment_state_badge }}</td>
                <td id="{{ paymentId }}_createdAt">{{ payment.getCreatedAt()|localizeddate('short', 'short') }}</td>
                <td id="{{ paymentId }}_completedAt">{{ payment.getCompletedAt()|localizeddate('short', 'short') }}</td>
                <td class="actions">
                    {{ payment_admin_actions(payment) }}
                    {% if payment.getDescription() is not empty -%}
                    {# Toggle details #}
                    <a href="javascript:void(0)"
                       id="{{ paymentId }}_toggle_details"
                       class="btn btn-default btn-xs"
                       data-toggle-details="{{ paymentId ~ '_details' }}">
                        <span class="fa fa-info-circle"></span>
                    </a>
                    {%- endif %}
                </td>
            </tr>
            {% if payment.getDescription() is not empty -%}
                <tr id="{{ paymentId ~ '_details' }}" style="display:none;">
                    <td>&nbsp;</td>
                    <td colspan="5">
                        <p>{{ payment.getDescription()|nl2br }}</p>
                    </td>
                    <td>&nbsp;</td>
                </tr>
            {%- endif %}
        {% else %}
            <tr>
                <td colspan="8" class="text-center">
                    <em>{{ 'ekyna_commerce.payment.alert.no_item'|trans }}</em>
                </td>
            </tr>
        {% endfor %}
        {% do currency_configure() %}{# Reset currency renderer #}
        </tbody>
    </table>
</div>
{% endspaceless %}
