{% apply spaceless %}
<div class="table-responsive">
    <table class="table table-striped table-hover table-alt-head">
        <thead>
        <tr>
            <th>{{ 'field.date'|trans({}, 'EkynaUi') }}</th>
            <th>{{ 'field.type'|trans({}, 'EkynaUi') }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for notification in notifications %}
            {% set notificationId = 'notification_' ~ loop.index0 %}
            <tr data-id="{{ notification.id }}">
                <td id="{{ notificationId }}_date">{{ notification.sentAt|format_datetime('short', 'short') }}</td>
                <td id="{{ notificationId }}_type">{{ notification.type|notify_type_label|raw }}</td>
                <td class="actions">
                    {# Toggle details #}
                    <a href="javascript:void(0)"
                       id="{{ notificationId }}_toggle_details"
                       class="btn btn-default btn-xs"
                       data-toggle-details="{{ notificationId ~ '_details' }}">
                        <span class="fa fa-info-circle"></span>
                    </a>
                </td>
            </tr>
            <tr id="{{ notificationId ~ '_details' }}" style="display:none;">
                <td>&nbsp;</td>
                <td>{{ notification.details|nl2br|raw }}</td>
                <td>&nbsp;</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8" class="text-center">
                    <em>{{ 'notification.alert.no_item'|trans({}, 'EkynaCommerce') }}</em>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endapply %}
