{% spaceless %}
<div class="row">
    <div class="col-md-4">
        {{ show_row(sale.number, 'text', {
            'label': 'ekyna_core.field.number',
            'id': 'sale_number',
            'label_col': 6
        }) }}
    </div>
    <div class="col-md-4">
        {{ show_row(sale.voucherNumber, 'text', {
            'label': 'ekyna_commerce.sale.field.voucher_number',
            'id': 'sale_voucherNumber',
            'label_col': 6
        }) }}
    </div>
    <div class="col-md-4">
        {{ show_row(sale|sale_state_badge, 'text', {
            'label': 'ekyna_commerce.sale.field.state',
            'id': 'sale_state',
            'class': 'sale-state',
            'label_col': 6
        }) }}
    </div>
</div>
{% if sale.inCharge is defined %}
    <div class="row">
        <div class="col-md-6">
            {% if sale.customer is not null %}
                {{ show_row(sale.customer|identity, 'entity', {
                    'label': 'ekyna_commerce.customer.label.singular',
                    'id': 'sale_customer',
                    'route': 'ekyna_commerce_customer_admin_show',
                    'route_parameters': {'customerId': sale.customer.id},
                    'label_col': 4
                }) }}
            {% else %}
                {{ show_row(null, 'text', {
                    'label': 'ekyna_commerce.customer.label.singular',
                    'id': 'sale_customer',
                    'label_col': 4
                }) }}
            {% endif %}
        </div>
        <div class="col-md-6">
            {{ show_row(sale.inCharge, 'entity', {
                'label': 'ekyna_commerce.customer.field.in_charge',
                'id': 'sale_user',
                'route': 'ekyna_user_user_admin_show',
                'route_parameters_map': {'userId': 'id'},
                'field': 'username',
                'label_col': 4
            }) }}
        </div>
    </div>
{% else %}
    {% if sale.customer is not null %}
        {{ show_row(sale.customer|identity, 'entity', {
            'label': 'ekyna_commerce.customer.label.singular',
            'id': 'sale_customer',
            'route': 'ekyna_commerce_customer_admin_show',
            'route_parameters': {'customerId': sale.customer.id}
        }) }}
    {% else %}
        {{ show_row(null, 'text', {
            'label': 'ekyna_commerce.customer.label.singular',
            'id': 'sale_customer'
        }) }}
    {% endif %}
{% endif %}
<div class="row">
    <div class="col-md-6">
        {{ show_row(sale|identity, 'text', {
            'label': 'ekyna_core.field.identity',
            'id': 'sale_identity',
            'label_col': 4
        }) }}
    </div>
    <div class="col-md-6">
        {{ show_row(sale.email, 'text', {
            'label': 'ekyna_core.field.email',
            'id': 'sale_email',
            'label_col': 4
        }) }}
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        {{ show_row(sale.company, 'text', {
            'label': 'ekyna_core.field.company',
            'id': 'sale_company',
            'label_col': 4
        }) }}
    </div>
    <div class="col-md-6">
        {{ show_row(sale.customerGroup, 'entity', {
            'label': 'ekyna_commerce.customer_group.label.singular',
            'id': 'sale_customerGroup',
            'route': 'ekyna_commerce_customer_group_admin_show',
            'route_parameters': {'customerGroupId': sale.customerGroup.id},
            'label_col': 4
        }) }}
    </div>
</div>
{% include "EkynaCommerceBundle:Admin/Common/Pricing:_show_vat_fields.html.twig" with {'subject': sale, 'prefix': 'sale'} %}
<hr>
<div class="row">
    {%- if sale.sample is defined -%}
        {%- set col_size = 4 -%}
        {%- set field_sizes = {'label_col': 6} -%}
    {%- else -%}
        {%- set col_size = 6 %}
        {%- set field_sizes = {'label_col': 4} -%}
    {%- endif -%}
    <div class="col-md-{{ col_size }}">
        {{ show_row(sale.taxExempt, 'boolean', {
            'label': 'ekyna_commerce.sale.field.tax_exempt',
            'id': 'sale_taxExempt'
        }|merge(field_sizes)) }}
    </div>
    <div class="col-md-{{ col_size }}">
        {{ show_row(sale.autoDiscount, 'boolean', {
            'label': 'ekyna_commerce.sale.field.auto_discount',
            'id': 'sale_autoDiscount',
        }|merge(field_sizes)) }}
    </div>
    {% if sale.sample is defined -%}
        <div class="col-md-4">
            {{ show_row(sale.sample, 'boolean', {
                'label': 'ekyna_commerce.field.sample',
                'id': 'sale_sample',
                'label_col': 6
            }) }}
        </div>
    {%- endif %}
</div>
<div class="row">
    <div class="col-md-6">
        {{ show_row(sale.grandTotal|localizedcurrency(sale.currency.code), 'text', {
            'label': 'ekyna_commerce.sale.field.grand_total',
            'id': 'sale_grandTotal',
            'class': 'sale-grand-total',
            'label_col': 4
        }) }}
    </div>
    <div class="col-md-6">
        {{ show_row(sale.currency, 'text', {
            'label': 'ekyna_commerce.currency.label.singular',
            'id': 'sale_currency',
            'label_col': 4
        }) }}
    </div>
</div>
{% if not sale.sample %}
<div class="row">
    <div class="col-md-6">
        {{ show_row(sale.paidTotal|localizedcurrency(sale.currency.code), 'text', {
            'label': 'ekyna_commerce.sale.field.paid_total',
            'id': 'sale_paidTotal',
            'class': 'sale-paid-total',
            'label_col': 4
        }) }}
    </div>
    <div class="col-md-6">
        {{ show_row(sale.paymentState|payment_state_badge, 'text', {
            'label': 'ekyna_commerce.sale.field.payment_state',
            'id': 'sale_paymentState',
            'class': 'sale-payment-state',
            'label_col': 4
        }) }}
    </div>
</div>
{% endif %}
{% if sale is shipment_subject %}
<div class="row">
    <div class="col-md-6">
        {{ show_row(sale.weightTotal, 'number', {
            'label': 'ekyna_commerce.sale.field.weight_total',
            'id': 'sale_weightTotal',
            'class': 'sale-weight-total',
            'append': 'kg',
            'label_col': 4
        }) }}
    </div>
    <div class="col-md-6">
        {{ show_row(sale.shipmentState|shipment_state_badge, 'text', {
            'label': 'ekyna_commerce.sale.field.shipment_state',
            'id': 'sale_shipmentState',
            'class': 'sale-shipment-state',
            'label_col': 4
        }) }}
    </div>
</div>
{% endif %}
{% if sale is invoice_subject and not sale.sample %}
<div class="row">
    <div class="col-md-6">
        {{ show_row(sale.invoiceTotal|localizedcurrency(sale.currency.code), 'text', {
            'label': 'ekyna_commerce.sale.field.invoice_total',
            'id': 'sale_invoiceTotal',
            'class': 'sale-invoice-total',
            'label_col': 4
        }) }}
    </div>
    <div class="col-md-6">
        {{ show_row(sale.invoiceState|invoice_state_badge, 'text', {
            'label': 'ekyna_commerce.sale.field.invoice_state',
            'id': 'sale_invoiceState',
            'class': 'sale-invoice-state',
            'label_col': 4
        }) }}
    </div>
</div>
{% endif %}
{% endspaceless %}
