{% apply spaceless %}
<div class="table-responsive">
    <table class="table table-striped table-hover table-alt-head">
        <thead>
        <tr>
            <th>{{ 'field.number'|trans({}, 'EkynaUi') }}</th>
            <th>{{ 'shipment.field.return'|trans({}, 'EkynaCommerce') }}</th>
            <th>{{ 'field.method'|trans({}, 'EkynaUi') }}</th>
            <th>{{ 'field.status'|trans({}, 'EkynaUi') }}</th>
            <th>{{ 'field.weight'|trans({}, 'EkynaUi') }}</th>
            <th>{{ 'shipment.field.tracking_number'|trans({}, 'EkynaCommerce') }}</th>
            <th>{{ 'field.created_at'|trans({}, 'EkynaUi') }}</th>
            <th>{{ 'invoice.label.singular'|trans({}, 'EkynaCommerce') }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for shipment in shipments -%}
            {% set shipmentId = prefix ~ '_' ~ loop.index0 -%}
            {% set details = 0 < shipment.parcels|length -%}
            <tr data-id="{{ shipment.id }}"
                data-side-detail='{{ admin_resource_path(shipment, 'Ekyna\\Bundle\\AdminBundle\\Action\\SummaryAction') }}'>
                <td id="{{ shipmentId }}_number">{{ shipment.number }}</td>
                <td id="{{ shipmentId }}_return">
                    {% if shipment.return %}
                        <span class="label label-warning">
                            {{ 'value.yes'|trans({}, 'EkynaUi') }}
                        </span>
                    {% else %}
                        <span class="label label-default">
                            {{ 'value.no'|trans({}, 'EkynaUi') }}
                        </span>
                    {% endif %}
                </td>
                <td id="{{ shipmentId }}_method">{{ shipment.method }}</td>
                <td id="{{ shipmentId }}_state">{{ shipment|shipment_state_badge }}</td>
                <td id="{{ shipmentId }}_weight">
                    {%- if 0 < shipment.weight -%}
                        {{ shipment.weight|format_number }}&nbsp;kg
                    {%- else -%}
                        {{ shipment|shipment_weight|format_number }}&nbsp;kg (auto)
                    {%- endif -%}
                </td>
                <td id="{{ shipmentId }}_trackingNumber">{{ display_shipment_tracking(shipment) }}</td>
                <td id="{{ shipmentId }}_createdAt">{{ shipment.createdAt|format_datetime('short', 'short') }}</td>
                <td id="{{ shipmentId }}_invoice">
                    {%- if shipment.invoice is not null %}{{ shipment.invoice.number }}{% endif -%}
                </td>
                <td class="actions">
                    {# Gateway actions #}
                    {% if not shipment.sale.released -%}
                    {%- for button in shipment_gateway_buttons(shipment) -%}
                    <a href="{{ admin_resource_path(shipment, button.action, button.parameters) }}"
                       class="btn btn-xs btn-{{ button.theme }}"
                       title="{{ button.label|trans }}"
                       {%- if button.target is not empty %} target="{{ button.target }}"{% endif -%}
                       {%- if button.confirm is not empty %} onclick="return confirm('{{ button.confirm|trans|escape('js') }}')"{% endif %}>
                        {%- if button.icon -%}
                            <span class="glyphicon glyphicon-{{ button.icon }}"></span>
                        {%- else -%}
                            {{ button.label|trans }}
                        {%- endif -%}
                    </a>
                    {%- endfor -%}
                    {%- endif -%}
                    {# Toggle details #}
                    {% if details -%}
                    <a href="javascript:void(0)"
                       id="{{ shipmentId }}_toggle_details"
                       class="btn btn-default btn-xs"
                       data-toggle-details="{{ shipmentId ~ '_details' }}">
                        <span class="fa fa-info-circle"></span>
                    </a>
                    {%- endif %}
                    {# Bill document #}
                    <a href="{{ admin_resource_path(shipment, 'Ekyna\\Bundle\\CommerceBundle\\Action\\Admin\\Shipment\\RenderAction', {'type': constant('Ekyna\\Component\\Commerce\\Document\\Model\\DocumentTypes::TYPE_SHIPMENT_BILL')}) }}"
                       id="{{ shipmentId }}_render"
                       class="btn btn-primary btn-xs"
                       title="{{ ('document.type.' ~ (shipment.return ? 'return' : 'shipment') ~ '_bill')|trans({}, 'EkynaCommerce') }}"
                       target="_blank">
                        <span class="fa fa-file"></span>
                    </a>
                    {% if not shipment.sale.released %}
                    {# Form document #}
                    {%- if not shipment.return -%}
                    <a href="{{ admin_resource_path(shipment, 'Ekyna\\Bundle\\CommerceBundle\\Action\\Admin\\Shipment\\RenderAction', {'type': constant('Ekyna\\Component\\Commerce\\Document\\Model\\DocumentTypes::TYPE_SHIPMENT_FORM')}) }}"
                       id="{{ shipmentId }}_render"
                       class="btn btn-primary btn-xs"
                       title="{{ 'document.type.shipment_form'|trans({}, 'EkynaCommerce') }}"
                       target="_blank">
                        <span class="fa fa-check-square-o"></span>
                    </a>
                    {%- endif -%}
                    {# Edit #}
                    <a href="{{ admin_resource_path(shipment, 'Ekyna\\Bundle\\AdminBundle\\Action\\UpdateAction') }}"
                       id="{{ shipmentId }}_edit"
                       class="btn btn-warning btn-xs"
                       title="{{ 'button.edit'|trans({}, 'EkynaUi') }}">
                        <span class="fa fa-pencil"></span>
                    </a>
                    {# Delete #}
                    {% if shipment|shipment_deleteable %}
                        <a href="{{ admin_resource_path(shipment, 'Ekyna\\Bundle\\AdminBundle\\Action\\DeleteAction') }}"
                           id="{{ shipmentId }}_remove"
                           class="btn btn-danger btn-xs"
                           title="{{ 'button.remove'|trans({}, 'EkynaUi') }}">
                            <span class="fa fa-trash"></span>
                        </a>
                    {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% if details %}
            <tr id="{{ shipmentId ~ '_details' }}" style="display:none;">
                <td>&nbsp;</td>
                <td colspan="7">
                    <table class="table table-alt table-striped table-condensed table-alt-head">
                        <thead>
                            <tr>
                                <th>{{ 'field.weight'|trans({}, 'EkynaUi') }}</th>
                                <th>{{ 'shipment.field.valorization'|trans({}, 'EkynaCommerce') }}</th>
                                <th>{{ 'shipment.field.tracking_number'|trans({}, 'EkynaCommerce') }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for parcel in shipment.parcels %}
                            {% set parcelId = shipmentId ~ '_parcel_' ~ loop.index0 %}
                            <tr>
                                <td id="{{ parcelId ~ '_weight' }}">{{ parcel.weight|format_number }}&nbsp;kg</td>
                                <td id="{{ parcelId ~ '_weight' }}">
                                    {%- if 0 < parcel.valorization -%}
                                        {{ parcel.valorization|format_currency(commerce_default_currency) }}
                                    {%- endif -%}
                                </td>
                                <td id="{{ parcelId ~ '_trackingNumber' }}">{{ display_shipment_tracking(parcel) }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
                <td>&nbsp;</td>
            </tr>
            {%- endif %}
        {% else %}
            <tr>
                <td colspan="9" class="text-center">
                    <em>{{ 'shipment.alert.no_item'|trans({}, 'EkynaCommerce') }}</em>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endapply %}
