{% apply spaceless %}
<div class="row">
    <div class="col-md-4">
        {{ show_row(sale.number, 'text', {
            'label': 'field.number',
            'label_trans_domain': 'EkynaUi',
            'id': 'sale_number',
            'label_col': 6
        }) }}
    </div>
    <div class="col-md-4">
        {{ show_row(sale.voucherNumber, 'text', {
            'label': 'sale.field.voucher_number',
            'label_trans_domain': 'EkynaCommerce',
            'id': 'sale_voucherNumber',
            'label_col': 6
        }) }}
    </div>
    <div class="col-md-4">
        {{ show_row(sale|sale_state_badge, 'text', {
            'label': 'field.status',
            'label_trans_domain': 'EkynaCommerce',
            'id': 'sale_state',
            'class': 'sale-state',
            'label_col': 6
        }) }}
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        {{ show_row(sale.customer, 'commerce_customer', {
            'id': 'sale_customer',
            'label_col': 4
        }) }}
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        {{ show_row(sale|identity, 'text', {
            'label': 'field.identity',
            'label_trans_domain': 'EkynaUi',
            'id': 'sale_identity',
            'label_col': 4
        }) }}
    </div>
    <div class="col-md-6">
        {{ show_row(sale.email, 'text', {
            'label': 'field.email',
            'label_trans_domain': 'EkynaUi',
            'id': 'sale_email',
            'label_col': 4
        }) }}
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        {%- if sale.companyNumber is not empty %}
            {% set company = sale.company ~ ' (' ~ sale.companyNumber ~ ')' %}
        {%- else -%}
            {% set company = sale.company %}
        {% endif -%}
        {{ show_row(company, 'text', {
            'label': 'field.company',
            'label_trans_domain': 'EkynaUi',
            'id': 'sale_company',
            'label_col': 4
        }) }}
    </div>
    <div class="col-md-6">
        {{- show_row(sale.customerGroup, 'resource', {
            'id': 'sale_customerGroup',
            'resource': 'ekyna_commerce.customer_group',
            'label_col': 4
        }) -}}
    </div>
</div>
{% include '@EkynaCommerce/Admin/Common/Pricing/_show_vat_fields.html.twig' with {'subject': sale, 'prefix': 'sale'} %}
<hr>
<div class="row">
    <div class="col-md-4">
        {{- show_row(sale.autoShipping, 'boolean', {
            'label': 'sale.field.auto_shipping',
            'label_trans_domain': 'EkynaCommerce',
            'id': 'sale_autoShipping',
            'label_col': 6,
            'toggle_path': admin_resource_path(sale, 'admin_toggle', {property: 'autoShipping'})
        }) -}}
    </div>
    <div class="col-md-4">
        {{- show_row(sale.autoDiscount, 'boolean', {
            'label': 'sale.field.auto_discount',
            'label_trans_domain': 'EkynaCommerce',
            'id': 'sale_autoDiscount',
            'label_col': 6,
            'toggle_path': admin_resource_path(sale, 'admin_toggle', {property: 'autoDiscount'})
        }) -}}
    </div>
    <div class="col-md-4">
        {{- show_row(sale.autoNotify, 'boolean', {
            'label': 'sale.field.auto_notify',
            'label_trans_domain': 'EkynaCommerce',
            'id': 'sale_autoNotify',
            'label_col': 6,
            'toggle_path': admin_resource_path(sale, 'admin_toggle', {property: 'autoNotify'})
        }) -}}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        {{ show_row(sale.taxExempt, 'boolean', {
            'label': 'sale.field.tax_exempt',
            'label_trans_domain': 'EkynaCommerce',
            'id': 'sale_taxExempt',
            'label_col': 6,
            'color': true,
            'true_class': 'label label-danger',
            'false_class': 'label label-default'
        }) }}
    </div>
    {% if sample|default(false) -%}
    <div class="col-md-4">
        {{ show_row(sale.sample, 'boolean', {
            'label': 'field.sample',
            'label_trans_domain': 'EkynaCommerce',
            'id': 'sale_sample',
            'label_col': 6,
            'color': true,
            'true_class': 'label label-indigo',
            'false_class': 'label label-default'
        }) }}
    </div>
    {%- endif %}
    <div class="col-md-4">
        {{ show_row(sale.createdAt, 'datetime', {
            'label': 'field.created_at',
            'label_trans_domain': 'EkynaUi',
            'id': 'sale_createdAt',
            'label_col': 6
        }) }}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        {{ show_row(sale.grandTotal, 'commerce_amount', {
            'label': 'sale.field.ati_total',
            'id': 'sale_grandTotal',
            'class': 'sale-grand-total',
            'subject': sale,
            'label_col': 6
        }) }}
    </div>
    <div class="col-md-4">
        {{ show_row(sale.currency.code|currency_name|title, 'text', {
            'label': 'currency.label.singular',
            'label_trans_domain': 'EkynaCommerce',
            'id': 'sale_currency',
            'label_col': 6
        }) }}
    </div>
    <div class="col-md-4">
        {{ show_row(sale.locale|language|capitalize, 'text', {
            'label': 'field.locale',
            'label_trans_domain': 'EkynaUi',
            'id': 'sale_locale',
            'label_col': 6
        }) }}
    </div>
</div>
{% if not sale.sample %}
<div class="row">
    <div class="col-md-4">
        {{ show_row(sale.paidTotal, 'commerce_amount', {
            'label': 'sale.field.paid_total',
            'id': 'sale_paidTotal',
            'class': 'sale-paid-total',
            'subject': sale,
            'label_col': 6
        }) }}
    </div>
    <div class="col-md-4">
        {{ show_row(sale.paymentState|payment_state_badge, 'text', {
            'label': 'sale.field.payment_state',
            'label_trans_domain': 'EkynaCommerce',
            'id': 'sale_paymentState',
            'class': 'sale-payment-state',
            'label_col': 6
        }) }}
    </div>
    <div class="col-md-4">
        {{ show_row(sale.acceptedAt, 'datetime', {
            'label': 'sale.field.accepted_at',
            'label_trans_domain': 'EkynaCommerce',
            'id': 'sale_acceptedAt',
            'label_col': 6
        }) }}
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col-md-4">
        {{ show_row(sale.weightTotal, 'number', {
            'label': 'sale.field.weight_total',
            'label_trans_domain': 'EkynaCommerce',
            'id': 'sale_weightTotal',
            'class': 'sale-weight-total',
            'append': 'kg',
            'label_col': 6
        }) }}
    </div>
    {% if sale is shipment_subject -%}
    <div class="col-md-4">
        {{ show_row(sale.shipmentState|shipment_state_badge, 'text', {
            'label': 'sale.field.shipment_state',
            'label_trans_domain': 'EkynaCommerce',
            'id': 'sale_shipmentState',
            'class': 'sale-shipment-state',
            'label_col': 6
        }) }}
    </div>
    {%- endif %}
    <div class="col-md-4">
        {{ show_row(sale.shipmentMethod, 'resource', {
            'id': 'sale_shipmentMethod',
            'resource': 'ekyna_commerce.shipment_method',
            'class': 'sale-shipment-method',
            'label_col': 6
        }) }}
    </div>
</div>
{% if sale is invoice_subject and not sale.sample %}
<div class="row">
    <div class="col-md-4">
        {{ show_row(sale.invoiceTotal, 'commerce_amount', {
            'label': 'sale.field.invoice_total',
            'id': 'sale_invoiceTotal',
            'class': 'sale-invoice-total',
            'subject': sale,
            'label_col': 6
        }) }}
    </div>
    <div class="col-md-4">
        {{ show_row(sale.invoiceState|invoice_state_badge, 'text', {
            'label': 'sale.field.invoice_state',
            'label_trans_domain': 'EkynaCommerce',
            'id': 'sale_invoiceState',
            'class': 'sale-invoice-state',
            'label_col': 6
        }) }}
    </div>
</div>
{% endif %}
{% endapply %}
