{% spaceless %}
{% set shipment = shipment|default(false) %}
{% set invoice = invoice|default(false) %}
{% import _self as macros %}
{% macro item_line(item, shipment, invoice, level) %}
    {% if not item.private %}
    <tr>
        <td style="padding-left:{{ 16 * level }}px">{{ item.designation }}</td>
        <td>{{ item.reference }}</td>
        <td class="text-right">{{ item.total_quantity|localizednumber }}</td>
        {% if shipment -%}
        <td class="text-right {{ item.shipment_class }}">
            {{ item.shipped|localizednumber }}
            {% if 0 < item.returned %} (-{{ item.returned|localizednumber }}){% endif -%}
        </td>
        <td class="text-right {{ item.availability_class }}">
            {{ item.available|localizednumber }}
            {% if 0 < item.in_stock %} ({{ item.in_stock|localizednumber }}){% endif -%}
        </td>
        {%- endif %}
        {% if invoice -%}
        <td class="text-right {{ item.invoice_class }}">
            {{ item.invoiced|localizednumber }}
            {% if 0 < item.credited %} (-{{ item.credited|localizednumber }}){% endif -%}
        </td>
        {%- endif %}
    </tr>
    {% import _self as macros %}
    {% for child in item.children -%}
        {{ macros.item_line(child, shipment, invoice, level + 1) }}
    {%- endfor %}
    {% endif %}
{% endmacro %}
<table class="table table-condensed table-alt-head">
<thead>
<tr>
    <th>{{ 'ekyna_core.field.designation'|trans }}</th>
    <th>{{ 'ekyna_core.field.reference'|trans }}</th>
    <th>{{ 'ekyna_core.field.quantity'|trans }}</th>
    {% if shipment %}
        <th>{{ 'ekyna_commerce.sale_item.field.shipped'|trans }}</th>
        <th>{{ 'ekyna_commerce.sale_item.field.available'|trans }}</th>
    {% endif %}
    {% if invoice %}<th>{{ 'ekyna_commerce.sale_item.field.invoiced'|trans }}</th>{% endif %}
</tr>
</thead>
<tbody>
{% for item in items -%}
    {{ macros.item_line(item, shipment, invoice, 0) }}
{%- endfor %}
</tbody>
</table>
{% if invoices is defined and invoices is not empty -%}
<table class="table table-condensed table-alt-head">
    <thead>
    <tr>
        <th>{{ 'ekyna_core.field.number'|trans }}</th>
        <th>{{ 'ekyna_commerce.sale.field.ati_total'|trans }}</th>
        <th>{{ 'ekyna_core.field.created_at'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for invoice in invoices -%}
        <tr>
            <td>{{ invoice.number }}</td>
            <td>{{ invoice.grand_total }}</td>
            <td>{{ invoice.created_at|localizeddate('short', 'short') }}</td>
        </tr>
    {%- endfor %}
    </tbody>
</table>
{%- endif %}
<table style="width: 100%">
<tbody>
    <tr>
        <td>
            <div>
                <dl class="dl-horizontal">
                    <dt>{{ 'ekyna_core.field.created_at'|trans }}</dt>
                    <dd>{{ created_at|localizeddate('short', 'short') }}</dd>
                    {% if payment_term is not empty -%}
                    <dt>{{ 'ekyna_commerce.payment_term.label.singular'|trans }}</dt>
                    <dd>{{ payment_term }}</dd>
                    {%- endif %}
                    {% if outstanding_date is not empty -%}
                    <dt>{{ 'ekyna_commerce.sale.field.outstanding_date'|trans }}</dt>
                    <dd>{{ outstanding_date|localizeddate('short', 'none') }}</dd>
                    {%- endif %}
                    {% if shipped_at is not empty -%}
                    <dt>{{ 'ekyna_commerce.shipment.field.shipped_at'|trans }}</dt>
                    <dd>{{ shipped_at|localizeddate('short', 'short') }}</dd>
                    {%- endif %}
                    {% if invoiced_at is not empty -%}
                    <dt>{{ 'ekyna_commerce.invoice.field.invoiced_at'|trans }}</dt>
                    <dd>{{ invoiced_at|localizeddate('short', 'short') }}</dd>
                    {%- endif %}
                    {% if description is not empty -%}
                    <dt>{{ 'ekyna_commerce.field.description'|trans }}</dt>
                    <dd>{{ description|nl2br|raw }}</dd>
                    {%- endif %}
                    {% if comment is not empty -%}
                    <dt>{{ 'ekyna_core.field.comment'|trans }}</dt>
                    <dd>{{ comment|nl2br|raw }}</dd>
                    {%- endif %}
                    {% if preparation_note is not empty -%}
                    <dt>{{ 'ekyna_commerce.sale.field.preparation_note'|trans }}</dt>
                    <dd>{{ preparation_note|nl2br|raw }}</dd>
                    {%- endif %}
                </dl>
            </div>
        </td>
        <td class="flags-icons text-right">{{ flags|raw }}<br>{{ tags|raw }}</td>
    </tr>
</tbody>
</table>

{% endspaceless %}
