{% apply spaceless %}
<h1 class="header">{{ number }}</h1>
<p class="flags-icons text-right">{{ flags|raw }}<br>{{ tags|raw }}</p>
<table>
<tbody>
    <tr>
        <td style="width:50%">
            <dl class="dl-horizontal">
                {% if company is not empty -%}
                <dt>{{ 'field.company'|trans({}, 'EkynaUi') }}</dt>
                <dd>{{ company }}{% if company_number is not empty %} ({{ company_number }}){% endif %}</dd>
                {%- else -%}
                <dt>{{ 'customer.label.singular'|trans({}, 'EkynaCommerce') }}</dt>
                <dd>{{ first_name }} {{ last_name }}</dd>
                {%- endif %}
                <dt>{{ 'field.email'|trans({}, 'EkynaUi') }}</dt>
                <dd><a href="mailto:{{ email }}">{{ email }}</a></dd>
                {% if payment_term is not empty -%}
                <dt>{{ 'payment_term.label.singular'|trans({}, 'EkynaCommerce') }}</dt>
                <dd>{{ payment_term }}</dd>
                {%- endif %}
            </dl>
        </td>
        <td style="width:50%">
            <dl class="dl-horizontal">
                <dt>{{ 'customer_group.label.singular'|trans({}, 'EkynaCommerce') }}</dt>
                <dd>{{ customer_group }}</dd>
                <dt>{{ 'field.created_at'|trans({}, 'EkynaUi') }}</dt>
                <dd>{{ created_at|format_datetime('short', 'none') }}</dd>
                {% if outstanding_date is not empty -%}
                <dt>{{ 'sale.field.outstanding_date'|trans({}, 'EkynaCommerce') }}</dt>
                <dd>{{ outstanding_date|format_datetime('short', 'none') }}</dd>
                {%- endif %}
            </dl>
        </td>
    </tr>
    <tr>
        <td style="width:50%">
            <dl class="dl-horizontal">
                <dt>{{ 'field.status'|trans({}, 'EkynaUi') }}</dt>
                <dd>{{ state_badge|raw }}</dd>
                <dt>{{ 'field.total'|trans({}, 'EkynaUi') }}</dt>
                <dd>{{ total|format_currency(currency) }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>{{ 'sale.field.payment_state'|trans({}, 'EkynaCommerce') }}</dt>
                <dd>{{ payment_state_badge|raw }}</dd>
                <dt>{{ 'sale.field.paid_total'|trans({}, 'EkynaCommerce') }}</dt>
                <dd>{{ paid_total|format_currency(currency) }}</dd>
                <dt>{{ 'sale.field.refunded_total'|trans({}, 'EkynaCommerce') }}</dt>
                <dd>{{ refunded_total|format_currency(currency) }}</dd>

            </dl>
        </td>
        <td style="width:50%">
            {% if invoice_state_badge is defined -%}
                <dl class="dl-horizontal">
                    <dt>{{ 'sale.field.invoice_state'|trans({}, 'EkynaCommerce') }}</dt>
                    <dd>{{ invoice_state_badge|raw }}</dd>
                    <dt>{{ 'sale.field.invoice_total'|trans({}, 'EkynaCommerce') }}</dt>
                    <dd>{{ invoice_total|format_currency(currency) }}</dd>
                    <dt>{{ 'sale.field.credit_total'|trans({}, 'EkynaCommerce') }}</dt>
                    <dd>{{ credit_total|format_currency(currency) }}</dd>
                    <dt>{{ 'sale.field.balance'|trans({}, 'EkynaCommerce') }}</dt>
                    <dd>{{ (invoice_total - credit_total - paid_total + refunded_total)|format_currency(currency) }}</dd>
                </dl>
            {%- endif %}
            {% if shipment_state_badge is defined -%}
                <dl class="dl-horizontal">
                    <dt>{{ 'sale.field.shipment_state'|trans({}, 'EkynaCommerce') }}</dt>
                    <dd>{{ shipment_state_badge|raw }}</dd>
                </dl>
            {%- endif %}
        </td>
    </tr>
</tbody>
</table>

{% import _self as macros %}
{% macro item_line(item, shipment_subject, invoice_subject, level) %}
    {% if not item.private %}
    <tr>
        <td style="padding-left:{{ 16 * level }}px">{{ item.designation }}</td>
        <td>{{ item.reference }}</td>
        <td class="text-right">{{ item.total_quantity|format_number }}</td>
        {% if shipment_subject -%}
        <td class="text-right {{ item.shipment_class }}">
            {{ item.shipped|format_number }}
            {% if 0 < item.returned %} (-{{ item.returned|format_number }}){% endif -%}
        </td>
        <td class="text-right {{ item.availability_class }}">
            {{ item.available|format_number }}
            ({{ item.in_stock|format_number }})
        </td>
        {%- endif %}
        {% if invoice_subject -%}
        <td class="text-right {{ item.invoice_class }}">
            {{ item.invoiced|format_number }}
            {% if 0 < item.credited %} (-{{ item.credited|format_number }}){% endif -%}
        </td>
        {%- endif %}
    </tr>
    {% import _self as macros %}
    {% for child in item.children -%}
        {{ macros.item_line(child, shipment_subject, invoice_subject, level + 1) }}
    {%- endfor %}
    {% endif %}
{% endmacro %}
<table class="table table-condensed table-alt-head">
<thead>
<tr>
    <th>{{ 'field.designation'|trans({}, 'EkynaUi') }}</th>
    <th>{{ 'field.reference'|trans({}, 'EkynaUi') }}</th>
    <th>{{ 'field.quantity'|trans({}, 'EkynaUi') }}</th>
    {% if shipment_subject %}
        <th>{{ 'field.shipped'|trans({}, 'EkynaCommerce') }}</th>
        <th>{{ 'field.available'|trans({}, 'EkynaCommerce') }}</th>
    {% endif %}
    {% if invoice_subject %}<th>{{ 'field.invoiced'|trans({}, 'EkynaCommerce') }}</th>{% endif %}
</tr>
</thead>
<tbody>
{% for item in items -%}
    {{ macros.item_line(item, shipment_subject, invoice_subject, 0) }}
{%- endfor %}
</tbody>
</table>

{% if payments is not empty -%}
<p><strong>{{ 'payment.label.plural'|trans({}, 'EkynaCommerce') }}</strong></p>
<table class="table table-condensed table-alt-head">
<tbody>
{% for payment in payments -%}
    <tr>
        <td>{{ payment.number }}</td>
        <td>{{ payment.method }}</td>
        <td>{{ payment.state_badge|raw }}</td>
        <td>{{ payment.amount|format_currency(payment.currency) }}</td>
        <td>
            {%- if payment.completed_at is not null -%}
                {{ payment.completed_at|format_datetime('short', 'none') }}
            {%- endif -%}
        </td>
    </tr>
{%- endfor %}
</tbody>
</table>
{%- endif %}

{% if refunds is not empty -%}
<p><strong>{{ 'refund.label.plural'|trans({}, 'EkynaCommerce') }}</strong></p>
<table class="table table-condensed table-alt-head">
<tbody>
{% for refund in refunds -%}
    <tr>
        <td>{{ refund.number }}</td>
        <td>{{ refund.method }}</td>
        <td>{{ refund.amount|format_currency(refund.currency) }}</td>
        <td>{{ refund.state_badge|raw }}</td>
        <td>
            {%- if refund.completed_at is not null -%}
                {{ refund.completed_at|format_datetime('short', 'none') }}
            {%- endif -%}
        </td>
    </tr>
{%- endfor %}
</tbody>
</table>
{%- endif %}

{% if invoices is defined and invoices is not empty -%}
<p><strong>{{ 'invoice.label.plural'|trans({}, 'EkynaCommerce') }}</strong></p>
<table class="table table-condensed table-alt-head">
<tbody>
{% for invoice in invoices -%}
    <tr>
        <td>{{ invoice.number }}</td>
        <td>{{ invoice.grand_total|format_currency(invoice.currency) }}</td>
        <td>{{ invoice.created_at|format_datetime('short', 'none') }}</td>
    </tr>
{%- endfor %}
</tbody>
</table>
{%- endif %}

{% if credits is defined and credits is not empty -%}
<p><strong>{{ 'credit.label.plural'|trans({}, 'EkynaCommerce') }}</strong></p>
<table class="table table-condensed table-alt-head">
<tbody>
{% for credit in credits -%}
    <tr>
        <td>{{ credit.number }}</td>
        <td>{{ credit.grand_total|format_currency(credit.currency) }}</td>
        <td>{{ credit.created_at|format_datetime('short', 'none') }}</td>
    </tr>
{%- endfor %}
</tbody>
</table>
{%- endif %}

{% if shipments is defined and shipments is not empty -%}
<p><strong>{{ 'shipment.label.plural'|trans({}, 'EkynaCommerce') }}</strong></p>
<table class="table table-condensed table-alt-head">
<tbody>
{% for shipment in shipments -%}
    <tr>
        <td>{{ shipment.number }}</td>
        <td>{{ shipment.method }}</td>
        <td>{{ shipment.state|shipment_state_badge }}</td>
        <td>
            {%- if shipment.shipped_at is not null -%}
                {{ shipment.shipped_at|format_datetime('short', 'none') }}
            {%- endif -%}
        </td>
    </tr>
{%- endfor %}
</tbody>
</table>
{%- endif %}

{% if returns is defined and returns is not empty -%}
<p><strong>{{ 'return.label.plural'|trans({}, 'EkynaCommerce') }}</strong></p>
<table class="table table-condensed table-alt-head">
<tbody>
{% for return in returns -%}
    <tr>
        <td>{{ return.number }}</td>
        <td>{{ return.method }}</td>
        <td>{{ return.state|shipment_state_badge }}</td>
        <td>
            {%- if return.shipped_at is not null -%}
                {{ return.shipped_at|format_datetime('short', 'none') }}
            {%- endif -%}
        </td>
    </tr>
{%- endfor %}
</tbody>
</table>
{%- endif %}

<dl class="dl-horizontal">
    {% if description is not empty -%}
    <dt>{{ 'field.description'|trans({}, 'EkynaCommerce') }}</dt>
    <dd>{{ description|nl2br|raw }}</dd>
    {%- endif %}
    {% if comment is not empty -%}
    <dt>{{ 'field.comment'|trans({}, 'EkynaUi') }}</dt>
    <dd>{{ comment|nl2br|raw }}</dd>
    {%- endif %}
    {% if preparation_note is not empty -%}
    <dt>{{ 'sale.field.preparation_note'|trans({}, 'EkynaCommerce') }}</dt>
    <dd>{{ preparation_note|nl2br|raw }}</dd>
    {%- endif %}
</dl>

{% endapply %}
