{% extends "EkynaAdminBundle:Entity/Default:show.html.twig" %}

{% block title %}
    <h1>{{ 'ekyna_commerce.stock_unit.header.show'|trans }}</h1>
{% endblock title %}

{% block actions %}{% endblock %}

{% block main %}
<div class="actions">
    {{ admin_resource_btn(stockUnit.product, 'show', {
        'label': 'ekyna_core.button.back',
        'icon': 'arrow-left',
        'theme': 'default',
    }) }}
    {{ admin_resource_btn(stockUnit, 'edit') }}
    {{ admin_resource_btn(stockUnit, 'remove') }}
</div>
<div class="show show-with-tabs">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#stock-unit-general" data-toggle="tab">{{ 'ekyna_core.field.general'|trans }}</a>
        </li>
    </ul>
    <div class="show-body">
        <div class="tab-content">
            <div class="tab-pane active" id="stock-unit-general">
                {# TODO status #}
                <div class="row">
                    <div class="col-md-6">
                        {{ show_row(stockUnit.netPrice, 'number', 'ekyna_commerce.stock_unit.field.net_price', {
                            'label_nb_col': 4,
                            'widget_nb_col': 8,
                            'append': ' €'
                        }) }}
                    </div>
                    <div class="col-md-6">
                        {{ show_row(stockUnit.geocode, 'text', 'ekyna_commerce.stock_unit.field.geocode', {
                            'label_nb_col': 4,
                            'widget_nb_col': 8,
                        }) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ show_row(stockUnit.estimatedDateOfArrival, 'datetime', 'ekyna_commerce.stock_unit.field.estimated_date_of_arrival', {
                            'label_nb_col': 4,
                            'widget_nb_col': 8,
                        }) }}
                    </div>
                    <div class="col-md-6">
                        {{ show_row(stockUnit.orderedQuantity, 'number', 'ekyna_commerce.stock_unit.field.ordered_quantity', {
                            'label_nb_col': 4,
                            'widget_nb_col': 8,
                        }) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ show_row(stockUnit.deliveredQuantity, 'number', 'ekyna_commerce.stock_unit.field.delivered_quantity', {
                            'label_nb_col': 4,
                            'widget_nb_col': 8,
                        }) }}
                    </div>
                    <div class="col-md-6">
                        {{ show_row(stockUnit.shippedQuantity, 'number', 'ekyna_commerce.stock_unit.field.shipped_quantity', {
                            'label_nb_col': 4,
                            'widget_nb_col': 8,
                        }) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
