<div class="supplier-fieldset">
    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.shippingCost, {'label_col': 6, 'widget_col': 6}) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.discountTotal, {'label_col': 6, 'widget_col': 6}) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.taxTotal, {'label_col': 6, 'widget_col': 6}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.paymentTotal, {'label_col': 6, 'widget_col': 6}) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.paymentPaidTotal, {'label_col': 6, 'widget_col': 6}) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.paymentDueDate, {'label_col': 6, 'widget_col': 6}) }}
        </div>
    </div>
    <hr>
</div>
<div class="forwarder-fieldset">
    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.forwarderFee, {'label_col': 6, 'widget_col': 6}) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.customsTax, {'label_col': 6, 'widget_col': 6}) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.customsVat, {'label_col': 6, 'widget_col': 6}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.forwarderTotal, {'label_col': 6, 'widget_col': 6}) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.forwarderPaidTotal, {'label_col': 6, 'widget_col': 6}) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.forwarderDueDate, {'label_col': 6, 'widget_col': 6}) }}
        </div>
    </div>
    <hr>
</div>
