<div class="row">
    <div class="col-md-4">
        {{ form_row(form.number, {'label_col': 6, 'widget_col': 6}) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.state, {'label_col': 6, 'widget_col': 6}) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.currency, {'label_col': 6, 'widget_col': 6}) }}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        {{ form_row(form.supplier, {'label_col': 6, 'widget_col': 6}) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.carrier, {'label_col': 6, 'widget_col': 6}) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.estimatedDateOfArrival, {'label_col': 6, 'widget_col': 6}) }}
    </div>
</div>
<hr>
{% include "EkynaCommerceBundle:Admin/SupplierOrder/Form:fields.html.twig" %}
<div class="row">
    <div class="col-md-12">
        {{ form_row(form.trackingUrls, {'label_col': 3, 'widget_col': 9}) }}
    </div>
</div>
<hr>
{{ form_widget(form.items) }}
<div class="row">
    <div class="col-md-10">
        {{ form_row(form.quickAddSelect, {'label_col': 3, 'widget_col': 9}) }}
    </div>
    <div class="col-md-2">
        {{ form_row(form.quickAddButton) }}
    </div>
</div>
