{% macro view_controls(controls) %} data-controls='{{ controls|json_encode_data|raw }}'{% endmacro view_controls %}

{% macro cart_information(cart) %}
{% spaceless %}
    {%- if cart is null or cart.email is empty -%}
        <em>{{ 'ekyna_commerce.checkout.message.empty_information'|trans }}</em>
    {%- else -%}
        {%- if cart.company is not empty -%}
            <strong>{{ cart.company }}</strong><br>
        {%- endif -%}
        {{- cart|identity }}<br>
        <em>{{ cart.email }}</em>
    {%- endif -%}
{% endspaceless %}
{% endmacro cart_information %}


{% macro cart_invoice_address(cart) %}
{% spaceless %}
    {%- if cart is null or cart.invoiceAddress is null -%}
        <em>{{ 'ekyna_commerce.checkout.message.empty_invoice'|trans }}</em>
    {%- else -%}
        {{ cart.invoiceAddress|address }}
    {%- endif -%}
{% endspaceless %}
{% endmacro cart_invoice_address %}


{% macro cart_delivery_address(cart) %}
{% spaceless %}
    {%- if cart is null or cart.sameAddress or cart.deliveryAddress is null -%}
        <em>{{ 'ekyna_commerce.checkout.message.empty_delivery'|trans }}</em>
    {%- else -%}
        {{- cart.deliveryAddress|address -}}
    {%- endif -%}
{% endspaceless %}
{% endmacro cart_delivery_address %}


{% macro cart_comment(cart) %}
{% spaceless %}
    {%- if cart is null or cart.comment is null -%}
        <em>{{ 'ekyna_commerce.checkout.message.empty_comment'|trans }}</em>
    {%- else -%}
        {{ cart.comment|nl2br }}<br>
    {%- endif -%}
{% endspaceless %}
{% endmacro cart_comment %}


{% macro cart_attachments(cart) %}
{% spaceless %}
    {%- if cart is null or cart.attachments is empty -%}
        <em>{{ 'ekyna_commerce.checkout.message.empty_attachments'|trans }}</em>
    {%- else -%}
    <table class="table table-hover table-stripped table-condensed">
    <tbody>
        {%- for attachment in cart.attachments -%}
        <tr>
            <td>
                <a href="{{ path('ekyna_commerce_cart_attachment_download', {'attachmentId': attachment.id}) }}"
                   target="_blank">
                    {%- if attachment.title is not empty -%}
                        {{- attachment.title -}}
                    {%- else -%}
                        {{- attachment -}}
                    {%- endif -%}
                </a>
            </td>
            <td>
                <a href="{{ path('ekyna_commerce_cart_attachment_remove', {'attachmentId': attachment.id}) }}"
                   title="{{ 'ekyna_commerce.checkout.button.attachment_remove'|trans }}"
                   data-confirm="{{ 'ekyna_commerce.checkout.confirm.attachment_remove'|trans }}"
                   data-cart-xhr>
                    <i class="fa fa-remove text-danger"></i>
                </a>
            </td>
        </tr>
        {%- endfor -%}
    </tbody>
    </table>
    {%- endif -%}
{% endspaceless %}
{% endmacro cart_attachments %}
