{% import '@EkynaCommerce/Cart/macros.html.twig' as macros -%}
{% spaceless %}
<?xml version="1.0" encoding="utf-8"?>
<response>
{%- if cart is not same as(null) -%}
    <view{{ macros.view_controls(controls) }}>
        <![CDATA[{{ render_sale_view(view) }}]]>
    </view>
    <information><![CDATA[{{ macros.cart_information(cart) }}]]></information>
    <invoice><![CDATA[{{ macros.cart_invoice_address(cart) }}]]></invoice>
    <delivery><![CDATA[{{ macros.cart_delivery_address(cart) }}]]></delivery>
    <comment><![CDATA[{{ macros.cart_comment(cart) }}]]></comment>
    <attachments><![CDATA[{{ macros.cart_attachments(cart) }}]]></attachments>
    {#{% if controls.errors|length -%}
    <errors><![CDATA[{{ controls.errors|join('<br>')|raw }}]]></errors>
    {%- endif %}#}
{%- else -%}
    <view{{ macros.view_controls(controls) }}>
        <![CDATA[<p>{{ 'ekyna_commerce.checkout.index.empty'|trans }}.</p>]]>
    </view>
{%- endif -%}
</response>
{% endspaceless %}
