{% import 'EkynaCommerceBundle:Cart:macros.html.twig' as macros -%}
{% spaceless %}
<?xml version="1.0" encoding="utf-8"?>
<response>
{% if cart is not same as(null) %}

    <view><![CDATA[
        {{ render_sale_view(view, 'EkynaCommerceBundle:Common:sale_view_editable.html.twig') }}
    ]]></view>

    <information><![CDATA[
        {{ macros.cart_information(cart) }}
    ]]></information>

    <invoice-address><![CDATA[
        {{ macros.cart_invoice_address(cart) }}
    ]]></invoice-address>

    <delivery-address><![CDATA[
        {{ macros.cart_delivery_address(cart) }}
    ]]></delivery-address>

    <comment><![CDATA[
        {{ macros.cart_comment(cart) }}
    ]]></comment>

{% else %}

    <view><![CDATA[
        <p>Votre panier est vide.</p>
    ]]></view>

{% endif %}
</response>
{% endspaceless %}
