{% spaceless %}
<?xml version="1.0" encoding="utf-8"?>
<response>
    <cart-widget><![CDATA[
    {% if cart is not same as(null) %}
    <p>
        {% set count = cart.items|length %}
        {{ 'ekyna_commerce.cart.widget.items'|transchoice(count, {'%count%': count}) }}
        {{ 'ekyna_commerce.cart.widget.total'|trans }} {{ cart.grandTotal|localizedcurrency(cart.currency.code) }}.
    </p>
    <p>
        <a href="{{ path('ekyna_commerce_cart_checkout_index') }}" class="btn btn-primary">
            {{ 'ekyna_commerce.cart.widget.show_cart'|trans }}
        </a>
    </p>
    {% else %}
    <p>
        {{ 'ekyna_commerce.cart.widget.empty'|trans }}
    </p>
    {% endif %}
    ]]></cart-widget>
</response>
{% endspaceless %}
