{% macro show_subject(relative, label) %}{# TODO show 'commerce_subject' type #}
{% spaceless %}
    <div class="row show-row">
        <div class="col-md-2 show-label">
            {{ label|default('ekyna_commerce.subject.label')|trans }}
        </div>
        <div class="col-md-10">
            <div class="show-widget show-widget-inline">
                {% set subject = relative|subject_get %}
                {% if subject is null %}
                    <em>{{ 'ekyna_core.value.undefined'|trans }}</em>
                {% else %}
                    {% set url = subject|subject_private_url %}
                    {% if url is not null %}
                        <a href="{{ url }}" class="show-entity">{{ subject }}</a>
                    {% else %}
                        {{ subject }}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endspaceless %}
{% endmacro show_subject %}
