{% extends '@EkynaAdmin/Entity/Default/new.html.twig' %}

{% block title %}
    <h1>{{ 'ekyna_commerce.payment.header.new'|trans|raw }}</h1>
{% endblock title %}

{% block actions %}
    {#{{ admin_resource_btn(resource, 'list') }}#}
    {#{{ admin_resource_btn(resource, 'new') }}#}
{% endblock actions %}

{% block main %}
{% spaceless %}

    <p style="font-size:18px;">
    {% set currency = sale.currency.code -%}
    {% set amount = sale|payment_remaining_total -%}
    {% if 0 < sale.depositTotal and amount == sale.depositTotal -%}
        {{- 'ekyna_commerce.checkout.payment.deposit_amount'|trans({
            '%amount%': amount|localizedcurrency(currency)
        })|raw -}}
    {%- else -%}
        {{- 'ekyna_commerce.checkout.payment.remaining_amount'|trans({
            '%amount%': amount|localizedcurrency(currency)
        })|raw -}}
    {%- endif %}
    {% if currency != commerce_default_currency -%}
    <small style="display:inline-block;margin-left:10px;color:#999">
        {{- sale|payment_remaining_total(commerce_default_currency)|localizedcurrency(commerce_default_currency) -}}
        &nbsp;&dash;&nbsp;
        {{- sale|currency_rate -}}
    </small>
    {%- endif %}
    </p>

    <hr>

    {% for form in forms -%}
    {% if loop.index0 % 2 == 0 %}<div class="row">{% endif %}
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ form(form, {'style': 'inline'}) }}
                </div>
            </div>
        </div>
    {% if loop.last or loop.index0 % 2 == 1 %}</div>{% endif %}
    {%- endfor %}


    <div class="text-center">
        <a href="{{ admin_resource_path(sale) }}" class="btn btn-default">
            <span class="glyphicon glyphicon-chevron-left"></span>
            {{ 'ekyna_core.button.cancel'|trans }}
        </a>
    </div>

    <hr>

    {%- if sale.payments is not empty -%}
        {% include "@EkynaCommerce/Admin/Common/Sale/show_payments.html.twig" %}
    {% endif %}

{% endspaceless %}
{% endblock main %}

{% block side %}
    {{ parent() }}
    {% include '@EkynaCommerce/Admin/Common/Sale/Side/sale.html.twig' %}
{% endblock side %}


