{% extends "EkynaAdminBundle:Entity/Default:new.html.twig" %}

{% block title %}
    <h1>{{ 'ekyna_commerce.payment.header.new'|trans|raw }}</h1>
{% endblock title %}

{% block actions %}
    {#{{ admin_resource_btn(resource, 'list') }}#}
    {#{{ admin_resource_btn(resource, 'new') }}#}
{% endblock actions %}

{% block main %}
{% spaceless %}

    <p>
        {{ 'ekyna_commerce.checkout.payment.grand_total'|trans({
            '%amount%': sale.grandTotal|localizedcurrency(sale.currency.code)
        })|raw }}.<br>
        {{ 'ekyna_commerce.checkout.payment.remaining_amount'|trans({
            '%amount%': sale.remainingAmount|localizedcurrency(sale.currency.code)
        })|raw }}.
    </p>

    <hr>

    {% include "EkynaCommerceBundle:Account/Sale:payment_forms.html.twig" %}

    <div class="text-center">
        <a href="{{ admin_resource_path(sale) }}" class="btn btn-default">
            <span class="glyphicon glyphicon-chevron-left"></span>
            {{ 'ekyna_core.button.cancel'|trans }}
        </a>
    </div>

    <hr>

    {%- if sale.payments is not empty -%}
        {% include "@EkynaCommerce/Admin/Common/Sale/show_payments.html.twig" %}
    {% endif %}

{% endspaceless %}
{% endblock main %}

{% block side %}
    {{ parent() }}
    {% include "EkynaCommerceBundle:Admin/Common/Sale/Side:sale_payment.html.twig" %}
{% endblock side %}


