{% extends "EkynaAdminBundle:Entity/Default:new.html.twig" %}

{% block title %}
    <h1>{{ 'ekyna_commerce.payment.header.new'|trans|raw }}</h1>
{% endblock title %}

{% block actions %}
    {#{{ admin_resource_btn(resource, 'list') }}#}
    {#{{ admin_resource_btn(resource, 'new') }}#}
{% endblock actions %}

{% block main %}
{% spaceless %}

    <p style="font-size:18px;">
    {% set amount = sale.remainingAmount %}
    {% if 0 < sale.depositTotal and amount == sale.depositTotal %}
        {{- 'ekyna_commerce.checkout.payment.deposit_amount'|trans({
            '%amount%': amount|localizedcurrency(sale.currency.code)
        })|raw -}}
    {% else %}
        {{- 'ekyna_commerce.checkout.payment.remaining_amount'|trans({
            '%amount%': amount|localizedcurrency(sale.currency.code)
        })|raw -}}
    {% endif %}
    </p>

    <hr>

    {% for form in forms -%}
    {% if loop.index0 % 2 == 0 %}<div class="row">{% endif %}
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ form(form, {'style': 'inline'}) }}
                </div>
            </div>
        </div>
    {% if loop.last or loop.index0 % 2 == 1 %}</div>{% endif %}
    {%- endfor %}


    <div class="text-center">
        <a href="{{ admin_resource_path(sale) }}" class="btn btn-default">
            <span class="glyphicon glyphicon-chevron-left"></span>
            {{ 'ekyna_core.button.cancel'|trans }}
        </a>
    </div>

    <hr>

    {%- if sale.payments is not empty -%}
        {% include "@EkynaCommerce/Admin/Common/Sale/show_payments.html.twig" %}
    {% endif %}

{% endspaceless %}
{% endblock main %}

{% block side %}
    {{ parent() }}
    {% include "EkynaCommerceBundle:Admin/Common/Sale/Side:sale.html.twig" %}
{% endblock side %}


