{% extends '@EkynaAdmin/Entity/Crud/_form_default.html.twig' %}

{% block main_contents -%}
<div class="tab-pane active" id="coupon-general">
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.code, {'label_col': 4, 'widget_col': 8}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.limit, {'label_col': 4, 'widget_col': 8}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.mode, {'label_col': 4, 'widget_col': 8}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.amount, {'label_col': 4, 'widget_col': 8}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.startAt, {'label_col': 4, 'widget_col': 8}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.endAt, {'label_col': 4, 'widget_col': 8}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.minGross, {'label_col': 4, 'widget_col': 8}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.cumulative, {'label_col': 4, 'widget_col': 8}) }}
        </div>
    </div>
    {{ form_row(form.designation) }}
</div>
{%- endblock main_contents -%}
