{% spaceless %}
<ul class="nav nav-tabs" data-tab-key="{{ resource_id }}">
    <li class="active">
        <a href="#payment-method-general" id="toggle-general" data-toggle="tab">
            {{- 'ekyna_core.field.general'|trans -}}
        </a>
    </li>
    <li>
        <a href="#payment-method-content" id="toggle-content" data-toggle="tab">
            {{- 'ekyna_core.field.content'|trans -}}
        </a>
    </li>
    <li>
        <a href="#payment-method-messages" id="toggle-messages" data-toggle="tab">
            {{- 'ekyna_commerce.message.label.plural'|trans -}}
        </a>
    </li>
</ul>
<div class="panel-body form-body">
    {{ bootstrap_set_style('horizontal') }}
    {{ bootstrap_set_col_size('md') }}
    {{ form_errors(form, {'global_errors': true}) }}
    <div class="tab-content">
        <div class="tab-pane active" id="payment-method-general">
            {{ form_row(form.name) }}
            {{ form_row(form.factoryName) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.available, {'label_col': 4, 'widget_col': 8}) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.enabled, {'label_col': 4, 'widget_col': 8}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.defaultCurrency, {'label_col': 4, 'widget_col': 8}) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.private, {'label_col': 4, 'widget_col': 8}) }}
                </div>
            </div>
            {{ form_row(form.currencies) }}
            {% if form.config is defined %}
                {{ form_row(form.config) }}
            {% endif %}
        </div>
        <div class="tab-pane" id="payment-method-content">
            {{ form_row(form.media) }}
            {{ form_row(form.translations, {'label_col': 0, 'widget_col': 12}) }}
        </div>
        <div class="tab-pane" id="payment-method-messages">
            {{ form_widget(form.messages) }}
        </div>
    </div>
    {{ form_rest(form) }}
</div>
{% endspaceless %}
