{% extends "EkynaAdminBundle:Entity/Default:show.html.twig" %}

{% block main %}
    <div class="actions">
        {{ admin_resource_btn(paymentMethod, 'edit') }}
        {{ admin_resource_btn(paymentMethod, 'remove') }}
    </div>
    <div class="show show-with-tabs">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#payment-method-general" data-toggle="tab">
                    {{ 'ekyna_core.field.general'|trans }}
                </a>
            </li>
            <li>
                <a href="#payment-method-content" data-toggle="tab">
                    {{ 'ekyna_core.field.content'|trans }}
                </a>
            </li>
            <li>
                <a href="#payment-method-messages" data-toggle="tab">
                    {{ 'ekyna_commerce.message.label.plural'|trans }}
                </a>
            </li>
        </ul>
        <div class="show-body">
            <div class="tab-content">
                <div class="tab-pane active" id="payment-method-general">
                    {{ show_row(paymentMethod.name, 'text', 'ekyna_core.field.name') }}
                    {{ show_row(paymentMethod.factoryName, 'text', 'ekyna_commerce.payment_method.field.factory_name') }}
                    <div class="row">
                        <div class="col-md-6">
                            {{ show_row(paymentMethod.enabled, 'checkbox', 'ekyna_core.field.enabled', {
                                'label_nb_col': 4
                            }) }}
                        </div>
                        <div class="col-md-6">
                            {{ show_row(paymentMethod.available, 'checkbox', 'ekyna_commerce.payment_method.field.available', {
                                'label_nb_col': 4
                            }) }}
                        </div>
                    </div>
                    {% if paymentMethod.config is not empty %}
                        <div class="row show-row">
                            <div class="col-md-2 show-label">{{ 'ekyna_core.field.config'|trans }}</div>
                            <div class="col-md-10">
                                <div class="show-widget show-widget-block">
                                    {{ paymentMethod|payment_method_config }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="tab-pane" id="payment-method-content">
                    {{ show_row(paymentMethod.media, 'media', 'ekyna_core.field.image') }}
                    <div class="row show-row">
                        <div class="col-md-2 show-label">
                            {{ 'ekyna_core.field.translations'|trans }}
                        </div>
                        <div class="col-md-10">
                            {% include 'EkynaCommerceBundle:Admin/Common/Method:translations.html.twig' with {
                                'method': paymentMethod
                            } %}
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="payment-method-messages">
                    <ul class="nav nav-tabs">
                        {% for message in paymentMethod.messages %}
                            <li{% if loop.first %} class="active"{% endif %}>
                                <a href="#payment-method-state-{{ message.state }}" data-toggle="tab">
                                    {{ message.state|payment_state_label }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="panel-body" style="border: 1px solid #ddd; border-top: none; padding:15px 15px 1px 15px; margin-bottom: 15px;">
                        <div class="tab-content">
                            {% for message in paymentMethod.messages %}
                                <div class="tab-pane{% if loop.first %} active{% endif %}"
                                     id="payment-method-state-{{ message.state }}">
                                    <div class="row show-row">
                                        <div class="col-md-2 show-label">
                                            {{ 'ekyna_core.field.translations'|trans }}
                                        </div>
                                        <div class="col-md-10">
                                            {% include 'EkynaCommerceBundle:Admin/Common/Message:translations.html.twig' with {
                                            'message': message
                                            } %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
