{% import '@EkynaCommerce/Document/macros.html.twig' as macro -%}

{% do trans_set_locale(subject.locale) %}
{% set locale = subject.locale %}

{# --- HEADER --- #}
{% block doc_header -%}
<table class="bloc header">
    <tr>
        <td class="logo">
            {%- block logo -%}
                <a href="{{ absolute_url('/') }}">
                    <img alt="{{ get_setting('general.site_name') }}" src="{{ absolute_url(asset(logo_path)) }}">
                </a>
            {%- endblock logo -%}
        </td>
        <td class="blank">
            &nbsp;
        </td>
        <td class="address">
            {%- block company -%}
                {{ macro.render_company(locale) }}
            {%- endblock company -%}
        </td>
    </tr>
</table>
{%- endblock doc_header %}


{# --- TITLE --- #}
{% block doc_title %}
<div class="bloc title">
{% block doc_title_content %}<h1>Sale document</h1>{% endblock doc_title_content %}
</div>
{% endblock doc_title %}


{# --- ADDRESSES --- #}
{% block doc_addresses -%}
<table class="bloc table addresses">
    <thead>
    <tr>
        <th>{{ 'ekyna_commerce.customer.label.singular'|trans }}</th>
        <th class="blank">&nbsp;</th>
        <th>{{ 'ekyna_commerce.sale.field.invoice_address'|trans }}</th>
        <th class="blank">&nbsp;</th>
        <th>{{ 'ekyna_commerce.sale.field.delivery_address'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="customer">
        {%- block doc_customer %}{% endblock doc_customer -%}
        </td>
        <td>&nbsp;</td>
        <td class="address">
        {%- block doc_invoice_address %}{% endblock doc_invoice_address -%}
        </td>
        <td>&nbsp;</td>
        <td class="address">
        {%- block doc_delivery_address %}{% endblock doc_delivery_address -%}
        </td>
    </tr>
    </tbody>
</table>
{%- endblock doc_addresses %}


{# --- ITEMS --- #}
{% block doc_lines %}{% endblock doc_lines %}


{# --- MISC --- #}
{% block doc_misc %}
    {#<table class="order-doc-bloc order-doc-inf">
        <tbody>
            <tr>
                <td>{{ sale.paiementMethod.title }}</td>
            </tr>
        </tbody>
    </table>

    <table class="order-doc-bloc order-doc-inf">
        <tbody>
            <tr>
                <td>{{ sale.comment|raw }}</td>
            </tr>
        </tbody>
    </table>#}
{% endblock doc_misc %}


{# --- FOOTER --- #}
{% block doc_footer %}
<div class="bloc footer">
    {% block doc_footer_content %}
        {{- get_setting('commerce.invoice_footer')|raw -}}
    {% endblock doc_footer_content %}
</div>
{% endblock doc_footer %}

{% do trans_revert_locale() %}