{% import '@EkynaCommerce/Document/macros.html.twig' as macro -%}

{% set design = subject|document_design(type|default(null)) %}
{% set locale = design.locale %}


{# --- PRE --- #}
{% block doc_styles -%}
<style type="text/css">
{%- if design.primaryColor is not empty -%}
h1, h2, .table thead th, .table tbody.totals th { color: {{ design.primaryColor }}; }
{%- endif %}
{% if design.secondaryColor is not empty -%}
table.header, .footer, .table thead th, .table thead th:before, .table thead th:after, .table.details tr:last-child td { border-color: {{ design.secondaryColor }}; }
{%- endif -%}
</style>
{%- endblock doc_styles %}


{# --- PRE --- #}
{% block doc_pre -%}
    {% do trans_set_locale(locale) %}
{%- endblock doc_pre %}


{# --- HEADER --- #}
{% block doc_header -%}
<header class="bloc">
    <div class="logo">
        {%- block logo -%}
            {% if design.logoLink %}<a href="{{ absolute_url(design.logoLink) }}">{% endif %}
            <img alt="{{ design.brandName }}" src="{{ absolute_url(design.logoPath) }}">
            {% if design.logoLink %}</a>{% endif %}
        {%- endblock logo -%}
    </div>
    {% block company_address -%}
    <div class="address">
    {%- if design.headerHtml is not empty -%}
        {{ design.headerHtml|raw }}
    {%- else -%}
        {{ macro.render_company(locale) }}
    {%- endif -%}
    </div>
    {%- endblock company_address %}
</header>
{%- endblock doc_header %}


{# --- TITLE --- #}
{% block doc_title -%}
<div class="bloc title">
{% block doc_title_content %}<h1>Sale document</h1>{% endblock doc_title_content %}
</div>
{%- endblock doc_title %}


{# --- ADDRESSES --- #}
{% block doc_addresses -%}
<table class="bloc table addresses">
    <thead>
    <tr>
        <th>{{ 'customer.label.singular'|trans({}, 'EkynaCommerce') }}</th>
        <th class="blank">&nbsp;</th>
        <th>{{ 'sale.field.invoice_address'|trans({}, 'EkynaCommerce') }}</th>
        <th class="blank">&nbsp;</th>
        <th>{{ 'sale.field.delivery_address'|trans({}, 'EkynaCommerce') }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="customer">
        {%- block doc_customer %}{% endblock doc_customer -%}
        </td>
        <td>&nbsp;</td>
        <td class="address">
        {%- block doc_invoice_address %}{% endblock doc_invoice_address -%}
        </td>
        <td>&nbsp;</td>
        <td class="address">
        {%- block doc_delivery_address %}{% endblock doc_delivery_address -%}
        </td>
    </tr>
    </tbody>
</table>
{%- endblock doc_addresses %}


{# --- ITEMS --- #}
{% block doc_lines %}{% endblock doc_lines %}


{# --- MISC --- #}
{% block doc_misc -%}{%- endblock doc_misc %}


{# --- FOOTER --- #}
{% block doc_footer -%}
<div class="bloc footer">
    {% block doc_footer_content -%}
        {{ design.footerHtml|raw }}
    {%- endblock doc_footer_content %}
</div>
{%- endblock doc_footer %}


{# --- POST --- #}
{% block doc_post -%}
    {% do trans_revert_locale() %}
{%- endblock doc_post %}
