{% apply spaceless %}

{% import '@EkynaCommerce/Document/macros.html.twig' as macro -%}

{% set design = subject|document_design(type|default(null)) %}
{% set locale = design.locale %}

{# Before #}
{% block before %}
    {% do trans_set_locale(locale) %}
{% endblock before %}

<!doctype html>
<html lang="{{ locale|default('en') }}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Commerce document</title>
    <link href="{{ absolute_url(asset('bundles/ekynacommerce/css/document.css')) }}" rel="stylesheet" type="text/css" />

    {# --- STYLES --- #}
    {% block style %}
    <style>
        {%- if design.primaryColor is not empty -%}
        h1, h2, .table thead th, .table tbody.totals th { color: {{ design.primaryColor }}; }
        {%- endif %}
        {% if design.secondaryColor is not empty -%}
        header, footer, .table thead th, .table thead th:before, .table thead th:after, .table.details tr:last-child td { border-color: {{ design.secondaryColor }}; }
        {%- endif -%}
    </style>
    {% endblock %}
</head>
<body>

{# --- LAYOUT --- #}
<table id="layout">
    <thead>
    <tr>
        <td>
            <div class="header-space">&nbsp;</div>
        </td>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>
            <div class="content">
                {% block content %}
                    {% block mentions %}{% endblock mentions %}

                    {% block addresses %}{% endblock addresses %}

                    {% block lines %}{% endblock lines %}

                    {% block misc %}{% endblock misc %}
                {% endblock %}
            </div>
        </td>
    </tr>
    </tbody>

    <tfoot>
    <tr>
        <td>
            <div class="footer-space">&nbsp;</div>
        </td>
    </tr>
    </tfoot>
</table>

{# --- HEADER --- #}
<header>
{% block header %}
    <div>
        <div id="logo">
            {%- block logo -%}
                {% if design.logoLink %}<a href="{{ absolute_url(design.logoLink) }}">{% endif %}
                <img alt="{{ design.brandName }}" src="{{ absolute_url(design.logoPath) }}">
                {% if design.logoLink %}</a>{% endif %}
            {%- endblock logo -%}
            {% block title %}<h1>Sale document</h1>{% endblock title %}
        </div>

        {% block company_address -%}
            <div class="address">
                {%- if design.headerHtml is not empty -%}
                    {{ design.headerHtml|raw }}
                {%- else -%}
                    {{ macro.render_company(locale) }}
                {%- endif -%}
            </div>
        {%- endblock company_address %}
    </div>
{% endblock header %}
</header>

{# --- FOOTER --- #}
<footer>
{% block footer %}
    {{ design.footerHtml|raw }}
{% endblock footer %}
</footer>

</body>
</html>

{# --- AFTER --- #}
{% block after %}
    {% do trans_revert_locale() %}
{% endblock after %}

{% endapply %}
