{%- extends "EkynaCommerceBundle:Document:base.html.twig" -%}


{%- import "EkynaCommerceBundle:Document:macros.html.twig" as macro -%}


{# --- HEAD TITLE --- #}
{%- block head_title -%}
    {{- ('ekyna_commerce.document.type.' ~ document.type)|trans }}
    {{ document.sale.number -}}
{%- endblock head_title -%}


{# --- DOC TITLE --- #}
{%- block doc_title -%}
    <h1>
        {{- ('ekyna_commerce.document.type.' ~ document.type)|trans }}
        {{ document.sale.number -}}
    </h1>
    <p>Le {{ date|localizeddate('long', 'none') }}.</p>
{%- endblock doc_title -%}


{# --- ADDRESSES --- #}
{%- block doc_customer -%}
    {{- macro.render_customer(document.customer) -}}
{%- endblock doc_customer -%}

{%- block doc_invoice_address -%}
    {{- macro.render_address(document.invoiceAddress) -}}
{%- endblock doc_invoice_address -%}

{%- block doc_delivery_address -%}
    {%- if document.deliveryAddress is not empty -%}
        {{ macro.render_address(document.deliveryAddress) }}
    {%- else -%}
        {{ macro.render_address(document.invoiceAddress) }}
    {%- endif -%}
{%- endblock doc_delivery_address -%}


{%- set currency = document.currency -%}
{%- set multiple_taxes = document.hasMultipleTaxes() -%}
{%- set line_discount = document.hasLineDiscount() -%}

{%- set columns_count = 5 -%}
{%- if multiple_taxes %}{% set columns_count = columns_count + 1 %}{% endif -%}
{%- if line_discount %}{% set columns_count = columns_count + 2 %}{% endif -%}

{# --- LINES --- #}
{%- block doc_lines -%}
<table class="bloc table details">
    <thead>
    <tr>
        <th>{{ 'ekyna_core.field.designation'|trans }}</th>
        <th>{{ 'ekyna_core.field.reference'|trans }}</th>
        <th>{{ 'ekyna_commerce.sale.field.net_unit'|trans }}</th>
        {% if multiple_taxes -%}
        <th>{{ 'ekyna_commerce.sale.field.tax_rate'|trans }}</th>
        {%- endif %}
        <th>{{ 'ekyna_core.field.quantity'|trans }}</th>
        {% if line_discount -%}
        <th>{{ 'ekyna_commerce.sale.field.base_total'|trans }}</th>
        <th>{{ 'ekyna_commerce.sale.field.discount_total'|trans }}</th>
        {%- endif %}
        <th>{{ 'ekyna_commerce.sale.field.net_total'|trans }}</th>
    </tr>
    </thead>

    {# GOODS #}
    {% set baseTotal, discountTotal, netTotal = 0, 0, 0 %}
    {% set goodLines = document.linesByType('good') %}
    {% set discountLines = document.linesByType('discount') -%}
    {% set shipmentLines = document.linesByType('shipment') -%}

    <tbody class="stripped">
    {% for line in goodLines %}
        {% set baseTotal = baseTotal + line.baseTotal %}
        {% set discountTotal = discountTotal + line.discountTotal %}
        {% set netTotal = netTotal + line.netTotal %}
        <tr>
            <td>
                {{- line.designation -}}
                {%- if line.description is not empty -%}
                    <br><p class="description">{{ line.description|nl2br }}</p>
                {%- endif -%}
            </td>
            <td>{{ line.reference }}</td>
            <td class="text-right">{{ line.netPrice|localizedcurrency(currency) }}</td>
            {% if multiple_taxes %}
            <td class="text-right">
                {%- for rate in line.taxRates -%}
                    {{- rate|localizednumber }}%
                    {%- if not loop.last %}, {% endif -%}
                {%- else -%}
                    &nbsp;
                {%- endfor -%}
            </td>
            {% endif %}
            <td class="text-right">{{ line.quantity|localizednumber }}</td>
            {% if line_discount %}
            <td class="text-right">
                {{- line.baseTotal|localizedcurrency(currency) -}}
            </td>
            <td class="text-right">
                {%- if line.discountTotal -%}
                    {{- line.discountTotal|localizedcurrency(currency) -}}
                {%- else -%}
                    &nbsp;
                {%- endif -%}
            </td>
            {% endif %}
            <td class="text-right">{{ line.netTotal|localizedcurrency(currency) }}</td>
        </tr>
    {% endfor %}
    </tbody>


    <tbody class="spacer"><tr><td colspan="8">&nbsp;</td></tr></tbody>

    {% if line_discount or (1 < goodLines|length and discountLines is not empty)  -%}
    <tbody class="totals">
        <tr>
            <td colspan="{{ columns_count - (line_discount ? 3 : 1) }}">{{ 'ekyna_commerce.sale.field.gross_totals'|trans }}</td>
            {% if line_discount -%}
            <td class="text-right">{{ baseTotal|localizedcurrency(currency) }}</td>
            <td class="text-right">{{ discountTotal|localizedcurrency(currency) }}</td>
            {%- endif %}
            <td class="text-right">{{ netTotal|localizedcurrency(currency) }}</td>
        </tr>
    </tbody>
    {%- endif %}


    {# DISCOUNTS #}
    {% if discountLines is not empty -%}
    <tbody class="totals">
    {% for line in discountLines -%}
        <tr>
            <td colspan="{{ columns_count - 2 }}">&nbsp;</td>
            <th>
                {%- if line.designation is empty -%}
                    {{- 'ekyna_commerce.adjustment.type.discount'|trans }}
                {%- else -%}
                    {{- line.designation -}}
                {%- endif -%}
            </th>
            <td class="total text-right">{{ line.netTotal|localizedcurrency(currency) }}</td>
        </tr>
    {%- endfor %}
    </tbody>
    {%- endif %}


    {# SHIPMENT #}
    {% if shipmentLines is not empty -%}
    <tbody class="totals">
    {% for line in shipmentLines -%}
        <tr>
            <td colspan="{{ columns_count - 2 }}">&nbsp;</td>
            <th>{{ 'ekyna_commerce.sale.field.shipping_cost'|trans }}</th>
            <td class="total text-right">{{ line.netTotal|localizedcurrency(currency) }}</td>
        </tr>
    {%- endfor %}
    </tbody>
    {%- endif %}


    {# TOTALS #}
    <tbody class="totals">
        <tr>
            <td colspan="{{ columns_count - 2 }}" rowspan="3">&nbsp;</td>
            <th>{{ 'ekyna_commerce.sale.field.net_total'|trans }}</th>
            <td class="total text-right">{{ (document.goodsBase + document.shipmentBase)|localizedcurrency(currency) }}</td>
        </tr>
        <tr>
            <th>{{ 'ekyna_commerce.sale.field.tax_total'|trans }}</th>
            <td class="total text-right">{{ document.taxesTotal|localizedcurrency(currency) }}</td>
        </tr>
        <tr>
            <th>{{ 'ekyna_commerce.sale.field.grand_total'|trans }}</th>
            <td class="total final text-right">{{ document.grandTotal|localizedcurrency(currency) }}</td>
        </tr>
    </tbody>
</table>

{# Taxes details #}
{% if document.taxesDetails is not empty -%}
<table class="table taxes">
    <thead>
        <tr>
            <th>{{ 'ekyna_commerce.tax.label.singular'|trans }}</th>
            <th>{{ 'ekyna_commerce.sale.field.tax_total'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for details in document.taxesDetails -%}
        <tr>
            <th>{{ details.name }}</th>
            <td class="text-right">{{ details.amount|localizedcurrency(currency) }}</td>
        </tr>
        {%- endfor %}
    </tbody>
</table>
{%- endif %}
{%- endblock doc_lines %}


{# --- MISC --- #}
{% block doc_misc -%}
    {#
    <table class="order-doc-bloc order-doc-inf">
        <tbody>
            <tr>
                <td>{{ sale.paiementMethod.title }}</td>
            </tr>
        </tbody>
    </table>

    <table class="order-doc-bloc order-doc-inf">
        <tbody>
            <tr>
                <td>{{ sale.comment|raw }}</td>
            </tr>
        </tbody>
    </table>
    #}
{%- endblock doc_misc %}

{# --- FOOTER --- #}
{% block doc_footer -%}
    {{- get_setting('commerce.invoice_footer')|raw -}}
{%- endblock doc_footer %}

{% block post_body -%}
{# TERMS #}
{#<hr>

<div class="sale-invoice">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla posuere lectus quis lobortis consequat. Vivamus vehicula mauris sed ligula semper, et rutrum dolor porta. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras iaculis odio felis, nec viverra urna tristique vitae. Vivamus consectetur gravida porta. Integer sollicitudin libero nulla, in porta nulla euismod in. Donec gravida consequat nibh consequat aliquam. Morbi tincidunt velit sed tellus efficitur, at consectetur eros aliquam. Ut tortor velit, maximus sit amet leo id, aliquam fringilla urna. Nullam maximus erat vel velit rutrum, venenatis dapibus nisl commodo. Quisque est risus, imperdiet ac neque sit amet, condimentum dapibus libero. Proin id gravida ipsum. Nunc blandit lacus nec magna bibendum, nec scelerisque purus placerat. Phasellus sed metus venenatis, mattis turpis ut, faucibus libero. Integer id dictum dolor.</p>
    <p>Nulla laoreet ligula ac nulla commodo, in bibendum nulla pharetra. Aliquam viverra justo risus, sed luctus urna tempor et. Mauris semper fermentum dolor nec varius. Etiam eget viverra ipsum, id bibendum enim. Donec mollis nunc dui, nec tempor velit hendrerit in. Donec nec felis sed felis viverra eleifend in nec lacus. Vivamus et vulputate quam, in molestie sapien. Mauris luctus est odio, at tincidunt ex vulputate sed. Curabitur luctus urna lectus, nec consequat urna feugiat a. Mauris mauris tellus, aliquet id finibus a, elementum ac tellus. Suspendisse non dictum sapien.</p>
    <p>Pellentesque elementum nulla at arcu facilisis, ut pretium eros ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla et est non magna pellentesque vehicula ac ullamcorper libero. Nullam iaculis vel metus id condimentum. Sed nec aliquam justo. Nunc rutrum ante eget nisl accumsan mattis. Vivamus tincidunt feugiat eros quis tincidunt. Aliquam in sem lacinia, finibus elit vel, elementum tellus. Sed porta ligula ac leo malesuada, at malesuada ex laoreet. Suspendisse quam metus, suscipit sed condimentum vitae, sollicitudin id lorem. Praesent ac nulla dapibus, iaculis arcu a, ornare turpis.</p>
    <p>Nulla facilisi. Nam enim quam, viverra ac neque quis, interdum blandit massa. Curabitur eleifend sed felis vitae semper. Integer eleifend est a pellentesque auctor. Suspendisse dictum lorem eget quam convallis, non ultrices justo ultricies. Donec eu lobortis enim. Vestibulum diam urna, porta a faucibus nec, tempus a ex. Duis cursus quam orci, at semper nisl blandit ut. Nullam ut leo non felis mollis dictum. Etiam eget metus dolor.</p>
    <p>Sed eget auctor ipsum. Nam nec massa tempus turpis fermentum gravida. Proin iaculis eu elit non ultrices. Pellentesque eros orci, scelerisque tristique sem a, finibus lacinia purus. Quisque porta leo quis lectus consectetur, vel iaculis nisl mattis. Donec nec lacinia sem. Fusce dictum leo sed finibus molestie. Etiam bibendum, mi non sollicitudin posuere, nulla dui bibendum urna, sed vestibulum purus neque at leo. Cras convallis lacus massa, nec fringilla nulla congue non. Nam massa nunc, pretium sit amet fringilla a, eleifend non neque. Morbi venenatis fringilla libero, vitae venenatis elit cursus eu. Praesent id nibh ac elit dignissim elementum sit amet in ipsum. Sed facilisis imperdiet nulla. Praesent fringilla pulvinar elit sit amet fermentum. Aliquam lacinia, nisi fringilla malesuada sagittis, orci nibh imperdiet mi, maximus elementum massa dui eget risus. Proin eu metus velit.</p>
</div>#}
{%- endblock post_body %}

