{%- extends '@EkynaCommerce/Document/base.html.twig' -%}


{%- import '@EkynaCommerce/Document/macros.html.twig' as macro -%}

{# --- TITLE --- #}
{%- block doc_title_content -%}
    <h1>
        {{- ('ekyna_commerce.document.type.' ~ subject.type)|trans }}
        {{ subject.sale.number -}}
    </h1>
    <p>
        Le {{ date|localizeddate('long', 'none') }}{# TODO trans #}
        {% if subject.sale.customer is not null -%}
            , client <strong>{{ subject.sale.customer.number }}</strong>
        {%- endif %}.
        {{ macro.render_voucher_number(subject.sale) }}
        {{ macro.render_payment_term(subject.sale) }}
    </p>
    {% if subject.comment is not empty -%}
    <p>{{ subject.comment|nl2br }}</p>
    {%- endif %}
{%- endblock doc_title_content -%}


{# --- ADDRESSES --- #}
{%- block doc_customer -%}
    {{- macro.render_customer(subject.customer) -}}
{%- endblock doc_customer -%}

{%- block doc_invoice_address -%}
    {{- macro.render_address(subject.invoiceAddress) -}}
{%- endblock doc_invoice_address -%}

{%- block doc_delivery_address -%}
    {%- if subject.relayPoint is not empty -%}
        {{ macro.render_address(subject.relayPoint) }}
    {%- elseif subject.deliveryAddress is not empty -%}
        {{ macro.render_address(subject.deliveryAddress) }}
    {%- else -%}
        {{ macro.render_address(subject.invoiceAddress) }}
    {%- endif -%}
{%- endblock doc_delivery_address -%}


{%- set currency = subject.currency -%}
{%- set multiple_taxes = subject.hasMultipleTaxes() -%}
{%- set line_discount = subject.hasLineDiscount() -%}

{%- set columns_count = 5 -%}
{%- if multiple_taxes %}{% set columns_count = columns_count + 1 %}{% endif -%}
{%- if line_discount %}{% set columns_count = columns_count + 3 %}{% endif -%}

{# --- LINES --- #}
{%- block doc_lines -%}
<table class="bloc table details">
    {% block doc_lines_header %}
    <thead>
    <tr>
        <th>{{ 'ekyna_core.field.designation'|trans }}</th>
        <th>{{ 'ekyna_core.field.reference'|trans }}</th>
        <th>{{ ('ekyna_commerce.sale.field.' ~ (subject.ati ? 'ati' : 'net') ~ '_unit')|trans }}</th>
        {% if multiple_taxes -%}
        <th>{{ 'ekyna_commerce.sale.field.tax_rate'|trans }}</th>
        {%- endif %}
        <th>{{ 'ekyna_core.field.quantity'|trans }}</th>
        {% if line_discount -%}
        <th>{{ ('ekyna_commerce.sale.field.' ~ (subject.ati ? 'ati' : 'net') ~ '_gross')|trans }}</th>
        <th colspan="2">{{ 'ekyna_commerce.sale.field.discount'|trans }}</th>
        {%- endif %}
        <th>{{ ('ekyna_commerce.sale.field.' ~ (subject.ati ? 'ati' : 'net') ~ '_total')|trans }}</th>
    </tr>
    </thead>
    {% endblock doc_lines_header %}

    {# GOODS #}
    {% set pages = subject|document_pages %}
    {% set linesCount = 0 %}
    {% set grossTotal, discountTotal, baseTotal = 0, 0, 0 %}
    {% set discountLines = subject.linesByType('discount') -%}
    {% set shipmentLines = subject.linesByType('shipment') -%}

    <tbody class="stripped">
    {% for page in pages %}

    {# Page break#}
    {% if loop.index0 > 0 %}
    </tbody>
</table>
{{ block('doc_footer') }}
{{ '</div><div class="wrapper">' }}
{{ block('doc_title') }}
<table class="bloc table details">
    {{ block('doc_lines_header') }}
    <tbody class="stripped">
    {% endif %}

    {% for row in page %}
        {% set linesCount = linesCount + 1 %}
        {% set grossTotal = grossTotal + row.gross %}
        {% set discountTotal = discountTotal + row.discount %}
        {% set baseTotal = baseTotal + row.base %}
        <tr{% if row.virtual %} class="virtual"{% endif %}>
            <td class="designation" style="padding-left:{{ 8 + (16 * row.level) }}px">
                {%- if row.url is not empty -%}
                    <a href="{{ row.url }}" title="{{ row.designation }}">{{ row.designation }}</a>
                {%- else -%}
                    <span title="{{ row.designation }}">{{ row.designation -}}</span>
                {%- endif -%}
                {%- if row.description is not empty -%}
                    <br><p class="description">{{ row.description|nl2br }}</p>
                {%- endif -%}
            </td>
            <td>{{ row.reference }}</td>
            <td class="text-right">
                {%- if not row.virtual -%}
                    {{ row.unit|localizedcurrency(currency) }}
                {%- else -%}
                    &nbsp;
                {%- endif -%}
            </td>
            {% if multiple_taxes %}
            <td class="text-right">
                {%- for rate in row.taxRates -%}
                    {{- rate|localizednumber }}%
                    {%- if not loop.last %}, {% endif -%}
                {%- else -%}
                    &nbsp;
                {%- endfor -%}
            </td>
            {% endif %}
            <td class="text-right">
                {%- if not row.virtual -%}
                    {{ row.quantity|localizednumber }}{# TODO Packing format #}
                {%- else -%}
                    &nbsp;
                {%- endif -%}
            </td>
            {% if line_discount %}
            <td class="text-right">
                {%- if not row.virtual -%}
                    {{ row.gross|localizedcurrency(currency) }}
                {%- else -%}
                    &nbsp;
                {%- endif -%}
            </td>
            {%- if 0 < row.discount -%}
            <td class="text-right">
                {%- for rate in row.discountRates -%}
                    {{- rate|localizednumber }}%
                    {%- if not loop.last %}, {% endif -%}
                {%- else -%}
                    &nbsp;
                {%- endfor -%}
            </td>
            <td class="text-right">-{{- row.discount|localizedcurrency(currency) -}}</td>
            {%- else -%}
            <td class="text-right">&nbsp;</td>
            <td class="text-right">&nbsp;</td>
            {%- endif -%}
            {% endif %}
            <td class="text-right">
                {%- if not row.virtual -%}
                    {{ row.base|localizedcurrency(currency) }}
                {%- else -%}
                    &nbsp;
                {%- endif -%}
            </td>
        </tr>
    {% endfor %}
    {% endfor %}
    </tbody>


    <tbody class="spacer"><tr><td colspan="{{ columns_count }}">&nbsp;</td></tr></tbody>

    {% if line_discount or (1 < linesCount and discountLines is not empty) -%}
    <tbody class="totals">
        <tr>
            <td colspan="{{ columns_count - (line_discount ? 4 : 1) }}">{{ 'ekyna_commerce.sale.field.gross_totals'|trans }}</td>
            {% if line_discount -%}
            <td class="text-right">{{ grossTotal|localizedcurrency(currency) }}</td>
            <td class="text-right" colspan="2">
                {%- if 0 < discountTotal %}-{% endif %}{{ discountTotal|localizedcurrency(currency) -}}
            </td>
            {%- endif %}
            <td class="text-right">{{ baseTotal|localizedcurrency(currency) }}</td>
        </tr>
    </tbody>
    {%- endif %}


    {# DISCOUNTS #}
    {% if discountLines is not empty -%}
    <tbody class="totals">
    {% for line in discountLines -%}
        <tr>
            <td colspan="{{ columns_count - 2 }}">&nbsp;</td>
            <th>
                {%- if line.designation is empty -%}
                    {{- 'ekyna_commerce.adjustment.type.discount'|trans }}
                {%- else -%}
                    {{- line.designation -}}
                {%- endif -%}
            </th>
            <td class="total text-right">-{{ line.base(subject.ati)|localizedcurrency(currency) }}</td>
        </tr>
    {%- endfor %}
    </tbody>
    {%- endif %}


    {# SHIPMENT #}
    {% if shipmentLines is not empty -%}
    <tbody class="totals">
    {% for line in shipmentLines -%}
        <tr>
            <td colspan="{{ columns_count - 2 }}">&nbsp;</td>
            <th>{{ ('ekyna_commerce.sale.field.shipment_' ~ (subject.ati ? 'ati' : 'net') ~ '_total')|trans }}</th>
            <td class="total text-right">{{ line.base(subject.ati)|localizedcurrency(currency) }}</td>
        </tr>
    {%- endfor %}
    </tbody>
    {%- endif %}


    {# TOTALS #}
    <tbody class="totals">
        <tr>
            <td colspan="{{ columns_count - 2 }}" rowspan="{{ subject.ati ? 2 : 3 }}">&nbsp;</td>
            {% if subject.ati -%}
            <th>{{ 'ekyna_commerce.sale.field.ati_total'|trans }}</th>
            <td class="total final text-right">{{ subject.grandTotal|localizedcurrency(currency) }}</td>
            {%- else -%}
            <th>{{ 'ekyna_commerce.sale.field.net_total'|trans }}</th>
            <td class="total text-right">{{ (subject.goodsBase - subject.discountBase + subject.shipmentBase)|localizedcurrency(currency) }}</td>
            {%- endif %}
        </tr>
        <tr>
            <th>{{ 'ekyna_commerce.sale.field.tax_total'|trans }}</th>
            <td class="total text-right">{{ subject.taxesTotal|localizedcurrency(currency) }}</td>
        </tr>
        {% if not subject.ati -%}
        <tr>
            <th>{{ 'ekyna_commerce.sale.field.ati_total'|trans }}</th>
            <td class="total final text-right">{{ subject.grandTotal|localizedcurrency(currency) }}</td>
        </tr>
        {%- endif %}
    </tbody>
</table>

{# Taxes details #}
{% if subject.taxesDetails is not empty -%}
<table class="table taxes">
    <thead>
        <tr>
            <th>{{ 'ekyna_commerce.tax.label.singular'|trans }}</th>
            <th>{{ 'ekyna_commerce.sale.field.tax_total'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for details in subject.taxesDetails -%}
        <tr>
            <th>{{ details.name }}</th>
            <td class="text-right">{{ details.amount|localizedcurrency(currency) }}</td>
        </tr>
        {%- endfor %}
    </tbody>
</table>
{%- endif %}
{%- endblock doc_lines %}
