{% extends '@EkynaCommerce/Document/document.html.twig' %}


{%- import '@EkynaCommerce/Document/macros.html.twig' as macro -%}

{# --- DOC TITLE --- #}
{% block doc_title_content -%}
    <h1>
        {{- ('ekyna_commerce.' ~ subject.type ~ '.label.singular')|trans }}
        {{ subject.number -}}
    </h1>
    <p>
        <span class="text-alt">{{ 'ekyna_core.field.date'|trans }}</span>
        {{ subject.createdAt|localizeddate('long', 'none', locale) }}.
        <span class="text-alt">{{ 'ekyna_commerce.order.label.singular'|trans }}</span>&nbsp;
        <strong>{{ subject.sale.number }}</strong>.
        {% if subject is invoice_invoice -%}
        {{ macro.render_voucher_number(subject.sale) }}
        {{ macro.render_payment_term(subject.sale, subject.currency) }}
        {%- endif %}
    </p>
    {% if subject.comment is not empty -%}
        <p>{{ subject.comment|nl2br }}</p>
    {%- endif %}
{%- endblock doc_title_content %}


{# --- DOC MISC --- #}
{% block doc_misc -%}
    {{ subject|invoice_notices }}
{%- endblock doc_misc %}