{% extends "EkynaCommerceBundle:Document:document.html.twig" %}


{%- import "EkynaCommerceBundle:Document:macros.html.twig" as macro -%}

{# --- DOC TITLE --- #}
{% block doc_title -%}
    <h1>
        {{- ('ekyna_commerce.' ~ subject.type ~ '.label.singular')|trans }}
        {{ subject.number -}}
    </h1>
    <p>
        Le {{ subject.createdAt|localizeddate('long', 'none') }}, commande <strong>{{ subject.sale.number }}</strong>.
        {% if subject is invoice_invoice -%}
        {{ macro.render_voucher_number(subject.sale) }}
        {{ macro.render_payment_term(subject.sale, subject.currency) }}
        {%- endif %}
    </p>
    {% if subject.comment is not empty -%}
        <p>{{ subject.comment|nl2br }}</p>
    {%- endif %}
    {# TODO trans #}
{%- endblock doc_title %}
