{% spaceless %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ absolute_url(asset('bundles/ekynacommerce/css/document.css')) }}" rel="stylesheet" type="text/css" />
    <link href="{{ absolute_url(asset('bundles/ekynacommerce/css/sale-view.css')) }}" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="sale-document">

{# TODO translations #}

{% set currency = sale.currency %}

{# --- HEADER --- #}
{% block header %}
<table class="bloc header">
    <tr>
        <td class="logo">
            {# TODO <a href="{{ url('app_page_home') }}">
                <img alt="{{ get_setting('general.site_name') }}"
                     src="{{ asset(order_document_logo, null, true) }}" />
            </a>#}
        </td>
        <td class="address">
            {% set companyAddress = get_setting('general.site_address') %}
            {{ companyAddress.street }}<br>
            {% if companyAddress.supplement|length > 0 %}{{ companyAddress.supplement }}<br>{% endif %}
            {{ companyAddress.postalCode ~ ' ' ~ companyAddress.city }}<br>
            {% if companyAddress.phone|length > 0 %}Tél. {{ companyAddress.phone }}<br>{% endif %}
            {% if companyAddress.mobile|length > 0 %}Port. {{ companyAddress.mobile }}<br>{% endif %}
            Mail : {{ get_setting('general.admin_email') }}<br>
            Web: {{ app.request.schemeAndHttpHost }}
        </td>
        <td class="customer">
            {#<strong>{{ render_identity(order) }}</strong><br>#}
            <em>{{ sale.email }}</em><br><br>
            Le {{ sale.createdAt|date('d/m/Y') }}
        </td>
    </tr>
</table>
{% endblock header %}

{# --- TITLE --- #}
{% block title %}
<div class="bloc title">
    <h1>Facture n°{{ sale.number }}</h1>
</div>
{% endblock title %}

{# --- ADDRESSES --- #}
{% block addresses %}
<table class="bloc table addresses">
    <thead>
        <tr>
            <th>{{ 'ekyna_commerce.sale.field.invoice_address'|trans }}</th>
            <th class="blank">&nbsp;</th>
            {% if sale.requiresShipment %}
            <th>{{ 'ekyna_commerce.sale.field.delivery_address'|trans }}</th>
            {% else %}
            <th class="blank">&nbsp;</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="address">
                {{ sale|identity }}
            </td>
            <td>&nbsp;</td>
            <td class="address">
                {% if sale.requiresShipment %}
                    {% if sale.sameAddress %}
                        {{ sale.invoiceAddress|commerce_address }}
                    {% else %}
                        {{ sale.deliveryAddress|commerce_address }}
                    {% endif %}
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>
{% endblock addresses %}

{# --- ITEMS --- #}
{{ render_sale_view(view, 'EkynaCommerceBundle:Common:sale_view.html.twig') }}

{# --- MISC --- #}
{% block misc %}
{#
<table class="order-doc-bloc order-doc-inf">
    <tbody>
        <tr>
            <td>{{ sale.paiementMethod.title }}</td>
        </tr>
    </tbody>
</table>
<hr />
<table class="order-doc-bloc order-doc-inf">
    <tbody>
        <tr>
            <td>{{ sale.comment|raw }}</td>
        </tr>
    </tbody>
</table>
#}
{% endblock misc %}

{# --- FOOTER --- #}
{% block footer %}
<div class="bloc footer">
    {# TODO {{ get_setting('sale.document_footer')|raw }} #}
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in aliquam dolor, at faucibus libero. Morbi
        id interdum leo. Etiam facilisis gravida purus ac eleifend. Aenean laoreet risus id urna venenatis fringilla.
        Donec condimentum cursus ornare.
    </p>
</div>
{% endblock footer %}

</div>
</body>
</html>
{% endspaceless %}
