{% extends "EkynaCommerceBundle:Document:document.html.twig" %}

{# --- HEAD TITLE --- #}
{%- block head_title -%}
    {{- ('ekyna_commerce.' ~ document.type ~ '.label.singular')|trans }}
    {{ document.number -}}
{%- endblock head_title -%}


{# --- DOC TITLE --- #}
{% block doc_title -%}
    <h1>
        {{- ('ekyna_commerce.' ~ document.type ~ '.label.singular')|trans }}
        {{ document.number -}}
    </h1>
    <p>Le {{ document.createdAt|localizeddate('long', 'none') }}.</p>
{%- endblock doc_title %}
