{% extends '@EkynaCommerce/Document/document.html.twig' %}


{% import '@EkynaCommerce/Document/macros.html.twig' as macro -%}


{% block title %}
<h1>
    {{ (subject.type ~ '.label.singular')|trans({}, 'EkynaCommerce') }}
    {{ subject.number }}
</h1>
{% endblock title %}


{% block mentions %}
<div class="bloc">
    <p>
        <span class="text-alt">{{ 'field.date'|trans({}, 'EkynaUi') }}</span>
        {{- '&nbsp;' -}}
        <strong>{{ subject.createdAt|format_datetime('long', 'none', locale=subject.locale) }}</strong>.
        <span class="text-alt">{{ 'order.label.singular'|trans({}, 'EkynaCommerce') }}</span>
        {{- '&nbsp;' -}}
        <strong>{{ subject.sale.number }}</strong>.
        {{ macro.render_voucher_number(subject) }}
        {{ macro.render_customer_vat_number(subject) }}
        {{ macro.render_exchange_rate(subject) }}
        {{ macro.render_shipment_method(subject) }}
        {% if not subject.credit -%}
            {{ macro.render_payment_term(subject) }}
        {%- endif %}
    </p>
    {{ get_setting('commerce.invoice_mention', subject.locale)|raw }}
    {% if subject.comment is not empty -%}
        <p>{{ subject.comment|nl2br }}</p>
    {%- endif %}
</div>
{% endblock mentions %}


{% block addresses %}
<div class="bloc addresses">
    <div>
        <h2>{{ 'customer.label.singular'|trans({}, 'EkynaCommerce') }}</h2>
        <p>{{ subject.customer|customer }}</p>
    </div>
    <div>
        <h2>{{ 'sale.field.invoice_address'|trans({}, 'EkynaCommerce') }}</h2>
        <p>
            {%- if subject.customInvoiceAddress -%}
                {{- subject.customInvoiceAddress|address -}}
            {%- else -%}
                {{- subject.invoiceAddress|address -}}
            {%- endif -%}
        </p>
    </div>
    <div>
        <h2>{{ 'sale.field.delivery_address'|trans({}, 'EkynaCommerce') }}</h2>
        <p>
            {%- if subject.customDeliveryAddress -%}
                {{- subject.customDeliveryAddress|address -}}
            {%- elseif subject.relayPoint is not empty -%}
                {{ subject.relayPoint|address }}
            {%- elseif subject.deliveryAddress is not empty -%}
                {{ subject.deliveryAddress|address }}
            {%- else -%}
                {{ subject.invoiceAddress|address }}
            {%- endif -%}
        </p>
    </div>
</div>
{% endblock addresses %}


{% block misc %}
{{- macro.render_invoice_payments(subject) -}}
{{ parent() }}
{% endblock misc %}
