{% extends '@EkynaCommerce/Document/document.html.twig' %}


{%- import '@EkynaCommerce/Document/macros.html.twig' as macro -%}


{# --- DOC TITLE --- #}
{% block doc_title_content -%}
    <h1>
        {{- (subject.type ~ '.label.singular')|trans({}, 'EkynaCommerce') }}
        {{ subject.number -}}
    </h1>
    <p>
        <span class="text-alt">{{ 'field.date'|trans({}, 'EkynaUi') }}</span>
        {{- '&nbsp;' -}}
        <strong>{{ subject.createdAt|format_datetime('long', 'none', locale) }}</strong>.
        <span class="text-alt">{{ 'order.label.singular'|trans({}, 'EkynaCommerce') }}</span>
        {{- '&nbsp;' -}}
        <strong>{{ subject.sale.number }}</strong>.
        {{ macro.render_voucher_number(subject) }}
        {{ macro.render_customer_vat_number(subject) }}
        {{ macro.render_exchange_rate(subject) }}
        {{ macro.render_shipment_method(subject) }}
        {% if not subject.credit -%}
            {{ macro.render_payment_term(subject) }}
        {%- endif %}
    </p>
    {% if subject.comment is not empty -%}
    <p>{{ subject.comment|nl2br }}</p>
    {%- endif %}
{%- endblock doc_title_content %}


{# --- DOC MISC --- #}
{% block doc_misc -%}
    {{- macro.render_invoice_payments(subject) -}}
    {{ parent() }}
{%- endblock doc_misc %}
