{% extends '@EkynaCommerce/Document/document.html.twig' %}


{%- import '@EkynaCommerce/Document/macros.html.twig' as macro -%}


{# --- DOC TITLE --- #}
{% block doc_title_content -%}
    <h1>
        {{- ('ekyna_commerce.' ~ subject.type ~ '.label.singular')|trans }}
        {{ subject.number -}}
    </h1>
    <p>
        <span class="text-alt">{{ 'ekyna_core.field.date'|trans }}</span>
        {{- '&nbsp;' -}}
        <strong>{{ subject.createdAt|localizeddate('long', 'none', locale) }}</strong>.
        <span class="text-alt">{{ 'ekyna_commerce.order.label.singular'|trans }}</span>
        {{- '&nbsp;' -}}
        <strong>{{ subject.sale.number }}</strong>.
        {{ macro.render_voucher_number(subject) }}
        {% if subject is invoice_invoice -%}
        {{ macro.render_payment_term(subject) }}
        {%- endif %}
        {{ macro.render_exchange_rate(subject) }}
        {{ macro.render_shipment_method(subject) }}
    </p>
    {% if subject.comment is not empty -%}
        <p>{{ subject.comment|nl2br }}</p>
    {%- endif %}
{%- endblock doc_title_content %}


{# --- DOC MISC --- #}
{% block doc_misc -%}
    {% for notice in subject|invoice_notices %}
        {{ notice|raw }}
    {% endfor %}
{%- endblock doc_misc %}
