{% macro render_company() %}
{% spaceless %}
    <p>
    <strong>{{ get_setting('general.site_name') }}</strong><br>
    {% set companyAddress = get_setting('general.site_address') %}
    {{ companyAddress.street }}<br>
    {% if companyAddress.supplement is not empty %}{{ companyAddress.supplement }}<br>{% endif %}
    {{ companyAddress.postalCode ~ ' ' ~ companyAddress.city }}<br>

    {% if companyAddress.phone is not empty %}Tél. {{ companyAddress.phone }}<br>{% endif %}
    {% if companyAddress.mobile is not empty %}Port. {{ companyAddress.mobile }}<br>{% endif %}

    {{ get_setting('general.admin_email') }}<br>
    {{ absolute_url('/') }}
    </p>
{% endspaceless %}
{% endmacro %}


{% macro render_customer(customer) %}
{% spaceless %}
    <p>
        {% if customer['number'] is not empty %}
            {{ customer['number'] }}<br>
        {% endif %}

        {% if customer['company'] is not empty %}
            <strong>{{ customer['company'] }}</strong><br>
            {{ customer['full_name'] }}<br>
        {% else %}
            <strong>{{ customer['full_name'] }}</strong><br>
        {% endif %}

        <em>{{ customer['email'] }}</em>

        {% if customer['phone'] is not empty %}
            <br>Téléphone : {{ customer['phone'] }}
        {% endif %}

        {% if customer['mobile'] is not empty %}
            <br>Mobile : {{ customer['mobile'] }}
        {% endif %}
    </p>
{% endspaceless %}
{% endmacro %}


{% macro render_address(address) %}
{% spaceless %}
    <p>
        {% if address['company'] is not empty %}
            <strong>{{ address['company'] }}</strong><br>
            {% if address['full_name'] is not empty %}
                {{ address['full_name'] }}<br>
            {% endif %}
        {% elseif address['full_name'] is not empty %}
            <strong>{{ address['full_name'] }}</strong><br>
        {% endif %}

        {{ address['street'] }}<br>
        {% if address['complement'] is not empty %}
            {{ address['complement'] }}<br>
        {% endif %}
        {% if address['supplement'] is not empty %}
            {{ address['supplement'] }}<br>
        {% endif %}

        {{ address['postal_code'] }} {{ address['city'] }}, {{ address['country'] }}

        {% if address['phone'] is not empty %}
            <br><abbr title="{{ 'ekyna_core.field.phone'|trans }}">T:</abbr> {{ address['phone'] }}
        {% endif %}

        {% if address['mobile'] is not empty %}
            <br><abbr title="{{ 'ekyna_core.field.mobile'|trans }}">M:</abbr> {{ address['mobile'] }}
        {% endif %}
    </p>
{% endspaceless %}
{% endmacro %}


{% macro render_voucher_number(sale) %}
{% spaceless %}
    {% if sale.voucherNumber is not empty -%}
        {{ 'ekyna_commerce.sale.field.voucher_number'|trans }}: <strong>{{ sale.voucherNumber }}</strong>.
    {%- endif %}
{% endspaceless %}
{% endmacro %}


{% macro render_payment_term(sale) %}
{% spaceless %}
    {% if sale.paymentTerm is not null -%}
        {{ 'ekyna_commerce.payment_term.label.singular'|trans }}: <strong>{{ sale.paymentTerm }}</strong>.
        {% if sale.outstandingDate is not null %}
            {{ 'ekyna_commerce.sale.field.outstanding_date'|trans }}: <strong>{{ sale.outstandingDate|localizeddate('long', 'none') }}</strong>.
        {% endif %}
    {%- endif %}
{% endspaceless %}
{% endmacro %}