{%- macro render_company(locale) -%}
<p>
    <strong>{{ get_setting('general.site_name') }}</strong><br>
    {% set companyAddress = get_setting('general.site_address') -%}
    {{ companyAddress.street }}<br>
    {%- if companyAddress.supplement is not empty %}{{ companyAddress.supplement }}<br>{% endif -%}
    {{ companyAddress.postalCode ~ ' ' ~ companyAddress.city }}, {{ companyAddress.country|country(locale) }}<br>

    {%- if companyAddress.phone is not empty -%}
        <abbr title="{{ 'field.phone'|trans({}, 'EkynaUi') }}">T:</abbr> {{ companyAddress.phone }}<br>
    {%- endif -%}
    {%- if companyAddress.mobile is not empty -%}
        <abbr title="{{ 'field.mobile'|trans({}, 'EkynaUi') }}">M:</abbr> {{ companyAddress.mobile -}}<br>
    {%- endif -%}

    {{- get_setting('general.admin_email') }}<br>
    {{- absolute_url('/') -}}
</p>
{%- endmacro -%}


{%- macro render_voucher_number(subject) -%}
    {%- if subject.sale.voucherNumber is not empty -%}
        <span class="text-alt">{{ 'sale.field.voucher_number'|trans({}, 'EkynaCommerce')|replace({' ': '&nbsp;'})|raw }}</span>
        {{- '&nbsp;' -}}
        <strong>{{ subject.sale.voucherNumber }}</strong>.
    {%- endif -%}
{%- endmacro -%}


{%- macro render_shipment_method(subject) -%}
    {% if subject is shipment -%}
        <span class="text-alt">{{ 'shipment_method.label.singular'|trans({}, 'EkynaCommerce')|raw }}</span>
        {{- '&nbsp;' -}}
        <strong>
            {{- subject.method.translate(subject.sale.locale).title -}}
            &nbsp;({{ subject|shipment_weight|format_number }}&nbsp;kg)
        </strong>.
    {%- elseif subject.sale.shipmentLabel or subject.sale.shipmentMethod -%}
        <span class="text-alt">{{ 'shipment_method.label.singular'|trans({}, 'EkynaCommerce')|raw }}</span>
        {{- '&nbsp;' -}}
        <strong>
        {%- if subject.sale.shipmentLabel -%}
            {{- subject.sale.shipmentLabel -}}
        {%- else -%}
            {{- subject.sale.shipmentMethod.translate(subject.locale).title -}}
        {%- endif -%}
        {%- if 0 < subject.sale.shipmentWeight -%}
            &nbsp;({{ subject.sale.shipmentWeight|format_number }}&nbsp;kg)
        {%- elseif 0 < subject.sale.weightTotal -%}
            &nbsp;({{ subject.sale.weightTotal|format_number }}&nbsp;kg)
        {%- endif -%}
        </strong>.
    {%- endif -%}
{%- endmacro -%}


{%- macro render_payment_term(subject) -%}
    <span class="text-alt">{{ 'payment_term.label.singular'|trans({}, 'EkynaCommerce')|replace({' ': '&nbsp;'})|raw }}</span>
    {{- '&nbsp;' -}}
    {%- if 0 < subject.sale.depositTotal -%}
        <strong>
            {{- 'document.mention.deposit'|trans({
                '%percent%': (subject.sale.depositTotal / subject.sale.grandTotal)|format_number(style='percent'),
                '%amount%': subject.sale.depositTotal|currency_quote
            }, 'EkynaCommerce')|replace({' ': '&nbsp;'})|raw -}}
        </strong>.
    {%- endif %}
    {% if subject.sale.paymentTerm is not null -%}
        <strong>{{ subject.sale.paymentTerm.translate(subject.locale).title }}</strong>.
        {% if subject.credit is defined and not subject.credit and subject.dueDate is not null -%}
            <span class="text-alt">{{ 'document.mention.due_date'|trans({}, 'EkynaCommerce')|replace({' ': '&nbsp;'})|raw }}</span>
            {{- '&nbsp;' -}}
            <strong>{{ subject.dueDate|format_datetime('long', 'none', locale=subject.locale) }}</strong>.
        {%- elseif subject.sale.outstandingDate is not null -%}
            <span class="text-alt">{{ 'document.mention.due_date'|trans({}, 'EkynaCommerce')|replace({' ': '&nbsp;'})|raw }}</span>
            {{- '&nbsp;' -}}
            <strong>{{ subject.sale.outstandingDate|format_datetime('long', 'none', locale=subject.locale) }}</strong>.
        {%- endif %}
    {%- elseif 0 < subject.sale.depositTotal -%}
        <strong>{{ 'document.mention.deposit_remaining'|trans({}, 'EkynaCommerce') }}</strong>.
    {%- else -%}
        <strong>{{ 'document.mention.payment_with_order'|trans({}, 'EkynaCommerce') }}</strong>.
    {%- endif %}
    {#<br>{{ 'document.mention.no_anticipated_payment_discount'|trans({}, 'EkynaCommerce') }}#}
{%- endmacro -%}


{%- macro render_exchange_rate(subject) -%}
    {%- if subject.currency != commerce_default_currency -%}
        <span class="text-alt">{{ 'field.exchange_rate'|trans({}, 'EkynaCommerce')|replace({' ': '&nbsp;'})|raw }}</span>
        {{- '&nbsp;' -}}
        <strong>{{ subject.sale|currency_rate }}</strong>.
    {%- endif -%}
{%- endmacro -%}


{%- macro render_origin_customer(subject) -%}
    {%- if subject.sale.originCustomer is defined and subject.sale.originCustomer is not null -%}
        <span class="text-alt">{{ 'sale.field.origin_customer'|trans({}, 'EkynaCommerce')|raw }}</span>
        {{- '&nbsp;' -}}
        <strong>{{ subject.sale.originCustomer|identity }}</strong>.
    {%- endif -%}
{%- endmacro -%}


{%- macro render_customer_vat_number(subject) -%}
    {%- if subject.sale.customer and subject.sale.customer.vatNumber -%}
        <span class="text-alt">{{ 'pricing.field.vat_number'|trans({}, 'EkynaCommerce') }}</span>
        {{- '&nbsp;' -}}
        <strong>{{ subject.sale.customer.vatNumber }}</strong>.
    {%- endif -%}
{%- endmacro -%}


{%- macro render_expires_at(subject) -%}
    {% if subject.type == constant('Ekyna\\Component\\Commerce\\Document\\Model\\DocumentTypes::TYPE_QUOTE') %}
        {% if subject.sale is sale_quote %}
            {% set date = subject.sale.expiresAt %}
        {% else %}
            {% set date = date('+2 months') %}{# TODO Use ekyna_commerce.default.expiration.quote parameter #}
        {% endif %}
        <span class="text-alt">{{ 'field.valid_until'|trans({}, 'EkynaUi') }}</span>
        {{- '&nbsp;' -}}
        <strong>{{ date|format_datetime('long', 'none', locale=subject.locale) }}</strong>.
    {%- endif -%}
{%- endmacro -%}


{%- macro render_invoice_payments(subject) -%}
{%- apply spaceless -%}
    {% set payments = subject|invoice_payments(false) -%}
    {%- if payments is not empty -%}
    <div class="bloc avoid-break">
    <h2>
        {%- if subject.credit -%}
            {{- 'refund.label.plural'|trans({}, 'EkynaCommerce') -}}
        {%- else -%}
            {{- 'payment.label.plural'|trans({}, 'EkynaCommerce') -}}
        {%- endif -%}
    </h2>
    <table class="table">
        <thead>
        <tr>
            <th>{{ 'field.number'|trans({}, 'EkynaUi') }}</th>
            <th>{{ 'field.method'|trans({}, 'EkynaUi') }}</th>
            <th>{{ 'field.completed_at'|trans({}, 'EkynaUi') }}</th>
            <th>{{ 'field.amount'|trans({}, 'EkynaUi') }}</th>
        </tr>
        </thead>
        <tbody class="stripped">
        {% for payment in payments %}{% if payment.payment is not null -%}
        <tr>
            <td>{{ payment.payment.getNumber() }}</td>
            <td>{{ payment.payment.getMethod().title }}</td>
            <td>{{ payment.payment.getCompletedAt()|format_datetime('short', 'short', locale=subject.locale) }}</td>
            <td class="text-right">
                {{- payment.amount|format_currency(payment.payment.getCurrency().code) -}}
            </td>
        </tr>
        {%- endif %}{%- endfor %}
        </tbody>
        <tbody class="totals">
        <tr>
            <th colspan="3" class="text-right">{{ 'field.total'|trans({}, 'EkynaUi') }}</th>
            <td class="total final text-right">{{ subject|invoice_paid_total|format_currency(subject.currency) }}</td>
        </tr>
        </tbody>
    </table>
    </div>
    {% endif %}
{%- endapply -%}
{%- endmacro -%}
