{% macro render_company(locale) %}
{% spaceless %}
    <p>
    <strong>{{ get_setting('general.site_name') }}</strong><br>
    {% set companyAddress = get_setting('general.site_address') %}
    {{ companyAddress.street }}<br>
    {% if companyAddress.supplement is not empty %}{{ companyAddress.supplement }}<br>{% endif %}
    {{ companyAddress.postalCode ~ ' ' ~ companyAddress.city }}, {{ companyAddress.country|country(locale) }}<br>

    {% if companyAddress.phone is not empty -%}
        <span class="text-alt">{{ 'ekyna_core.field.phone'|trans }}</span>
        {{ companyAddress.phone }}<br>
    {%- endif %}
    {% if companyAddress.mobile is not empty -%}
        <span class="text-alt">{{ 'ekyna_core.field.mobile'|trans }}</span>
        {{ companyAddress.mobile }}<br>
    {% endif %}

    {{ get_setting('general.admin_email') }}<br>
    {{ absolute_url('/') }}
    </p>
{% endspaceless %}
{% endmacro %}


{% macro render_customer(customer) %}
{% spaceless %}
    <p>
        {% if customer['number'] is not empty %}
            {{ customer['number'] }}<br>
        {% endif %}

        {% if customer['company'] is not empty %}
            <strong>{{ customer['company'] }}</strong><br>
            {{ customer['full_name'] }}<br>
        {% else %}
            <strong>{{ customer['full_name'] }}</strong><br>
        {% endif %}

        <em>{{ customer['email'] }}</em>

        {% if customer['phone'] is not empty %}
            <br><span class="text-alt">{{ 'ekyna_core.field.phone'|trans }}</span> {{ customer['phone'] }}
        {% endif %}

        {% if customer['mobile'] is not empty %}
            <br><span class="text-alt">{{ 'ekyna_core.field.mobile'|trans }}</span> {{ customer['mobile'] }}
        {% endif %}
    </p>
{% endspaceless %}
{% endmacro %}


{% macro render_address(address) %}
{% spaceless %}
    <p>
        {% if address['number'] is defined and address['number'] is not empty %}
            <em>({{ 'ekyna_commerce.relay_point.label.singular'|trans }})</em><br>
        {% endif %}

        {% if address['company'] is not empty %}
            <strong>{{ address['company'] }}</strong><br>
            {% if address['full_name'] is not empty %}
                {{ address['full_name'] }}<br>
            {% endif %}
        {% elseif address['full_name'] is not empty %}
            <strong>{{ address['full_name'] }}</strong><br>
        {% endif %}

        {{ address['street'] }}<br>
        {% if address['complement'] is not empty %}
            {{ address['complement'] }}<br>
        {% endif %}
        {% if address['supplement'] is not empty %}
            {{ address['supplement'] }}<br>
        {% endif %}

        {{ address['postal_code'] }} {{ address['city'] }}, {{ address['country'] }}

        {% if address['phone'] is not empty %}
            <br><abbr title="{{ 'ekyna_core.field.phone'|trans }}">T:</abbr> {{ address['phone'] }}
        {% endif %}

        {% if address['mobile'] is not empty %}
            <br><abbr title="{{ 'ekyna_core.field.mobile'|trans }}">M:</abbr> {{ address['mobile'] }}
        {% endif %}
    </p>
{% endspaceless %}
{% endmacro %}


{% macro render_voucher_number(sale) %}
{% spaceless %}
    {% if sale.voucherNumber is not empty -%}
        <span class="text-alt">{{ 'ekyna_commerce.sale.field.voucher_number'|trans }}</span>
        <strong>{{ sale.voucherNumber }}</strong>.
    {%- endif %}
{% endspaceless %}
{% endmacro %}


{% macro render_payment_term(sale, currency) %}
{% spaceless %}
    {% if sale.paymentTerm is not null -%}
        <span class="text-alt">{{ 'ekyna_commerce.payment_term.label.singular'|trans }}</span>
        <strong>{{ sale.paymentTerm }}</strong>.
        {% if sale.outstandingDate is not null %}
            <span class="text-alt">{{ 'ekyna_commerce.sale.field.outstanding_date'|trans }}</span>
            <strong>{{ sale.outstandingDate|localizeddate('long', 'none', locale) }}</strong>.
        {% endif %}
    {%- endif %}
    {% if 0 < sale.depositTotal -%}
        {{ 'ekyna_commerce.document.mention.deposit'|trans({
            '%percent%': (sale.depositTotal / sale.grandTotal)|localizednumber('percent'),
            '%amount%': sale.depositTotal|localizedcurrency(currency ? currency : sale.currency.code, sale.locale)
        })|raw }}.
    {%- endif %}
{% endspaceless %}
{% endmacro %}