{% extends '@EkynaCommerce/Document/base.html.twig' %}


{% import '@EkynaCommerce/Document/macros.html.twig' as macro -%}


{% block title %}
<h1>
    {% if subject.return -%}
        {{- 'document.type.return_bill'|trans({}, 'EkynaCommerce') }}
    {%- else -%}
        {{- 'document.type.shipment_bill'|trans({}, 'EkynaCommerce') }}
    {%- endif %}
    {{ subject.number -}}
</h1>
{% endblock title %}


{% block mentions %}
<div class="bloc">
    <p>
        <span class="text-alt">{{ 'field.date'|trans({}, 'EkynaUi') }}</span>
        {{ subject.createdAt|format_datetime('long', 'none', locale=subject.locale) }}.
        <span class="text-alt">{{ 'order.label.singular'|trans({}, 'EkynaCommerce') }}</span>&nbsp;
        <strong>{{ subject.sale.number }}</strong>.
        {% if subject.sale.customer is not null -%}
            <span class="text-alt">{{ 'customer.label.singular'|trans({}, 'EkynaCommerce') }}</span>&nbsp;
            <strong>{{ subject.sale.customer.number }}</strong>.
        {%- endif %}
        {% if subject.sale.voucherNumber is not empty -%}
            <span class="text-alt">{{ 'sale.field.voucher_number'|trans({}, 'EkynaCommerce') }}</span>&nbsp;
            <strong>{{ subject.sale.voucherNumber }}</strong>.
        {%- endif %}
        {{ macro.render_shipment_method(subject) }}
    </p>
    {% if subject.sale.documentComment is not empty -%}
        <p>{{ subject.sale.documentComment|nl2br }}</p>
    {%- endif %}
</div>
{% endblock mentions %}


{% block addresses %}
<div class="bloc addresses">
    <div>
        <h2>{{ 'shipment.field.sender_address'|trans({}, 'EkynaCommerce') }}</h2>
        <p>{{ subject|shipment_sender_address|address }}</p>
    </div>
    <div>
        <h2>{{ 'shipment.field.receiver_address'|trans({}, 'EkynaCommerce') }}</h2>
        <p>{{ subject|shipment_receiver_address|address }}</p>
    </div>
</div>
{% endblock addresses %}


{% block lines %}
<table class="bloc table details">
    {% block lines_header %}
        <thead>
        <tr>
            <th>{{ 'field.designation'|trans({}, 'EkynaUi') }}</th>
            <th>{{ 'field.reference'|trans({}, 'EkynaUi') }}</th>
            <th class="text-right">{{ 'field.quantity'|trans({}, 'EkynaUi') }}</th>
        </tr>
        </thead>
    {% endblock lines_header %}

    {% set groups = subject|shipment_lines(type) %}
    {% for group in groups %}
        <tbody class="group">
        {% for row in group %}
            <tr{% if row.virtual %} class="virtual"{% endif %}{% if row.private %} style="color:#666"{% endif %}>
                <td class="designation" style="padding-left:{{ 8 + (16 * row.level) }}px">
                    {%- if design.addLinks and row.url is not empty -%}
                        <a href="{{ row.url }}" title="{{ row.designation }}">{{ row.designation }}</a>
                    {%- else -%}
                        <span title="{{ row.designation }}">{{ row.designation -}}</span>
                    {%- endif -%}
                </td>
                <td>{{ row.reference }}</td>
                <td class="text-right">
                    {%- if not row.virtual -%}
                        {{ row.quantity|format_number }}{# TODO Packaging format #}
                    {%- else -%}
                        &nbsp;
                    {%- endif -%}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    {% endfor %}
</table>

{% if type == constant('Ekyna\\Component\\Commerce\\Document\\Model\\DocumentTypes::TYPE_SHIPMENT_BILL') and not subject.return %}
    {% set remaining = subject|shipment_remaining_lines %}
    {% if remaining is not empty %}
        <div class="bloc">
            <p>
                {%- if remaining.eda is not null -%}
                    {{ 'document.mention.remaining_with_date'|trans({
                        '%date%': remaining.eda|format_datetime('long', 'none', locale=subject.locale)
                    }, 'EkynaCommerce') }}
                {%- else -%}
                    {{ 'document.mention.remaining_unknown'|trans({}, 'EkynaCommerce') }}
                {%- endif -%}
            </p>
            <table class="table details">
                {{ block('lines_header') }}
                {% for group in remaining.groups -%}
                    <tbody class="group">
                    {% for row in group -%}
                        <tr{% if row.virtual %} class="virtual"{% endif %}{% if row.private %} style="color:#666"{% endif %}>
                            <td class="designation" style="padding-left:{{ 8 + (16 * row.level) }}px">
                                {%- if design.addLinks and row.url is not empty -%}
                                    <a href="{{ row.url }}" title="{{ row.designation }}">{{ row.designation }}</a>
                                {%- else -%}
                                    <span title="{{ row.designation }}">{{ row.designation -}}</span>
                                {%- endif -%}
                            </td>
                            <td>{{ row.reference }}</td>
                            <td class="text-right">
                                {%- if not row.virtual -%}
                                    {{ row.quantity|format_number }}{# TODO Packaging format #}
                                {%- else -%}
                                    &nbsp;
                                {%- endif -%}
                            </td>
                        </tr>
                    {%- endfor %}
                    </tbody>
                {%- endfor %}
            </table>
        </div>
    {% endif %}
{% endif %}
{% endblock lines %}


{% block misc %}
{% set mentions = subject|shipment_mentions %}
{% if mentions is not empty %}
    <div class="bloc avoid-break">
        {% for mention in mentions -%}
            {{ mention|raw }}
        {%- endfor %}
    </div>
{% endif %}
{% endblock misc %}
