{% extends '@EkynaCommerce/Document/base.html.twig' %}


{% import '@EkynaCommerce/Document/macros.html.twig' as macro -%}


{# --- TITLE --- #}
{% block doc_title_content -%}
{% spaceless %}
    <h1>
        {{- ('ekyna_commerce.document.type.' ~ (subject.return ? 'return' : 'shipment') ~ '_' ~ type)|trans }}
        {{ subject.number -}}
    </h1>
    <p>
        Le {{ subject.createdAt|localizeddate('long', 'none') }}, commande <strong>{{ subject.sale.number }}</strong>
        {% if subject.sale.customer is not null -%}
            , client <strong>{{ subject.sale.customer.number }}</strong>
        {%- endif %}.
        {% if subject.sale.voucherNumber is not empty -%}
            {{ 'ekyna_commerce.sale.field.voucher_number'|trans }}: <strong>{{ subject.sale.voucherNumber }}</strong>.
        {%- endif %}
    </p>{# TODO trans #}
    {% endspaceless %}
{%- endblock doc_title_content %}


{# --- ADDRESSES --- #}
{% block doc_addresses -%}
{% spaceless %}
    <table class="bloc table addresses">
        <thead>
        <tr>
            <th>{{ 'ekyna_commerce.shipment.field.sender_address'|trans }}</th>
            <th class="blank">&nbsp;</th>
            <th>{{ 'ekyna_commerce.shipment.field.receiver_address'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="address">
                {{- subject|shipment_sender_address|address -}}
            </td>
            <td>&nbsp;</td>
            <td class="address">
                {{- subject|shipment_receiver_address|address -}}
            </td>
        </tr>
        </tbody>
    </table>
{% endspaceless %}
{%- endblock doc_addresses %}


{# --- LINES --- #}
{% block doc_lines %}
{% spaceless %}
    <table class="bloc table details">
        {% block doc_lines_header %}
        <thead>
        <tr>
            <th>{{ 'ekyna_core.field.designation'|trans }}</th>
            <th>{{ 'ekyna_core.field.reference'|trans }}</th>
            <th class="text-right">{{ 'ekyna_core.field.quantity'|trans }}</th>
        </tr>
        </thead>
        {% endblock doc_lines_header %}

        {% set pages = subject|shipment_pages(type) %}

        <tbody class="stripped">
        {% for page in pages -%}

        {# Page break#}
        {% if loop.index0 > 0 -%}
        </tbody>
    </table>
    {{ block('doc_footer') }}
    {{ '</div><div class="wrapper">' }}
    {{ block('doc_title') }}
    <table class="bloc table details">
        {{ block('doc_lines_header') }}
        <tbody class="stripped">
        {%- endif %}

        {% for row in page -%}
            <tr{% if row.virtual %} class="virtual"{% endif %}{% if row.private %} style="color:#666"{% endif %}>
                <td class="designation" style="padding-left:{{ 8 + (16 * row.level) }}px">
                    {%- if row.url is not empty -%}
                        <a href="{{ row.url }}" title="{{ row.designation }}">{{ row.designation }}</a>
                    {%- else -%}
                        <span title="{{ row.designation }}">{{ row.designation -}}</span>
                    {%- endif -%}
                </td>
                <td>{{ row.reference }}</td>
                <td class="text-right">
                    {%- if not row.virtual -%}
                        {{ row.quantity|localizednumber }}{# TODO Packaging format #}
                    {%- else -%}
                        &nbsp;
                    {%- endif -%}
                </td>
            </tr>
        {%- endfor %}

        {%- endfor %}
        </tbody>
    </table>

{% if type == 'bill' and not subject.return %}
    {% set remaining = subject|shipment_remaining_pages %}
    {% if remaining is not empty %}
    <hr>
    <p>
    {%- if remaining_date and (remaining.eda is not null) -%}
        {{ 'ekyna_commerce.document.mention.remaining_with_date'|trans({
            '%date%': remaining.eda|localizeddate('long', 'none')
        }) }}
    {%- else -%}
        {{ 'ekyna_commerce.document.mention.remaining_unknown'|trans }}
    {%- endif -%}
    </p>
    <table class="bloc table details">
        {{ block('doc_lines_header') }}
        <tbody class="stripped">
        {% for page in remaining.pages -%}

        {# Page break#}
        {% if loop.index0 > 0 -%}
        </tbody>
    </table>
    {{ block('doc_footer') }}
    {{ '</div><div class="wrapper">' }}
    {{ block('doc_title') }}
    <table class="bloc table details">
        {{ block('doc_lines_header') }}
        <tbody class="stripped">
        {%- endif %}

        {% for row in page -%}
        <tr{% if row.virtual %} class="virtual"{% endif %}{% if row.private %} style="color:#666"{% endif %}>
            <td class="designation" style="padding-left:{{ 8 + (16 * row.level) }}px">
                {%- if row.url is not empty -%}
                    <a href="{{ row.url }}" title="{{ row.designation }}">{{ row.designation }}</a>
                {%- else -%}
                    <span title="{{ row.designation }}">{{ row.designation -}}</span>
                {%- endif -%}
            </td>
            <td>{{ row.reference }}</td>
            <td class="text-right">
                {%- if not row.virtual -%}
                    {{ row.quantity|localizednumber }}{# TODO Packaging format #}
                {%- else -%}
                    &nbsp;
                {%- endif -%}
            </td>
        </tr>
        {%- endfor %}

        {%- endfor %}
        </tbody>
    </table>
    {% endif %}
{% endif %}
{% endspaceless %}
{% endblock doc_lines %}
