{% extends "EkynaCommerceBundle:Document:base.html.twig" %}


{% import "EkynaCommerceBundle:Document:macros.html.twig" as macro -%}


{# --- TITLE --- #}
{% block doc_title -%}
{% spaceless %}
    <h1>
        {{- ('ekyna_commerce.document.type.' ~ (subject.return ? 'return' : 'shipment') ~ '_' ~ type)|trans }}
        {{ subject.number -}}
    </h1>
    <p>
        Le {{ subject.createdAt|localizeddate('long', 'none') }},
        commande <strong>{{ subject.sale.number }}</strong>
        {% if subject.sale.customer is not null %}
            , client <strong>{{ subject.sale.customer.number }}</strong>
        {% endif %}.
    </p>{# TODO trans #}
    {% endspaceless %}
{%- endblock doc_title %}


{# --- ADDRESSES --- #}
{% block doc_addresses -%}
{% spaceless %}
    <table class="bloc table addresses">
        <thead>
        <tr>
            <th>{{ 'ekyna_commerce.shipment.field.sender_address'|trans }}</th>
            <th class="blank">&nbsp;</th>
            <th>{{ 'ekyna_commerce.shipment.field.receiver_address'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="address">
                {{- subject|shipment_sender_address|address -}}
            </td>
            <td>&nbsp;</td>
            <td class="address">
                {{- subject|shipment_receiver_address|address -}}
            </td>
        </tr>
        </tbody>
    </table>
{% endspaceless %}
{%- endblock doc_addresses %}


{# --- LINES --- #}
{% block doc_lines %}
{% spaceless %}
    <table class="bloc table details">
        <thead>
        <tr>
            <th>{{ 'ekyna_core.field.designation'|trans }}</th>
            <th>{{ 'ekyna_core.field.reference'|trans }}</th>
            <th class="text-right">{{ 'ekyna_core.field.quantity'|trans }}</th>
        </tr>
        </thead>
        <tbody class="stripped">
        {% for item in subject.items %}
            {% set private = item.saleItem.private %}
            {% if not (type == 'bill' and private) %}
            <tr{% if private %} style="color:#666"{% endif %}>
                <td{% if private %} style="padding-left:20px;"{% endif %}>
                    {%- if private %}&bull;&nbsp;{% endif -%}
                    {{- item.saleItem.designation -}}
                </td>
                <td>{{ item.saleItem.reference }}</td>
                <td class="text-right">{{ item.quantity|localizednumber }}</td>{# TODO Packing format #}
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endspaceless %}
{% endblock doc_lines %}


{# --- FOOTER --- #}
{% block doc_footer %}{% endblock doc_footer %}
