{% extends "EkynaCommerceBundle:Document:base.html.twig" %}

{% import "EkynaCommerceBundle:Document:macros.html.twig" as macro -%}

{% set currency = subject.currency.code %}


{# --- DOC TITLE --- #}
{% block doc_title -%}
    <h1>
        {{- 'ekyna_commerce.supplier_order.label.singular'|trans }}
        {{ subject.number -}}
    </h1>
    {% if subject.orderedAt is not same as(null) -%}
    <p>Le {{ subject.orderedAt|localizeddate('long', 'none') }}.</p>{# TODO trans #}
    {%- else -%}
    <p>Le {{ subject.createdAt|localizeddate('long', 'none') }}.</p>{# TODO trans #}
    {%- endif -%}
{%- endblock doc_title %}


{# --- ADDRESSES --- #}
{%- block doc_customer -%}
    <p>
        {{- get_setting('general.site_name') }}<br>
        {{- subject.supplier.customerCode -}}
    </p>
{%- endblock doc_customer -%}

{%- block doc_invoice_address -%}
    {{ macro.render_company() }}
{%- endblock doc_invoice_address -%}

{%- block doc_delivery_address -%}
    {{ macro.render_company() }}
{%- endblock doc_delivery_address -%}


{# --- LINES --- #}
{% block doc_lines %}
    <table class="bloc table details">
        <thead>
        <tr>
            <th>{{ 'ekyna_core.field.designation'|trans }}</th>
            <th>{{ 'ekyna_core.field.reference'|trans }}</th>
            <th class="text-right">{{ 'ekyna_commerce.sale.field.net_unit'|trans }}</th>
            <th class="text-right">{{ 'ekyna_core.field.quantity'|trans }}</th>
            <th class="text-right">{{ 'ekyna_commerce.sale.field.net_total'|trans }}</th>
        </tr>
        </thead>

        {% set total = 0 %}

        {# GOODS #}
        <tbody class="stripped">
        {% for item in subject.items %}
            {% set line_total = item.netPrice * item.quantity %}
            {% set total = total + line_total %}

            <tr>
                <td>{{ item.designation }}</td>
                <td>{{ item.reference }}</td>
                <td class="text-right">{{ item.netPrice|localizedcurrency(currency) }}</td>
                <td class="text-right">{{ item.quantity|localizednumber }}</td>{# TODO Packing format #}
                <td class="text-right">{{ (item.netPrice * item.quantity)|localizedcurrency(currency) }}</td>
            </tr>
        {% endfor %}
        </tbody>

        {# SHIPMENT #}
        {% if 0 < subject.shippingCost %}
            {% block spacer %}
            <tbody class="spacer">
            <tr>
                <td colspan="7">&nbsp;</td>
            </tr>
            </tbody>
            {% endblock spacer %}
            <tbody>
                <tr>
                    <td colspan="4">
                        {{ 'ekyna_commerce.supplier_order.field.shipping_cost'|trans }}
                        {#{{ subject|supplier_order_weight_total|localizednumber }}&nbsp;kg#}
                    </td>
                    <td class="text-right">{{ subject.shippingCost|localizedcurrency(currency) }}</td>
                </tr>
            </tbody>
        {% endif %}

        {# TOTALS #}
        {{ block('spacer') }}
        <tbody class="totals">
        <tr>
            <td colspan="3" rowspan="3">&nbsp;</td>
            <th class="text-right">{{ 'ekyna_commerce.sale.field.net_total'|trans }}</th>
            <td class="total final text-right">{{ (total + subject.shippingCost)|localizedcurrency(currency) }}</td>
        </tr>
        </tbody>
    </table>
{% endblock doc_lines %}
