{% extends '@EkynaCommerce/Document/base.html.twig' %}

{% import '@EkynaCommerce/Document/macros.html.twig' as macro -%}

{% set currency = subject.currency.code %}


{# --- DOC TITLE --- #}
{% block doc_title_content -%}
    <h1>
        <span class="text-alt">{{ 'ekyna_commerce.supplier_order.label.singular'|trans }}</span>
        {{ subject.number }}
    </h1>
    <p>
        <span class="text-alt">{{ 'ekyna_core.field.date'|trans }}</span>
        {% if subject.orderedAt is not same as(null) -%}
            {{ subject.orderedAt|localizeddate('long', 'none', locale) }}
        {%- else -%}
            {{ subject.createdAt|localizeddate('long', 'none', locale) }}
        {%- endif -%}.
    </p>
{%- endblock doc_title_content %}


{# --- ADDRESSES --- #}
{%- block doc_customer -%}
    <p>
        {{- get_setting('general.site_name') }}<br>
        {{- subject.supplier.customerCode -}}
    </p>
{%- endblock doc_customer -%}

{%- block doc_invoice_address -%}
    {{ macro.render_company(locale) }}
{%- endblock doc_invoice_address -%}

{%- block doc_delivery_address -%}
    {{ macro.render_company(locale) }}
{%- endblock doc_delivery_address -%}


{# --- LINES --- #}
{% block doc_lines %}
    <table class="bloc table details">
        <thead>
        <tr>
            <th>{{ 'ekyna_core.field.designation'|trans }}</th>
            <th>{{ 'ekyna_core.field.reference'|trans }}</th>
            <th class="text-right">{{ 'ekyna_commerce.sale.field.net_unit'|trans }}</th>
            <th class="text-right">{{ 'ekyna_core.field.quantity'|trans }}</th>
            <th class="text-right">{{ 'ekyna_commerce.sale.field.net_total'|trans }}</th>
        </tr>
        </thead>

        {% set total = 0 %}

        {# GOODS #}
        <tbody class="stripped">
        {% for item in subject.items %}
            {% set line_total = item.netPrice * item.quantity %}
            {% set total = total + line_total %}

            <tr>
                <td>{{ item.designation }}</td>
                <td>{{ item.reference }}</td>
                <td class="text-right">{{ item.netPrice|localizedcurrency(currency, locale) }}</td>
                <td class="text-right">{{ item.quantity|localizednumber }}</td>{# TODO Packing format #}
                <td class="text-right">{{ (item.netPrice * item.quantity)|localizedcurrency(currency, locale) }}</td>
            </tr>
        {% endfor %}
        </tbody>

        {# SHIPMENT #}
        {% if 0 < subject.shippingCost %}
            {% block spacer %}
            <tbody class="spacer">
            <tr>
                <td colspan="7">&nbsp;</td>
            </tr>
            </tbody>
            {% endblock spacer %}
            <tbody>
                <tr>
                    <td colspan="4">
                        {{ 'ekyna_commerce.supplier_order.field.shipping_cost'|trans }}
                    </td>
                    <td class="text-right">{{ subject.shippingCost|localizedcurrency(currency, locale) }}</td>
                </tr>
            </tbody>
        {% endif %}

        {# TOTALS #}
        {{ block('spacer') }}
        <tbody class="totals">
        <tr>
            <td colspan="3" rowspan="3">&nbsp;</td>
            <th class="text-right">{{ 'ekyna_commerce.sale.field.net_total'|trans }}</th>
            <td class="total final text-right">{{ (total + subject.shippingCost)|localizedcurrency(currency, locale) }}</td>
        </tr>
        </tbody>
    </table>
{% endblock doc_lines %}
