{% extends "EkynaAdminBundle:Entity/Default:show.html.twig" %}

{% block main %}
    <div class="actions">
        {{ admin_resource_btn(shipmentRule, 'edit') }}
        {{ admin_resource_btn(shipmentRule, 'remove') }}
    </div>
    <div class="show show-with-tabs">
        <ul class="nav nav-tabs" data-tab-key="{{ resource_id }}">
            <li class="active">
                <a href="#shipment-shipment-rule-general" id="toggle-general" data-toggle="tab">
                    {{- 'ekyna_core.field.general'|trans -}}
                </a>
            </li>
        </ul>
        <div class="show-body">
            <div class="tab-content">
                <div class="tab-pane active" id="shipment-shipment-rule-general">
                    {{ show_row(shipmentRule.name, 'text', {
                        'label': 'ekyna_core.field.name',
                        'id': 'shipmentRule_name'
                    }) }}
                    {{ show_row(shipmentRule.methods, 'entity', {
                        'label': 'ekyna_commerce.shipment_method.label.plural',
                        'id': 'shipmentRule_methods'
                    }) }}
                    {{ show_row(shipmentRule.countries, 'entity', {
                        'label': 'ekyna_commerce.country.label.plural',
                        'id': 'shipmentRule_countries'
                    }) }}
                    {{ show_row(shipmentRule.customerGroups, 'entity', {
                        'label': 'ekyna_commerce.customer_group.label.plural',
                        'id': 'shipmentRule_customerGroups'
                    }) }}
                    <div class="row">
                        <div class="col-md-6">
                            {{ show_row(shipmentRule.grossTotal|localizedcurrency(commerce_default_currency), 'text', {
                                'label': 'ekyna_commerce.shipment_rule.field.gross_total',
                                'id': 'shipmentRule_grossTotal',
                                'label_col': 4
                            }) }}
                        </div>
                        <div class="col-md-6">
                            {{ show_row(shipmentRule.vatMode, 'vat_display_mode', {
                                'id': 'shipmentRule_vatMode',
                                'label_col': 4
                            }) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            {{ show_row(shipmentRule.startAt, 'datetime', {
                                'label': 'ekyna_commerce.shipment_rule.field.start_at',
                                'id': 'shipmentRule_startAt',
                                'time': false,
                                'label_col': 4
                            }) }}
                        </div>
                        <div class="col-md-6">
                            {{ show_row(shipmentRule.endAt, 'datetime', {
                                'label': 'ekyna_commerce.shipment_rule.field.end_at',
                                'id': 'shipmentRule_endAt',
                                'time': false,
                                'label_col': 4
                            }) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
