<ul class="nav nav-tabs">
    <li class="active">
        <a href="#general" data-toggle="tab">{{ 'ekyna_core.field.general'|trans }}</a>
    </li>
</ul>
<div class="panel-body form-body">
    {{ bootstrap_set_style('horizontal') }}
    {{ bootstrap_set_col_size('md') }}
    {{ form_errors(form) }}
    <div class="tab-content">
        <div class="tab-pane active" id="general">
            {{ form_row(form.company) }}
            {{ form_row(form.identity) }}
            {{ form_row(form.street) }}
            {{ form_row(form.complement) }}
            {{ form_row(form.supplement) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.postalCode, {'label_col': 4, 'widget_col': 8}) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.city, {'label_col': 4, 'widget_col': 8}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.country, {'label_col': 4, 'widget_col': 8}) }}
                </div>
                <div class="col-md-6">
                    {#{{ form_row(form.state, {'label_col': 4, 'widget_col': 8}) }}#}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.phone, {'label_col': 4, 'widget_col': 8}) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.mobile, {'label_col': 4, 'widget_col': 8}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.invoiceDefault, {'label_col': 4, 'widget_col': 8}) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.deliveryDefault, {'label_col': 4, 'widget_col': 8}) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_rest(form) }}
</div>
