{% extends "EkynaAdminBundle:Entity/Default:show.html.twig" %}

{% block actions %}{% endblock %}#}

{% block main %}
<div class="actions">
    {#{% if not page.getDynamicPath %}
        {{ ui_button('ekyna_core.button.show_front', {'type': 'link', 'icon': 'eye-open', 'path': path(page.route)}, {'target': '_blank'}) }}
    {% endif %}#}
    {{ admin_resource_btn(customerAddress, 'edit') }}
    {{ admin_resource_btn(customerAddress, 'remove') }}
</div>
<div class="show show-with-tabs" data-tab-key="{{ resource_id }}">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#address-general" id="toggle-general" data-toggle="tab">
                {{- 'ekyna_core.field.general'|trans -}}
            </a>
        </li>
    </ul>
    <div class="show-body">
        <div class="tab-content">
            <div class="tab-pane active" id="address-general">
                {{ show_row(customerAddress.street, 'text', {
                    'label': 'ekyna_core.field.street'
                }) }}
                {# TODO #}
            </div>
        </div>
    </div>
</div>
{% endblock %}
