{% apply spaceless %}
{{ customer|payment_method_notice }}
<div class="table-responsive">
    <table class="table table-stripped">
        <thead>
        <tr>
            <th>{{ 'field.number'|trans({}, 'EkynaUi') }}</th>
            <th>{{ 'field.type'|trans({}, 'EkynaUi') }}</th>
            <th>{{ 'order.label.singular'|trans({}, 'EkynaCommerce') }}</th>
            <th>{{ 'sale.field.ati_total'|trans({}, 'EkynaCommerce') }}</th>
            <th>{{ 'field.date'|trans({}, 'EkynaUi') }}</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for invoice in invoices %}
            {% set invoicePath = path('ekyna_commerce_account_invoice_read', {'number': invoice.number}) %}
            {% set orderPath = path('ekyna_commerce_account_order_read', {'number': invoice.order.number}) %}
            <tr>
                <td>
                    <a href="{{ invoicePath }}">{{ invoice.number }}</a>
                </td>
                <td>
                    {{ invoice|invoice_type_badge|raw }}
                </td>
                <td>
                    <a href="{{ orderPath }}">{{ invoice.order.number }}</a>
                </td>
                <td class="text-right">
                    {{- invoice.grandTotal|format_currency(invoice.currency) -}}
                </td>
                <td>
                    {{- invoice.createdAt|format_datetime('short', 'none') -}}
                </td>
                <td class="text-right">
                    <a href="{{ invoicePath }}" class="btn btn-xs btn-default">
                        {{- 'button.show'|trans({}, 'EkynaUi') -}}
                    </a>&nbsp;
                    <a href="{{ path('ekyna_commerce_account_invoice_download', {'number': invoice.number}) }}"
                       class="btn btn-xs btn-primary" target="_blank">
                        {{- 'button.download'|trans({}, 'EkynaUi') -}}
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">
                    <em>{{ 'account.invoice.empty_list'|trans({}, 'EkynaCommerce') }}</em>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endapply %}
