{% extends '@EkynaCommerce/Account/layout.html.twig' %}

{% block account %}
    {% apply spaceless %}
        <h3>{{ 'ekyna_commerce.account.invoice.show'|trans({'%number%': invoice.number})|raw }}</h3>
        <p>
            {{ 'ekyna_core.field.created_at'|trans }} <em>{{ invoice.createdAt|localizeddate('short', 'none') }}</em>.
        </p>
        {{ invoice|payment_method_notice }}
        <hr>
        <table class="table table-condensed table-alt table-striped">
            <thead>
            <tr>
                <th>{{ 'ekyna_core.field.designation'|trans }}</th>
                <th>{{ 'ekyna_core.field.reference'|trans }}</th>
                {#<th>{{ 'ekyna_commerce.field.net_price'|trans }}</th>#}
                <th>{{ 'ekyna_core.field.quantity'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for line in invoice.lines %}
                {%- if line.saleItem is null or not line.saleItem.private -%}
                <tr>
                    <td>
                        {%- set url = null -%}
                        {%- if line.saleItem is not null -%}
                            {%- set url = line.saleItem|subject_public_url(false) -%}
                        {%- endif -%}
                        {%- if url is not empty -%}
                            <a href="{{ url }}">{{- line.designation -}}</a>
                        {%- else -%}
                            {{- line.designation -}}
                        {%- endif -%}
                        {%- if line.description is not empty -%}
                            <br><p style="font-size:11px;padding-left:12px;">{{ line.description|nl2br }}</p>
                        {%- endif -%}
                    </td>
                    <td>{{ line.reference }}</td>
                    {#<td id="{{ lineId ~ '_netPrice' }}">{{ line.netUnit|currency_quote(invoice.sale) }}</td>#}
                    <td>{{ line.quantity|localizednumber }}</td>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>

        <p class="text-center">
            <a href="{{ path('ekyna_commerce_account_invoice_download', {'number': invoice.number}) }}"
               class="btn btn-primary" target="_blank">
                {{- 'ekyna_core.button.download'|trans -}}
            </a>
        </p>

        <br><br>
        <h3>{{ 'ekyna_commerce.account.invoice.title'|trans|raw }}</h3>
        <hr>
        {% include '@EkynaCommerce/Account/Invoice/_list.html.twig' with {
            'customer': customer,
            'invoices': invoices
        } only %}

    {% endapply %}
{% endblock %}

{% block stylesheets %}
    {{- parent() -}}
    <link href="{{ absolute_url(asset('bundles/ekynacommerce/css/sale-view.css')) }}" rel="stylesheet" type="text/css"/>
{% endblock %}
