{% macro render_stat_line(stat, class, style) %}
{% apply spaceless %}
<tr
    {%- if class is not empty %} class="{{ class }}"{% endif %}
    {%- if style is not empty %} style="{{ style }}"{% endif %}>
{% if stat is null %}
    <td><em>{{ 'value.none'|trans({}, 'EkynaUi') }}</em></td>
    <td>&dash;</td>
    <td>&dash;</td>
    <td>&dash;</td>
    <td>&dash;</td>
    <td>&dash;</td>
    <td>&dash;</td>
{% else %}
    <td>{{ stat.date }}</td>{# TODO localize #}
    <td>{{ stat.revenue|format_currency(commerce_default_currency) }}</td>
    <td>{{ stat.shipping|format_currency(commerce_default_currency) }}</td>
    <td>{{ stat.margin|format_currency(commerce_default_currency) }}</td>
    <td>{{ stat.marginPercent|format_number }}%</td>
    <td>{{ stat.orders }}</td>
    <td>{{ stat.average|format_currency(commerce_default_currency) }}</td>
{% endif %}
</tr>
{% endapply %}
{% endmacro %}


{% macro render_stat_panel(id, title, current, compare, aggregate) %}
{% apply spaceless %}
{% import _self as macros %}
<div class="commerce-panel" id="{{ id }}">
    <h3>
        {{ title|trans }}
        <span>
            {%- if current is null -%}
                (?)
            {%- else -%}
                {{ current.revenue|format_currency(commerce_default_currency) }}
                {% if compare is not null -%}
                <span class="compare">
                    &nbsp;(
                    {%- if compare.revenue <= 0 -%}
                        &infin;
                    {%- else -%}
                        {%- set evolution = (current.revenue - compare.revenue) * 100 / compare.revenue -%}
                        {{ evolution|round(1)|format_number }}%
                    {%- endif -%}
                    )
                </span>
                {%- endif %}
                {% if aggregate is not null -%}
                <span class="aggregate" style="display:none">
                    &nbsp;(
                    {%- if aggregate.revenue <= 0 -%}
                        &infin;
                    {%- else -%}
                        {%- set evolution = (current.revenue - aggregate.revenue) * 100 / aggregate.revenue -%}
                        {{ evolution|round(1)|format_number }}%
                    {%- endif -%}
                    )
                </span>
                {%- endif %}
            {%- endif -%}
        </span>
    </h3>
    <table>
        <tbody>
        <tr>
            <th>&nbsp;</th>
            <th>{{ 'dashboard.stat.field.revenue'|trans({}, 'EkynaCommerce') }}</th>
            <th>{{ 'accounting.type.shipping'|trans({}, 'EkynaCommerce') }}</th>
            <th colspan="2">{{ 'dashboard.stat.field.margin'|trans({}, 'EkynaCommerce') }}</th>
            <th>{{ 'dashboard.stat.field.order'|trans({}, 'EkynaCommerce') }}</th>
            <th>{{ 'dashboard.stat.field.average'|trans({}, 'EkynaCommerce') }}</th>
        </tr>
        {{ macros.render_stat_line(current) }}
        {{ macros.render_stat_line(compare, 'compare') }}
        {% if aggregate -%}
            {{ macros.render_stat_line(aggregate, 'aggregate', 'display:none') }}
        {%- endif %}
        </tbody>
    </table>
</div>
{% if aggregate -%}
<script type="application/javascript">
    require(['jquery'], function($) {
        var $stats = $('#{{ id }}');
        $stats.on('mouseenter', function() {
            $stats.find('.compare').hide();
            $stats.find('.aggregate').show();
        });
        $stats.on('mouseleave', function() {
            $stats.find('.aggregate').hide();
            $stats.find('.compare').show();
        });
    });
</script>
{%- endif %}
{% endapply %}
{% endmacro %}


{% macro render_stat_chart(id, config) %}
{% apply spaceless %}
<div class="commerce-chart">
    <canvas id="{{ id }}" width="400" height="120"></canvas>
    <script type="application/javascript">
    require(['chart'], function(Chart) {
        new Chart(document.getElementById("{{ id }}"), {{ config|json_encode_data|raw }});
    });
    </script>
</div>
{% endapply %}
{% endmacro %}
