{% spaceless %}
<div class="row">
    <div class="col-md-4">
        <div class="commerce-export">
            <div class="commerce-panel">
                <h3>{{ 'ekyna_commerce.dashboard.export.title'|trans }}</h3>
                {{ form_start(form) }}
                <table style="width:100%">
                    <tr>
                        <td>{{ form_label(form.year) }}</td>
                        <td>{{ form_widget(form.year) }}</td>
                        <td>{{ form_widget(form.month) }}</td>
                        <td>{{ form_widget(form.submit) }}</td>
                    </tr>
                </table>
                {{ form_end(form) }}
                <hr>
                <p>
                    <a href="{{ path('ekyna_commerce_export_admin_due_orders') }}"
                       class="btn btn-sm btn-default">
                        <span class="glyphicon glyphicon-download"></span>
                        {{- 'ekyna_commerce.dashboard.export.due_orders'|trans -}}
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endspaceless %}
