{% import "EkynaCommerceBundle:Admin/Dashboard:_macro.html.twig" as macros %}

{% spaceless %}
<div class="row">
    <div class="col-md-4 commerce-debt-customer">
        <div class="commerce-panel">
            <h3>{{ 'ekyna_commerce.dashboard.debt.title.customer'|trans }}</h3>
            <table>
                <tbody>
                <tr>
                    <th>{{ 'ekyna_commerce.dashboard.debt.field.unpaid'|trans }}</th>
                    <td>{{ regular_due|localizedcurrency(commerce_default_currency) }}</td>
                </tr>
                <tr>
                    <th>{{ 'ekyna_commerce.dashboard.debt.field.outstanding_expired'|trans }}</th>
                    <td>{{ outstanding_expired|localizedcurrency(commerce_default_currency) }}</td>
                </tr>
                <tr>
                    <th>{{ 'ekyna_commerce.dashboard.debt.field.total'|trans }}</th>
                    <td>
                        <strong>
                            {{- (regular_due+outstanding_expired)|localizedcurrency(commerce_default_currency) -}}
                        </strong>
                    </td>
                </tr>
                <tr>
                    <th><em>{{ 'ekyna_commerce.dashboard.debt.field.outstanding_fall'|trans }}</em></th>
                    <td><em>{{ outstanding_fall|localizedcurrency(commerce_default_currency) }}</em></td>
                </tr>
                <tr>
                    <th><em>{{ 'ekyna_commerce.dashboard.debt.field.outstanding_pending'|trans }}</em></th>
                    <td><em>{{ outstanding_pending|localizedcurrency(commerce_default_currency) }}</em></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-4 commerce-debt-supplier">
        <div class="commerce-panel">
            <h3>{{ 'ekyna_commerce.dashboard.debt.title.supplier'|trans }}</h3>
            <table>
                <tbody>
                <tr>
                    <th>{{ 'ekyna_commerce.dashboard.debt.field.expired'|trans }}</th>
                    <td>{{ supplier_expired|localizedcurrency(commerce_default_currency) }}</td>
                </tr>
                <tr>
                    <th>{{ 'ekyna_commerce.dashboard.debt.field.fall'|trans }}</th>
                    <td>{{ supplier_fall|localizedcurrency(commerce_default_currency) }}</td>
                </tr>
                <tr>
                    <th>{{ 'ekyna_commerce.dashboard.debt.field.total'|trans }}</th>
                    <td><strong>{{ (supplier_expired+supplier_fall)|localizedcurrency(commerce_default_currency) }}</strong></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-4 commerce-debt-carrier">
        <div class="commerce-panel">
            <h3>{{ 'ekyna_commerce.dashboard.debt.title.carrier'|trans }}</h3>
            <table>
                <tbody>
                <tr>
                    <th>{{ 'ekyna_commerce.dashboard.debt.field.expired'|trans }}</th>
                    <td>{{ carrier_expired|localizedcurrency(commerce_default_currency) }}</td>
                </tr>
                <tr>
                    <th>{{ 'ekyna_commerce.dashboard.debt.field.fall'|trans }}</th>
                    <td>{{ carrier_fall|localizedcurrency(commerce_default_currency) }}</td>
                </tr>
                <tr>
                    <th>{{ 'ekyna_commerce.dashboard.debt.field.total'|trans }}</th>
                    <td><strong>{{ (carrier_expired+carrier_fall)|localizedcurrency(commerce_default_currency) }}</strong></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endspaceless %}
