{% import "EkynaCommerceBundle:Admin/Dashboard:_macro.html.twig" as macros %}

{% spaceless %}
<div class="row">
    <div class="col-md-4 commerce-stat-day">
        {{ macros.render_stat_panel('CA journalier', current_day, compare_day) }}
        {{ macros.render_stat_chart('daily_revenues', daily_chart) }}
    </div>

    <div class="col-md-4 commerce-stat-month">
        {{ macros.render_stat_panel('CA mensuel', current_month, compare_month) }}
        {{ macros.render_stat_chart('monthly_revenues', monthly_chart) }}
    </div>

    <div class="col-md-4  commerce-stat-year">
        {{ macros.render_stat_panel('CA annuel', current_year, compare_year) }}
        {{ macros.render_stat_chart('yearly_revenues', yearly_chart) }}
    </div>
</div>
{% endspaceless %}
