{% import '@EkynaCommerce/Admin/Dashboard/_macro.html.twig' as macros %}

{% apply spaceless %}
<div class="row">
    <div class="col-md-4 commerce-debt-customer">
        <div class="commerce-panel">
            <h3>
                <a href="{{ path('ekyna_commerce_export_admin_all_due_orders') }}" target="_blank">
                    {{ 'ekyna_commerce.dashboard.debt.title.customer'|trans }}
                </a>
            </h3>
            <table>
                <tbody>
                <tr>
                    <th>
                        <a href="{{ path('ekyna_commerce_export_admin_due_invoices') }}" target="_blank">
                            {{ 'ekyna_commerce.dashboard.debt.field.due_invoices'|trans }}
                        </a>
                    </th>
                    <td>{{ due_invoices|localizedcurrency(commerce_default_currency) }}</td>
                </tr>
                <tr>
                    <th>
                        <a href="{{ path('ekyna_commerce_export_admin_fall_invoices') }}" target="_blank">
                            <em>{{ 'ekyna_commerce.dashboard.debt.field.fall_invoices'|trans }}</em>
                        </a>
                    </th>
                    <td><em>{{ fall_invoices|localizedcurrency(commerce_default_currency) }}</em></td>
                </tr>
                <tr>
                    <th>
                        <a href="{{ path('ekyna_commerce_export_admin_remaining_orders') }}" target="_blank">
                            <em>{{ 'ekyna_commerce.dashboard.debt.field.remaining_orders'|trans }}</em>
                        </a>
                    </th>
                    <td><em>{{ remaining_orders|localizedcurrency(commerce_default_currency) }}</em></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-4 commerce-debt-supplier">
        <div class="commerce-panel">
            <h3>{{ 'ekyna_commerce.dashboard.debt.title.supplier'|trans }}</h3>
            <table>
                <tbody>
                <tr>
                    <th>
                        <a href="{{ path('ekyna_commerce_export_admin_suppliers_expired_due_orders') }}" target="_blank">
                            {{- 'ekyna_commerce.dashboard.debt.field.expired'|trans -}}
                        </a>
                    </th>
                    <td>{{ supplier_expired|localizedcurrency(commerce_default_currency) }}</td>
                </tr>
                <tr>
                    <th>
                        <a href="{{ path('ekyna_commerce_export_admin_suppliers_fall_due_orders') }}" target="_blank">
                            {{- 'ekyna_commerce.dashboard.debt.field.fall'|trans -}}
                        </a>
                    </th>
                    <td>{{ supplier_fall|localizedcurrency(commerce_default_currency) }}</td>
                </tr>
                <tr>
                    <th>{{ 'ekyna_commerce.dashboard.debt.field.total'|trans }}</th>
                    <td><strong>{{ (supplier_expired+supplier_fall)|localizedcurrency(commerce_default_currency) }}</strong></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-4 commerce-debt-carrier">
        <div class="commerce-panel">
            <h3>{{ 'ekyna_commerce.dashboard.debt.title.carrier'|trans }}</h3>
            <table>
                <tbody>
                <tr>
                    <th>
                        <a href="{{ path('ekyna_commerce_export_admin_forwarders_expired_due_orders') }}" target="_blank">
                            {{- 'ekyna_commerce.dashboard.debt.field.expired'|trans -}}
                        </a>
                    </th>
                    <td>{{ carrier_expired|localizedcurrency(commerce_default_currency) }}</td>
                </tr>
                <tr>
                    <th>
                        <a href="{{ path('ekyna_commerce_export_admin_forwarders_fall_due_orders') }}" target="_blank">
                            {{- 'ekyna_commerce.dashboard.debt.field.fall'|trans -}}
                        </a>
                    </th>
                    <td>{{ carrier_fall|localizedcurrency(commerce_default_currency) }}</td>
                </tr>
                <tr>
                    <th>{{ 'ekyna_commerce.dashboard.debt.field.total'|trans }}</th>
                    <td><strong>{{ (carrier_expired+carrier_fall)|localizedcurrency(commerce_default_currency) }}</strong></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endapply %}
