{% extends "EkynaAdminBundle:Entity/Default:show.html.twig" %}

{% block main %}
<div class="actions">
    {{ admin_resource_btn(taxRule, 'edit') }}
    {{ admin_resource_btn(taxRule, 'remove') }}
</div>
<div class="show show-with-tabs">
    <ul class="nav nav-tabs" data-tab-key="{{ resource_id }}">
        <li class="active">
            <a href="#tax-rule-general" id="toggle-general" data-toggle="tab">
                {{ 'ekyna_core.field.general'|trans }}
            </a>
        </li>
    </ul>
    <div class="show-body">
        <div class="tab-content">
            <div class="tab-pane active" id="tax-rule-general">
                <div class="row">
                    <div class="col-md-6">
                        {{ show_row(taxRule.name, 'text', 'ekyna_core.field.name', {
                            'id': 'tax_rule_name',
                            'label_nb_col': 4,
                            'widget_nb_col': 8
                        }) }}
                    </div>
                    <div class="col-md-6">
                        {{ show_row(taxRule.priority, 'number', 'ekyna_core.field.priority', {
                            'id': 'tax_rule_priority',
                            'label_nb_col': 4,
                            'widget_nb_col': 8
                        }) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ show_row(taxRule.customer, 'checkbox', 'ekyna_commerce.tax_rule.field.customer', {
                            'id': 'tax_rule_customer',
                            'label_nb_col': 4,
                            'widget_nb_col': 8
                        }) }}
                    </div>
                    <div class="col-md-6">
                        {{ show_row(taxRule.business, 'checkbox', 'ekyna_commerce.tax_rule.field.business', {
                            'id': 'tax_rule_business',
                            'label_nb_col': 4,
                            'widget_nb_col': 8
                        }) }}
                    </div>
                </div>
                {{ show_row(taxRule.countries, 'entity', 'ekyna_commerce.country.label.plural', {
                    'id': 'tax_rule_countries',
                    'route': 'ekyna_commerce_country_admin_show',
                    'route_params_map': {'countryId': 'id'}
                }) }}
                {{ show_row(taxRule.taxes, 'entity', 'ekyna_commerce.tax.label.plural', {
                    'id': 'tax_rule_taxes',
                    'route': 'ekyna_commerce_tax_admin_show',
                    'route_params_map': {'taxId': 'id'}
                }) }}
                <div class="row show-row">
                    <div class="col-md-2 show-label">
                        {{ 'ekyna_commerce.tax_rule.field.notices'|trans }}
                    </div>
                    <div class="col-md-10">
                        <div class="show-widget show-widget-block" id="tax_rule_notices">
                            {% for notice in taxRule.notices %}
                                {{ notice }}{% if not loop.last %}<br>{% endif %}
                            {% else %}
                                {{ 'ekyna_core.value.undefined'|trans }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
