{% import '@EkynaCommerce/Account/Sale/macros.html.twig' as macros %}

{% apply spaceless %}
<div class="row">
    <div class="col-md-6">
        <p>
            <strong>
                {{- 'sale.field.invoice_address'|trans({}, 'EkynaCommerce') -}}
            </strong>
        </p>
        <div class="panel panel-default">
            <div class="panel-body">
                <p id="account-sale-invoice">{{ sale.invoiceAddress|address }}</p>
                {% if sale is sale_quote and sale.editable -%}
                <p><a href="{{ path('ekyna_commerce_account_quote_address_invoice', {'number': sale.number}) }}"
                      id="account-sale-invoice-button" class="btn btn-xs btn-primary" data-account-modal>
                    {{- 'button.edit'|trans({}, 'EkynaUi') -}}
                </a></p>
                {%- endif %}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <p>
            <strong>
                {{- 'sale.field.delivery_address'|trans({}, 'EkynaCommerce') -}}
            </strong>
        </p>
        <div class="panel panel-default">
            <div class="panel-body">
                <p id="account-sale-delivery">{{ macros.sale_delivery_address(sale) }}</p>
                {% if sale is sale_quote and sale.editable -%}
                <p><a href="{{ path('ekyna_commerce_account_quote_address_delivery', {'number': sale.number}) }}"
                      id="account-sale-delivery-button" class="btn btn-xs btn-primary" data-account-modal>
                    {{- 'button.edit'|trans({}, 'EkynaUi') -}}
                </a></p>
                {%- endif %}
            </div>
        </div>
    </div>
</div>
{% endapply %}
