{% apply spaceless %}
<div class="panel panel-default">
    <div class="panel-heading">
        <a href="{{ path(route_prefix ~ '_attachment_create', {'number': sale.number}) }}"
            class="btn btn-xs btn-success pull-right">
            {{ 'button.add'|trans({}, 'EkynaUi') }}
        </a>
        {{ 'account.attachment.title'|trans({}, 'EkynaCommerce')|raw }}
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>{{ 'field.file'|trans({}, 'EkynaUi') }}</th>
                <th>{{ 'field.title'|trans({}, 'EkynaUi') }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {%- for attachment in sale|sale_attachments -%}
                {%- set path = path(route_prefix ~ '_attachment_download', {'number': sale.number, 'id': attachment.id}) -%}
                <tr>
                    <td>
                        <a href="{{ path }}" target="_blank">
                            {{- attachment -}}
                        </a>
                    </td>
                    <td>
                        {{- attachment.title -}}
                    </td>
                    <td class="text-right">
                        <a href="{{ path }}" target="_blank" class="btn btn-primary btn-xs">
                            {{- 'button.download'|trans({}, 'EkynaUi') -}}
                        </a>
                    </td>
                </tr>
            {%- endfor -%}
            </tbody>
        </table>
    </div>
</div>
{% endapply %}
