{% apply spaceless %}
<div class="panel panel-default">
    <div class="panel-heading">
    {%- if credit -%}
        {%- set invoices = sale.getInvoices(false) -%}
        {{- 'credit.label.plural'|trans({}, 'EkynaCommerce')|raw -}}
    {%- else -%}
        {%- set invoices = sale.getInvoices(true) -%}
        {{- 'invoice.label.plural'|trans({}, 'EkynaCommerce')|raw -}}
    {%- endif -%}
    </div>
    {{ sale|payment_method_notice }}
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>{{ 'field.number'|trans({}, 'EkynaUi') }}</th>
                <th>{{ 'sale.field.ati_total'|trans({}, 'EkynaCommerce') }}</th>
                <th>{{ 'field.created_at'|trans({}, 'EkynaUi') }}</th>
                <th>{{ 'invoice.field.sale_paid'|trans({}, 'EkynaCommerce') }}</th>
                <th>{{ 'sale.field.outstanding_date'|trans({}, 'EkynaCommerce') }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {%- for invoice in invoices -%}
                {%- set invoiceId = 'invoice_' ~ invoice.id -%}
                {%- set path = path(route_prefix ~ '_invoice_download', {'number': sale.number, 'id': invoice.id}) -%}
                <tr{% if invoice is due_invoice %} class="danger"{% endif %}>
                    <td>
                        <a href="{{ path }}" target="_blank">
                            {{- invoice.number -}}
                        </a>
                    </td>
                    <td>{{ invoice.grandTotal|format_currency(invoice.currency) }}</td>
                    <td>{{ invoice.createdAt|format_datetime('short', 'none') }}</td>
                    <td>{{ invoice.paidTotal|format_currency(invoice.currency) }}</td>
                    <td>{{ invoice.dueDate|format_datetime('short', 'none') }}</td>
                    <td class="actions text-right">
                        <a href="javascript:void(0)"
                           id="{{ invoiceId }}_toggle_details"
                           class="btn btn-default btn-xs"
                           data-toggle-details="{{ invoiceId ~ '_details' }}">
                            <span class="fa fa-info-circle"></span>
                        </a>&nbsp;
                        <a href="{{ path }}" target="_blank" class="btn btn-primary btn-xs">
                            {{- 'button.download'|trans({}, 'EkynaUi') -}}
                        </a>
                    </td>
                </tr>
                <tr id="{{ invoiceId ~ '_details' }}" style="display:none;">
                    <td>&nbsp;</td>
                    <td colspan="6">
                        <table class="table table-alt table-striped table-condensed">
                            <thead>
                            <tr>
                                <th>{{ 'field.designation'|trans({}, 'EkynaUi') }}</th>
                                <th>{{ 'field.reference'|trans({}, 'EkynaUi') }}</th>
                                <th>{{ 'field.quantity'|trans({}, 'EkynaUi') }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {%- for line in invoice.lines -%}
                                {%- if line.saleItem is null or not line.saleItem.private -%}
                                <tr>
                                    <td>{{ line.designation }}</td>{# TODO Public link #}
                                    <td>{{ line.reference }}</td>
                                    <td>{{ line.quantity|format_number }}</td> {# TODO Packaging format #}
                                </tr>
                                {%- endif -%}
                            {%- endfor -%}
                            </tbody>
                        </table>
                    </td>
                </tr>
            {%- else -%}
                <tr>
                    <td colspan="6" class="text-center">
                        <em>{{- 'value.no_item'|trans({}, 'EkynaUi') -}}</em>
                    </td>
                </tr>
            {%- endfor -%}
            </tbody>
        </table>
    </div>
</div>
{% endapply %}
