{% apply spaceless %}
<div class="panel panel-default">
    <div class="panel-heading">
    {%- if refund -%}
        {%- set payments = sale.getPayments(false) -%}
        {{- 'refund.label.plural'|trans({}, 'EkynaCommerce') -}}
    {%- else -%}
        {%- set payments = sale.getPayments(true) -%}
        {{- 'payment.label.plural'|trans({}, 'EkynaCommerce') -}}
    {%- endif -%}
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>{{ 'field.number'|trans({}, 'EkynaUi') }}</th>
                <th>{{ 'field.method'|trans({}, 'EkynaUi') }}</th>
                <th>{{ 'field.amount'|trans({}, 'EkynaUi') }}</th>
                <th>{{ 'field.status'|trans({}, 'EkynaCommerce') }}</th>
                <th>{{ 'field.created_at'|trans({}, 'EkynaUi') }}</th>
                <th>{{ 'field.completed_at'|trans({}, 'EkynaUi') }}</th>
                {% if not customer.hasParent() -%}
                <th></th>
                {%- endif %}
            </tr>
            </thead>
            <tbody>
            {%- for payment in payments -%}
                <tr>
                    <td>{{ payment.getNumber() }}</td>
                    <td>{{ payment.getMethod() }}</td>
                    <td>{{ payment.getRealAmount()|currency_quote(payment, true) }}</td>
                    <td>{{ payment|payment_state_badge }}</td>
                    <td>{{ payment.getCreatedAt()|format_datetime('short', 'none') }}</td>
                    <td>
                        {% if payment.getCompletedAt() -%}
                            {{ payment.getCompletedAt()|format_datetime('short', 'none') }}
                        {%- else -%}
                            &dash;
                        {%- endif %}
                    </td>
                    {% if not customer.hasParent() -%}
                    <td class="actions text-right">
                        {{- payment_account_actions(payment) -}}
                    </td>
                    {%- endif %}
                </tr>
            {%- else -%}
                <tr>
                    <td colspan="{{ customer.hasParent() ? 6 : 7 }}" class="text-center">
                        <em>{{- 'value.no_item'|trans({}, 'EkynaUi') -}}</em>
                    </td>
                </tr>
            {%- endfor -%}
            </tbody>
        </table>
    </div>
</div>
{% endapply %}
