{% spaceless %}
<div class="panel panel-default">
    <div class="panel-heading">
        {{- 'ekyna_commerce.account.payment.title'|trans|raw -}}
    </div>
    <table class="table table-striped table-hover">
        <tbody>
        {%- for payment in sale|sale_payments -%}
            <tr>
                <td>{{ payment.getNumber() }}</td>
                <td>{{ payment.getMethod() }}</td>
                <td>{{ payment.getAmount()|localizedcurrency(payment.getCurrency().code) }}</td>
                {#<td>{{ payment.getCurrency() }}</td>#}
                <td>{{ payment|payment_state_badge }}</td>
                <td>{{ payment.getCreatedAt()|localizeddate('short', 'none') }}</td>
                <td class="actions text-right">
                    {{- payment_account_actions(payment) -}}
                </td>
            </tr>
        {%- endfor -%}
        </tbody>
    </table>
</div>
{% endspaceless %}
