{% apply spaceless %}
<div class="panel panel-default">
    <div class="panel-heading">
    {%- if return -%}
        {%- set shipments = sale.getShipments(false) -%}
        {{- 'return.label.plural'|trans({}, 'EkynaCommerce') -}}
    {%- else -%}
        {%- set shipments = sale.getShipments(true) -%}
        {{- 'shipment.label.plural'|trans({}, 'EkynaCommerce') -}}
    {%- endif -%}
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>{{ 'field.number'|trans({}, 'EkynaUi') }}</th>
                <th>{{ 'shipment_method.label.singular'|trans({}, 'EkynaCommerce') }}</th>
                <th>{{ 'shipment.field.tracking_number'|trans({}, 'EkynaCommerce') }}</th>
                <th>{{ 'field.status'|trans({}, 'EkynaCommerce') }}</th>
                <th>{{ 'field.created_at'|trans({}, 'EkynaUi') }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {%- for shipment in shipments -%}
                {%- set shipmentId = 'shipment_' ~ shipment.id -%}
                {#{%- set path = path(route_prefix ~ '_shipment_download', {'number': sale.number, 'id': shipment.id}) -%}#}
                <tr>
                    <td>
                        {#<a href="{{ path }}" target="_blank">#}
                            {{- shipment.number -}}
                        {#</a>#}
                    </td>
                    <td>{{ shipment.method }}</td>
                    <td>{{ display_shipment_tracking(shipment) }}</td>
                    <td>{{ shipment|shipment_state_badge }}</td>
                    <td>{{ shipment.createdAt|format_datetime('short', 'none') }}</td>
                    <td class="actions text-right">
                        <a href="javascript:void(0)"
                           id="{{ shipmentId }}_toggle_details"
                           class="btn btn-default btn-xs"
                           data-toggle-details="{{ shipmentId ~ '_details' }}">
                            <span class="fa fa-info-circle"></span>
                        </a>&nbsp;
                        {#<a href="{{ path }}" target="_blank" class="btn btn-primary btn-xs">
                            {{- 'button.download'|trans({}, 'EkynaUi') -}}
                        </a>#}
                    </td>
                </tr>
                <tr id="{{ shipmentId ~ '_details' }}" style="display:none;">
                    <td>&nbsp;</td>
                    <td colspan="5">
                        <table class="table table-alt table-striped table-condensed">
                            <thead>
                                <tr>
                                    <th>{{ 'field.designation'|trans({}, 'EkynaUi') }}</th>
                                    <th>{{ 'field.reference'|trans({}, 'EkynaUi') }}</th>
                                    <th>{{ 'field.quantity'|trans({}, 'EkynaUi') }}</th>
                                </tr>
                            </thead>
                            <tbody>
                            {%- for item in shipment.items -%}
                                {%- if item.saleItem is null or not item.saleItem.private -%}
                                <tr>
                                    <td>{{ item.saleItem.designation }}</td>{# TODO Public link #}
                                    <td>{{ item.saleItem.reference }}</td>
                                    <td>{{ item.quantity|format_number }}</td> {# TODO Packaging format #}
                                </tr>
                                {%- endif -%}
                            {%- endfor -%}
                            </tbody>
                        </table>
                        {% if 0 < shipment.parcels|length %}
                        <table class="table table-alt table-striped table-condensed">
                            <thead>
                            <tr>
                                <th>{{ 'field.weight'|trans({}, 'EkynaUi') }}</th>
                                <th>{{ 'shipment.field.tracking_number'|trans({}, 'EkynaCommerce') }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for parcel in shipment.parcels %}
                                {% set parcelId = shipmentId ~ '_parcel_' ~ loop.index0 %}
                                <tr>
                                    <td id="{{ parcelId ~ '_weight' }}">{{ parcel.weight|format_number }} kg</td>
                                    <td id="{{ parcelId ~ '_trackingNumber' }}">{{ display_shipment_tracking(parcel) }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </td>
                </tr>
            {%- else -%}
                <tr>
                    <td colspan="6" class="text-center">
                        <em>{{- 'value.no_item'|trans({}, 'EkynaUi') -}}</em>
                    </td>
                </tr>
            {%- endfor -%}
            </tbody>
        </table>
    </div>
</div>
{% endapply %}
