{% extends '@EkynaCommerce/Account/layout.html.twig' %}

{% macro field(label, value, label_col, widget_col, symbol) %}
{% apply spaceless %}
    <div class="form-group form-group-sm">
        <label class="control-label col-md-{{ label_col }} control-label-sm">
            {{- label|trans|raw }}{% if symbol %}&nbsp;{{ symbol|raw }}{% endif -%}
        </label>
        <div class="col-md-{{ widget_col }}">
            <p class="form-control input-sm">
                {{- value|raw -}}
            </p>
        </div>
    </div>
{% endapply %}
{% endmacro field %}

{% import _self as macros %}

{% block account %}
{% apply spaceless %}
    {% do currency_configure(customer) %}

    {% if currency_get_quote() != currency_get_base() -%}
        {% set exchange_symbol = '<strong style="color:red">*</strong>' %}
    {% else %}
        {% set exchange_symbol = null %}
    {% endif %}
    <h3>{{ 'ekyna_commerce.account.information.title'|trans }}</h3>

    <hr>

    <div class="form-horizontal">
        {{ macros.field('ekyna_core.field.email', customer.email, 3, 9) }}
        {{ macros.field('ekyna_core.field.identity', customer|identity, 3, 9) }}

        {% if commerce_feature(constant('Ekyna\\Component\\Commerce\\Features::BIRTHDAY')) -%}
        <div class="row">
            <div class="col-md-6">
                {{- macros.field(
                    'ekyna_core.field.birthday',
                    customer.birthday ? customer.birthday|localizeddate('short', 'none') : 'ekyna_core.value.undefined'|trans,
                    6, 6
                ) -}}
            </div>
        </div>
        {%- endif %}

        <div class="row">
            <div class="col-md-6">
                {{- macros.field(
                    'ekyna_core.field.phone',
                    customer.phone ? phone_number_format(customer.phone) : 'ekyna_core.value.undefined'|trans,
                    6, 6
                ) -}}
            </div>
            <div class="col-md-6">
                {{- macros.field(
                    'ekyna_core.field.mobile',
                    customer.mobile ? phone_number_format(customer.mobile) : 'ekyna_core.value.undefined'|trans,
                    6, 6
                ) -}}
            </div>
        </div>

        {% set businessCustomer = customer %}
        {% if customer.hasParent() %}
            {% set businessCustomer = customer.parent %}
            <hr>
            {% set parent = (customer.parent|identity) ~ '&nbsp;<em>&lt;' ~ customer.parent.email ~ '&gt;</em>' %}
            {{ macros.field('ekyna_commerce.customer.field.parent', parent, 3, 9) }}
        {% endif %}
        <div class="row">
            <div class="col-md-6">
                {{- macros.field('ekyna_core.field.company', businessCustomer.company, 6, 6) -}}
            </div>
            <div class="col-md-6">
                {{- macros.field(
                    'ekyna_commerce.pricing.field.vat_number',
                    businessCustomer.vatNumber ?? 'ekyna_core.value.undefined'|trans,
                    6, 6
                ) -}}
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-6">
                {{- macros.field('ekyna_core.field.currency', customer.currency, 6, 6) -}}
            </div>
            <div class="col-md-6">
                {{- macros.field('ekyna_core.field.locale', customer.locale|language|capitalize, 6, 6) -}}
            </div>
        </div>

        {% if businessCustomer.paymentTerm is not null %}
            {{ macros.field('ekyna_commerce.payment_term.label.singular', businessCustomer.paymentTerm.title, 3, 9) }}
            <div class="row">
                <div class="col-md-6">
                    {{- macros.field(
                        'ekyna_commerce.sale.field.outstanding_limit',
                        businessCustomer.outstandingLimit|currency_base(null, true),
                        6, 6, exchange_symbol
                    ) -}}
                </div>
                <div class="col-md-6">
                    {{- macros.field(
                        'ekyna_commerce.customer.field.outstanding_balance',
                        businessCustomer.outstandingBalance|currency_base(null, true),
                        6, 6, exchange_symbol
                    ) -}}
                </div>
            </div>
        {% endif %}

        {% if not customer.hasParent() %}
        <div class="row">
            <div class="col-md-6">
                {{- macros.field(
                    'ekyna_commerce.customer.field.credit_balance',
                    customer.creditBalance|currency_base(null, true),
                    6, 6, exchange_symbol
                ) -}}
            </div>
        </div>
        {% endif %}

        <div class="form-group form-group-sm">
            <label class="control-label col-md-3 control-label-sm">
                {{ 'ekyna_commerce.notification.label.plural'|trans }}
            </label>
            <div class="col-md-9">
                <div class="form-control input-sm" style="height:auto">
                    {{- customer|notifications -}}
                </div>
            </div>
        </div>

    </div>

    {% if currency_get_quote() != currency_get_base() -%}
    <div class="alert alert-warning">
        <p>
            {{- exchange_symbol|raw }} : {{ 'ekyna_commerce.notice.exchange'|trans|raw }}
            {{ 'ekyna_commerce.field.exchange_rate'|trans }}: {{ currency_rate(null, false, true) }}
        </p>
    </div>
    {%- endif %}

    <hr>

    <p style="text-align:center">
        <a href="{{ path('ekyna_commerce_account_information_edit') }}" class="btn btn-primary">
            {{- 'ekyna_core.button.edit'|trans -}}
        </a>
    </p>
    {% do currency_configure() %}
{% endapply %}
{% endblock account %}
