{% extends "EkynaCommerceBundle:Account:layout.html.twig" %}

{% macro field(label, value, label_col, widget_col) %}
{% spaceless %}
    <div class="form-group form-group-sm">
        <label class="control-label col-md-{{ label_col }} control-label-sm">
            {{- label|trans|raw -}}
        </label>
        <div class="col-md-{{ widget_col }}">
            <p class="form-control input-sm">
                {{- value|raw -}}
            </p>
        </div>
    </div>
{% endspaceless %}
{% endmacro field %}

{% import _self as macros %}

{% block account %}
{% spaceless %}
    <h3>{{ 'ekyna_commerce.account.information.title'|trans }}</h3>

    <hr>


    <div class="form-horizontal">
        {{ macros.field('ekyna_core.field.email', customer.email, 3, 9) }}
        {{ macros.field('ekyna_core.field.identity', customer|identity, 3, 9) }}

        {% if customer.birthday is not empty %}
            {{ macros.field('ekyna_core.field.birthday', customer.birthday|localizeddate('short', 'none'), 3, 9) }}
        {% endif %}

        <div class="row">
            {% if customer.phone is not empty %}
                <div class="col-md-6">
                    {{ macros.field('ekyna_core.field.phone', phone_number_format(customer.phone), 6, 6) }}
                </div>
            {% endif %}
            {% if customer.mobile is not empty %}
                <div class="col-md-6">
                    {{ macros.field('ekyna_core.field.mobile', phone_number_format(customer.mobile), 6, 6) }}
                </div>
            {% endif %}
        </div>

        {% set businessCustomer = customer %}
        {% if customer.hasParent() %}
            {% set businessCustomer = customer.parent %}
            <hr>
            {% set parent = (customer.parent|identity) ~ '&nbsp;<em>&lt;' ~ customer.parent.email ~ '&gt;</em>' %}
            {{ macros.field('ekyna_commerce.customer.field.parent', parent, 3, 9) }}
        {% endif %}
        <div class="row">
            <div class="col-md-6">
                {{ macros.field('ekyna_core.field.company', businessCustomer.company, 6, 6) }}
            </div>
            {% if businessCustomer.vatNumber is not empty %}
            <div class="col-md-6">
                {{ macros.field('ekyna_commerce.pricing.field.vat_number', businessCustomer.vatNumber, 6, 6) }}
            </div>
            {% endif %}
        </div>

        {% if customer.paymentTerm is not null %}
            {{ macros.field('ekyna_commerce.payment_term.label.singular', customer.paymentTerm.title, 3, 9) }}
            <div class="row">
                <div class="col-md-6">
                    {{ macros.field('ekyna_commerce.customer.field.outstanding_limit', customer.outstandingLimit|localizedcurrency(commerce_default_currency), 6, 6) }}
                </div>
                <div class="col-md-6">
                    {{ macros.field('ekyna_commerce.customer.field.outstanding_balance', customer.outstandingBalance|localizedcurrency(commerce_default_currency), 6, 6) }}
                </div>
            </div>
        {% endif %}

        {% if not customer.hasParent() %}
        <div class="row">
            <div class="col-md-6">
                {{ macros.field('ekyna_commerce.customer.field.credit_balance', customer.creditBalance|localizedcurrency(commerce_default_currency), 6, 6) }}
            </div>
        </div>
        {% endif %}
    </div>

    <hr>

    <p style="text-align:center">
        <a href="{{ path('ekyna_commerce_account_information_edit') }}" class="btn btn-primary">
            {{ 'ekyna_core.button.edit'|trans }}
        </a>
    </p>
{% endspaceless %}
{% endblock account %}
