{% extends '@EkynaAdmin/Entity/Default/show.html.twig' %}

{% block actions %}{% endblock %}#}

{% block main %}
<div class="actions">
    {{ admin_resource_btn(supplierDelivery, 'edit') }}
    {{ admin_resource_btn(supplierDelivery, 'remove') }}
</div>
<div class="show show-with-tabs">
    <ul class="nav nav-tabs" data-tab-key="{{ resource_id }}">
        <li class="active">
            <a href="#supplier-delivery-general" id="toggle-general" data-toggle="tab">
                {{ 'ekyna_core.field.general'|trans }}
            </a>
        </li>
    </ul>
    <div class="show-body">
        <div class="tab-content">
            <div class="tab-pane active" id="supplier-delivery-general">
                {#{{ show_row(supplierDelivery.street, 'text', {'label': 'ekyna_core.field.street'}) }}#}
            </div>
        </div>
    </div>
</div>
{% endblock %}
