<ul class="nav nav-tabs">
    <li class="active">
        <a href="#general" data-toggle="tab">{{ 'ekyna_core.field.general'|trans }}</a>
    </li>
</ul>
<div class="panel-body form-body">
    {{ bootstrap_set_style('horizontal') }}
    {{ bootstrap_set_col_size('md') }}
    {{ form_errors(form) }}
    <div class="tab-content">
        <div class="tab-pane active" id="general">
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.name) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.rate) }}
                </div>
            </div>
            {{ form_row(form.country) }}
            {{ form_row(form.postalCodeMatch) }}
        </div>
    </div>
    {{ form_rest(form) }}
</div>
