{% extends "EkynaAdminBundle:Entity/Default:show.html.twig" %}

{% block main %}
<div class="actions">
    {{ admin_resource_btn(tax, 'edit') }}
    {{ admin_resource_btn(tax, 'remove') }}
</div>
<div class="show show-with-tabs">
    <ul class="nav nav-tabs" data-tab-key="{{ resource_id }}">
        <li class="active">
            <a href="#tax-general" id="toggle-general" data-toggle="tab">
                {{ 'ekyna_core.field.general'|trans }}
            </a>
        </li>
    </ul>
    <div class="show-body">
        <div class="tab-content">
            <div class="tab-pane active" id="tax-general">
                <div class="row">
                    <div class="col-md-6">
                        {{ show_row(tax.name, 'text', {
                            'label': 'ekyna_core.field.name',
                            'id': 'tax_name',
                            'label_col': 4,
                        }) }}
                    </div>
                    <div class="col-md-6">
                        {{ show_row(tax.rate, 'number', {
                            'label': 'ekyna_core.field.rate',
                            'id': 'tax_rate',
                            'label_col': 4,
                            'append': '%'
                        }) }}
                    </div>
                </div>
                {{ show_row(tax.country, 'entity', {
                    'label': 'ekyna_commerce.country.label.singular',
                    'id': 'tax_country',
                    'route': 'ekyna_commerce_country_admin_show',
                    'route_parameters_map': {'countryId': 'id'}
                }) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
