<div class="form-body">
    {{ bootstrap_set_style('horizontal') }}
    {{ bootstrap_set_col_size('md') }}
    {{ form_errors(form, {'global_errors': true}) }}

    {{ form_row(form.number) }}
    {% if form.paymentMethod is defined -%}
        {{ form_row(form.paymentMethod) }}
    {%- endif %}
    {{ form_row(form.lines) }}
    {{ form_row(form.description) }}

    {{ form_rest(form) }}
</div>
