{% apply spaceless %}
<table class="table table-condensed table-alt-head">
    <thead>
    <tr>
        <th>{{ 'field.designation'|trans({}, 'EkynaUi') }}</th>
        <th>{{ 'field.reference'|trans({}, 'EkynaUi') }}</th>
        <th>{{ 'field.quantity'|trans({}, 'EkynaUi') }}</th>
    </tr>
    </thead>
    {%- if lines is not empty -%}
    <tbody>
    {%- for line in lines -%}
        <tr>
            <td>
                {% for i in 0..line.level %}{% if loop.index0 > 0 %}&nbsp;&dash;{% endif %}{% endfor %}
                {{ line.designation }}
            </td>
            <td>{{ line.reference }}</td>
            <td>{{ line.quantity|format_number }}{% if 0 < line.total %} / {{ line.total|format_number }}{% endif %}</td>{# TODO Packaging format #}
        </tr>
    {%- endfor -%}
    </tbody>
    {%- endif -%}
    {%- if items is not empty -%}
    <tbody>
    {% for item in items -%}
        <tr>
            <td>{{ item.designation }}</td>
            <td>{{ item.reference }}</td>
            <td>{{ item.quantity|format_number }}</td>
        </tr>
    {%- endfor %}
    </tbody>
    {%- endif -%}
</table>
{% if description %}
<div>
    <dl class="dl-horizontal">
    {% if description is not empty %}
        <dt>{{ 'field.description'|trans({}, 'EkynaCommerce') }}</dt>
        <dd>{{ description|nl2br|raw }}</dd>
    {% endif %}
    </dl>
</div>
{% endif %}
{% endapply %}
