{% extends '@EkynaAdmin/Entity/Crud/_form_default.html.twig' %}

{% block main_contents -%}
    <div class="tab-pane active" id="{{ resource_name }}-general">
    {% block general_content -%}
        {{ form_row(form.name) }}
        {{ form_row(form.translations, {'label_col': 0, 'widget_col': 12}) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.default, {'label_col': 4, 'widget_col': 8}) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.business, {'label_col': 4, 'widget_col': 8}) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.registration, {'label_col': 4, 'widget_col': 8}) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.quoteAllowed, {'label_col': 4, 'widget_col': 8}) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.loyalty, {'label_col': 4, 'widget_col': 8}) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.vatDisplayMode, {'label_col': 4, 'widget_col': 8}) }}
            </div>
        </div>
    {%- endblock general_content %}
    </div>
{%- endblock main_contents %}
