{% extends '@EkynaAdmin/Entity/Default/show.html.twig' %}

{% block main %}
<div class="actions">
    {{ admin_resource_btn(customerGroup, 'edit') }}
    {{ admin_resource_btn(customerGroup, 'remove') }}
</div>
<div class="show show-with-tabs">
    <ul class="nav nav-tabs" data-tab-key="{{ resource_id }}">
        <li class="active">
            <a href="#customer-group-general" id="toggle-general" data-toggle="tab">
                {{- 'ekyna_core.field.general'|trans -}}
            </a>
        </li>
    </ul>
    <div class="show-body">
        <div class="tab-content">
            <div class="tab-pane active" id="customer-group-general">
                {{ show_row(customerGroup.name, 'text', {
                    'label': 'ekyna_core.field.name',
                    'id': 'customerGroup_name'
                }) }}
                {{ show_row(customerGroup.translations, 'translations', {
                    'id': 'customerGroup_translations',
                    'fields': {
                        'title': {'label': 'ekyna_core.field.title'}
                    }
                }) }}
                <div class="row">
                    <div class="col-md-6">
                        {{ show_row(customerGroup.default, 'boolean', {
                            'label': 'ekyna_core.field.default',
                            'id': 'customerGroup_default',
                            'label_col': 4
                        }) }}
                    </div>
                    <div class="col-md-6">
                        {{ show_row(customerGroup.business, 'boolean', {
                            'label': 'ekyna_commerce.customer_group.field.business',
                            'id': 'customerGroup_business',
                            'label_col': 4
                        }) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ show_row(customerGroup.registration, 'boolean', {
                            'label': 'ekyna_commerce.customer_group.field.registration',
                            'id': 'customerGroup_registration',
                            'label_col': 4
                        }) }}
                    </div>
                    <div class="col-md-6">
                        {{ show_row(customerGroup.quoteAllowed, 'boolean', {
                            'label': 'ekyna_commerce.customer_group.field.quote_allowed',
                            'id': 'customerGroup_quoteAllowed',
                            'label_col': 4
                        }) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ show_row(customerGroup.vatDisplayMode, 'vat_display_mode', {
                            'id': 'customerGroup_vatDisplayMode',
                            'label_col': 4
                        }) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
