{% extends '@EkynaAdmin/Entity/Default/show.html.twig' %}

{% import '@EkynaCommerce/Admin/Stock/_subject_macros.html.twig' as stock_macros %}

{% block main %}
    <div class="actions">
        {{ admin_resource_btn(resource, 'edit') }}
        {{ admin_resource_btn(resource, 'remove') }}
    </div>
    <div class="show show-with-tabs">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#product-general" data-toggle="tab">
                    {{ 'ekyna_core.field.general'|trans }}
                </a></li>
        </ul>
        <div class="show-body">
            <div class="tab-content">
                <div class="tab-pane active" id="product-general">
                    {{- show_row(product.designation, 'text', {
                        'label': 'ekyna_core.field.designation',
                        'id': 'product_designation'
                    }) -}}
                    {{- show_row(product.reference, 'text', {
                        'label': 'ekyna_core.field.reference',
                        'id': 'product_reference'
                    }) -}}
                    {{- show_row(product.netPrice, 'number', {
                        'label': 'ekyna_commerce.field.net_price',
                        'id': 'product_netPrice'
                    }) -}}
                    {{- show_row(product.weight, 'number', {
                        'label': 'ekyna_core.field.weight',
                        'id': 'product_weight'
                    }) -}}
                    <hr>
                    {{- stock_macros.show_stock_view(product, 'product') -}}
                    <hr>
                    <div class="actions">
                        {{- admin_resource_btn('acme_product.stock_unit', 'new', {
                            'label': 'ekyna_commerce.stock_unit.button.new',
                            'size': 'xs',
                            'path': path('acme_product_stock_unit_admin_new', {
                                'productId': product.id,
                            })
                        }) -}}
                    </div>
                    {{- render_subject_stock_units(product, {
                        'prefix': 'product_stockUnit',
                        'id': 'stock-units-view'
                    }) -}}
                </div>
            </div>
        </div>
    </div>
{% endblock main %}


