{% if product is variant_product %}
    {{ show_row(product.parent, 'entity', 'ekyna_commerce.product.field.parent', {
        'route': 'ekyna_commerce_product_admin_show',
        'route_params_map': {'productId': 'id'},
    }) }}
{% endif %}
{{ show_row(product.designation, 'text', 'ekyna_core.field.designation') }}
{{ show_row(product.reference, 'text', 'ekyna_core.field.reference') }}
<div class="row">
    <div class="col-md-6">
        {# TODO use IntlNumberFormatter #}
        {{ show_row(product.netPrice, 'number', 'ekyna_commerce.product.field.net_price', {
            'label_nb_col': 4,
            'widget_nb_col': 8,
            'append': ' €'
        }) }}
    </div>
    <div class="col-md-6">
        {{ show_row(product.taxGroup, 'entity', 'ekyna_commerce.tax_group.label.singular', {
            'route': 'ekyna_commerce_tax_group_admin_show',
            'route_params_map': {'taxGroupId': 'id'},
            'label_nb_col': 4,
            'widget_nb_col': 8
        }) }}
    </div>
</div>
