{% extends '@EkynaAdmin/Entity/Crud/_form_default.html.twig' %}

{% block main_contents -%}
    <div class="tab-pane active" id="audience-general">
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.gateway, {'label_col': 4, 'widget_col': 8}) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.name, {'label_col': 4, 'widget_col': 8}) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.public, {'label_col': 4, 'widget_col': 8}) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.default, {'label_col': 4, 'widget_col': 8}) }}
            </div>
        </div>
        {{ form_row(form.translations, {'widget_col': 12}) }}
    </div>
{%- endblock main_contents %}
