<div class="row">
    <div class="col-md-6">
        {{ show_row(order.number, 'text', 'ekyna_core.field.number', {
            'label_nb_col': 4,
            'widget_nb_col': 8
        }) }}
    </div>
    <div class="col-md-6">
        {{ show_row(order.currency, 'text', 'ekyna_commerce.currency.label.singular', {
            'label_nb_col': 4,
            'widget_nb_col': 8
        }) }}
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        {{ show_row(order.customer, 'entity', 'ekyna_commerce.customer.label.singular', {
            'route': 'ekyna_commerce_customer_admin_show',
            'route_params_map': {'customerId': 'id'},
            'label_nb_col': 4,
            'widget_nb_col': 8
        }) }}
    </div>
    <div class="col-md-6">
        {{ show_row(order.company, 'text', 'ekyna_core.field.company', {
            'label_nb_col': 4,
            'widget_nb_col': 8
        }) }}
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="row show-row">
            <div class="col-md-4 show-label">
                {{ 'ekyna_core.field.identity'|trans }}
            </div>
            <div class="col-md-8">
                <div class="show-widget show-widget-inline">
                    {{ order|identity }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        {{ show_row(order.email, 'text', 'ekyna_core.field.email', {
            'label_nb_col': 4,
            'widget_nb_col': 8
        }) }}
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-6">
        {{ show_row(order.grandTotal|localizedcurrency(order.currency.code), 'text', 'ekyna_commerce.sale.field.grand_total', {
            'label_nb_col': 4,
            'widget_nb_col': 8
        }) }}
    </div>
    <div class="col-md-6">
        {{ show_row(order|order_state_badge, 'text', 'ekyna_commerce.sale.field.state', {
            'label_nb_col': 4,
            'widget_nb_col': 8
        }) }}
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        {{ show_row(order.paidTotal|localizedcurrency(order.currency.code), 'text', 'ekyna_commerce.sale.field.paid_total', {
            'label_nb_col': 4,
            'widget_nb_col': 8
        }) }}
    </div>
    <div class="col-md-6">
        {{ show_row(order.paymentState|payment_state_badge, 'text', 'ekyna_commerce.sale.field.payment_state', {
            'label_nb_col': 4,
            'widget_nb_col': 8
        }) }}
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        {{ show_row(order.weightTotal, 'number', 'ekyna_commerce.sale.field.weight_total', {
            'precision': 0,
            'append': 'g',
            'label_nb_col': 4,
            'widget_nb_col': 8
        }) }}
    </div>
    <div class="col-md-6">
        {{ show_row(order.shipmentState|shipment_state_badge, 'text', 'ekyna_commerce.sale.field.shipment_state', {
            'label_nb_col': 4,
            'widget_nb_col': 8
        }) }}
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-6">
        <div class="row show-row">
            <div class="col-md-4 show-label">
                {{ 'ekyna_commerce.sale.field.invoice_address'|trans }}
            </div>
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ render_address(order.invoiceAddress) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        {# TODO #}
        [TODO Google map]
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="row show-row">
            <div class="col-md-4 show-label">
                {{ 'ekyna_commerce.sale.field.invoice_address'|trans }}
            </div>
            <div class="col-md-8">
                {% if not order.sameAddress %}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {{ render_address(order.invoiceAddress) }}
                        </div>
                    </div>
                {% else %}
                    <div class="show-widget show-widget-inline">
                        <em>{{ 'ekyna_commerce.sale.field.same_address'|trans }}</em>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        {# TODO #}
        [TODO Google map]
    </div>
</div>
