{% if cart is not null and cart.hasItems() %}
<table>
    <tr>
        <th>{{ 'field.designation'|trans({}, 'EkynaUi') }}</th>
        <th>{{ 'field.quantity'|trans({}, 'EkynaUi') }}</th>
    </tr>
    {% for item in cart.items %}
    <tr>
        <td><span title="{{ item.designation }}">{{ item.designation }}</span></td>
        <td class="text-right">{{ item.quantity|format_number }}</td>
    </tr>
    {% endfor %}
</table>
<p>
    <a href="{{ path('ekyna_commerce_cart_checkout_index') }}" class="btn btn-primary">
        {{ 'widget.cart.show_cart'|trans({}, 'EkynaCommerce') }}
        (<strong>{{ cart.grandTotal|currency_quote(cart) }}</strong>)
    </a>
</p>
{% else %}
<p class="empty-cart">
    {{ 'widget.cart.empty'|trans({}, 'EkynaCommerce') }}
</p>
{% endif %}
