{% if user is not null %}
    {{ knp_menu_render('ekyna_user.widget', {
        'style': 'stacked-pills'
    }) }}
{% else %}
    <p>
        <a href="{{ path('ekyna_user_security_login') }}" class="btn btn-primary" data-user-modal>
            {{ 'button.login'|trans({}, 'EkynaUi') }}
        </a>
    </p>
    <p>
        <a href="{{ path('ekyna_user_account_registration') }}" class="btn btn-default">
            {{ 'account.registration.button'|trans({}, 'EkynaUser') }}
        </a>
    </p>
{% endif %}
