{% extends '@EkynaAdmin/Entity/Crud/_form_default.html.twig' %}

{% block main_contents -%}
    <div class="tab-pane active" id="ticket-general">
        {{ form_row(form.subject) }}
        {{ form_row(form.inCharge) }}
        {{ form_row(form.customer) }}
        {{ form_row(form.orders) }}
        {{ form_row(form.quotes) }}
        {{ form_row(form.tags) }}
        {{ form_row(form.internal) }}
        {% if form.message is defined %}
            <hr>
            {{ form_row(form.message.content) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.message.internal, {'label_col': 4, 'widget_col': 8}) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.message.notify, {'label_col': 4, 'widget_col': 8}) }}
                </div>
            </div>
        {% endif %}
    </div>
{%- endblock main_contents %}
