{% extends '@EkynaAdmin/Entity/Default/show.html.twig' %}

{% import '@EkynaCommerce/Admin/macros.html.twig' as macros %}

{% block actions %}
    {{ ui_button('ekyna_core.button.back', {
        'type': 'link',
        'icon': 'arrow-up',
        'path': admin_resource_path(supplierProduct.supplier) ~ '#catalog'
    }) }}
    {{ admin_resource_btn(resource, 'new') }}
{% endblock actions %}

{% block main %}
<div class="actions">
    {{ admin_resource_btn(supplierProduct, 'edit') }}
    {{ admin_resource_btn(supplierProduct, 'remove') }}
</div>
<div class="show show-with-tabs">
    <ul class="nav nav-tabs" data-tab-key="{{ resource_id }}">
        <li class="active">
            <a href="#supplier-product-general" id="toggle-general" data-toggle="tab">
                {{ 'ekyna_core.field.general'|trans }}
            </a>
        </li>
    </ul>
    {% set currency = supplierProduct.supplier.currency.code %}
    <div class="show-body">
        <div class="tab-content">
            <div class="tab-pane active" id="supplier-product-general">
                {{ show_row(supplierProduct.designation, 'text', {
                    'label': 'ekyna_core.field.designation'
                }) }}
                <div class="row">
                    <div class="col-md-6">
                        {{ show_row(supplierProduct.reference, 'text', {
                            'label': 'ekyna_core.field.reference',
                            'label_col': 4
                        }) }}
                    </div>
                    <div class="col-md-6">
                        {{ show_row(supplierProduct.netPrice|localizedcurrency(currency), 'text', {
                            'label': 'ekyna_commerce.field.buy_net_price',
                            'label_col': 4
                        }) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ show_row(supplierProduct.availableStock, 'number', {
                            'label': 'ekyna_commerce.field.available_stock',
                            'label_col': 4
                        }) }}
                    </div>
                    <div class="col-md-6">
                        {{ show_row(supplierProduct.weight, 'number', {
                            'label': 'ekyna_core.field.weight',
                            'label_col': 4,
                            'append': ' Kg'
                        }) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ show_row(supplierProduct.orderedStock, 'number', {
                            'label': 'ekyna_commerce.supplier_product.field.ordered_stock',
                            'label_col': 4
                        }) }}
                    </div>
                    <div class="col-md-6">
                        {{ show_row(supplierProduct.estimatedDateOfArrival, 'datetime', {
                            'label': 'ekyna_commerce.field.replenishment_eda',
                            'time': false,
                            'label_col': 4
                        }) }}
                    </div>
                </div>
                {{ macros.show_subject(supplierProduct, 'ekyna_commerce.supplier_product.field.subject') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
