{% block address %}
{% apply spaceless %}
{%- if options['locale'] is not null -%}
    {%- do trans_set_locale(options['locale']) -%}
{%- endif -%}

{% set name_tag = 'strong' %}
{%- if address['company'] is not empty -%}
    <strong>{{ address['company'] }}</strong><br>
    {% set name_tag = 'span' %}
{%- endif -%}

{%- if address['last_name'] is not empty and address['first_name'] is not empty -%}
    <{{ name_tag }}>{{ address['last_name'] }} {{ address['first_name'] }}</{{ name_tag }}><br>
{%- endif -%}

{{- address['street'] -}}

{% if address['complement'] is not empty -%}
    <br>{{ address['complement'] -}}
{%- endif %}
{% if address['supplement'] is not empty -%}
    <br>{{ address['supplement'] -}}
{%- endif %}
{% if address['extra'] is not empty -%}
    <br>{{ address['extra'] -}}
{%- endif %}

<br>{{ address['postal_code'] }} {{ address['city'] -}}
<br>{{ address['country']|country -}}{#{% if address['state'] is not empty %}, {{ address['state']|state }}{% endif %}#}

{% if address['digicode1'] is not empty or address['digicode2'] is not empty or address['intercom'] is not empty %}
    <br>
    {% if address['digicode1'] is not empty -%}
    <abbr title="{{ 'address.field.digicode1'|trans({}, 'EkynaCommerce') }}">C1:</abbr>&nbsp;{{ address['digicode1'] }}.&nbsp;
    {%- endif %}
    {% if address['digicode2'] is not empty -%}
    <abbr title="{{ 'address.field.digicode2'|trans({}, 'EkynaCommerce') }}">C2:</abbr>&nbsp;{{ address['digicode2'] }}.&nbsp;
    {%- endif %}
    {% if address['intercom'] is not empty -%}
    <abbr title="{{ 'address.field.intercom'|trans({}, 'EkynaCommerce') }}">I:</abbr>&nbsp;{{ address['intercom'] }}
    {%- endif %}
{% endif %}

{% if options['display_phones'] -%}
    {% if address['phone'] is not empty -%}
        <br><abbr title="{{ 'field.phone'|trans({}, 'EkynaUi') }}">T:</abbr> {{ address['phone'] -}}
    {%- endif %}
    {% if address['mobile'] is not empty -%}
        <br><abbr title="{{ 'field.mobile'|trans({}, 'EkynaUi') }}">M:</abbr> {{ address['mobile'] -}}
    {%- endif %}
{%- endif %}

{%- if address['information'] is not empty -%}
    <hr>{{ address['information']|nl2br }}
{%- endif -%}

{%- if options['locale'] is not null -%}
    {% do trans_revert_locale() %}
{% endif %}
{% endapply %}
{% endblock address %}


{%- block customer -%}
{% apply spaceless %}
{%- if options['locale'] is not null -%}
    {%- do trans_set_locale(options['locale']) -%}
{%- endif -%}

{%- if customer['number'] is not empty -%}
    {{ customer['number'] }}<br>
{%- endif -%}

{%- if customer['company'] is not empty -%}
    <strong>{{ customer['company'] }}</strong><br>
    {% if customer['first_name'] is not empty and customer['last_name'] is not empty -%}
        {{ customer['first_name'] }} {{ customer['last_name'] }}<br>
    {%- endif -%}
{%- else -%}
    <strong>{{ customer['first_name'] }} {{ customer['last_name'] }}</strong><br>
{%- endif -%}

<em>{{ customer['email'] }}</em>

{% if options['display_phones'] -%}
    {%- if customer['phone'] is not empty -%}
        <br><abbr title="{{ 'field.phone'|trans({}, 'EkynaUi') }}">T:</abbr> {{ customer['phone'] -}}
    {%- endif -%}
    {%- if customer['mobile'] is not empty -%}
        <br><abbr title="{{ 'field.mobile'|trans({}, 'EkynaUi') }}">M:</abbr> {{ customer['mobile'] -}}
    {%- endif -%}
{%- endif -%}

{%- if options['locale'] is not null -%}
    {% do trans_revert_locale() %}
{% endif %}
{% endapply %}
{%- endblock customer -%}


{% block customer_contact %}
{% apply spaceless %}
{%- if options.locale is not null -%}
    {%- do trans_set_locale(options.locale) -%}
{%- endif -%}
    <dl class="dl-horizontal">
        <dt>{{ 'field.name'|trans({}, 'EkynaUi') }}</dt>
        <dd>{{ contact|identity }}</dd>
        <dt>{{ 'field.email'|trans({}, 'EkynaUi') }}</dt>
        <dd>{{ contact.email }}</dd>
        <dt>{{ 'field.title'|trans({}, 'EkynaUi') }}</dt>
        <dd>{{ contact.title }}</dd>
        {% if options.display_phones and contact.phone is not empty -%}
        <dt>{{ 'field.phone'|trans({}, 'EkynaUi') }}</dt>
        <dd>{{ contact.phone|phone_number_format -}}</dd>
        {%- endif %}
        <dt>{{ 'notification.label.plural'|trans({}, 'EkynaCommerce') }}</dt>
        <dd>
            {%- for type in contact.notifications -%}
                {{ type|notify_type_label -}}
                {% if not loop.last %}, {% endif -%}
            {%- else -%}
                <em>{{ 'notification.alert.no_item'|trans({}, 'EkynaCommerce') }}</em>
            {%- endfor -%}
        </dd>
        {% if options.admin -%}
        <dt>{{ 'field.description'|trans({}, 'EkynaUi') }}</dt>
        <dd>{{ contact.description|nl2br -}}</dd>
        {%- endif %}
    </dl>
{%- if options.locale is not null -%}
    {% do trans_revert_locale() %}
{% endif %}
{% endapply %}
{% endblock customer_contact %}


{% block notifications %}
{% apply spaceless %}
{%- if options.locale is not null -%}
    {%- do trans_set_locale(options.locale) -%}
{%- endif -%}
    <ul class="list-unstyled">
        {% for label, type in types -%}
        <li>
            {%- if type in notifications -%}
                <i class="fa fa-check text-success"></i>
            {%- else -%}
                <i class="fa fa-remove text-danger"></i>
            {%- endif %}&nbsp;
            {{ label|trans({}, 'EkynaCommerce') -}}
        </li>
        {%- endfor %}
    </ul>
{%- if options.locale is not null -%}
    {% do trans_revert_locale() %}
{% endif %}
{% endapply %}
{% endblock notifications %}
