{%- block widget_attributes -%}{% for key, value in attr %} {{ key }}="{{ value }}"{% endfor -%}{% endblock widget_attributes -%}


{%- block commerce_customer_widget -%}
    {%- set attr = attr|merge({'class': ('show-widget show-widget-inline ' ~ attr.class|default(''))|trim }) -%}
    <div{{ block('widget_attributes') }}>
    {%- if value -%}
        <a href="{{ path('ekyna_commerce_customer_admin_show', {'customerId': value.id}) }}" class="show-entity">
            {{- customer|identity -}}
        </a>
    {%- else -%}
        <em>{{ 'ekyna_core.value.undefined'|trans }}</em>
    {%- endif -%}
    </div>
{%- endblock commerce_customer_widget -%}


{%- block commerce_notifications_widget -%}
    {%- set attr = attr|merge({'class': ('show-widget show-widget-block ' ~ attr.class|default(''))|trim }) -%}
    <div{{ block('widget_attributes') }}>
        <ul class="list-unstyled">
        {% for label, type in types -%}
            <li>
                {%- if type in value -%}
                    <i class="fa fa-check text-success"></i>
                {%- else -%}
                    <i class="fa fa-remove text-danger"></i>
                {%- endif %}
                {{ label|trans -}}
            </li>
        {%- endfor %}
        </ul>
    </div>
{%- endblock commerce_notifications_widget -%}


{%- block commerce_phone_widget -%}
    {%- set attr = attr|merge({'class': ('show-widget show-widget-inline ' ~ attr.class|default(''))|trim }) -%}
    <div{{ block('widget_attributes') }}>
        {%- if value is not empty -%}
            {{- value|phone_number_format -}}
        {%- else -%}
            &nbsp;&nbsp;
        {%- endif -%}
    </div>
{%- endblock commerce_phone_widget -%}


{%- block commerce_currency_subject_amount_widget -%}
    {%- set attr = attr|merge({'class': ('show-widget show-widget-inline ' ~ attr.class|default(''))|trim }) -%}
    <div{{ block('widget_attributes') }}>
        {%- if value is not empty -%}
            {% if quote -%}
                {{ value|currency_quote(subject, base) }}
            {%- else -%}
                {{ value|currency_base(subject, base) }}
            {%- endif %}
        {%- else -%}
            &nbsp;&nbsp;
        {%- endif -%}
    </div>
{%- endblock commerce_currency_subject_amount_widget -%}


{%- block commerce_vat_display_mode_widget -%}
    {%- set attr = attr|merge({'class': ('show-widget show-widget-inline ' ~ attr.class|default(''))|trim }) -%}
    <div{{ block('widget_attributes') }}>
        <span class="label label-{{ theme }}">{{ value|trans }}</span>
    </div>
{%- endblock commerce_vat_display_mode_widget -%}
