{%- block widget_attributes -%}{% for key, value in attr %} {{ key }}="{{ value }}"{% endfor -%}{% endblock widget_attributes -%}


{%- block customer_widget -%}
    {%- set attr = attr|merge({'class': ('show-widget show-widget-inline ' ~ attr.class|default(''))|trim }) -%}
    <div{{ block('widget_attributes') }}>
    {%- if value -%}
        <a href="{{ path('ekyna_commerce_customer_admin_show', {'customerId': value.id}) }}" class="show-entity">
            {{- customer|identity -}}
        </a>
    {%- else -%}
        <em>{{ 'ekyna_core.value.undefined'|trans }}</em>
    {%- endif -%}
    </div>
{%- endblock customer_widget -%}


{%- block phone_widget -%}
    {%- set attr = attr|merge({'class': ('show-widget show-widget-inline ' ~ attr.class|default(''))|trim }) -%}
    <div{{ block('widget_attributes') }}>
        {%- if value is not empty -%}
            {{- value|phone_number_format -}}
        {%- else -%}
            &nbsp;&nbsp;
        {%- endif -%}
    </div>
{%- endblock phone_widget -%}


{%- block currency_subject_amount_widget -%}
    {%- set attr = attr|merge({'class': ('show-widget show-widget-inline ' ~ attr.class|default(''))|trim }) -%}
    <div{{ block('widget_attributes') }}>
        {%- if value is not empty -%}
            {% if quote -%}
                {{ value|currency_quote(subject, base) }}
            {%- else -%}
                {{ value|currency_base(subject, base) }}
            {%- endif %}
        {%- else -%}
            &nbsp;&nbsp;
        {%- endif -%}
    </div>
{%- endblock currency_subject_amount_widget -%}


{%- block vat_display_mode_widget -%}
    {%- set attr = attr|merge({'class': ('show-widget show-widget-inline ' ~ attr.class|default(''))|trim }) -%}
    <div{{ block('widget_attributes') }}>
        <span class="label label-{{ theme }}">{{ value|trans }}</span>
    </div>
{%- endblock vat_display_mode_widget -%}
