{% use '@EkynaAdmin/Show/show_div_layout.html.twig' %}


{%- block commerce_customer_widget -%}
    {%- set attr = attr|merge({'class': ('show-widget show-widget-inline ' ~ attr.class|default(''))|trim }) -%}
    <div{{ block('widget_attributes') }}>
    {%- if value -%}
        <a href="{{ admin_resource_path(value) }}" class="show-entity">
            {{- value|identity -}}
        </a>
    {%- else -%}
        <em>{{ 'value.undefined'|trans({}, 'EkynaUi') }}</em>
    {%- endif -%}
    </div>
{%- endblock commerce_customer_widget -%}


{%- block commerce_notifications_widget -%}
    {%- set attr = attr|merge({'class': ('show-widget show-widget-block ' ~ attr.class|default(''))|trim }) -%}
    <div{{ block('widget_attributes') }}>
        {{ value|notifications }}
    </div>
{%- endblock commerce_notifications_widget -%}


{%- block commerce_phone_widget -%}
    {%- set attr = attr|merge({'class': ('show-widget show-widget-inline ' ~ attr.class|default(''))|trim }) -%}
    <div{{ block('widget_attributes') }}>
        {%- if value is not empty -%}
            {{- value|phone_number_format -}}
        {%- else -%}
            &nbsp;&nbsp;
        {%- endif -%}
    </div>
{%- endblock commerce_phone_widget -%}


{%- block commerce_amount_widget -%}
    {%- set attr = attr|merge({'class': ('show-widget show-widget-inline ' ~ attr.class|default(''))|trim }) -%}
    <div{{ block('widget_attributes') }}>
        {%- if value is not empty -%}
            {% if quote -%}
                {{ value|currency_quote(subject, base) }}
            {%- else -%}
                {{ value|currency_base(subject, base) }}
            {%- endif %}
        {%- else -%}
            &nbsp;&nbsp;
        {%- endif -%}
    </div>
{%- endblock commerce_amount_widget -%}


{%- block commerce_vat_mode_widget -%}
    {%- set attr = attr|merge({'class': ('show-widget show-widget-inline ' ~ attr.class|default(''))|trim }) -%}
    <div{{ block('widget_attributes') }}>
        <span class="label label-{{ theme }}">{{ value|trans({}, domain|default(null)) }}</span>
    </div>
{%- endblock commerce_vat_mode_widget -%}
