<div class="form-body borderless">
    {{ bootstrap_set_style('horizontal') }}
    {{ bootstrap_set_col_size('md') }}
    {{ form_errors(form, {'global_errors': true}) }}

    {{ form_widget(form.content, {'label_col': 0, 'widget_col': 0}) }}

    {{ form_rest(form) }}
</div>
