{% extends '@EkynaCommerce/Account/layout.html.twig' %}

{% block account %}
{% apply spaceless %}
    <h3>{{ 'account.ticket.title'|trans({}, 'EkynaCommerce')|raw }}</h3>
    <hr>
    {% if commerce_feature(constant('Ekyna\\Component\\Commerce\\Features::SUPPORT')) -%}
        {{ support_tickets(customer) }}
    {%- endif %}
    <div class="alert alert-info">
        <p>{{ 'account.ticket.go_to_sale_details'|trans({}, 'EkynaCommerce') }}</p>
    </div>
{% endapply %}
{% endblock account %}

{% block stylesheets %}
    {{ parent() }}
    {% if commerce_feature(constant('Ekyna\\Component\\Commerce\\Features::SUPPORT')) -%}
        <link href="{{ absolute_url(asset('bundles/ekynacommerce/css/support.css')) }}" rel="stylesheet" type="text/css"/>
    {%- endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if commerce_feature(constant('Ekyna\\Component\\Commerce\\Features::SUPPORT')) -%}
        <script type="text/javascript">require(['ekyna-commerce/support']);</script>
    {%- endif %}
{% endblock %}
