{% extends '@EkynaCommerce/Account/layout.html.twig' %}

{% block account %}
{% spaceless %}
    <h3>{{ 'ekyna_commerce.account.ticket.title'|trans|raw }}</h3>
    <hr>
    {{ render_tickets(customer) }}
    <div class="alert alert-info">
        <p>{{ 'ekyna_commerce.account.ticket.go_to_sale_details'|trans }}</p>
    </div>
{% endspaceless %}
{% endblock account %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/ekynacommerce/css/support.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">require(['ekyna-commerce/support']);</script>
{% endblock %}
