<ul class="nav nav-tabs">
    <li class="active">
        <a href="#order-general" data-toggle="tab">
            {{ 'ekyna_core.field.general'|trans }}
        </a>
    </li>
    <li>
        <a href="#order-addresses" data-toggle="tab">
            {{ 'ekyna_commerce.sale.field.addresses'|trans }}
        </a>
    </li>
    {#<li>
        <a href="#order-details" data-toggle="tab">
            {{ 'ekyna_commerce.sale.field.details'|trans }}
        </a>
    </li>#}
</ul>
<div class="panel-body form-body">
    {{ bootstrap_set_style('horizontal') }}
    {{ bootstrap_set_col_size('md') }}
    {{ form_errors(form) }}
    <div class="tab-content">
        <div class="tab-pane active" id="order-general">
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.number, {'label_col': 4, 'widget_col': 8}) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.currency, {'label_col': 4, 'widget_col': 8}) }}
                </div>
            </div>
            {{ form_row(form.customer) }}
            {{ form_row(form.company) }}
            {{ form_row(form.identity) }}
            {{ form_row(form.email) }}
        </div>
        <div class="tab-pane" id="order-addresses">
            {{ form_row(form.invoiceAddress) }}
            <hr>
            <div class="form-group">
                {{ form_label(form.deliveryAddress) }}
                <div class="col-md-10">
                    {{ form_row(form.sameAddress) }}
                    <div id="delivery-address">
                        {{ form_widget(form.deliveryAddress) }}
                    </div>
                </div>
            </div>
        </div>
        {#<div class="tab-pane" id="order-details">
            {{ form_row(form.items) }}
            {{ form_row(form.adjustments) }}
        </div>#}
    </div>
    {{ form_rest(form) }}
</div>
