{% extends "EkynaAdminBundle:Entity/Default:show.html.twig" %}


{% import "EkynaCmsBundle:Admin:show_macros.html.twig" as _cms %}


{% block title %}
    {{ admin_resource_pin(resource) }}
    <h1>{{ 'ekyna_commerce.order.header.show'|trans({'%number%': order.number})|raw }}</h1>
{% endblock title %}

{% block main %}
<div class="main-header">
    <div class="infos">
        <span id="sale_state">{{ order|sale_state_badge }}</span>
        {{ order.allTags|cms_tags({'text': false}) }}
    </div>
    <div class="actions">
        {# TODO permission ? #}
        {{ ui_button('ekyna_core.button.notify', {
            'theme': 'default',
            'type': 'link',
            'path': admin_resource_path(order, 'notify')
        }) }}
        {{ sale_transform_btn(order) }}
        {{ admin_resource_btn(order, 'edit') }}
        {{ admin_resource_btn(order, 'remove') }}
    </div>
</div>
<div class="show show-with-tabs">
    <ul class="nav nav-tabs" data-tab-key="{{ resource_id }}">
        <li class="active">
            <a href="#order-general" id="toggle-general" data-toggle="tab">
                {{ 'ekyna_core.field.general'|trans }}
            </a>
        </li>
        <li>
            <a href="#order-addresses" id="toggle-addresses" data-toggle="tab">
                {{ 'ekyna_commerce.sale.field.addresses'|trans }}
            </a>
        </li>
        <li>
            <a href="#order-details" id="toggle-details" data-toggle="tab">
                {{ 'ekyna_commerce.sale.field.details'|trans }}
            </a>
        </li>
        <li>
            <a href="#order-invoices" id="toggle-invoices" data-toggle="tab">
                {{ 'ekyna_commerce.invoice.tab'|trans }}
            </a>
        </li>
        <li>
            <a href="#order-payments" id="toggle-payments" data-toggle="tab">
                {{ 'ekyna_commerce.payment.label.plural'|trans }}
            </a>
        </li>
        <li>
            <a href="#order-shipments" id="toggle-shipments" data-toggle="tab">
                {{ 'ekyna_commerce.shipment.label.plural'|trans }}
            </a>
        </li>
        <li>
            <a href="#order-attachments" id="toggle-attachments" data-toggle="tab">
                {{ 'ekyna_commerce.attachment.label.plural'|trans }}
            </a>
        </li>
        <li>
            <a href="#order-informations" id="toggle-informations" data-toggle="tab">
                {{ 'ekyna_core.field.informations'|trans }}
            </a>
        </li>
    </ul>
    <div class="show-body">
        <div class="tab-content">
            <div class="tab-pane active" id="order-general">
                {% include "EkynaCommerceBundle:Admin/Common/Sale:show_general.html.twig" with {'sale': order} %}
                <div class="row">
                    <div class="col-md-6">
                        {{ show_row(order.weightTotal, 'number', 'ekyna_commerce.sale.field.weight_total', {
                            'id': 'sale_weightTotal',
                            'precision': 3,
                            'append': 'kg',
                            'label_nb_col': 4,
                            'widget_nb_col': 8
                        }) }}
                    </div>
                    <div class="col-md-6">
                        {{ show_row(order.shipmentState|shipment_state_badge, 'text', 'ekyna_commerce.sale.field.shipment_state', {
                            'id': 'sale_shipmentState',
                            'label_nb_col': 4,
                            'widget_nb_col': 8
                        }) }}
                    </div>
                </div>
                {{ _cms.show_tags(order) }}
            </div>
            <div class="tab-pane" id="order-addresses">
                {% include "EkynaCommerceBundle:Admin/Common/Sale:show_addresses.html.twig" with {'sale': order} %}
            </div>
            <div class="tab-pane" id="order-details">
                {{ render_sale_view(sale_view) }}
            </div>
            <div class="tab-pane" id="order-invoices">
                <div class="actions">
                    {# TODO Permission #}
                    <a href="{{ admin_resource_path('ekyna_commerce.order_invoice', 'new', {'orderId': order.id, 'type': 'invoice'}) }}"
                       class="btn btn-primary btn-xs pull-right"
                       style="margin-left:16px">
                        {{ ('ekyna_commerce.invoice.button.new')|trans }}
                    </a>
                </div>
                <h4 class="sub-header">
                    {{ 'ekyna_commerce.invoice.label.plural'|trans }}
                </h4>
                {% include "EkynaCommerceBundle:Admin/Common/Sale:show_invoices.html.twig" with {'sale': order, 'type': 'invoice'} %}
                <hr>
                <div class="actions">
                    {# TODO Permission #}
                    <a href="{{ admin_resource_path('ekyna_commerce.order_invoice', 'new', {'orderId': order.id, 'type': 'credit'}) }}"
                       class="btn btn-primary btn-xs pull-right"
                       style="margin-left:16px">
                        {{ ('ekyna_commerce.credit.button.new')|trans }}
                    </a>
                </div>
                <h4 class="sub-header">
                    {{ 'ekyna_commerce.credit.label.plural'|trans }}
                </h4>
                {% include "EkynaCommerceBundle:Admin/Common/Sale:show_invoices.html.twig" with {'sale': order, 'type': 'credit'} %}
                <hr>
                {% include "EkynaCommerceBundle:Admin/Common/Sale/Fragment:payment_fields.html.twig" with {'sale': order} %}
            </div>
            <div class="tab-pane" id="order-payments">
                <div class="actions">
                    {# TODO Permission #}
                    <a href="{{ admin_resource_path('ekyna_commerce.order_payment', 'new', {'orderId': order.id}) }}"
                       class="btn btn-primary btn-xs pull-right">
                        {{ 'ekyna_commerce.payment.button.new'|trans }}
                    </a>
                </div>
                <h4 class="sub-header">
                    {{ 'ekyna_commerce.payment.label.plural'|trans }}
                </h4>
                {% include "EkynaCommerceBundle:Admin/Common/Sale:show_payments.html.twig" with {'sale': order} %}
            </div>
            <div class="tab-pane" id="order-shipments">
                <div class="actions">
                    {# TODO Permission #}
                    <a href="{{ admin_resource_path('ekyna_commerce.order_shipment', 'new', {'orderId': order.id, 'return': 1}) }}"
                       class="btn btn-primary btn-xs pull-right"
                        style="margin-left:16px">
                        {{ 'ekyna_commerce.return.button.new'|trans }}
                    </a>
                    <a href="{{ admin_resource_path('ekyna_commerce.order_shipment', 'new', {'orderId': order.id}) }}"
                       class="btn btn-primary btn-xs pull-right">
                        {{ 'ekyna_commerce.shipment.button.new'|trans }}
                    </a>
                </div>
                <h4 class="sub-header">
                    {{ 'ekyna_commerce.shipment.label.plural'|trans }}
                </h4>
                {% include "EkynaCommerceBundle:Admin/Common/Sale:show_shipments.html.twig" with {'sale': order} %}
            </div>
            <div class="tab-pane" id="order-attachments">
                <div class="actions">
                    {% for type in order|sale_editable_document_types -%}
                    <a href="{{ admin_resource_path(order, 'document_generate', {'orderId': order.id, 'type': type}) }}"
                       class="btn btn-default btn-xs pull-right">
                        {{ 'ekyna_commerce.attachment.button.create'|trans }}
                        {{ ('ekyna_commerce.document.type.' ~ type)|trans }}
                    </a>
                    {%- endfor %}
                    {# TODO Permission #}
                    <a href="{{ admin_resource_path('ekyna_commerce.order_attachment', 'new', {'orderId': order.id}) }}"
                       class="btn btn-primary btn-xs pull-right">
                        {{ 'ekyna_commerce.attachment.button.new'|trans }}
                    </a>
                </div>
                <h4 class="sub-header">
                    {{ 'ekyna_commerce.attachment.label.plural'|trans }}
                </h4>
                {% include "EkynaCommerceBundle:Admin/Common/Attachment:_list.html.twig" with {'attachments': order.attachments} %}
            </div>
            <div class="tab-pane" id="order-informations">
                {% include "EkynaCommerceBundle:Admin/Common/Sale:show_informations.html.twig" with {'sale': order} %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block side %}
    {{ parent() }}
    {% if order.customer is not null %}
        {% include "EkynaCommerceBundle:Admin/Common/Sale/Side:customer.html.twig" with {'customer': order.customer} %}
    {% endif %}
{% endblock side %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/ekynacommerce/css/sale-view.css') }}" type="text/css" rel="stylesheet"/>
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">require(['ekyna-commerce/sale-view']);</script>
    <script type="text/javascript">require(['ekyna-commerce/sale-admin']);</script>
{% endblock javascripts %}

