{% extends '@EkynaAdmin/Entity/Default/show.html.twig' %}

{% import '@EkynaCms/Admin/show_macros.html.twig' as _cms %}

{% block flashes %}
    {{ parent() }}
    {% if order.exchangeRate is null and order.currency.code != commerce_default_currency %}
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ 'ekyna_commerce.sale.message.null_exchange_rate'|trans({
            '{{url}}': path('ekyna_commerce_order_admin_set_exchnage_rate', {
                'orderId': order.id
            })
        })|raw }}
    </div>
    {% endif %}
{% endblock %}

{% block title %}
    {{ admin_resource_pin(resource) }}
    <h1>{{ 'ekyna_commerce.order.header.show'|trans({'%number%': order.number})|raw }}</h1>
{% endblock title %}

{% block main %}
<div class="main-header">
    <div class="infos">
        <span class="sale-state">{{ order|sale_state_badge }}</span>
        {{- order|sale_flags -}}
        {{- order.allTags|cms_tags({'text': false}) -}}
        {% if order.sample -%}
            <span class="label label-info" style="margin-left:6px;">{{ 'ekyna_commerce.field.sample'|trans }}</span>
        {%- endif %}
        {% if app.debug -%}
            <a href="{{ admin_resource_path(order, 'update_state') }}" class="btn btn-xs btn-link">{# TODO XHR #}
                <i class="fa fa-refresh text-muted"></i>
            </a>
        {%- endif %}
    </div>
    <div class="actions">
        {{ sale_custom_buttons(order) }}
        {# TODO permission ? #}
        {{ ui_button('ekyna_core.button.notify', {
            'theme': 'default',
            'type': 'link',
            'icon': 'envelope',
            'path': admin_resource_path(order, 'notify')
        }) }}
        {{ sale_export_btn(order) }}
        {{ sale_duplicate_btn(order) }}
        {{ sale_transform_btn(order) }}
        {% if order is sale_preparable %}
            {{ ui_button('ekyna_commerce.sale.button.prepare', {
                'theme': 'primary',
                'type': 'link',
                'icon': 'list',
                'path': admin_resource_path(order, 'prepare')
            }) }}
        {% elseif order is sale_preparing %}
            {{ ui_button('ekyna_commerce.sale.button.abort', {
                'theme': 'danger',
                'type': 'link',
                'icon': 'list',
                'path': admin_resource_path(order, 'abort')
            }) }}
        {% endif %}
        {% if order.sample %}
            {{ ui_button('ekyna_commerce.order.button.' ~ (order.released ? 'un' : '') ~ 'release', {
                'theme': 'warning',
                'type': 'link',
                'icon': order.released ? 'remove-circle' : 'ok-circle',
                'path': admin_resource_path(order, 'release')
            }) }}
        {% endif %}
        {{ admin_resource_btn(order, 'edit', {'label': 'ekyna_core.button.edit'}) }}
        {{ admin_resource_btn(order, 'remove', {'label': 'ekyna_core.button.remove'}) }}
    </div>
</div>
<div class="show show-with-tabs">
    <ul class="nav nav-tabs" data-tab-key="{{ resource_id }}">
        <li class="active">
            <a href="#order-general" id="toggle-general" data-toggle="tab">
                {{ 'ekyna_core.field.general'|trans }}
            </a>
        </li>
        <li>
            <a href="#order-addresses" id="toggle-addresses" data-toggle="tab">
                {{ 'ekyna_commerce.address.label.plural'|trans }}
            </a>
        </li>
        <li>
            <a href="#order-details" id="toggle-details" data-toggle="tab">
                {{ 'ekyna_commerce.sale.field.details'|trans }}
            </a>
        </li>
        {% if not order.sample -%}
        <li>
            <a href="#order-payments" id="toggle-payments" data-toggle="tab">
                {{ 'ekyna_commerce.payment.label.plural'|trans }}
            </a>
        </li>
        {%- endif %}
        <li>
            <a href="#order-shipments" id="toggle-shipments" data-toggle="tab">
                {{ 'ekyna_commerce.shipment.label.plural'|trans }}
            </a>
        </li>
        {% if not order.sample -%}
        <li>
            <a href="#order-invoices" id="toggle-invoices" data-toggle="tab">
                {{ 'ekyna_commerce.invoice.tab'|trans }}
            </a>
        </li>
        {%- endif %}
        <li>
            <a href="#order-attachments" id="toggle-attachments" data-toggle="tab">
                {{ 'ekyna_commerce.attachment.label.plural'|trans }}
            </a>
        </li>
        <li>
            <a href="#order-information" id="toggle-information" data-toggle="tab">
                {{ 'ekyna_core.field.information'|trans }}
            </a>
        </li>
        {% if commerce_feature(constant('Ekyna\\Component\\Commerce\\Features::SUPPORT')) -%}
        <li>
            <a href="#order-tickets" id="toggle-tickets" data-toggle="tab">
                {{ 'ekyna_commerce.ticket.label.plural'|trans }}
            </a>
        </li>
        {%- endif %}
    </ul>
    <div class="show-body">
        <div class="tab-content">
            <div class="tab-pane active" id="order-general">
                {% include '@EkynaCommerce/Admin/Common/Sale/show_general.html.twig' with {
                    'sample': true,
                    'sale': order
                } %}
                {{ _cms.show_tags(order) }}
            </div>
            <div class="tab-pane" id="order-addresses">
                {% include '@EkynaCommerce/Admin/Common/Sale/show_addresses.html.twig' with {
                    'sale': order
                } %}
            </div>
            <div class="tab-pane" id="order-details">
                {{- render_sale_view(sale_view) -}}
            </div>
            {% if not order.sample -%}
            <div class="tab-pane" id="order-payments">
                {# --------------- PAYMENTS --------------- #}
                <div class="actions">
                    {# TODO Permission #}
                    <a href="{{ admin_resource_path('ekyna_commerce.order_payment', 'new', {
                        'orderId': order.id
                    }) }}"
                       class="btn btn-primary btn-xs pull-right">
                        {{- 'ekyna_commerce.payment.button.new'|trans -}}
                    </a>
                </div>
                <h4 class="sub-header">
                    {{- 'ekyna_commerce.payment.label.plural'|trans -}}
                </h4>
                {% include '@EkynaCommerce/Admin/Common/Sale/show_payments.html.twig' with {
                    'payments': order.getPayments(true),
                    'prefix': 'payment'
                } %}
                <hr>
                {# --------------- REFUNDS --------------- #}
                <div class="actions">
                    {# TODO Permission #}
                    <a href="{{ admin_resource_path('ekyna_commerce.order_payment', 'new', {
                        'orderId': order.id, 'refund': 1
                    }) }}"
                       class="btn btn-primary btn-xs pull-right">
                        {{- 'ekyna_commerce.refund.button.new'|trans -}}
                    </a>
                </div>
                <h4 class="sub-header">
                    {{- 'ekyna_commerce.refund.label.plural'|trans -}}
                </h4>
                {% include '@EkynaCommerce/Admin/Common/Sale/show_payments.html.twig' with {
                    'payments': order.getPayments(false),
                    'prefix': 'refund'
                } %}
                <hr>
                {# --------------- PAYMENT FIELDS --------------- #}
                {% include '@EkynaCommerce/Admin/Common/Sale/Fragment/payment_fields.html.twig' with {
                    'sale': order
                } %}
            </div>
            {%- endif %}
            <div class="tab-pane" id="order-shipments">
                {# --------------- SHIPMENTS --------------- #}
                <div class="actions">
                    {# TODO Permission #}
                    {% if not order.released %}
                    <a href="{{ admin_resource_path('ekyna_commerce.order_shipment', 'new', {
                        'orderId': order.id
                    }) }}"
                       class="btn btn-primary btn-xs pull-right">
                        {{- 'ekyna_commerce.shipment.button.new'|trans -}}
                    </a>
                    {% endif %}
                </div>
                <h4 class="sub-header">
                    {{- 'ekyna_commerce.shipment.label.plural'|trans -}}
                </h4>
                {% include '@EkynaCommerce/Admin/Common/Sale/show_shipments.html.twig' with {
                    'shipments': order.getShipments(true),
                    'prefix': 'shipment'
                } %}
                <hr>
                {# --------------- RETURNS --------------- #}
                <div class="actions">
                    {# TODO Permission #}
                    {% if not order.released %}
                    <a href="{{ admin_resource_path('ekyna_commerce.order_shipment', 'new', {
                        'orderId': order.id, 'return': 1
                    }) }}"
                       class="btn btn-primary btn-xs pull-right">
                        {{- 'ekyna_commerce.return.button.new'|trans -}}
                    </a>
                    {% endif %}
                </div>
                <h4 class="sub-header">
                    {{- 'ekyna_commerce.return.label.plural'|trans -}}
                </h4>
                {% include '@EkynaCommerce/Admin/Common/Sale/show_shipments.html.twig' with {
                    'shipments': order.getShipments(false),
                    'prefix': 'return'
                } %}
                <hr>
                {# --------------- SHIPMENT FIELDS --------------- #}
                {% include '@EkynaCommerce/Admin/Common/Sale/Fragment/shipment_fields.html.twig' with {
                    'sale': order
                } %}
            </div>
            {% if not order.sample -%}
            <div class="tab-pane" id="order-invoices">
                {# --------------- INVOICES --------------- #}
                <div class="actions">
                    {# TODO Permission #}
                    {% if not order.released %}
                    <a href="{{ admin_resource_path('ekyna_commerce.order_invoice', 'new', {
                        'orderId': order.id
                    }) }}"
                       class="btn btn-primary btn-xs pull-right"
                       style="margin-left:16px">
                        {{- 'ekyna_commerce.invoice.button.new'|trans -}}
                    </a>
                    {% endif %}
                </div>
                <h4 class="sub-header">
                    {{- 'ekyna_commerce.invoice.label.plural'|trans -}}
                </h4>
                {% include '@EkynaCommerce/Admin/Common/Sale/show_invoices.html.twig' with {
                    'invoices': order.getInvoices(true),
                    'prefix': 'invoice'
                } %}
                <hr>
                {# --------------- CREDITS --------------- #}
                <div class="actions">
                    {# TODO Permission #}
                    {% if not order.released %}
                    <a href="{{ admin_resource_path('ekyna_commerce.order_invoice', 'new', {
                        'orderId': order.id, 'credit': 1
                    }) }}"
                       class="btn btn-primary btn-xs pull-right"
                       style="margin-left:16px">
                        {{- 'ekyna_commerce.credit.button.new'|trans -}}
                    </a>
                    {% endif %}
                </div>
                <h4 class="sub-header">
                    {{- 'ekyna_commerce.credit.label.plural'|trans -}}
                </h4>
                {% include '@EkynaCommerce/Admin/Common/Sale/show_invoices.html.twig' with {
                    'invoices': order.getInvoices(false),
                    'prefix': 'credit'
                } %}
                <hr>
                {# --------------- INVOICE FIELDS --------------- #}
                {% include '@EkynaCommerce/Admin/Common/Sale/Fragment/invoice_fields.html.twig' with {
                    'sale': order
                } %}
            </div>
            {%- endif %}
            <div class="tab-pane" id="order-attachments">
                <div class="actions">
                    {% for type in order|sale_editable_document_types -%}
                    <a href="{{ admin_resource_path(order, 'document_generate', {
                        'orderId': order.id, 'type': type
                    }) }}"
                       class="btn btn-default btn-xs pull-right">
                        {{- 'ekyna_commerce.attachment.button.create'|trans }}
                        {{ ('ekyna_commerce.document.type.' ~ type)|trans -}}
                    </a>
                    {%- endfor %}
                    {# TODO Permission #}
                    <a href="{{ admin_resource_path('ekyna_commerce.order_attachment', 'new', {
                        'orderId': order.id
                    }) }}"
                       class="btn btn-primary btn-xs pull-right">
                        {{- 'ekyna_commerce.attachment.button.new'|trans -}}
                    </a>
                </div>
                <h4 class="sub-header">
                    {{- 'ekyna_commerce.attachment.label.plural'|trans -}}
                </h4>
                {% include '@EkynaCommerce/Admin/Common/Sale/show_attachments.html.twig' with {
                    'sale': order,
                    'attachments': order.attachments
                } %}
            </div>
            <div class="tab-pane" id="order-information">
                {% include '@EkynaCommerce/Admin/Common/Sale/show_information.html.twig' with {
                    'sale': order
                } %}
                <h4 class="sub-header">
                    {{- 'ekyna_commerce.notification.label.plural'|trans -}}
                </h4>
                {% include '@EkynaCommerce/Admin/Common/Sale/show_notifications.html.twig' with {
                    'sale': order,
                    'notifications': order.notifications
                } %}
            </div>
            {% if commerce_feature(constant('Ekyna\\Component\\Commerce\\Features::SUPPORT')) -%}
            <div class="tab-pane" id="order-tickets">
                {{- support_tickets(order, {
                    'admin': true,
                    'new': path('ekyna_commerce_ticket_admin_new', {'order': order.number})
                }) -}}
            </div>
            {%- endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block side %}
    {{ parent() }}
    {% if order.customer is not null %}
        {% include '@EkynaCommerce/Admin/Common/Sale/Side/customer.html.twig' with {'customer': order.customer} %}
    {% endif %}
{% endblock side %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ absolute_url(asset('bundles/ekynacommerce/css/sale-view.css')) }}" type="text/css" rel="stylesheet"/>
    {% if commerce_feature(constant('Ekyna\\Component\\Commerce\\Features::SUPPORT')) -%}
        <link href="{{ absolute_url(asset('bundles/ekynacommerce/css/support.css')) }}" rel="stylesheet" type="text/css"/>
    {%- endif %}
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">require(['ekyna-commerce/sale-view']);</script>
    <script type="text/javascript">require(['ekyna-commerce/sale-admin-show']);</script>
    {% if commerce_feature(constant('Ekyna\\Component\\Commerce\\Features::SUPPORT')) -%}
        <script type="text/javascript">require(['ekyna-commerce/support']);</script>
    {%- endif %}
{% endblock javascripts %}

