<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style type="text/css">
        @media print {
            html,
            body {
                margin: 0;
                padding: 0;
                text-rendering: optimizeLegibility;
                width: 100%;
                height: 100%;
            }

            .label {
                page-break-after: always;
                overflow: hidden;
                box-sizing: border-box;
                width: 100%;
                height: 100%;
            }
        }

        .label {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .label > p {
            flex: 1 1 initial;
            margin: 0;
            padding: 0;
            text-align: center;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .label .barcode-image img {
            width: 100%;
            height: 100%;
        }

        .label-small {
            font-size: 12px;
            line-height: 16px;
        }

        .label-small > .designation {
            max-height: 32px;
        }

        .label-small > .references {
            display: flex;
            justify-content: space-between;
        }

        .label-small > .references > span {
            flex: 1 1 initial;
        }

        /* ------------ LABEL LARGE ------------ */

        .label-large > .designation {
            font-size: 18px;
        }

        .label-large > .reference,
        .label-large > .geocode {
            font-size: 28px;
        }

        .label-large > .extra {
            font-size: 14px;
        }
    </style>
</head>
<body>
{% for label in labels -%}
    {% if format == 'small' -%}
        <div class="label label-small">
            <p class="designation">{{ label.designation|default('&nbsp;')|raw }}</p>
            <p class="barcode-image">
                {%- if label.barcode is not empty -%}
                <img src="data:image/png;base64,{{ label.barcode|barcode_128(256, 32) }}">
                {%- else -%}
                    &nbsp;
                {%- endif -%}
            </p>
            <p class="references">
                <span>{{ label.barcode|default('&nbsp;')|raw }}</span>
                <span>{{ label.reference|default('&nbsp;')|raw }}</span>
            </p>
        </div>
    {%- else -%}
        <div class="label label-large">
            <p class="designation">{{ label.designation|default('&nbsp;')|raw }}</p>
            <p class="reference">{{ label.reference|default('&nbsp;')|raw }}</p>
            <p class="geocode">{{ label.geocode|default('&nbsp;')|raw }}</p>
            <p class="extra">{{ label.extra|default('&nbsp;')|raw }}</p>
            <p class="barcode-image">
                {%- if label.barcode is not empty -%}
                <img src="data:image/png;base64,{{ label.barcode|barcode_128(256, 60) }}">
                {%- else -%}
                    &nbsp;
                {%- endif -%}
            </p>
            <p class="barcode-text">{{ label.barcode|default('&nbsp;')|raw }}</p>
        </div>
    {%- endif %}
{%- endfor %}
</body>
</html>
