{% extends 'EkynaCommerceBundle:Common:sale_view.html.twig' %}

{% block integer_widget %}
{% spaceless %}
    <div class="sale-detail-quantity{% if errors|length > 0 %} has-error{% endif %}">
        {% set type = type|default('number') %}
        {% if errors|length > 0 %}
            {% set attr = attr|merge({'title': errors}) %}
        {% endif %}
        {{ block('form_widget_simple') }}
    </div>
{% endspaceless %}
{% endblock %}

{% block attributes %}
{% spaceless %}
    {% for name, value in attr %}
        {% if name == 'title' %}
            title="{{ value|trans }}"
        {% elseif name == 'confirm' %}
            data-confirm="{{ value|trans|escape }}"
        {% else %}
            {{ name }}{% if value is not same as(null) %}="{{ value }}"{% endif %}
        {% endif %}
    {% endfor %}
{% endspaceless %}
{% endblock attributes %}


{% block action %}
{% spaceless %}
    {% set attr = action.attributes %}
    <a href="{{ action.path }}" {{ block('attributes') }}>
        <i class="{{ action.icon }}"></i>
    </a>
{% endspaceless %}
{% endblock action %}


{% block button %}
{% spaceless %}
    {% set attr = button.attributes %}
    <a href="{{ button.path }}" {{ block('attributes') }}>
        <i class="{{ button.icon }}"></i> {{ button.label|trans }}
    </a>
{% endspaceless %}
{% endblock button %}


{% block lines_headers %}
{% spaceless %}
    {{ parent() }}
    <th class="sale-detail-actions"></th>
{% endspaceless %}
{% endblock lines_headers %}


{% block line_quantity %}
{% spaceless %}
    <td class="text-right">
        {% if view.vars.form[line.formId] is defined %}
            {% form_theme view.vars.form[line.formId] _self %}
            {{ form_widget(view.vars.form[line.formId]) }}
        {% else %}
            <span class="sale-detail-quantity" id="{{ line.id }}_quantity">{{ line.quantity }}</span>
        {% endif %}
    </td>
{% endspaceless %}
{% endblock line_quantity %}


{% block line_leaf %}
{% spaceless %}
    {{ parent() }}
    <td class="sale-detail-actions">
    {% if line.vars.actions is defined %}
        {% for action in line.vars.actions %}
            {{ block('action') }}
        {% endfor %}
    {% endif %}
    </td>
{% endspaceless %}
{% endblock line_leaf %}


{% block line_node %}
{% spaceless %}
    {{ parent() }}
    <td class="sale-detail-actions">
    {% if line.vars.actions is defined %}
        {% for action in line.vars.actions %}
            {{ block('action') }}
        {% endfor %}
    {% endif %}
    </td>
{% endspaceless %}
{% endblock line_node %}


{% block line_information %}
{% spaceless %}
    {{ parent() }}
    <td class="sale-detail-actions">&nbsp;</td>
{% endspaceless %}
{% endblock line_information %}


{% block gross_totals %}
{% spaceless %}
    <tbody>
    <tr id="sale_gross">
        <th>&nbsp;</th>
        <th class="text-right" colspan="5">
            <strong>{{ 'ekyna_commerce.sale.field.gross_totals'|trans }}</strong>
        </th>
        <th class="text-right sale-detail-gross" id="gross_base">
            {{- view.gross.base|localizedcurrency('EUR') -}}
        </th>
        <th>&nbsp;</th>
    </tr>
    </tbody>
{% endspaceless %}
{% endblock gross_totals %}


{% block discount %}
{% spaceless %}
    {{ parent() }}
    <td class="sale-detail-actions">
    {% if line.vars.actions is defined %}
        {% for action in line.vars.actions %}
            {{ block('action') }}
        {% endfor %}
    {% endif %}
    </td>
{% endspaceless %}
{% endblock discount %}


{% block shipment %}
{% spaceless %}
    {% set line = view.shipment %}
    <tbody>
    <tr>
        <td class="sale-detail-number">{#{{ line.number }}#}</td>
        <td class="sale-detail-designation" id="{{ line.id }}_designation">{{ line.designation }}</td>
        <td class="text-right" colspan="2">&nbsp;</td>
        {{ block('line_tax_rates') }}
        <td class="text-right">&nbsp;</td>
        <td class="text-right" id="{{ line.id }}_base">{{ line.base|localizedcurrency('EUR') }}</td>
        <td class="sale-detail-actions">
        {% if line.vars.actions is defined %}
            {% for action in line.vars.actions %}
                {{ block('action') }}
            {% endfor %}
        {% endif %}
        </td>
    </tr>
    </tbody>
{% endspaceless %}
{% endblock shipment %}


{% block gran_totals %}
{% spaceless %}
    <tbody>
    <tr>
        <th colspan="5" rowspan="3" class="sale-detail-buttons">
            {{ form_widget(view.vars.form.submit) }}
        </th>
        <th>{{ 'ekyna_commerce.sale.field.net_total'|trans|upper }}</th>
        <td class="text-right sale-detail-total" id="final_base">
            {{- view.final.base|localizedcurrency('EUR') -}}
        </td>
        <th rowspan="3">&nbsp;</th>
    </tr>
    <tr>
        <th>{{ 'ekyna_commerce.sale.field.tax_total'|trans|upper }}</th>
        <td class="text-right sale-detail-total" id="final_tax">
            {{- view.final.tax|localizedcurrency('EUR') -}}
        </td>
    </tr>
    <tr>
        <th>{{ 'ekyna_commerce.sale.field.grand_total'|trans|upper }}</th>
        <td class="text-right sale-detail-total" id="final_total">
            {{- view.final.total|localizedcurrency('EUR') -}}
        </td>
    </tr>
    </tbody>
{% endspaceless %}
{% endblock gran_totals %}


{% block spacer %}
{% spaceless %}
    <tbody>
    <tr class="sale-detail-spacer">
        <td colspan="10">&nbsp;</td>
    </tr>
    </tbody>
{% endspaceless %}
{% endblock spacer %}


{% block sale %}
{% spaceless %}
    {{ form_start(view.vars.form, {'attr': {'class': 'sale-view'}}) }}
        {{ form_errors(view.vars.form) }}
        <div class="table-responsive">
            <table class="table table-striped sale-detail">
                {{ block('lines') }}

                {% if view.discounts is not empty %}
                    {{ block('gross_totals') }}
                    {{ block('spacer') }}
                    {{ block('discounts') }}
                {% endif %}

                {% if view.shipment is not same as(null) %}
                    {{ block('spacer') }}
                    {{ block('shipment') }}
                {% endif %}

                {{ block('spacer') }}

                {{ block('gran_totals') }}
            </table>
        </div>
        <div class="row">
            <div class="col-sm-4">
                {% if view.taxes is not empty %}
                    {{ block('taxes') }}
                {% endif %}
            </div>
            <div class="col-sm-8 sale-detail-buttons">
                {% if view.vars.buttons is defined %}
                    {% for button in view.vars.buttons %}
                        {{ block('button') }}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {{ form_end(view.vars.form) }}
{% endspaceless %}
{% endblock sale %}
