{% spaceless %}
{% import _self as macros %}
{% macro item_line(item) %}
    {% if not item.private %}
    <tr>
        <td>{{ item.designation }}</td>
        <td>{{ item.reference }}</td>
        <td>{{ item.quantity }}</td>
    </tr>
    {% import _self as macros %}
    {% for child in item.children -%}
        {{ macros.item_line(child) }}
    {%- endfor %}
    {% endif %}
{% endmacro %}
<table class="table table-condensed">
{% for item in items -%}
    {{ macros.item_line(item) }}
{%- endfor %}
</table>
{% if description is not empty -%}
    <p><strong>{{ 'ekyna_commerce.field.description'|trans }}</strong> {{ description|raw }}</p>
{%- endif %}
{% if comment is not empty -%}
    <p><strong>{{ 'ekyna_core.field.comment'|trans }}</strong> {{ comment|raw }}</p>
{%- endif %}
{% endspaceless %}