<ul class="nav nav-tabs">
    <li class="active">
        <a href="#product-general" data-toggle="tab">
            {{ 'ekyna_core.field.general'|trans }}
        </a>
    </li>
    {#<li>
        <a href="#product-addresses" data-toggle="tab">
            {{ 'ekyna_commerce.product.field.addresses'|trans }}
        </a>
    </li>
    <li>
        <a href="#product-details" data-toggle="tab">
            {{ 'ekyna_commerce.product.field.details'|trans }}
        </a>
    </li>#}
</ul>
<div class="panel-body form-body">
    {{ bootstrap_set_style('horizontal') }}
    {{ bootstrap_set_col_size('md') }}
    {{ form_errors(form) }}
    <div class="tab-content">
        <div class="tab-pane active" id="product-general">
            {% if form.variable is defined %}
                {{ form_row(form.variable) }}
            {% endif %}
            {{ form_row(form.designation) }}
            {{ form_row(form.reference) }}
            <div class="row">
                <div class="col-md-6">
                    {% if form.netPrice is defined %}
                        {{ form_row(form.netPrice, {'label_col': 4, 'widget_col': 8}) }}
                    {% endif %}
                </div>
                <div class="col-md-6">
                    {% if form.taxGroup is defined %}
                        {{ form_row(form.taxGroup, {'label_col': 4, 'widget_col': 8}) }}
                    {% endif %}
                </div>
            </div>
        </div>
        {#<div class="tab-pane" id="product-addresses">
            {{ form_row(form.invoiceAddress) }}
            <hr>
            <div class="form-group">
                {{ form_label(form.deliveryAddress) }}
                <div class="col-md-10">
                    {{ form_row(form.sameAddress) }}
                    <div id="delivery-address">
                        {{ form_widget(form.deliveryAddress) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="product-details">
            {{ form_row(form.items) }}
            {{ form_row(form.adjustments) }}
        </div>#}
    </div>
    {{ form_rest(form) }}
</div>
