{% extends '@EkynaAdmin/Entity/Crud/_form_default.html.twig' %}

{% block main_tabs -%}
    <li class="active">
        <a href="#{{ resource_name }}-general" id="toggle-general" data-toggle="tab">
            {{ 'field.general'|trans({}, 'EkynaUi') }}
        </a>
    </li>
    <li>
        <a href="#{{ resource_name }}-address" id="toggle-address" data-toggle="tab">
            {{ 'field.address'|trans({}, 'EkynaUi') }}
        </a>
    </li>
{%- endblock main_tabs %}

{% block main_contents -%}
    <div class="tab-pane active" id="{{ resource_name }}-general">
        {{ form_row(form.name) }}
        {{ form_row(form.countries) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.office, {'label_col': 4, 'widget_col': 8}) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.default, {'label_col': 4, 'widget_col': 8}) }}
            </div>
        <div class="row">
        </div>
            <div class="col-md-6">
                {{ form_row(form.enabled, {'label_col': 4, 'widget_col': 8}) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.priority, {'label_col': 4, 'widget_col': 8}) }}
            </div>
        </div>
    </div>
    <div class="tab-pane" id="{{ resource_name }}-address">
        {{ form_row(form.address, {'label_col': 0, 'widget_col': 12}) }}
    </div>
{%- endblock main_contents %}

