{% extends '@EkynaAdmin/Entity/Crud/read.html.twig' %}

{% set customer = context.resource %}

{% block page_title %}{{ (context.config.transPrefix ~ '.header.balance')|trans({}, context.config.transDomain)|raw }}{% endblock page_title %}

{% block title %}
    <h1>{{ (context.config.transPrefix ~ '.header.balance')|trans({}, context.config.transDomain)|raw }}</h1>
{% endblock title %}

{% block main %}
<div class="actions">
    {{ admin_resource_btn(customer, 'Ekyna\\Bundle\\AdminBundle\\Action\\ReadAction', {
        'label': t('button.back', {}, 'EkynaUi')
    }) }}
    {% if customer.user is null -%}
        {{ admin_resource_btn(customer, 'Ekyna\\Bundle\\CommerceBundle\\Action\\Admin\\Customer\\CreateUserAction') }}
    {%- else -%}{# if is_granted(constant('Ekyna\\Component\\Resource\\Action\\Permission::READ'), customer.user) #}
        {{- admin_resource_btn(customer.user, 'Ekyna\\Bundle\\UserBundle\\Action\\User\\UseSessionAction', {} , {
            'onclick': ('return confirm(\'' ~ ('user.alert.use_session'|trans({
                '{email}': customer.user.email
            }, 'EkynaUser')) ~ '\')'),
            'target': '_blank'
        }) -}}
    {%- endif %}
    {{ admin_resource_btn(customer, 'Ekyna\\Bundle\\AdminBundle\\Action\\UpdateAction') }}
    {{ admin_resource_btn(customer, 'Ekyna\\Bundle\\AdminBundle\\Action\\DeleteAction') }}
</div>
<div class="show">
    <div class="show-body">
        {% include "@EkynaCommerce/Customer/balance.html.twig" with {
            'balance': balance,
            'form': form
        } only %}
    </div>
</div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">require(['ekyna-commerce/customer-balance']);</script>
{% endblock javascripts %}
