{% extends '@EkynaAdmin/Entity/Default/remove.html.twig' %}

{% block title %}
    <h1>{{ (trans_prefix ~ '.header.create_user')|trans|raw }}</h1>
{% endblock title %}

{% block main %}
    <div class="alert alert-info">
        <p>
            {{ 'ekyna_commerce.customer.message.create_user'|trans({
                '{identity}': customer|identity,
                '{email}': customer.email
            })|raw }}
        </p>
    </div>
    {{ bootstrap_set_style('horizontal') }}
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="form-body">
        {{ form_errors(form, {'global_errors': true}) }}
        {{ form_row(form.confirm) }}
        {{ form_rest(form) }}
    </div>
    {{ form_end(form) }}
{% endblock main %}
