{% extends "EkynaAdminBundle:Entity/Default:show.html.twig" %}

{% block main %}
<div class="actions">
    {{ admin_resource_btn(customer, 'edit') }}
    {{ admin_resource_btn(customer, 'remove') }}
</div>
<div class="show show-with-tabs" data-tab-key="{{ resource_id }}">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#customer-general" id="toggle-general" data-toggle="tab">
                {{ 'ekyna_core.field.general'|trans }}
            </a>
        </li>
        <li>
            <a href="#customer-addresses" id="toggle-addresses" data-toggle="tab">
                {{ 'ekyna_commerce.customer_address.label.plural'|trans }}
            </a>
        </li>
        {% if customer.children|length > 0 %}
            <li>
                <a href="#customer-children" id="toggle-children" data-toggle="tab">
                    {{ 'ekyna_commerce.customer.field.children'|trans }}
                </a>
            </li>
        {% endif %}
        <li>
            <a href="#customer-quotes" id="toggle-quotes" data-toggle="tab">
                {{ 'ekyna_commerce.quote.label.plural'|trans }}
            </a>
        </li>
        <li>
            <a href="#customer-orders" id="toggle-orders" data-toggle="tab">
                {{ 'ekyna_commerce.order.label.plural'|trans }}
            </a>
        </li>
        <li>
            <a href="#customer-invoices" id="toggle-invoices" data-toggle="tab">
                {{ 'ekyna_commerce.invoice.label.plural'|trans }}
            </a>
        </li>
        <li>
            <a href="#customer-shipments" id="toggle-shipments" data-toggle="tab">
                {{ 'ekyna_commerce.shipment.label.plural'|trans }}
            </a>
        </li>
    </ul>
    <div class="show-body">
        <div class="tab-content">
            <div class="tab-pane active" id="customer-general">
                <div class="row">
                    <div class="col-md-6">
                        {{ show_row(customer.number, 'text', {
                            'label': 'ekyna_core.field.number',
                            'id': 'customer_number',
                            'label_col': 4
                        }) }}
                    </div>
                    <div class="col-md-6">
                        {{ show_row(customer.email, 'text', {
                            'label': 'ekyna_core.field.email',
                            'id': 'customer_email',
                            'label_col': 4
                        }) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ show_row(customer.company, 'text', {
                            'label': 'ekyna_core.field.company',
                            'id': 'customer_company',
                            'label_col': 4
                        }) }}
                    </div>
                    <div class="col-md-6">
                        <div class="row show-row">
                            <div class="col-md-4 show-label">
                                {{ 'ekyna_core.field.identity'|trans }}
                            </div>
                            <div class="col-md-8">
                                <div class="show-widget show-widget-inline" id="customer_identity">
                                    {{ customer|identity }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ show_row(customer.phone, 'phone', {
                            'label': 'ekyna_core.field.phone',
                            'id': 'customer_phone',
                            'label_col': 4
                        }) }}
                    </div>
                    <div class="col-md-6">
                        {{ show_row(customer.mobile, 'phone', {
                            'label': 'ekyna_core.field.mobile',
                            'id': 'customer_mobile',
                            'label_col': 4
                        }) }}
                    </div>
                </div>
                {{ show_row(customer.description, 'textarea', {
                    'label': 'ekyna_commerce.field.description',
                    'id': 'customer_description'
                }) }}
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        {{ show_row(customer.user, 'entity', {
                            'label': 'ekyna_user.user.label.singular',
                            'id': 'customer_user',
                            'route': 'ekyna_user_user_admin_show',
                            'route_parameters_map': {'userId': 'id'},
                            'label_col': 4
                        }) }}
                    </div>
                    <div class="col-md-6">
                        {{ show_row(customer.inCharge, 'entity', {
                            'label': 'ekyna_commerce.customer.field.in_charge',
                            'id': 'customer_user',
                            'route': 'ekyna_user_user_admin_show',
                            'route_parameters_map': {'userId': 'id'},
                            'field': 'username',
                            'label_col': 4
                        }) }}
                    </div>
                </div>
                <hr>
                {{ show_row(customer.parent, 'entity', {
                    'label': 'ekyna_commerce.customer.field.parent',
                    'id': 'customer_parent',
                    'route': 'ekyna_commerce_customer_admin_show',
                    'route_parameters_map': {'customerId': 'id'}
                }) }}
                {{ show_row(customer.customerGroup, 'entity', {
                    'label': 'ekyna_commerce.customer_group.label.singular',
                    'id': 'customer_group',
                    'route': 'ekyna_commerce_customer_group_admin_show',
                    'route_parameters_map': {'customerGroupId': 'id'}
                }) }}
                {% set customerSource = customer.hasParent() ? customer.parent : customer %}
                {% include "EkynaCommerceBundle:Admin/Common/Pricing:_show_vat_fields.html.twig" with {'subject': customerSource, 'prefix': 'customer'} %}
                <div class="row">
                    <div class="col-md-6">
                        {{ show_row(customerSource.paymentTerm, 'entity', {
                            'label': 'ekyna_commerce.payment_term.label.singular',
                            'id': 'customer_payment_term',
                            'route': 'ekyna_commerce_payment_term_admin_show',
                            'route_parameters_map': {'paymentTermId': 'id'},
                            'label_col': 4
                        }) }}
                    </div>
                    <div class="col-md-6">
                        {{ show_row(customerSource.outstandingLimit|localizedcurrency(commerce_default_currency), 'text', {
                            'label': 'ekyna_commerce.customer.field.outstanding_limit',
                            'id': 'customer_outstanding_limit',
                            'label_col': 4
                        }) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ show_row(customerSource.creditBalance|localizedcurrency(commerce_default_currency), 'text', {
                            'label': 'ekyna_commerce.customer.field.credit_balance',
                            'id': 'customer_credit_balance',
                            'label_col': 4
                        }) }}
                    </div>
                    <div class="col-md-6">
                        {{ show_row(customerSource.outstandingBalance|localizedcurrency(commerce_default_currency), 'text', {
                            'label': 'ekyna_commerce.customer.field.outstanding_balance',
                            'id': 'customer_outstanding_balance',
                            'label_col': 4
                        }) }}
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="customer-addresses">
                <div class="actions">
                    {{ ui_button('ekyna_commerce.customer_address.button.new', {
                        'type': 'link',
                        'icon': 'plus',
                        'theme': 'primary',
                        'path': path('ekyna_commerce_customer_address_admin_new', {
                            'customerId': customer.id
                        })
                    }) }}
                </div>
                {% for address in customer.addresses %}
                    {% if loop.index0 % 2 == 0 %}<div class="row">{% endif %}
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-body" id="customer_address_{{ loop.index0 }}">
                                <p>{{ address|address }}</p>
                                <p>
                                {%- if address.invoiceDefault -%}
                                    {%- if customer.hasParent() and customer.parent.getDefaultInvoiceAddress(true) is not same as(null) -%}
                                        <a href="{{ path('ekyna_commerce_customer_address_admin_default_invoice', {
                                            'customerId': customer.id,
                                            'customerAddressId': address.id
                                        }) }}" class="btn btn-xs btn-primary">
                                            {{- 'ekyna_commerce.customer_address.field.invoice_default'|trans -}}
                                        </a>
                                    {%- else -%}
                                        <span class="btn btn-xs btn-primary disabled">
                                            {{- 'ekyna_commerce.customer_address.field.invoice_default'|trans -}}
                                        </span>
                                    {%- endif -%}
                                {%- else -%}
                                    <a href="{{ path('ekyna_commerce_customer_address_admin_default_invoice', {
                                        'customerId': customer.id,
                                        'customerAddressId': address.id
                                    }) }}" class="btn btn-xs btn-default">
                                        {{- 'ekyna_commerce.customer_address.button.invoice_default'|trans -}}
                                    </a>
                                {%- endif -%}
                                &nbsp;
                                {%- if address.deliveryDefault -%}
                                    {%- if customer.hasParent() and customer.parent.getDefaultDeliveryAddress(true) is not same as(null) -%}
                                        <a href="{{ path('ekyna_commerce_customer_address_admin_default_delivery', {
                                            'customerId': customer.id,
                                            'customerAddressId': address.id
                                        }) }}" class="btn btn-xs btn-primary">
                                            {{- 'ekyna_commerce.customer_address.field.delivery_default'|trans -}}
                                        </a>
                                    {%- else -%}
                                        <span class="btn btn-xs btn-primary disabled">
                                            {{- 'ekyna_commerce.customer_address.field.delivery_default'|trans -}}
                                        </span>
                                    {%- endif -%}
                                {%- else -%}
                                    <a href="{{ path('ekyna_commerce_customer_address_admin_default_delivery', {
                                        'customerId': customer.id,
                                        'customerAddressId': address.id
                                    }) }}" class="btn btn-xs btn-default">
                                        {{- 'ekyna_commerce.customer_address.button.delivery_default'|trans -}}
                                    </a>
                                {%- endif -%}
                                </p>
                            </div>
                            <div class="panel-footer">
                                {{ admin_resource_btn(address, 'edit', {'size': 'xs', 'short': true}) }}
                                {{ admin_resource_btn(address, 'remove', {'size': 'xs', 'short': true}, {'style': 'float:right'}) }}
                            </div>
                        </div>
                    </div>
                    {% if loop.index % 2 == 0 or loop.last %}</div>{% endif %}
                {% else %}
                    <p>{{ 'ekyna_commerce.customer_address.alert.no_item'|trans }}</p>
                {% endfor %}
            </div>
            {% if customer.children|length > 0 %}
            <div class="tab-pane" id="customer-children">
                <div class="sub-header">
                    <h2>{{ 'ekyna_commerce.customer.header.children'|trans|raw }}</h2>
                </div>
                <div class="actions">
                    {{ admin_resource_btn('ekyna_commerce.customer', 'new', {
                        'label': 'ekyna_commerce.customer.button.new',
                        'path': path('ekyna_commerce_customer_admin_new', {
                            'parent': customer.id,
                        })
                    }) }}
                </div>
                {{ ekyna_table_render(children) }}
            </div>
            {% endif %}
            <div class="tab-pane" id="customer-quotes">
                <div class="sub-header">
                    <h2>{{ 'ekyna_commerce.customer.header.quotes'|trans|raw }}</h2>
                </div>
                <div class="actions">
                    {{ admin_resource_btn('ekyna_commerce.quote', 'new', {
                        'label': 'ekyna_commerce.quote.button.new',
                        'path': path('ekyna_commerce_quote_admin_new', {
                            'customer': customer.id,
                        })
                    }) }}
                </div>
                {{ ekyna_table_render(quotes) }}
            </div>
            <div class="tab-pane" id="customer-orders">
                <div class="sub-header">
                    <h2>{{ 'ekyna_commerce.customer.header.orders'|trans|raw }}</h2>
                </div>
                <div class="actions">
                    {{ admin_resource_btn('ekyna_commerce.order', 'new', {
                        'label': 'ekyna_commerce.order.button.new',
                        'path': path('ekyna_commerce_order_admin_new', {
                            'customer': customer.id,
                        })
                    }) }}
                </div>
                {{ ekyna_table_render(orders) }}
            </div>
            <div class="tab-pane" id="customer-invoices">
                <div class="sub-header">
                    <h2>{{ 'ekyna_commerce.customer.header.orders'|trans|raw }}</h2>
                </div>
                {{ ekyna_table_render(invoices) }}
            </div>
            <div class="tab-pane" id="customer-shipments">
                <div class="sub-header">
                    <h2>{{ 'ekyna_commerce.customer.header.orders'|trans|raw }}</h2>
                </div>
                {{ ekyna_table_render(shipments) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
