{% extends "EkynaAdminBundle:Entity/Default:show.html.twig" %}

{% block main %}
<div class="actions">
    {{ admin_resource_btn(customer, 'edit') }}
    {{ admin_resource_btn(customer, 'remove') }}
</div>
<div class="show show-with-tabs">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#customer-general" id="toggle-general" data-toggle="tab">
                {{ 'ekyna_core.field.general'|trans }}
            </a>
        </li>
        <li>
            <a href="#customer-addresses" id="toggle-addresses" data-toggle="tab">
                {{ 'ekyna_commerce.customer_address.label.plural'|trans }}
            </a>
        </li>
    </ul>
    <div class="show-body">
        <div class="tab-content">
            <div class="tab-pane active" id="customer-general">
                {{ show_row(customer.email, 'text', 'ekyna_core.field.email', {
                    'id': 'customer_email'
                }) }}
                {{ show_row(customer.company, 'text', 'ekyna_core.field.company', {
                    'id': 'customer_company'
                }) }}
                <div class="row show-row">
                    <div class="col-md-2 show-label">
                        {{ 'ekyna_core.field.identity'|trans }}
                    </div>
                    <div class="col-md-10">
                        <div class="show-widget show-widget-inline" id="customer_identity">
                            {{ customer|identity }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ show_row(customer.phone, 'tel', 'ekyna_core.field.phone', {
                            'id': 'customer_phone',
                            'label_nb_col': 4,
                            'widget_nb_col': 8
                        }) }}
                    </div>
                    <div class="col-md-6">
                        {{ show_row(customer.mobile, 'tel', 'ekyna_core.field.mobile', {
                            'id': 'customer_mobile',
                            'label_nb_col': 4,
                            'widget_nb_col': 8
                        }) }}
                    </div>
                </div>
                <hr>
                {{ show_row(customer.customerGroup, 'entity', 'ekyna_commerce.customer_group.label.singular', {
                    'id': 'customer_group',
                    'route': 'ekyna_commerce_customer_group_admin_show',
                    'route_params_map': {'customerGroupId': 'id'}
                }) }}
                {{ show_row(customer.parent, 'entity', 'ekyna_core.field.parent', {
                    'id': 'customer_parent',
                    'route': 'ekyna_commerce_customer_admin_show',
                    'route_params_map': {'customerId': 'id'}
                }) }}
                {{ show_row(customer.user, 'entity', 'ekyna_user.user.label.singular', {
                    'id': 'customer_user',
                    'route': 'ekyna_user_user_admin_show',
                    'route_params_map': {'userId': 'id'}
                }) }}
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        {{ show_row(customer.paymentTerm, 'entity', 'ekyna_commerce.payment_term.label.singular', {
                            'id': 'payment_term',
                            'route': 'ekyna_commerce_payment_term_admin_show',
                            'route_params_map': {'paymentTermId': 'id'},
                            'label_nb_col': 4,
                            'widget_nb_col': 8
                        }) }}
                    </div>
                    <div class="col-md-6">
                        {{ show_row(customer.creditLimit, 'number', 'ekyna_commerce.customer.field.credit_limit', {
                            'id': 'customer_mobile',
                            'precision': 2,
                            'label_nb_col': 4,
                            'widget_nb_col': 8,
                            'append' => ' €'
                        }) }}
                        {# TODO € => default currency ? #}
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="customer-addresses">
                <div class="actions">
                    {{ ui_button('ekyna_commerce.customer_address.button.new', {
                        'type': 'link',
                        'icon': 'plus',
                        'theme': 'success',
                        'path': path('ekyna_commerce_customer_address_admin_new', {
                            'customerId': customer.id
                        })
                    }) }}
                </div>
                {% for address in customer.addresses %}
                    {% if loop.index0 % 2 == 0 %}<div class="row">{% endif %}
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-body" id="customer_address_{{ loop.index0 }}">
                                {{ address|commerce_address }}
                            </div>
                            <div class="panel-footer">
                                {{ admin_resource_btn(address, 'edit', {'size': 'xs', 'short': true}) }}
                                {{ admin_resource_btn(address, 'remove', {'size': 'xs', 'short': true}, {'style': 'float:right'}) }}
                            </div>
                        </div>
                    </div>
                    {% if loop.index % 2 == 0 or loop.last %}</div>{% endif %}
                {% else %}
                    <p>{{ 'ekyna_commerce.customer_address.alert.no_item'|trans }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
