{% extends "EkynaAdminBundle:Entity/Default:show.html.twig" %}

{% block main %}
<div class="actions">
    {{ admin_resource_btn(customer, 'edit') }}
    {{ admin_resource_btn(customer, 'remove') }}
</div>
<div class="show show-with-tabs">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#customer-general" id="toggle-general" data-toggle="tab">
                {{ 'ekyna_core.field.general'|trans }}
            </a>
        </li>
        <li>
            <a href="#customer-addresses" id="toggle-addresses" data-toggle="tab">
                {{ 'ekyna_commerce.customer_address.label.plural'|trans }}
            </a>
        </li>
        {% if customer.children|length > 0 %}
            <li>
                <a href="#customer-children" id="toggle-children" data-toggle="tab">
                    {{ 'ekyna_commerce.customer.field.children'|trans }}
                </a>
            </li>
        {% endif %}
        <li>
            <a href="#customer-quotes" id="toggle-quotes" data-toggle="tab">
                {{ 'ekyna_commerce.quote.label.plural'|trans }}
            </a>
        </li>
        <li>
            <a href="#customer-orders" id="toggle-orders" data-toggle="tab">
                {{ 'ekyna_commerce.order.label.plural'|trans }}
            </a>
        </li>
    </ul>
    <div class="show-body">
        <div class="tab-content">
            <div class="tab-pane active" id="customer-general">
                <div class="row">
                    <div class="col-md-6">
                        {{ show_row(customer.number, 'text', 'ekyna_core.field.number', {
                            'id': 'customer_number',
                            'label_nb_col': 4,
                            'widget_nb_col': 8
                        }) }}
                    </div>
                    <div class="col-md-6">
                        {{ show_row(customer.email, 'text', 'ekyna_core.field.email', {
                            'id': 'customer_email',
                            'label_nb_col': 4,
                            'widget_nb_col': 8
                        }) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ show_row(customer.company, 'text', 'ekyna_core.field.company', {
                            'id': 'customer_company',
                            'label_nb_col': 4,
                            'widget_nb_col': 8
                        }) }}
                    </div>
                    <div class="col-md-6">
                        <div class="row show-row">
                            <div class="col-md-4 show-label">
                                {{ 'ekyna_core.field.identity'|trans }}
                            </div>
                            <div class="col-md-8">
                                <div class="show-widget show-widget-inline" id="customer_identity">
                                    {{ customer|identity }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ show_row(customer.phone, 'tel', 'ekyna_core.field.phone', {
                            'id': 'customer_phone',
                            'label_nb_col': 4,
                            'widget_nb_col': 8
                        }) }}
                    </div>
                    <div class="col-md-6">
                        {{ show_row(customer.mobile, 'tel', 'ekyna_core.field.mobile', {
                            'id': 'customer_mobile',
                            'label_nb_col': 4,
                            'widget_nb_col': 8
                        }) }}
                    </div>
                </div>
                {{ show_row(customer.description, 'textarea', 'ekyna_core.field.description', {
                    'id': 'customer_description'
                }) }}
                <hr>
                {{ show_row(customer.customerGroup, 'entity', 'ekyna_commerce.customer_group.label.singular', {
                    'id': 'customer_group',
                    'route': 'ekyna_commerce_customer_group_admin_show',
                    'route_params_map': {'customerGroupId': 'id'}
                }) }}
                {{ show_row(customer.parent, 'entity', 'ekyna_commerce.customer.field.parent', {
                    'id': 'customer_parent',
                    'route': 'ekyna_commerce_customer_admin_show',
                    'route_params_map': {'customerId': 'id'}
                }) }}
                {{ show_row(customer.user, 'entity', 'ekyna_user.user.label.singular', {
                    'id': 'customer_user',
                    'route': 'ekyna_user_user_admin_show',
                    'route_params_map': {'userId': 'id'}
                }) }}
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        {{ show_row(customer.paymentTerm, 'entity', 'ekyna_commerce.payment_term.label.singular', {
                            'id': 'customer_payment_term',
                            'route': 'ekyna_commerce_payment_term_admin_show',
                            'route_params_map': {'paymentTermId': 'id'},
                            'label_nb_col': 6,
                            'widget_nb_col': 6
                        }) }}
                    </div>
                    <div class="col-md-4">
                        {{ show_row(customer.outstandingLimit, 'number', 'ekyna_commerce.customer.field.outstanding_limit', {
                            'id': 'customer_outstanding_limit',
                            'precision': 2,
                            'label_nb_col': 6,
                            'widget_nb_col': 6,
                            'append': ' €'
                        }) }}
                        {# TODO € => default currency ? #}
                    </div>
                    <div class="col-md-4">
                        {{ show_row(customer.outstandingBalance, 'number', 'ekyna_commerce.customer.field.outstanding_balance', {
                            'id': 'customer_outstanding_balance',
                            'precision': 2,
                            'label_nb_col': 6,
                            'widget_nb_col': 6,
                            'append': ' €'
                        }) }}
                        {# TODO € => default currency ? #}
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="customer-addresses">
                <div class="actions">
                    {{ ui_button('ekyna_commerce.customer_address.button.new', {
                        'type': 'link',
                        'icon': 'plus',
                        'theme': 'primary',
                        'path': path('ekyna_commerce_customer_address_admin_new', {
                            'customerId': customer.id
                        })
                    }) }}
                </div>
                {% for address in customer.addresses %}
                    {% if loop.index0 % 2 == 0 %}<div class="row">{% endif %}
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-body" id="customer_address_{{ loop.index0 }}">
                                {{ address|commerce_address }}
                            </div>
                            <div class="panel-footer">
                                {{ admin_resource_btn(address, 'edit', {'size': 'xs', 'short': true}) }}
                                {{ admin_resource_btn(address, 'remove', {'size': 'xs', 'short': true}, {'style': 'float:right'}) }}
                            </div>
                        </div>
                    </div>
                    {% if loop.index % 2 == 0 or loop.last %}</div>{% endif %}
                {% else %}
                    <p>{{ 'ekyna_commerce.customer_address.alert.no_item'|trans }}</p>
                {% endfor %}
            </div>
            {% if customer.children|length > 0 %}
            <div class="tab-pane" id="customer-children">
                <div class="sub-header">
                    <h2>{{ 'ekyna_commerce.customer.header.children'|trans|raw }}</h2>
                </div>
                <div class="actions">
                    {{ admin_resource_btn('ekyna_commerce.customer', 'new', {
                        'label': 'ekyna_commerce.customer.button.new',
                        'path': path('ekyna_commerce_customer_admin_new', {
                            'parent': customer.id,
                        })
                    }) }}
                </div>
                {{ ekyna_table_render(children) }}
            </div>
            {% endif %}
            <div class="tab-pane" id="customer-quotes">
                <div class="sub-header">
                    <h2>{{ 'ekyna_commerce.customer.header.quotes'|trans|raw }}</h2>
                </div>
                <div class="actions">
                    {{ admin_resource_btn('ekyna_commerce.quote', 'new', {
                        'label': 'ekyna_commerce.quote.button.new',
                        'path': path('ekyna_commerce_quote_admin_new', {
                            'customer': customer.id,
                        })
                    }) }}
                </div>
                {{ ekyna_table_render(quotes) }}
            </div>
            <div class="tab-pane" id="customer-orders">
                <div class="sub-header">
                    <h2>{{ 'ekyna_commerce.customer.header.orders'|trans|raw }}</h2>
                </div>
                <div class="actions">
                    {{ admin_resource_btn('ekyna_commerce.order', 'new', {
                        'label': 'ekyna_commerce.order.button.new',
                        'path': path('ekyna_commerce_order_admin_new', {
                            'customer': customer.id,
                        })
                    }) }}
                </div>
                {{ ekyna_table_render(orders) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
