{% macro show_stock_mode(subject, options = {}) %}
{% spaceless %}
    {{ show_row(subject|stock_subject_mode_badge, 'text', 'ekyna_core.field.mode', {
        'id': 'subject_stockMode'
    }|merge(options)) }}
{% endspaceless %}
{% endmacro show_stock_mode %}


{% macro show_stock_state(subject, options = {}) %}
{% spaceless %}
    {{ show_row(subject|stock_subject_state_badge, 'text', 'ekyna_core.field.status', {
        'id': 'subject_stockState'
    }|merge(options)) }}
{% endspaceless %}
{% endmacro show_stock_state %}


{% macro show_in_stock(subject, options = {}) %}
{% spaceless %}
    {{ show_row(subject.inStock, 'number', 'ekyna_commerce.stock_subject.field.in_stock', {
        'id': 'subject_inStock',
        'precision': 0
    }|merge(options)) }}
{% endspaceless %}
{% endmacro show_in_stock %}


{% macro show_available_stock(subject, options = {}) %}
{% spaceless %}
    {{ show_row(subject.availableStock, 'number', 'ekyna_commerce.stock_subject.field.available_stock', {
        'id': 'subject_availableStock',
        'precision': 0
    }|merge(options)) }}
{% endspaceless %}
{% endmacro show_available_stock %}


{% macro show_virtual_stock(subject, options = {}) %}
{% spaceless %}
    {{ show_row(subject.virtualStock, 'number', 'ekyna_commerce.stock_subject.field.virtual_stock', {
        'id': 'subject_virtualStock',
        'precision': 0
    }|merge(options)) }}
{% endspaceless %}
{% endmacro show_virtual_stock %}


{% macro show_stock_floor(subject, options = {}) %}
{% spaceless %}
    {{ show_row(subject.stockFloor, 'number', 'ekyna_commerce.stock_subject.field.floor', {
        'id': 'subject_stockFloor',
        'precision': 0
    }|merge(options)) }}
{% endspaceless %}
{% endmacro show_stock_floor %}


{% macro show_eta(subject, options = {}) %}
{% spaceless %}
    {{ show_row(subject.estimatedDateOfArrival, 'datetime', 'ekyna_commerce.stock_subject.field.estimated_date_of_arrival', {
        'id': 'subject_estimatedDateOfArrival',
        'time': false
    }|merge(options)) }}
{% endspaceless %}
{% endmacro show_eta %}


{% macro show_stock_view(subject, prefix) %}
{% spaceless %}
    {% set prefix = prefix|default('subject') %}
    <div class="row">
        <div class="col-md-4">
            {{ _self.show_stock_mode(subject, {
                'id': prefix ~'_stockMode',
                'label_nb_col': 6,
                'widget_nb_col': 6
            }) }}
        </div>
        <div class="col-md-4">
            {{ _self.show_stock_state(subject, {
                'id': prefix ~'_stockState',
                'label_nb_col': 6,
                'widget_nb_col': 6
            }) }}
        </div>
        <div class="col-md-4">
            {{ _self.show_eta(subject, {
                'id': prefix ~'_estimatedDateOfArrival',
                'label_nb_col': 6,
                'widget_nb_col': 6
            }) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            {{ _self.show_in_stock(subject, {
                'id': prefix ~'_inStock',
                'label_nb_col': 8,
                'widget_nb_col': 4
            }) }}
        </div>
        <div class="col-md-3">
            {{ _self.show_stock_floor(subject, {
                'id': prefix ~'_stockFloor',
                'label_nb_col': 8,
                'widget_nb_col': 4
            }) }}
        </div>
        <div class="col-md-3">
            {{ _self.show_available_stock(subject, {
                'id': prefix ~'_availableStock',
                'label_nb_col': 8,
                'widget_nb_col': 4
            }) }}
        </div>
        <div class="col-md-3">
            {{ _self.show_virtual_stock(subject, {
                'id': prefix ~'_virtualStock',
                'label_nb_col': 8,
                'widget_nb_col': 4
            }) }}
        </div>
    </div>
{% endspaceless %}
{% endmacro show_stock_view %}

