<div class="row">
    <div class="col-md-6">
        {{ form_row(form.stockMode, {'label_col': 4, 'widget_col': 8}) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.unit, {'label_col': 4, 'widget_col': 8}) }}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        {{ form_row(form.geocode, {'label_col': 6, 'widget_col': 6}) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.weight, {'label_col': 6, 'widget_col': 6}) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.packageWeight, {'label_col': 6, 'widget_col': 6}) }}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        {{ form_row(form.stockFloor, {'label_col': 6, 'widget_col': 6}) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.width, {'label_col': 6, 'widget_col': 6}) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.packageWidth, {'label_col': 6, 'widget_col': 6}) }}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        {{ form_row(form.replenishmentTime, {'label_col': 6, 'widget_col': 6}) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.height, {'label_col': 6, 'widget_col': 6}) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.packageHeight, {'label_col': 6, 'widget_col': 6}) }}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        {{ form_row(form.minimumOrderQuantity, {'label_col': 6, 'widget_col': 6}) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.depth, {'label_col': 6, 'widget_col': 6}) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.packageDepth, {'label_col': 6, 'widget_col': 6}) }}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        {{ form_row(form.releasedAt, {'label_col': 6, 'widget_col': 6}) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.quoteOnly, {'label_col': 6, 'widget_col': 6}) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.endOfLife, {'label_col': 6, 'widget_col': 6}) }}
    </div>
</div>
