{% macro show_stock_mode(subject, options = {}) %}
{% apply spaceless %}
    {{ show_row(subject|stock_subject_mode_badge, 'text', {
        'label': t('field.mode', [], 'EkynaUi'),
        'id': 'subject_stockMode'
    }|merge(options)) }}
{% endapply %}
{% endmacro show_stock_mode %}


{% macro show_stock_state(subject, options = {}) %}
{% apply spaceless %}
    {{ show_row(subject|stock_subject_state_badge, 'text', {
        'label': t('field.status', [], 'EkynaUi'),
        'id': 'subject_stockState'
    }|merge(options)) }}
{% endapply %}
{% endmacro show_stock_state %}


{% macro show_in_stock(subject, options = {}) %}
{% apply spaceless %}
    {{ show_row(subject.inStock, 'number', {
        'label': t('field.in_stock', [], 'EkynaCommerce'),
        'id': 'subject_inStock'
    }|merge(options)) }}
{% endapply %}
{% endmacro show_in_stock %}


{% macro show_available_stock(subject, options = {}) %}
{% apply spaceless %}
    {{ show_row(subject.availableStock, 'number', {
        'label': t('field.available_stock', [], 'EkynaCommerce'),
        'id': 'subject_availableStock'
    }|merge(options)) }}
{% endapply %}
{% endmacro show_available_stock %}


{% macro show_virtual_stock(subject, options = {}) %}
{% apply spaceless %}
    {{ show_row(subject.virtualStock, 'number', {
        'label': t('field.virtual_stock', [], 'EkynaCommerce'),
        'id': 'subject_virtualStock'
    }|merge(options)) }}
{% endapply %}
{% endmacro show_virtual_stock %}


{% macro show_stock_floor(subject, options = {}) %}
{% apply spaceless %}
    {{ show_row(subject.stockFloor, 'number', {
        'label': t('stock_subject.field.floor', [], 'EkynaCommerce'),
        'id': 'subject_stockFloor'
    }|merge(options)) }}
{% endapply %}
{% endmacro show_stock_floor %}


{% macro show_minimum_order_quantity(subject, options = {}) %}
{% apply spaceless %}
    {{ show_row(subject.minimumOrderQuantity, 'number', {
        'label': t('stock_subject.field.minimum_order_quantity', [], 'EkynaCommerce'),
        'id': 'subject_minimumOrderQuantity'
    }|merge(options)) }}
{% endapply %}
{% endmacro show_minimum_order_quantity %}


{%- macro show_released_at(product, options = {}) -%}
{% apply spaceless %}
    {{- show_row(product.releasedAt, 'datetime', {
        'label': t('stock_subject.field.released_at', [], 'EkynaCommerce'),
        'id': 'subject_releasedAt',
        'time': false
    }|merge(options)) -}}
{% endapply %}
{%- endmacro show_released_at -%}


{% macro show_eda(subject, options = {}) %}
{% apply spaceless %}
    {{ show_row(subject.estimatedDateOfArrival, 'datetime', {
        'label': t('field.replenishment_eda', [], 'EkynaCommerce'),
        'id': 'subject_estimatedDateOfArrival',
        'time': false
    }|merge(options)) }}
{% endapply %}
{% endmacro show_eda %}


{% macro show_replenishment_time(subject, options = {}) %}
{% apply spaceless %}
    {{ show_row(subject.replenishmentTime, 'number', {
        'label': t('stock_subject.field.replenishment_time', [], 'EkynaCommerce'),
        'id': 'subject_replenishmentTime'
    }|merge(options)) }}
{% endapply %}
{% endmacro show_replenishment_time %}


{% macro show_geocode(subject, options = {}) %}
{% apply spaceless %}
    {{ show_row(subject.geocode, 'text', {
        'label': t('field.geocode', [], 'EkynaCommerce'),
        'id': 'subject_geocode'
    }|merge(options)) }}
{% endapply %}
{% endmacro show_geocode %}


{% macro show_quote_only(subject, options = {}) %}
{% apply spaceless %}
    {{ show_row(subject.quoteOnly, 'boolean', {
        'label': t('stock_subject.field.quote_only', [], 'EkynaCommerce'),
        'id': 'subject_quoteOnly',
        'color': true,
        'true_class': 'label label-warning',
        'false_class': 'label label-success'
    }|merge(options)) }}
{% endapply %}
{% endmacro show_quote_only %}


{% macro show_end_of_life(subject, options = {}) %}
{% apply spaceless %}
    {{ show_row(subject.endOfLife, 'boolean', {
        'label': t('stock_subject.field.end_of_life', [], 'EkynaCommerce'),
        'id': 'subject_endOfLife',
        'color': true,
        'true_class': 'label label-warning',
        'false_class': 'label label-success'
    }|merge(options)) }}
{% endapply %}
{% endmacro show_end_of_life %}


{%- macro show_weight(subject, options = {}) -%}
    {{- show_row(subject.weight, 'number', {
        'label': t('field.weight', [], 'EkynaUi'),
        'id': 'subject_weight',
        'append': ' kg'
    }|merge(options)) -}}
{%- endmacro show_weight -%}


{%- macro show_width(subject, options = {}) -%}
    {{- show_row(subject.width, 'number', {
        'label': t('field.width', [], 'EkynaUi'),
        'id': 'subject_width',
        'append': ' mm'
    }|merge(options)) -}}
{%- endmacro show_width -%}


{%- macro show_height(subject, options = {}) -%}
    {{- show_row(subject.height, 'number', {
        'label': t('field.height', [], 'EkynaUi'),
        'id': 'subject_height',
        'append': ' mm'
    }|merge(options)) -}}
{%- endmacro show_height -%}


{%- macro show_depth(subject, options = {}) -%}
    {{- show_row(subject.depth, 'number', {
        'label': t('field.depth', [], 'EkynaUi'),
        'id': 'subject_depth',
        'append': ' mm'
    }|merge(options)) -}}
{%- endmacro show_depth -%}


{% macro show_physical(subject, options = {}) %}
    {{- show_row(subject.physical, 'boolean', {
        'label': t('field.physical', [], 'EkynaCommerce'),
        'id': 'subject_physical',
        'color': true,
        'true_class': 'label label-success',
        'false_class': 'label label-warning'
    }|merge(options)) -}}
{% endmacro show_physical %}


{%- macro show_unit(subject, options = {}) -%}
    {{- show_row(subject.unit, 'commerce_unit', {
        'label': t('unit.label', [], 'EkynaCommerce'),
        'id': 'subject_unit'
    }|merge(options)) -}}
{%- endmacro show_unit -%}


{%- macro show_package_weight(subject, options = {}) -%}
    {{- show_row(subject.packageWeight, 'number', {
        'label': t('stock_subject.field.package_weight', [], 'EkynaCommerce'),
        'id': 'subject_package_weight',
        'append': ' kg'
    }|merge(options)) -}}
{%- endmacro show_package_weight -%}


{%- macro show_package_width(subject, options = {}) -%}
    {{- show_row(subject.packageWidth, 'number', {
        'label': t('stock_subject.field.package_width', [], 'EkynaCommerce'),
        'id': 'subject_package_width',
        'append': ' mm'
    }|merge(options)) -}}
{%- endmacro show_package_width -%}


{%- macro show_package_height(subject, options = {}) -%}
    {{- show_row(subject.packageHeight, 'number', {
        'label': t('stock_subject.field.package_height', [], 'EkynaCommerce'),
        'id': 'subject_package_height',
        'append': ' mm'
    }|merge(options)) -}}
{%- endmacro show_package_height -%}


{%- macro show_package_depth(subject, options = {}) -%}
    {{- show_row(subject.packageDepth, 'number', {
        'label': t('stock_subject.field.package_depth', [], 'EkynaCommerce'),
        'id': 'subject_package_depth',
        'append': ' mm'
    }|merge(options)) -}}
{%- endmacro show_package_depth -%}


{% macro show_stock_view(subject, prefix) %}
{% apply spaceless %}
    {% import _self as macros %}
    {% set prefix = prefix|default('subject') %}
    <div class="row">
        <div class="col-md-4">
            {{ macros.show_stock_mode(subject, {
                'id': prefix ~'_stockMode',
                'label_col': 6
            }) }}
        </div>
        <div class="col-md-4">
            {{ macros.show_stock_state(subject, {
                'id': prefix ~'_stockState',
                'label_col': 6
            }) }}
        </div>
        <div class="col-md-4">
            {{ macros.show_unit(subject, {
                'id': prefix ~'_unit',
                'label_col': 6
            }) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{ macros.show_physical(subject, {
                'id': prefix ~'_physical',
                'label_col': 6
            }) }}
        </div>
        <div class="col-md-4">
            {{ macros.show_quote_only(subject, {
                'id': prefix ~'_quoteOnly',
                'label_col': 6
            }) }}
        </div>
        <div class="col-md-4">
            {{ macros.show_end_of_life(subject, {
                'id': prefix ~'_endOfLife',
                'label_col': 6
            }) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{ macros.show_geocode(subject, {
                'id': prefix ~'_geocode',
                'label_col': 6
            }) }}
        </div>
        <div class="col-md-4">
            {{ macros.show_weight(subject, {
                'id': prefix ~'_weight',
                'label_col': 6
            }) }}
        </div>
        <div class="col-md-4">
            {{ macros.show_package_weight(subject, {
                'id': prefix ~'_package_weight',
                'label_col': 6
            }) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{ macros.show_stock_floor(subject, {
                'id': prefix ~'_stockFloor',
                'label_col': 6
            }) }}
        </div>
        <div class="col-md-4">
            {{ macros.show_width(subject, {
                'id': prefix ~'_width',
                'label_col': 6
            }) }}
        </div>
        <div class="col-md-4">
            {{ macros.show_package_width(subject, {
                'id': prefix ~'_package_width',
                'label_col': 6
            }) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{ macros.show_replenishment_time(subject, {
                'id': prefix ~'_replenishmentTime',
                'label_col': 6
            }) }}
        </div>
        <div class="col-md-4">
            {{ macros.show_height(subject, {
                'id': prefix ~'_height',
                'label_col': 6
            }) }}
        </div>
        <div class="col-md-4">
            {{ macros.show_package_height(subject, {
                'id': prefix ~'_package_height',
                'label_col': 6
            }) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{ macros.show_minimum_order_quantity(subject, {
                'id': prefix ~'_minimumOrderQuantity',
                'label_col': 6
            }) }}
        </div>
        <div class="col-md-4">
            {{ macros.show_depth(subject, {
                'id': prefix ~'_depth',
                'label_col': 6
            }) }}
        </div>
        <div class="col-md-4">
            {{ macros.show_package_depth(subject, {
                'id': prefix ~'_package_depth',
                'label_col': 6
            }) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{ macros.show_in_stock(subject, {
                'id': prefix ~'_inStock',
                'label_col': 6
            }) }}
        </div>
        <div class="col-md-4">
            {{ macros.show_available_stock(subject, {
                'id': prefix ~'_availableStock',
                'label_col': 6
            }) }}
        </div>
        <div class="col-md-4">
            {{ macros.show_virtual_stock(subject, {
                'id': prefix ~'_virtualStock',
                'label_col': 6
            }) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{ macros.show_eda(subject, {
                'id': prefix ~'_estimatedDateOfArrival',
                'label_col': 6
            }) }}
        </div>
        <div class="col-md-4">
            {{ macros.show_released_at(subject, {
                'id': prefix ~'_releasedAt',
                'label_col': 6
            }) }}
        </div>
    </div>
{% endapply %}
{% endmacro show_stock_view %}
