{% spaceless %}
<div class="table-responsive">
    <table class="{{ classes }}">
        <thead>
        <tr>
            <th>
                {{- 'ekyna_core.field.status'|trans -}}
            </th>
            <th>
                {{- 'ekyna_commerce.stock_unit.field.geocode'|trans -}}
            </th>
            <th>
                {{- 'ekyna_commerce.stock_unit.field.ordered_quantity'|trans -}}
            </th>
            <th>
                {{- 'ekyna_commerce.stock_unit.field.received_quantity'|trans -}}
            </th>
            <th>
                {{- 'ekyna_commerce.stock_unit.field.sold_quantity'|trans -}}
            </th>
            <th>
                {{- 'ekyna_commerce.stock_unit.field.shipped_quantity'|trans -}}
            </th>
            <th>
                {{- 'ekyna_commerce.stock_unit.field.estimated_date_of_arrival'|trans -}}
            </th>
            <th>
                {{- 'ekyna_commerce.stock_unit.field.net_price'|trans -}}
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {%- for stockUnit in stockUnits -%}
        {%- set stockUnitId = prefix ~ '_' ~ loop.index0 -%}
        <tr>
            <td id="{{ stockUnitId ~ '_state' }}">
                {{- stockUnit|stock_unit_state_badge -}}
            </td>
            <td id="{{ stockUnitId ~ '_geocode' }}">
                {{- stockUnit.geocode -}}
            </td>
            <td id="{{ stockUnitId ~ '_orderedQuantity' }}" class="text-right">
                {{- stockUnit.orderedQuantity|localizednumber -}}
            </td>
            <td id="{{ stockUnitId ~ '_receivedQuantity' }}" class="text-right">
                {{- stockUnit.receivedQuantity|localizednumber -}}
            </td>
            <td id="{{ stockUnitId ~ '_soldQuantity' }}" class="text-right">
                {{- stockUnit.soldQuantity|localizednumber -}}
            </td>
            <td id="{{ stockUnitId ~ '_shippedQuantity' }}" class="text-right">
                {{- stockUnit.shippedQuantity|localizednumber -}}
            </td>
            <td id="{{ stockUnitId ~ '_estimatedDateOfArrival' }}">
                {%- if stockUnit.estimatedDateOfArrival is not empty -%}
                    {{ stockUnit.estimatedDateOfArrival|localizeddate('short', 'none') }}
                {%- else -%}
                    <em>{{ 'ekyna_core.value.unknown'|trans }}</em>
                {%- endif -%}
            </td>
            <td id="{{ stockUnitId ~ '_netPrice' }}" class="text-right">
                {{- stockUnit.netPrice|localizedcurrency('EUR') -}} {# TODO currency #}
            </td>
            <td class="actions">
                {%- if stockUnit.supplierOrderItem is not same as(null) -%}
                    <a href="{{ admin_resource_path(stockUnit.supplierOrderItem.order) }}" class="btn btn-xs btn-default">
                        {{- 'ekyna_commerce.stock_unit.field.supplier_order'|trans }}
                        {{ stockUnit.supplierOrderItem.order.number -}}
                    </a>
                {%- else -%}
                    <a href="{{ admin_resource_path(stockUnit, 'edit') }}" class="btn btn-xs btn-warning">
                        {{- 'ekyna_core.button.edit'|trans -}}
                    </a>
                    <a href="{{ admin_resource_path(stockUnit, 'remove') }}" class="btn btn-xs btn-danger">
                        {{- 'ekyna_core.button.remove'|trans -}}
                    </a>
                {%- endif -%}
            </td>
        </tr>
        {%- else -%}
        <tr>
            <td colspan="9" class="text-center">
                <em>{{ 'ekyna_commerce.stock_unit.alert.empty_list'|trans }}</em>
            </td>
        </tr>
        {%- endfor -%}
        </tbody>
    </table>
</div>
{% endspaceless %}
