{% apply spaceless %}
<div id="{{ id }}" data-prefix="{{ prefix }}" class="stock-assignments table-responsive">
    <table class="{{ classes }}">
        <thead>
        <tr>
            <th>{{ 'field.status'|trans({}, 'EkynaUi') }}</th>
            <th>{{ 'field.geocode'|trans({}, 'EkynaCommerce') }}</th>
            <th class="text-right">{{ 'stock_unit.field.ordered_quantity'|trans({}, 'EkynaCommerce') }}</th>
            <th class="text-right">{{ 'stock_unit.field.received_quantity'|trans({}, 'EkynaCommerce') }}</th>
            <th class="text-right">{{ 'stock_unit.field.adjusted_quantity'|trans({}, 'EkynaCommerce') }}</th>
            <th class="text-right">{{ 'stock_unit.field.sold_quantity'|trans({}, 'EkynaCommerce') }}</th>
            <th class="text-right">{{ 'stock_unit.field.shipped_quantity'|trans({}, 'EkynaCommerce') }}</th>
            <th class="text-right">{{ 'field.estimated_date_of_arrival'|trans({}, 'EkynaCommerce') }}</th>
            <th class="text-right">{{ 'field.buy_net_price'|trans({}, 'EkynaCommerce') }}</th>
            {% if actions %}<th></th>{% endif %}
        </tr>
        </thead>
        <tbody>
        {% include '@EkynaCommerce/Admin/Stock/stock_assignment_rows.html.twig' with {
            'prefix': prefix,
            'stock_assignments': stockAssignments,
            'actions': actions
        } only %}
        </tbody>
    </table>
</div>
{% endapply %}
