{% apply spaceless %}
<div id="{{ id }}" data-prefix="{{ prefix }}" class="stock-units table-responsive">
    <table class="{{ classes }}">
        <thead>
        <tr>
            <th>{{ 'field.status'|trans({}, 'EkynaUi') }}</th>
            <th>{{ 'field.geocode'|trans({}, 'EkynaCommerce') }}</th>
            <th>{{ 'stock_unit.field.ordered_quantity'|trans({}, 'EkynaCommerce') }}</th>
            <th>{{ 'stock_unit.field.received_quantity'|trans({}, 'EkynaCommerce') }}</th>
            <th>{{ 'stock_unit.field.adjusted_quantity'|trans({}, 'EkynaCommerce') }}</th>
            <th>{{ 'stock_unit.field.sold_quantity'|trans({}, 'EkynaCommerce') }}</th>
            <th>{{ 'stock_unit.field.shipped_quantity'|trans({}, 'EkynaCommerce') }}</th>
            <th>{{ 'field.estimated_date_of_arrival'|trans({}, 'EkynaCommerce') }}</th>
            <th>{{ 'field.buy_net_price'|trans({}, 'EkynaCommerce') }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% include '@EkynaCommerce/Js/stock_unit_rows.html.twig' with {
            'prefix': prefix,
            'stock_units': stockUnits,
        } only %}
        </tbody>
    </table>
</div>
{% if script -%}
<script type="text/javascript">
    require(['ekyna-commerce/stock-units'], function(StockUnits) {
        new StockUnits('{{ id }}');
    });
</script>
{%- endif %}
{% endapply %}
