{% spaceless %}
<div id="{{ id }}" data-prefix="{{ prefix }}" class="stock-assignments table-responsive">
    <table class="{{ classes }}">
        <thead>
        <tr>
            <th>{{ 'ekyna_core.field.status'|trans }}</th>
            <th>{{ 'ekyna_commerce.stock_unit.field.geocode'|trans }}</th>
            <th>{{ 'ekyna_commerce.stock_unit.field.ordered_quantity'|trans }}</th>
            <th>{{ 'ekyna_commerce.stock_unit.field.received_quantity'|trans }}</th>
            <th>{{ 'ekyna_commerce.stock_unit.field.adjusted_quantity'|trans }}</th>
            <th>{{ 'ekyna_commerce.stock_unit.field.sold_quantity'|trans }}</th>
            <th>{{ 'ekyna_commerce.stock_unit.field.shipped_quantity'|trans }}</th>
            <th>{{ 'ekyna_commerce.stock_unit.field.estimated_date_of_arrival'|trans }}</th>
            <th>{{ 'ekyna_commerce.stock_unit.field.net_price'|trans }}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% include "EkynaCommerceBundle:Js:stock_assignment_rows.html.twig" with {
            'prefix': prefix,
            'stock_assignments': stockAssignments,
        } only %}
        </tbody>
    </table>
</div>
{#{% if script -%}
<script type="text/javascript">
    require(['ekyna-commerce/stock-units'], function(StockUnits) {
        new StockUnits('{{ id }}');
    });
</script>
{%- endif %}#}
{% endspaceless %}
