{% extends "EkynaAdminBundle:Entity/Default:new.html.twig" %}

{% block main %}
    {{ form_start(form) }}

    <ul class="nav nav-tabs" data-tab-key="{{ resource_id }}">
        <li class="active">
            <a href="#shipment-method-general" id="toggle-general" data-toggle="tab">
                {{ 'ekyna_core.field.general'|trans }}
            </a>
        </li>
        {% if flow.getCurrentStepNumber() == 2 %}
            <li>
                <a href="#shipment-method-content" id="toggle-content" data-toggle="tab">
                    {{ 'ekyna_core.field.content'|trans }}
                </a>
            </li>
            {% if form.pricing is defined -%}
            <li>
                <a href="#shipment-method-pricing" id="toggle-pricing" data-toggle="tab">
                    {{ 'ekyna_core.field.pricing'|trans }}
                </a>
            </li>
            {%- endif %}
            <li>
                <a href="#shipment-method-messages" id="toggle-messages" data-toggle="tab">
                    {{ 'ekyna_commerce.message.label.plural'|trans }}
                </a>
            </li>
        {% endif %}
    </ul>
    <div class="panel-body form-body">
        {{ bootstrap_set_style('horizontal') }}
        {{ bootstrap_set_col_size('md') }}
        <div class="tab-content">
            {{ form_errors(form) }}
            <div class="tab-pane active" id="shipment-method-general">
                {% if flow.getCurrentStepNumber() == 1 %}
                    {{ form_row(form.platformName) }}
                {% else %}
                    {{ form_row(form.name) }}
                    {{ form_row(form.taxGroup) }}
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.available, {'label_col': 4, 'widget_col': 8}) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.enabled, {'label_col': 4, 'widget_col': 8}) }}
                        </div>
                    </div>
                    <hr>
                    {{ form_row(form.platformName) }}
                    {% if form.config is defined %}
                        {{ form_row(form.config) }}
                    {% endif %}
                {% endif %}
            </div>
            {% if flow.getCurrentStepNumber() == 2 %}
            <div class="tab-pane" id="shipment-method-content">
                {{ form_row(form.media) }}
                {{ form_row(form.translations, {'label_col': 0, 'widget_col': 12}) }}
            </div>
            {% if form.pricing is defined -%}
            <div class="tab-pane" id="shipment-method-pricing">
                {{ form_row(form.pricing) }}
            </div>
            {%- endif %}
            <div class="tab-pane" id="shipment-method-messages">
                {{ form_widget(form.messages) }}
            </div>
            {% endif %}
            {{ form_rest(form) }}
        </div>

        {% include 'EkynaAdminBundle:Form:form_flow_buttons.html.twig' %}
    </div>

    {{ form_end(form) }}
{% endblock main %}
