{% extends "EkynaAdminBundle:Entity/Default:show.html.twig" %}

{% block main %}
    <div class="actions">
        {{ admin_resource_btn(shipmentMethod, 'edit') }}
        {{ admin_resource_btn(shipmentMethod, 'remove') }}
    </div>
    <div class="show show-with-tabs">
        <ul class="nav nav-tabs" data-tab-key="{{ resource_id }}">
            <li class="active">
                <a href="#shipment-method-general" id="toggle-general" data-toggle="tab">
                    {{ 'ekyna_core.field.general'|trans }}
                </a>
            </li>
            <li>
                <a href="#shipment-method-content" id="toggle-content" data-toggle="tab">
                    {{ 'ekyna_core.field.content'|trans }}
                </a>
            </li>
            <li>
                <a href="#shipment-method-pricing" id="toggle-pricing" data-toggle="tab">
                    {{ 'ekyna_core.field.pricing'|trans }}
                </a>
            </li>
            <li>
                <a href="#shipment-method-messages" id="toggle-messages" data-toggle="tab">
                    {{ 'ekyna_commerce.message.label.plural'|trans }}
                </a>
            </li>
        </ul>
        <div class="show-body">
            <div class="tab-content">
                <div class="tab-pane active" id="shipment-method-general">
                    {{ show_row(shipmentMethod.name, 'text', {
                        'label': 'ekyna_core.field.name',
                        'id': 'shipment_method_name'
                    }) }}
                    {{ show_row(shipmentMethod.taxGroup, 'entity', {
                        'label': 'ekyna_commerce.tax_group.label.singular',
                        'id': 'shipment_method_taxGroup',
                        'route': 'ekyna_commerce_tax_group_admin_show',
                        'route_parameters_map': {'taxGroupId': 'id'}
                    }) }}
                    <div class="row">
                        <div class="col-md-6">
                            {{ show_row(shipmentMethod.available, 'boolean', {
                                'label': 'ekyna_commerce.shipment_method.field.available',
                                'id': 'shipment_method_available',
                                'label_col': 4
                            }) }}
                        </div>
                        <div class="col-md-6">
                            {{ show_row(shipmentMethod.enabled, 'boolean', {
                                'label': 'ekyna_core.field.enabled',
                                'id': 'shipment_method_enabled',
                                'label_col': 4
                            }) }}
                        </div>
                    </div>
                    {{ show_row(shipmentMethod.platformName, 'text', {
                        'label': 'ekyna_commerce.shipment_method.field.platform_name'
                    }) }}
                    {# TODO gatewayConfig #}
                </div>
                <div class="tab-pane" id="shipment-method-content">
                    {{ show_row(shipmentMethod.media, 'media', {
                        'label': 'ekyna_core.field.image',
                        'id': 'shipment_method_image',
                    }) }}
                    {{ show_row(shipmentMethod.translations, 'translations', {
                        'id': 'shipmentMethod_translations',
                        'fields': {
                            'title': {'label': 'ekyna_core.field.title'},
                            'description': {
                                'label': 'ekyna_core.field.description',
                                'type': 'textarea',
                                'options': {'html': true}
                            },
                        }
                    }) }}
                </div>
                <div class="tab-pane" id="shipment-method-pricing">
                    {{ display_shipment_prices(shipmentMethod) }}
                </div>
                <div class="tab-pane" id="shipment-method-messages">
                    <ul class="nav nav-tabs">
                        {% for message in shipmentMethod.messages %}
                            <li{% if loop.first %} class="active"{% endif %}>
                                <a href="#shipment-method-state-{{ message.state }}" id="toggle-state-{{ message.state }}" data-toggle="tab">
                                    {{ message.state|shipment_state_label }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="panel-body" style="border: 1px solid #ddd; border-top: none; padding:15px 15px 1px 15px; margin-bottom: 15px;">
                        <div class="tab-content">
                            {% for message in shipmentMethod.messages %}
                                <div class="tab-pane{% if loop.first %} active{% endif %}"
                                     id="shipment-method-state-{{ message.state }}">
                                    <div class="row show-row">
                                        <div class="col-md-2 show-label">
                                            {{ 'ekyna_core.field.content'|trans }}
                                        </div>
                                        <div class="col-md-10">
                                            <div class="show-widget show-widget-block" id="shipment_method_message_{{ message.state }}_content">
                                                {% if message.content is empty %}
                                                    <em>{{ 'ekyna_core.value.undefined'|trans }}</em>
                                                {% else %}
                                                    {{ message.content|raw }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">require(['bundles/ekynacommerce/js/show/shipment-prices']);</script>
{% endblock javascripts %}
