<div class="customer-balance">
    {{ bootstrap_set_style('inline') }}
    {{ bootstrap_set_sizing('sm') }}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-2">
            {{ form_row(form.currency) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.from) }}
        </div>
        <div class="col-md-2">
            {{ form_row(form.to) }}
        </div>
        <div class="col-md-3">
            {{ form_row(form.filter) }}
        </div>
        <div class="col-md-3">
            {{ form_widget(form.submit) }}&nbsp;
            {% if form.notify is defined %}
                {{ form_widget(form.notify) }}&nbsp;
            {% endif %}
            {{ form_widget(form.export) }}
        </div>
    </div>
    {{ form_end(form) }}
    <div class="table-responsive">
        <table class="table table-striped table-hover table-condensed table-alt-head">
            <thead>
            <tr>
                <th>{{ 'field.date'|trans({}, 'EkynaUi') }}</th>
                <th>{{ 'field.number'|trans({}, 'EkynaUi') }}</th>
                <th>{{ 'customer.balance.order_date'|trans({}, 'EkynaCommerce') }}</th>
                <th>{{ 'order.label.singular'|trans({}, 'EkynaCommerce') }}</th>
                <th>{{ 'sale.field.voucher_number'|trans({}, 'EkynaCommerce') }}</th>
                <th>{{ 'field.label'|trans({}, 'EkynaUi') }}</th>
                <th>{{ 'customer.balance.debit'|trans({}, 'EkynaCommerce') }}</th>
                <th>{{ 'customer.balance.credit'|trans({}, 'EkynaCommerce') }}</th>
                <th>{{ 'customer.balance.due_date'|trans({}, 'EkynaCommerce') }}</th>
            </tr>
            </thead>
            <tbody>
            {%- include "@EkynaCommerce/Js/customer_balance_rows.html.twig" with {
                'balance': balance
            } only -%}
            </tbody>
        </table>
    </div>
</div>
