{% apply spaceless %}
<table class="table table-alt-head">
    <thead>
    <tr>
        <th>{{ 'field.code'|trans({}, 'EkynaUi') }}</th>
        <th>{{ 'field.amount'|trans({}, 'EkynaUi') }}</th>
        <th>{{ 'field.start_date'|trans({}, 'EkynaUi') }}</th>
        <th>{{ 'field.end_date'|trans({}, 'EkynaUi') }}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for coupon in coupons %}
        <tr>
            <td data-clipboard-copy="{{ coupon.code }}">{{ coupon.code }}</td>
            <td>
                {%- if coupon.mode == constant('Ekyna\\Component\\Commerce\\Common\\Model\\AdjustmentModes::MODE_PERCENT') -%}
                    -{{ (coupon.amount / 100)|format_number('percent') }}
                {%- else -%}
                    -{{ coupon.amount|format_currency(commerce_default_currency) }}
                {%- endif -%}
            </td>
            <td>{{ coupon.startAt|format_datetime('short', 'none') }}</td>
            <td>{{ coupon.endAt|format_datetime('short', 'none') }}</td>
            <td>{% if not coupon.cumulative %}{{ 'coupon.help.not_cumulative'|trans({}, 'EkynaCommerce') }}{% endif %}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">{{ 'value.no_item'|trans({}, 'EkynaUi') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endapply %}
