{% apply spaceless %}
<table class="table table-alt-head">
<thead>
<tr>
    <th>{{ 'ekyna_commerce.customer.field.loyalty_origin'|trans }}</th>
    <th>{{ 'ekyna_core.field.amount'|trans }}</th>
    <th>{{ 'ekyna_core.field.date'|trans }}</th>
</tr>
</thead>
<tbody>
{% for log in logs %}
<tr>
    <td>{{ log.origin }}</td>
    <td>{% if log.debit %}-{% endif %}{{ log.amount }}</td>
    <td>{{ log.createdAt|localizeddate('short', 'short') }}</td>
</tr>
{% else %}
<tr>
    <td colspan="3">{{ 'ekyna_core.value.no_item'|trans }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endapply %}
