{% apply spaceless %}
<table class="table table-alt-head">
<thead>
<tr>
    <th>{{ 'customer.field.loyalty_origin'|trans({}, 'EkynaCommerce') }}</th>
    <th>{{ 'field.amount'|trans({}, 'EkynaUi') }}</th>
    <th>{{ 'field.date'|trans({}, 'EkynaUi') }}</th>
</tr>
</thead>
<tbody>
{% for log in logs %}
<tr>
    <td>{{ log.origin }}</td>
    <td>{% if log.debit %}-{% endif %}{{ log.amount }}</td>
    <td>{{ log.createdAt|format_datetime('short', 'short') }}</td>
</tr>
{% else %}
<tr>
    <td colspan="3">{{ 'value.no_item'|trans({}, 'EkynaUi') }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endapply %}
