{% extends '@EkynaAdmin/Entity/Crud/_form_default.html.twig' %}

{% block main_contents -%}
    <div class="tab-pane active" id="{{ resource_name }}-general">
        {{ form_row(form.type) }}
        {{ form_row(form.translations, {'label_col': 0, 'widget_col': 12}) }}
        {{ form_row(form.paymentMessage) }}
        {{ form_row(form.shipmentMessage) }}
        {{ form_row(form.includeView) }}
        {{ form_row(form.documentTypes) }}
        {{ form_row(form.enabled) }}
    </div>
{%- endblock main_contents %}
