{% extends "EkynaAdminBundle:Entity/Default:show.html.twig" %}

{% block main %}
<div class="actions">
    {{ ui_button('ekyna_commerce.notify_model.button.test', {
        'theme': 'primary',
        'type': 'link',
        'path': admin_resource_path(notifyModel, 'test')
    }) }}
    {{ admin_resource_btn(notifyModel, 'edit') }}
    {{ admin_resource_btn(notifyModel, 'remove') }}
</div>
<div class="show show-with-tabs">
    <ul class="nav nav-tabs" data-tab-key="{{ resource_id }}">
        <li class="active">
            <a href="#notify-model-general" id="toggle-general" data-toggle="tab">
                {{- 'ekyna_core.field.general'|trans -}}
            </a>
        </li>
    </ul>
    <div class="show-body">
        <div class="tab-content">
            <div class="tab-pane active" id="notify-model-general">
                {{ show_row(notifyModel.type|notify_type_label, 'text', {
                    'label': 'ekyna_core.field.type',
                    'id': 'notifyModel_type'
                }) }}
                {{ show_row(notifyModel.translations, 'translations', {
                    'id': 'notifyModel_translations',
                    'fields': {
                        'subject': {
                            'label': 'ekyna_core.field.subject',
                            'type': 'text'
                        },
                        'message': {
                            'label': 'ekyna_core.field.message',
                            'type': 'textarea',
                            'options': {
                                'html': true
                            }
                        }
                    }
                }) }}
                <div class="row">
                    <div class="col-md-6">
                        {{ show_row(notifyModel.paymentMessage, 'boolean', {
                            'label': 'ekyna_commerce.notify.field.payment_message',
                            'id': 'notifyModel_paymentMessage',
                            'label_col': 4,
                            'null_label': 'ekyna_core.field.default'
                        }) }}
                    </div>
                    <div class="col-md-6">
                        {{ show_row(notifyModel.shipmentMessage, 'boolean', {
                            'label': 'ekyna_commerce.notify.field.shipment_message',
                            'id': 'notifyModel_shipmentMessage',
                            'label_col': 4,
                            'null_label': 'ekyna_core.field.default'
                        }) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ show_row(notifyModel.includeView, 'choice', {
                            'label': 'ekyna_commerce.notify.field.include_view',
                            'id': 'notifyModel_includeView',
                            'label_col': 4,
                            'empty_label': 'ekyna_core.field.default',
                            'choices': {
                                'ekyna_commerce.notify.include_view.none': 'none',
                                'ekyna_commerce.notify.include_view.after': 'after',
                                'ekyna_commerce.notify.include_view.before': 'before',
                            }
                        }) }}
                    </div>
                    <div class="col-md-6">
                        {{ show_row(notifyModel.documentTypes, 'choice', {
                            'label': 'ekyna_commerce.notify_model.field.document_types',
                            'id': 'notifyModel_documentTypes',
                            'label_col': 4,
                            'choices': 'Ekyna\\Bundle\\CommerceBundle\\Model\\DocumentTypes',
                            'empty_label': 'ekyna_core.field.default',
                            'multiple': true
                        }) }}
                    </div>
                </div>
                {{ show_row(notifyModel.enabled, 'boolean', {
                    'label': 'ekyna_core.field.enabled',
                    'id': 'notifyModel_enabled',
                    'color': true,
                }) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
