{% apply spaceless %}
<div class="actions">
    {%- if supplierOrder is validated_supplier_order or supplierOrder is partial_supplier_order -%}
        {{ admin_resource_btn('ekyna_commerce.supplier_delivery', 'Ekyna\\Bundle\\AdminBundle\\Action\\CreateAction', {
            'label': t('supplier_delivery.button.new', {}, 'EkynaCommerce'),
            'size': 'sm',
        }) }}
    {% endif -%}
</div>
{% for delivery in supplierOrder.deliveries %}
    {% set deliveryId = 'delivery_' ~ loop.index0 ~ '_' -%}
    <h5 class="sub-header">
        {{ 'supplier_delivery.header.show'|trans({
            '%date%': delivery.createdAt|format_datetime('short', 'none')
        }, 'EkynaCommerce')|raw }}
    </h5>
    <table class="table table-stripped table-condensed table-alt-head">
        <thead>
        <tr>
            <th>{{ 'field.designation'|trans({}, 'EkynaUi') }}</th>
            <th>{{ 'field.reference'|trans({}, 'EkynaUi') }}</th>
            <th>{{ 'field.geocode'|trans({}, 'EkynaCommerce') }}</th>
            <th>{{ 'field.quantity'|trans({}, 'EkynaUi') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for item in delivery.items %}
        <tr>
            {% set itemId = deliveryId ~ 'item_' ~ loop.index0 ~ '_' %}
            <td id="{{ itemId ~ 'designation' }}">
                {% if item.orderItem.product is not null -%}
                <a href="{{ admin_resource_path(item.orderItem.product) }}">
                    {{ item.orderItem.designation }}
                </a>
                {%- else -%}
                    {{ item.orderItem.designation }}
                {%- endif %}
            </td>
            <td id="{{ itemId ~ 'reference' }}">
                {{ item.orderItem.reference }}
            </td>
            <td id="{{ itemId ~ 'geocode' }}">
                {{ item.geocode }}
            </td>
            <td id="{{ itemId ~ 'quantity' }}" class="text-right">
                {{ item.quantity|format_number }}{# TODO packaging format #}
                {% if 1 != item.orderItem.packing -%}
                    ({{ (item.quantity.mul(item.orderItem.packing))|format_number }})
                {%- endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="actions">
        {{ admin_resource_btn(delivery, 'Ekyna\\Bundle\\AdminBundle\\Action\\UpdateAction', {'size': 'xs'}) }}
        {{ admin_resource_btn(delivery, 'Ekyna\\Bundle\\AdminBundle\\Action\\DeleteAction', {'size': 'xs'}) }}
    </div>
{% else %}
    <p>
        <em>{{ 'supplier_delivery.alert.no_item'|trans({}, 'EkynaCommerce') }}</em>
    </p>
{% endfor %}
{% endapply %}
