{% spaceless %}
<table class="table table-condensed table-stripped">
    <thead>
    <tr>
        <th>{{ 'ekyna_core.field.designation'|trans }}</th>
        <th>{{ 'ekyna_core.field.reference'|trans }}</th>
        <th>{{ 'ekyna_core.field.quantity'|trans }}</th>
        <th>{{ 'ekyna_commerce.supplier_order_item.field.net_price'|trans }}</th>
        <th>{{ 'ekyna_commerce.supplier_order_item.field.supplier_data'|trans }}</th>
        <th>{{ 'ekyna_commerce.supplier_order_item.field.subject'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% if supplierOrder.items is not empty %}
    {% for item in supplierOrder.items %}
    {% set itemId = 'item_' ~ loop.index0 ~ '_' -%}
    <tr>
        <td id="{{ itemId ~ 'designation' }}">
            <a href="{{ path('ekyna_commerce_supplier_product_admin_show', {
                'supplierId': item.product.supplier.id,
                'supplierProductId': item.product.id,
            }) }}">
                {{- item.designation -}}
            </a>
        </td>
        <td id="{{ itemId ~ 'reference' }}">
            {{- item.reference -}}
        </td>
        <td id="{{ itemId ~ 'quantity' }}" class="text-right">
            {{ item.quantity|localizednumber }}
        </td>
        <td id="{{ itemId ~ 'netPrice' }}" class="text-right">
            {{ item.netPrice|localizedcurrency(supplierOrder.currency.code) }}
        </td>
        <td id="{{ itemId ~ 'supplierData' }}">
            {% if item.product is not same as(null) %}
                [{{ item.product.availableStock|localizednumber }}]{# TODO packaging format #}
                {% if 0 < item.product.orderedStock %}
                    [{{ item.product.orderedStock|localizednumber }}]{# TODO packaging format #}
                {% endif %}
                {% if item.product.estimatedDateOfArrival is not same as(null) %}
                    ({{ item.product.estimatedDateOfArrival|localizeddate('short', 'none') }})
                {% endif %}
            {% endif %}
        </td>
        <td id="{{ itemId ~ 'subject' }}">
            {{ item|subject_admin_link }}
        </td>
    </tr>
    {%- endfor %}
    <tr>
        <td colspan="3" class="text-right">
            <strong>{{ 'ekyna_commerce.supplier_order.field.items_total'|trans }}</strong>
        </td>
        <td class="text-right">
            <strong>{{ supplierOrder|supplier_order_items_total|localizedcurrency(supplierOrder.currency.code) }}</strong>
        </td>
        <td colspan="2"></td>
    </tr>
    {%- else %}
    <tr>
        <td colspan="6" class="text-center">
            <em>{{ 'ekyna_commerce.supplier_order.alert.empty'|trans }}</em>
        </td>
    </tr>
    {%- endif -%}
    </tbody>
</table>
{% endspaceless %}
