{% apply spaceless %}
<table class="table table-condensed table-stripped table-alt-head">
    <thead>
    <tr>
        <th>{{ 'field.designation'|trans({}, 'EkynaUi') }}</th>
        <th>{{ 'field.reference'|trans({}, 'EkynaUi') }}</th>
        <th>{{ 'field.quantity'|trans({}, 'EkynaUi') }}</th>
        <th>{{ 'stock_unit.field.received_quantity'|trans({}, 'EkynaCommerce') }}</th>
        <th>{{ 'field.buy_net_price'|trans({}, 'EkynaCommerce') }}</th>
        <th>{{ 'field.weight'|trans({}, 'EkynaUi') }}</th>
        <th>{{ 'tax_group.label.singular'|trans({}, 'EkynaCommerce') }}</th>
        <th>{{ 'supplier_order_item.field.supplier_data'|trans({}, 'EkynaCommerce') }}</th>
        <th>{{ 'supplier_order_item.field.subject'|trans({}, 'EkynaCommerce') }}</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    {% if supplierOrder.items is not empty %}
    {% for item in supplierOrder.items %}
    {% set itemId = 'item_' ~ loop.index0 ~ '_' -%}
    {% set received = item|supplier_order_item_received_quantity %}
    {% set partial = supplierOrder.hasDeliveries() and (received < item.quantity) %}
    <tr{% if partial %} class="danger"{% endif %}>
        <td id="{{ itemId ~ 'designation' }}">
            {% if item.product is not null -%}
            <a href="{{ admin_resource_path(item.product) }}">
                {{- item.designation -}}
            </a>
            {%- else -%}
                {{- item.designation -}}
            {%- endif %}
        </td>
        <td id="{{ itemId ~ 'reference' }}">
            {{- item.reference -}}
        </td>
        <td id="{{ itemId ~ 'quantity' }}" class="text-right">
            {{ item.quantity|format_number }}
            {% if 1 != item.packing -%}
                ({{ (item.quantity.mul(item.packing))|format_number }})
            {%- endif %}
        </td>
        <td id="{{ itemId ~ 'receivedQuantity' }}" class="text-right">
            {%- if partial %}<strong class="text-danger">{% endif -%}
                {{ received|format_number }}
            {%- if partial %}</strong>{% endif %}
            {% if 1 != item.packing -%}
                ({{ (received.mul(item.packing))|format_number }})
            {%- endif %}
        </td>
        <td id="{{ itemId ~ 'netPrice' }}" class="text-right">
            {{ item.netPrice|format_currency(supplierOrder.currency.code, {'fraction_digit': 5}) }}
        </td>
        <td id="{{ itemId ~ 'weight' }}" class="text-right">
            {{ item.weight|format_number }}&nbsp;kg
        </td>
        <td id="{{ itemId ~ 'taxGroup' }}" class="text-right">
            {{ item.taxGroup.name }}
        </td>
        <td id="{{ itemId ~ 'supplierData' }}">
            {% if item.product is not same as(null) %}
                [{{ item.product.availableStock|format_number }}]{# TODO packaging format #}
                {% if 0 < item.product.orderedStock %}
                    [{{ item.product.orderedStock|format_number }}]{# TODO packaging format #}
                {% endif %}
                {% if item.product.estimatedDateOfArrival is not same as(null) %}
                    ({{ item.product.estimatedDateOfArrival|format_datetime('short', 'none') }})
                {% endif %}
            {% endif %}
        </td>
        <td id="{{ itemId ~ 'subject' }}">
            {% if item.product is null -%}
                <em>{{ 'value.undefined'|trans({}, 'EkynaUi') }}</em>
            {% else %}
                {% set subject = item.product|subject_get(false) %}
                {% if subject is null %}
                    <em>{{ 'value.undefined'|trans({}, 'EkynaUi') }}</em>
                {% else %}
                    {% set url = subject|subject_private_url %}
                    {% if url is not null %}
                        <a href="{{ url }}" class="show-entity"{{ admin_resource_summary(subject) }}>{{ subject }}</a>
                    {% else %}
                        {{ subject }}
                    {% endif %}
                {% endif %}
            {%- endif %}
        </td>
        <td id="{{ itemId ~ 'label' }}">
            <a href="{{ admin_resource_path(supplierOrder, 'Ekyna\\Bundle\\CommerceBundle\\Action\\Admin\\SupplierOrder\\LabelAction', {
                'id': [item.id]
            }) }}" class="btn btn-xs btn-primary print-label" target="_blank">
                <i class="glyphicon glyphicon-barcode"></i>
            </a>
        </td>
    </tr>
    {%- endfor %}
    <tr>
        <td colspan="4" class="text-right">
            <strong>{{ 'supplier_order.field.items_total'|trans({}, 'EkynaCommerce') }}</strong>
        </td>
        <td class="text-right">
            <strong>{{ supplierOrder|supplier_order_items_total|format_currency(supplierOrder.currency.code) }}</strong>
        </td>
        <td class="text-right">
            <strong>{{ supplierOrder|supplier_order_weight_total|format_number }}&nbsp;kg</strong>
        </td>
        <td colspan="4">&nbsp;</td>
    </tr>
    {%- else %}
    <tr>
        <td colspan="10" class="text-center">
            <em>{{ 'supplier_order.alert.empty'|trans({}, 'EkynaCommerce') }}</em>
        </td>
    </tr>
    {%- endif -%}
    </tbody>
</table>
{% endapply %}
