{% spaceless %}
<div class="actions">
    {{ ui_button('ekyna_commerce.supplier_delivery.button.new', {
        'type': 'link',
        'path': path('ekyna_commerce_supplier_delivery_admin_new', {
            'supplierOrderId': supplierOrder.id
        }),
        'theme': 'primary',
        'icon': 'plus',
        'size': 'sm',
    }) }}
</div>
{% for delivery in supplierOrder.deliveries %}
    {% set deliveryId = 'delivery_' ~ loop.index0 ~ '_' -%}
    <table class="table table-stripped">
        <thead>
        <tr>
            <th>{{ 'ekyna_core.field.designation'|trans }}</th>
            <th>{{ 'ekyna_core.field.reference'|trans }}</th>
            <th>{{ 'ekyna_core.field.quantity'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for item in delivery.items %}
        <tr>
            {% set itemId = deliveryId ~ 'item_' ~ loop.index0 ~ '_' %}
            <td id="{{ itemId ~ 'designation' }}">
                <a href="{{ path('ekyna_commerce_supplier_product_admin_show', {
                    'supplierId': item.orderItem.product.supplier.id,
                    'supplierProductId': item.orderItem.product.id,
                }) }}">
                    {{ item.orderItem.designation }}
                </a>
            </td>
            <td id="{{ itemId ~ 'reference' }}">
                {{ item.orderItem.reference }}
            </td>
            <td id="{{ itemId ~ 'quantity' }}" class="text-right">
                {{ item.quantity|number_format }}{# TODO packaging format #}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="actions">
        {{ admin_resource_btn(delivery, 'edit', {'size': 'xs'}) }}
        {{ admin_resource_btn(delivery, 'remove', {'size': 'xs'}) }}
    </div>
    {% if not loop.last %}<hr>{% endif %}
{% endfor %}
{% endspaceless %}
