{% extends "EkynaAdminBundle:Entity/Default:show.html.twig" %}

{% block main %}
<div class="actions">
    {{ admin_resource_btn(accounting, 'edit') }}
    {{ admin_resource_btn(accounting, 'remove') }}
</div>
<div class="show show-with-tabs" data-tab-key="{{ resource_id }}">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#accounting-general" id="toggle-general" data-toggle="tab">
                {{ 'ekyna_core.field.general'|trans }}
            </a>
        </li>
    </ul>
    <div class="show-body">
        <div class="tab-content">
            <div class="tab-pane active" id="accounting-general">
                <div class="row">
                    <div class="col-md-6">
                        {{ show_row(accounting.number, 'text', {
                            'label': 'ekyna_core.field.number',
                            'label_col': 4
                        }) }}
                    </div>
                    <div class="col-md-6">
                        {{ show_row(accounting.enabled, 'boolean', {
                            'label': 'ekyna_core.field.enabled',
                            'label_col': 4
                        }) }}
                    </div>
                </div>
                {{ show_row(accounting.name, 'text', {
                    'label': 'ekyna_core.field.name'
                }) }}
                {{ show_row(accounting|accounting_type_label, 'text', {
                    'label': 'ekyna_core.field.type'
                }) }}
                {{ show_row(accounting.taxRule, 'entity', {
                    'label': 'ekyna_commerce.tax_rule.label.singular',
                    'route': 'ekyna_commerce_tax_rule_admin_show',
                    'route_parameters_map': {'taxRuleId': 'id'}
                }) }}
                {{ show_row(accounting.tax, 'entity', {
                    'label': 'ekyna_commerce.tax.label.singular',
                    'route': 'ekyna_commerce_tax_admin_show',
                    'route_parameters_map': {'taxId': 'id'}
                }) }}
                {{ show_row(accounting.paymentMethod, 'entity', {
                    'label': 'ekyna_commerce.payment_method.label.singular',
                    'route': 'ekyna_commerce_payment_method_admin_show',
                    'route_parameters_map': {'paymentMethodId': 'id'}
                }) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
