{% spaceless %}
{% if method.translations is not empty %}
    <ul class="nav nav-tabs">
        {% for locale, translation in method.translations %}
            <li{% if loop.first %} class="active"{% endif %}>
                <a href="#method-translation-{{ locale }}" data-toggle="tab">
                    {{ locale|language|capitalize }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <div class="panel-body"
         style="border: 1px solid #ddd; border-top: none; padding:15px 15px 1px 15px; margin-bottom: 15px;">
        <div class="tab-content">
            {% for locale, translation in method.translations %}
                <div class="tab-pane{% if loop.first %} active{% endif %}"
                     id="method-translation-{{ locale }}">
                    <div class="row show-row">
                        <div class="col-md-2 show-label">
                            {{ 'ekyna_core.field.title'|trans }}
                        </div>
                        <div class="col-md-10">
                            <div class="show-widget show-widget-inline">
                                {% if translation.title is empty %}
                                    <em>{{ 'ekyna_core.value.undefined'|trans }}</em>
                                {% else %}
                                    {{ translation.title|raw }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row show-row">
                        <div class="col-md-2 show-label">
                            {{ 'ekyna_core.field.description'|trans }}
                        </div>
                        <div class="col-md-10">
                            <div class="show-widget show-widget-block">
                                {% if translation.description is empty %}
                                    <em>{{ 'ekyna_core.value.undefined'|trans }}</em>
                                {% else %}
                                    {{ translation.description|raw }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% else %}
    <div class="show-widget show-widget-inline">
        <em>{{ 'ekyna_core.message.no_translations'|trans }}</em>
    </div>
{% endif %}
{% endspaceless %}
