<h3>{{ 'ekyna_commerce.account.address.title'|trans }}</h3>

{# TODO Warn about children access to addresses #}
<hr>

{% for address in addresses %}
    {%- if loop.index0 % 2 == 0 %}<div class="row">{% endif %}
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                {{ address|commerce_address }}

                {% if address.invoiceDefault %}
                    <br><span class="label label-default">
                    {{- 'ekyna_commerce.customer_address.field.invoice_default'|trans -}}
                </span>
                {% endif %}

                {% if address.deliveryDefault %}
                    <br><span class="label label-default">
                    {{- 'ekyna_commerce.customer_address.field.delivery_default'|trans -}}
                </span>
                {% endif %}
            </div>
            <div class="panel-footer">
                <a href="{{ path('ekyna_commerce_account_address_edit', {'addressId': address.id}) }}"
                   class="btn btn-xs btn-default">
                    {{- 'ekyna_core.button.edit'|trans -}}
                </a>
                <a href="{{ path('ekyna_commerce_account_address_remove', {'addressId': address.id}) }}"
                   class="btn btn-xs btn-default pull-right">
                    {{- 'ekyna_core.button.remove'|trans -}}
                </a>
            </div>
        </div>
    </div>
    {%- if (loop.index0 % 2 == 1) or loop.last %}</div>{% endif %}
{% endfor %}
