{% extends '@EkynaAdmin/Entity/Default/new.html.twig' %}

{% block main %}
    {{ form_start(form) }}

    <ul class="nav nav-tabs" data-tab-key="{{ resource_id }}">
        <li class="active">
            <a href="#supplier-order-general" id="toggle-general" data-toggle="tab">
                {{ 'ekyna_core.field.general'|trans }}
            </a>
        </li>
    </ul>

    <div class="panel-body form-body commerce-supplier-order">
        {{ bootstrap_set_style('horizontal') }}
        {{ bootstrap_set_col_size('md') }}
        <div class="tab-content">
            {{ form_errors(form) }}
            <div class="tab-pane active" id="supplier-order-general">
                {% if flow.getCurrentStepNumber() == 1 %}
                    {{ form_row(form.supplier) }}
                {% elseif flow.getCurrentStepNumber() == 2 %}
                    {% include '@EkynaCommerce/Admin/SupplierOrder/Form/general.html.twig' %}
                {% endif %}
            </div>
            {{ form_rest(form) }}
        </div>

        {% include '@EkynaAdmin/Form/form_flow_buttons.html.twig' %}
    </div>

    {{ form_end(form) }}
{% endblock main %}
