{% extends "EkynaAdminBundle:Entity/Default:show.html.twig" %}

{% block main %}
{% spaceless %}
<div class="actions">
    {% if supplierOrder is new_supplier_order -%}
        {{- ui_button('ekyna_commerce.supplier_order.button.submit', {
            'path': path('ekyna_commerce_supplier_order_admin_submit', {'supplierOrderId': supplierOrder.id}),
            'type': 'link'
        }) -}}
    {% endif -%}
    {{- ui_button('ekyna_commerce.supplier_order.button.render', {
        'path': path('ekyna_commerce_supplier_order_admin_render', {'supplierOrderId': supplierOrder.id, '_format': 'pdf'}),
        'type': 'link',
        'icon': 'download'
    }, {
        'target' : '_blank'
    }) -}}
    {{- admin_resource_btn(supplierOrder, 'edit') -}}
    {{- admin_resource_btn(supplierOrder, 'remove') -}}
</div>
<div class="show show-with-tabs">
    <ul class="nav nav-tabs" data-tab-key="{{ resource_id }}">
        <li class="active">
            <a href="#supplier-order-general" id="toggle-general" data-toggle="tab">
                {{ 'ekyna_core.field.general'|trans }}
            </a>
        </li>
        <li>
            <a href="#supplier-order-deliveries" id="toggle-deliveries" data-toggle="tab">
                {{ 'ekyna_commerce.supplier_order.tab.deliveries'|trans }}
            </a>
        </li>
        <li>
            <a href="#supplier-order-attachments" id="toggle-attachments" data-toggle="tab">
                {{ 'ekyna_commerce.attachment.label.plural'|trans }}
            </a>
        </li>
    </ul>
    {% set currency = supplierOrder.currency.code %}
    <div class="show-body">
        <div class="tab-content">
            <div class="tab-pane active" id="supplier-order-general">

                <div class="row">
                    <div class="col-md-4">
                        {{ show_row(supplierOrder.number, 'text', 'ekyna_core.field.number', {
                            'id': 'order_number',
                            'label_nb_col': 6, 'widget_nb_col': 6
                        }) }}
                    </div>
                    <div class="col-md-4">
                        {{ show_row(supplierOrder.state|supplier_order_state_badge, 'text', 'ekyna_commerce.supplier_order.field.state', {
                            'id': 'order_state',
                            'label_nb_col': 6, 'widget_nb_col': 6
                        }) }}
                    </div>
                    <div class="col-md-4">
                        {{ show_row(supplierOrder.currency, 'entity', 'ekyna_commerce.currency.label.singular', {
                            'id': 'order_currency',
                            'route': 'ekyna_commerce_currency_admin_show',
                            'route_params_map': {'currencyId': 'id'},
                            'label_nb_col': 6, 'widget_nb_col': 6
                        }) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        {{ show_row(supplierOrder.paymentDate, 'date', 'ekyna_commerce.supplier_order.field.payment_date', {
                            'id': 'order_paymentDate',
                            'label_nb_col': 6, 'widget_nb_col': 6
                        }) }}
                    </div>
                    <div class="col-md-4">
                        {{ show_row(supplierOrder.discountTotal|localizedcurrency(currency), 'text', 'ekyna_commerce.supplier_order.field.discount_total', {
                            'id': 'order_discountTotal',
                            'label_nb_col': 6, 'widget_nb_col': 6
                        }) }}
                    </div>
                    <div class="col-md-4">
                        {{ show_row(supplierOrder.paymentTotal|localizedcurrency(currency), 'text', 'ekyna_commerce.supplier_order.field.payment_total', {
                            'id': 'order_paymentTotal',
                            'label_nb_col': 6, 'widget_nb_col': 6
                        }) }}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        {{ show_row(supplierOrder.supplier, 'entity', 'ekyna_commerce.supplier.label.singular', {
                            'id': 'order_supplier',
                            'route': 'ekyna_commerce_supplier_admin_show',
                            'route_params_map': {'supplierId': 'id'},
                            'label_nb_col': 6, 'widget_nb_col': 6
                        }) }}
                    </div>
                    <div class="col-md-4">
                        {{ show_row(supplierOrder.administrativeFee|localizedcurrency(commerce_default_currency), 'text', 'ekyna_commerce.supplier_order.field.administrative_fee', {
                            'id': 'order_administrativeFee',
                            'label_nb_col': 6, 'widget_nb_col': 6,
                        }) }}
                    </div>
                    <div class="col-md-4">
                        {{ show_row(supplierOrder.shippingCost|localizedcurrency(currency), 'text', 'ekyna_commerce.supplier_order.field.shipping_cost', {
                            'id': 'order_shippingCost',
                            'label_nb_col': 6, 'widget_nb_col': 6
                        }) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        {{ show_row(supplierOrder.carrier, 'entity', 'ekyna_commerce.supplier_carrier.label.singular', {
                            'id': 'order_carrier',
                            'route': 'ekyna_commerce_supplier_carrier_admin_show',
                            'route_params_map': {'supplierCarrierId': 'id'},
                            'label_nb_col': 6, 'widget_nb_col': 6
                        }) }}
                    </div>
                    <div class="col-md-4">
                        {{ show_row(supplierOrder.customsVat|localizedcurrency(commerce_default_currency), 'text', 'ekyna_commerce.supplier_order.field.customs_vat', {
                            'id': 'order_customsVat',
                            'label_nb_col': 6, 'widget_nb_col': 6,
                        }) }}
                    </div>
                    <div class="col-md-4">
                        {{ show_row(supplierOrder.customsDuty|localizedcurrency(commerce_default_currency), 'text', 'ekyna_commerce.supplier_order.field.customs_duty', {
                            'id': 'order_customsDuty',
                            'label_nb_col': 6, 'widget_nb_col': 6,
                        }) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        {{ show_row(supplierOrder.estimatedDateOfArrival, 'date', 'ekyna_commerce.supplier_order.field.estimated_date_of_arrival', {
                            'id': 'order_estimatedDateOfArrival',
                            'label_nb_col': 6, 'widget_nb_col': 6
                        }) }}
                    </div>
                    <div class="col-md-8">
                        {% set trackingUrl = '' %}
                        {% if supplierOrder.trackingUrl is not empty %}
                            {% set trackingUrl = '<a href="' ~ supplierOrder.trackingUrl ~ '" target="_blank">' ~ supplierOrder.trackingUrl ~ '</a>' %}
                        {% endif %}
                        {{ show_row(trackingUrl, 'text', 'ekyna_commerce.supplier_order.field.tracking_url', {
                            'id': 'order_trackingUrl',
                            'label_nb_col': 3, 'widget_nb_col': 9,
                        }) }}
                    </div>
                </div>
                <hr>
                {% include "EkynaCommerceBundle:Admin/SupplierOrder/Show:items.html.twig" %}
            </div>
            <div class="tab-pane" id="supplier-order-deliveries">
                {% include "EkynaCommerceBundle:Admin/SupplierOrder/Show:deliveries.html.twig" %}
            </div>
            <div class="tab-pane" id="supplier-order-attachments">
                <h4 class="sub-header">
                    {# TODO Permission #}
                    <a href="{{ admin_resource_path('ekyna_commerce.supplier_order_attachment', 'new', {'supplierOrderId': supplierOrder.id}) }}"
                       class="btn btn-primary btn-xs pull-right">
                        {{ 'ekyna_commerce.attachment.button.new'|trans }}
                    </a>
                    {{ 'ekyna_commerce.attachment.label.plural'|trans }}
                </h4>
                {% include "EkynaCommerceBundle:Admin/Common/Sale:show_attachments.html.twig" with {'attachments': supplierOrder.attachments} %}
            </div>
        </div>
    </div>
</div>
{% endspaceless %}
{% endblock %}
