{% extends "EkynaAdminBundle:Entity/Default:show.html.twig" %}

{% block main %}
{% spaceless %}
<div class="actions">
    {% if supplierOrder is new_supplier_order -%}
        {{- ui_button('ekyna_commerce.supplier_order.button.submit', {
            'path': path('ekyna_commerce_supplier_order_admin_submit', {'supplierOrderId': supplierOrder.id}),
            'type': 'link'
        }) -}}
    {% endif -%}
    {{- ui_button('ekyna_commerce.supplier_order.button.render', {
        'path': path('ekyna_commerce_supplier_order_admin_render', {'supplierOrderId': supplierOrder.id, '_format': 'pdf'}),
        'type': 'link',
        'icon': 'download'
    }, {
        'target' : '_blank'
    }) -}}
    {{- admin_resource_btn(supplierOrder, 'edit') -}}
    {{- admin_resource_btn(supplierOrder, 'remove') -}}
</div>
<div class="show show-with-tabs">
    <ul class="nav nav-tabs" data-tab-key="{{ resource_id }}">
        <li class="active">
            <a href="#supplier-order-general" id="toggle-general" data-toggle="tab">
                {{ 'ekyna_core.field.general'|trans }}
            </a>
        </li>
        <li>
            <a href="#supplier-order-deliveries" id="toggle-deliveries" data-toggle="tab">
                {{ 'ekyna_commerce.supplier_order.tab.deliveries'|trans }}
            </a>
        </li>
        <li>
            <a href="#supplier-order-attachments" id="toggle-attachments" data-toggle="tab">
                {{ 'ekyna_commerce.attachment.label.plural'|trans }}
            </a>
        </li>
    </ul>
    {% set currency = supplierOrder.currency.code %}
    <div class="show-body">
        <div class="tab-content">
            <div class="tab-pane active" id="supplier-order-general">
                <div class="row">
                    <div class="col-md-4">
                        {{ show_row(supplierOrder.number, 'text', {
                            'label': 'ekyna_core.field.number',
                            'id': 'order_number',
                            'label_col': 6
                        }) }}
                    </div>
                    <div class="col-md-4">
                        {{ show_row(supplierOrder.state|supplier_order_state_badge, 'text', {
                            'label': 'ekyna_commerce.supplier_order.field.state',
                            'id': 'order_state',
                            'label_col': 6
                        }) }}
                    </div>
                    <div class="col-md-4">
                        {{ show_row(supplierOrder.currency, 'entity', {
                            'label': 'ekyna_commerce.currency.label.singular',
                            'id': 'order_currency',
                            'route': 'ekyna_commerce_currency_admin_show',
                            'route_parameters_map': {'currencyId': 'id'},
                            'label_col': 6
                        }) }}
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" style="padding:0 15px;">
                        <div class="row show-row show-row" style="margin-bottom:0;">
                            <div class="col-md-2 show-label">
                                {{- 'ekyna_commerce.supplier.label.singular'|trans -}}
                            </div>
                            <div class="col-md-10">
                                <div id="order_forwarderFee" class="show-widget" style="background-color:transparent;padding:7px 13px 6px;">
                                    <a href="{{ admin_resource_path(supplierOrder.supplier) }}" class="show-entity">
                                        {{- supplierOrder.supplier -}}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body" style="padding-bottom:0;">
                        <div class="row">
                            <div class="col-md-4">
                                {{ show_row(supplierOrder.shippingCost|localizedcurrency(currency), 'text', {
                                    'label': 'ekyna_commerce.supplier_order.field.shipping_cost',
                                    'id': 'order_shippingCost',
                                    'label_col': 6
                                }) }}
                            </div>
                            <div class="col-md-4">
                                {{ show_row(supplierOrder.discountTotal|localizedcurrency(currency), 'text', {
                                    'label': 'ekyna_commerce.supplier_order.field.discount_total',
                                    'id': 'order_discountTotal',
                                    'label_col': 6
                                }) }}
                            </div>
                            <div class="col-md-4">
                                {{ show_row(supplierOrder.taxTotal|localizedcurrency(currency), 'text', {
                                    'label': 'ekyna_commerce.supplier_order.field.tax_total',
                                    'id': 'order_taxTotal',
                                    'label_col': 6
                                }) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                {{ show_row(supplierOrder.paymentTotal|localizedcurrency(currency), 'text', {
                                    'label': 'ekyna_commerce.supplier_order.field.payment_total',
                                    'id': 'order_paymentTotal',
                                    'label_col': 6
                                }) }}
                            </div>
                            <div class="col-md-4">
                                {{ show_row(supplierOrder.paymentDueDate, 'datetime', {
                                    'label': 'ekyna_commerce.supplier_order.field.payment_due_date',
                                    'id': 'order_paymentDate',
                                    'time': false,
                                    'label_col': 6
                                }) }}
                            </div>
                            <div class="col-md-4">
                                {{ show_row(supplierOrder.paymentDate, 'datetime', {
                                    'label': 'ekyna_commerce.supplier_order.field.payment_date',
                                    'id': 'order_paymentDate',
                                    'time': false,
                                    'label_col': 6
                                }) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" style="padding:0 15px">
                        <div class="row show-row show-row" style="margin-bottom:0;">
                            <div class="col-md-2 show-label">
                                {{- 'ekyna_commerce.supplier_carrier.label.singular'|trans -}}
                            </div>
                            <div class="col-md-10">
                                <div id="order_forwarderFee" class="show-widget" style="background-color:transparent;padding:7px 13px 6px;">
                                    <a href="{{ admin_resource_path(supplierOrder.carrier) }}" class="show-entity">
                                        {{- supplierOrder.carrier -}}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body" style="padding-bottom:0;">
                        <div class="row">
                            <div class="col-md-4">
                                {{ show_row(supplierOrder.forwarderFee|localizedcurrency(commerce_default_currency), 'text', {
                                    'label': 'ekyna_commerce.supplier_order.field.forwarder_fee',
                                    'id': 'order_forwarderFee',
                                    'label_col': 6
                                }) }}
                            </div>
                            <div class="col-md-4">
                                {{ show_row(supplierOrder.customsTax|localizedcurrency(commerce_default_currency), 'text', {
                                    'label': 'ekyna_commerce.supplier_order.field.customs_tax',
                                    'id': 'order_customsTax',
                                    'label_col': 6
                                }) }}
                            </div>
                            <div class="col-md-4">
                                {{ show_row(supplierOrder.customsVat|localizedcurrency(commerce_default_currency), 'text', {
                                    'label': 'ekyna_commerce.supplier_order.field.customs_vat',
                                    'id': 'order_customsVat',
                                    'label_col': 6
                                }) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                {{ show_row(supplierOrder.forwarderTotal|localizedcurrency(commerce_default_currency), 'text', {
                                    'label': 'ekyna_commerce.supplier_order.field.forwarder_total',
                                    'id': 'order_forwarderTotal',
                                    'label_col': 6
                                }) }}
                            </div>
                            <div class="col-md-4">
                                {{ show_row(supplierOrder.forwarderDueDate, 'datetime', {
                                    'label': 'ekyna_commerce.supplier_order.field.forwarder_due_date',
                                    'id': 'order_forwarderDate',
                                    'time': false,
                                    'label_col': 6
                                }) }}
                            </div>
                            <div class="col-md-4">
                                {{ show_row(supplierOrder.forwarderDate, 'datetime', {
                                    'label': 'ekyna_commerce.supplier_order.field.forwarder_date',
                                    'id': 'order_forwarderDate',
                                    'time': false,
                                    'label_col': 6
                                }) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        {{ show_row(supplierOrder.estimatedDateOfArrival, 'datetime', {
                            'label': 'ekyna_commerce.supplier_order.field.estimated_date_of_arrival',
                            'id': 'order_estimatedDateOfArrival',
                            'time': false,
                            'label_col': 6
                        }) }}
                    </div>
                    <div class="col-md-8">
                        {% set urls = [] %}
                        {% if supplierOrder.trackingUrls is not empty -%}
                            {% for url in supplierOrder.trackingUrls -%}
                                {%- set urls = urls|merge(['<a href="' ~ url ~ '" target="_blank">' ~ url ~ '</a>']) -%}
                            {%- endfor %}
                        {%- endif %}
                        {{ show_row(urls, 'collection', {
                            'label': 'ekyna_commerce.supplier_order.field.tracking_urls',
                            'id': 'order_trackingUrl',
                            'label_col': 3
                        }) }}
                    </div>
                </div>
                <hr>
                {% include "EkynaCommerceBundle:Admin/SupplierOrder/Show:items.html.twig" %}
            </div>
            <div class="tab-pane" id="supplier-order-deliveries">
                {% include "EkynaCommerceBundle:Admin/SupplierOrder/Show:deliveries.html.twig" %}
            </div>
            <div class="tab-pane" id="supplier-order-attachments">
                <h4 class="sub-header">
                    {# TODO Permission #}
                    <a href="{{ admin_resource_path('ekyna_commerce.supplier_order_attachment', 'new', {'supplierOrderId': supplierOrder.id}) }}"
                       class="btn btn-primary btn-xs pull-right">
                        {{ 'ekyna_commerce.attachment.button.new'|trans }}
                    </a>
                    {{ 'ekyna_commerce.attachment.label.plural'|trans }}
                </h4>
                {% include "EkynaCommerceBundle:Admin/Common/Sale:show_attachments.html.twig" with {'attachments': supplierOrder.attachments} %}
            </div>
        </div>
    </div>
</div>
{% endspaceless %}
{% endblock %}
