{% extends '@EkynaAdmin/Entity/sided.html.twig' %}

{% set supplierOrder = _context[resource_name] %}

{% block title %}
    <h1>{{ (resource_id ~ '.header.submit')|trans({'%name%': supplierOrder})|raw }}</h1>
{% endblock title %}

{% block actions %}
    {{ admin_resource_btn(supplierOrder, 'list') }}
    {{ admin_resource_btn(supplierOrder, 'new') }}
{% endblock actions %}

{% block main %}
    {% include '@EkynaCommerce/Admin/SupplierOrder/Show/items.html.twig' %}

    {{ form_start(form) }}
    <div class="form-body">
        {{ bootstrap_set_style('horizontal') }}
        {{ bootstrap_set_col_size('md') }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.order.estimatedDateOfArrival, {'label_col': 4, 'widget_col': 8}) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.order.carrier, {'label_col': 4, 'widget_col': 8}) }}
            </div>
        </div>
        {% include '@EkynaCommerce/Admin/SupplierOrder/Form/fields.html.twig' with {'form': form.order} only %}
        {{ form_row(form.order.trackingUrls) }}
        {{ form_row(form.order.description) }}
        <hr>
        {{ form_row(form.emails) }}
        {{ form_row(form.message) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.sendEmail, {'label_col': 4, 'widget_col': 8}) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.sendLabels, {'label_col': 4, 'widget_col': 8}) }}
            </div>
        </div>
        {{ form_row(form.confirm) }}
        {{ form_rest(form) }}
    </div>
    {{ form_end(form) }}
{% endblock main %}
