{% extends '@EkynaAdmin/Entity/sided.html.twig' %}

{% set resource = context.resource %}

{% block title %}
    <h1>{{ 'supplier_order.header.submit'|trans({'%name%': resource}, 'EkynaCommerce')|raw }}</h1>
{% endblock title %}

{% block actions %}
    {{ admin_resource_btn(context.config.id, 'Ekyna\\Bundle\\AdminBundle\\Action\\ListAction') }}
    {{ admin_resource_btn(context.config.id, 'Ekyna\\Bundle\\CommerceBundle\\Action\\Admin\\SupplierOrder\\CreateAction') }}
{% endblock actions %}

{% block main %}
    {% include '@EkynaCommerce/Admin/SupplierOrder/Show/items.html.twig' with {'supplierOrder': resource} only %}

    {{ form_start(form) }}
    <div class="form-body">
        {{ bootstrap_set_style('horizontal') }}
        {{ bootstrap_set_col_size('md') }}
        <div class="row">
            <div class="col-md-4">
                {{ form_row(form.order.estimatedDateOfArrival, {'label_col': 6, 'widget_col': 6}) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.order.carrier, {'label_col': 6, 'widget_col': 6}) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.order.warehouse, {'label_col': 6, 'widget_col': 6}) }}
            </div>
        </div>
        <hr>
        {% include '@EkynaCommerce/Admin/SupplierOrder/Form/fields.html.twig' with {'form': form.order} only %}
        {{ form_row(form.order.trackingUrls) }}
        {{ form_row(form.order.description) }}
        <hr>
        {{ form_row(form.emails) }}
        {{ form_row(form.template) }}
        {{ form_row(form.subject) }}
        {{ form_row(form.message) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.sendEmail, {'label_col': 4, 'widget_col': 8}) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.sendLabels, {'label_col': 4, 'widget_col': 8}) }}
            </div>
        </div>
        {{ form_row(form.confirm) }}
        {{ form_rest(form) }}
    </div>
    {{ form_end(form) }}
{% endblock main %}


{% block side %}
    {{ parent() }}
    {% if resource.supplier is not null %}
        {% include '@EkynaCommerce/Admin/Supplier/_side.html.twig' with {'supplier': resource.supplier } %}
    {% endif %}
{% endblock %}
