{% extends "EkynaAdminBundle:Entity:sided.html.twig" %}

{% set supplierOrder = _context[resource_name] %}

{% block title %}
    <h1>{{ (resource_id ~ '.header.submit')|trans({'%name%': supplierOrder})|raw }}</h1>
{% endblock title %}

{% block actions %}
    {{ admin_resource_btn(supplierOrder, 'list') }}
    {{ admin_resource_btn(supplierOrder, 'new') }}
{% endblock actions %}

{% block main %}
    {% include "EkynaCommerceBundle:Admin/SupplierOrder/Show:items.html.twig" %}

    {{ form_start(form) }}
    <div class="form-body">
        {{ bootstrap_set_style('horizontal') }}
        {{ bootstrap_set_col_size('md') }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.order.shippingCost, {'label_col': 4, 'widget_col': 8}) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.order.administrativeFee, {'label_col': 4, 'widget_col': 8}) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.order.customsDuty, {'label_col': 4, 'widget_col': 8}) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.order.customsVat, {'label_col': 4, 'widget_col': 8}) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.order.estimatedDateOfArrival, {'label_col': 4, 'widget_col': 8}) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.order.paymentDate, {'label_col': 4, 'widget_col': 8}) }}
            </div>
        </div>
        <hr>
        {{ form_row(form.emails) }}
        {{ form_row(form.message) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.sendEmail, {'label_col': 4, 'widget_col': 8}) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.sendLabels, {'label_col': 4, 'widget_col': 8}) }}
            </div>
        </div>
        {{ form_row(form.confirm) }}
        {{ form_rest(form) }}
    </div>
    {{ form_end(form) }}
{% endblock main %}
