{% apply spaceless %}
<table class="table table-condensed table-alt-head">
<thead>
    <tr>
        <th>{{ 'ekyna_core.field.designation'|trans }}</th>
        <th>{{ 'ekyna_commerce.field.buy_net_price'|trans }}</th>
        <th>{{ 'ekyna_commerce.stock_unit.field.ordered_quantity'|trans }}</th>
        <th>{{ 'ekyna_commerce.stock_unit.field.received_quantity'|trans }}</th>
    </tr>
</thead>
<tbody>
{% for item in items %}
    <tr>
        <td>{{ item.designation }}</td>
        <td>{{ item.net_price }}</td>
        <td>{{ item.ordered }}</td>
        <td>{{ item.received }}</td>
    </tr>
{% endfor %}
</tbody>
</table>
{% if description  %}
<div>
    <dl class="dl-horizontal">
        {% if description is not empty %}
            <dt>{{ 'ekyna_commerce.field.description'|trans }}</dt>
            <dd>{{ description|nl2br|raw }}</dd>
        {% endif %}
    </dl>
</div>
{% endif %}
{% endapply %}
