{% extends '@EkynaAdmin/Entity/layout.html.twig' %}

{% block page_title %}{{ 'button.map'|trans({}, 'EkynaUi')|raw }}{% endblock page_title %}

{% block content %}
    {{ form_start(form, {'attr': {'onsubmit': 'return false;'}}) }}
        <div class="row">
            <div class="col-md-2">
                {{ form_row(form.mode) }}
            </div>
            <div class="col-md-5">
                {{ form_row(form.groups) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.search) }}
            </div>
            <div class="col-md-1">
                <button type="submit" class="btn btn-default" style="margin-top: 23px">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    {{ form_end(form) }}
    {{ ivory_google_map(map) }}
{% endblock content %}

{% block stylesheets %}
    {{ parent() }}
    {{ ivory_google_map_css(map) }}
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    {{ ivory_google_api() }}
    <script type="text/javascript">require(['ekyna-commerce/admin/map']);</script>
{% endblock javascripts %}
