<p>
    {% if customer.company -%}
        <strong>{{ customer.company }}</strong><br>
        {{ customer|identity }}
    {%- else -%}
        <strong>{{ customer|identity }}</strong>
    {%- endif -%}
</p>
<p>{{ customer.defaultInvoiceAddress|address }}</p>
<p>
    <a href="mailto:{{ customer.email }}">{{ customer.email }}</a><br>
    <a href="{{ admin_resource_path(customer, 'Ekyna\\Bundle\\AdminBundle\\Action\\ReadAction') }}" target="_blank">Fiche</a>
</p>
