{% apply spaceless %}
<hr>

<div class="commerce-shipment-prices">
    <div class="row show-row">
        <div class="col-md-2 show-label">
            <label for="shipment-price-filter">
                {{- ('shipment_' ~ list.filterBy ~ '.label.singular')|trans({}, 'EkynaCommerce') -}}
            </label>
        </div>
        <div class="col-md-10">
            {% if list.filters is not empty %}
            <select class="form-control shipment-price-filter"
                    id="shipment-price-filter" data-filter-by="{{ list.filterBy }}">
            {%- for filter in list.filters -%}
                <option value="{{ filter.id }}">{{ filter }}</option>
            {%- endfor -%}
            </select>
            {% else %}
            <span class="form-control">
               {{- ('shipment_' ~ list.filterBy ~ '.alert.empty_list')|trans({}, 'EkynaCommerce') -}}
            </span>
            {% endif %}
        </div>
    </div>

    <div class="row show-row">
        <div class="col-md-2 show-label">
            {{ 'shipment_price.label.plural'|trans({}, 'EkynaCommerce') }}
        </div>
        <div class="col-md-10">
            <table class="table table-stripped table-alt-head shipment-price-list">
                <thead>
                <tr>
                    <th width="50%" class="text-right">
                        {{- 'shipment_price.field.weight'|trans({}, 'EkynaCommerce') -}}
                    </th>
                    <th width="50%" class="text-right">
                        {{- 'field.buy_net_price'|trans({}, 'EkynaCommerce') -}}
                    </th>
                </tr>
                </thead>
                <tbody>
                {%- for price in list.prices -%}
                    <tr data-{{ list.filterBy }}="{{ attribute(price, list.filterBy).id }}">
                        {# TODO packging format #}
                        <td class="text-right" id="shipment_price_{{ loop.index0 }}_weight">
                            {{- (price.weight|format_number ~ '&nbsp;kg')|raw -}}
                        </td>
                        <td class="text-right" id="shipment_price_{{ loop.index0 }}_netPrice">
                            {{- price.netPrice|format_currency(commerce_default_currency) -}}
                        </td>
                    </tr>
                {%- endfor -%}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endapply %}
