{% spaceless %}
<hr>

<div class="commerce-shipment-prices">
    <div class="row show-row">
        <div class="col-md-2 show-label">
            <label for="shipment-price-filter">
                {{- ('ekyna_commerce.shipment_' ~ list.filterBy ~ '.label.singular')|trans -}}
            </label>
        </div>
        <div class="col-md-10">
            {% if list.filters is not empty %}
            <select class="form-control shipment-price-filter"
                    id="shipment-price-filter" data-filter-by="{{ list.filterBy }}">
            {%- for filter in list.filters -%}
                <option value="{{ filter.id }}">{{ filter }}</option>
            {%- endfor -%}
            </select>
            {% else %}
           <span class="form-control">
               {{- ('ekyna_commerce.shipment_' ~ list.filterBy ~ '.alert.empty_list')|trans -}}
           </span>
            {% endif %}
        </div>
    </div>

    <div class="row show-row">
        <div class="col-md-2 show-label">
            {{ 'ekyna_commerce.shipment_price.label.plural'|trans }}
        </div>
        <div class="col-md-10">
            <table class="table table-stripped shipment-price-list">
                <thead>
                <tr>
                    <th width="50%" class="text-right">
                        {{- 'ekyna_commerce.shipment_price.field.weight'|trans -}}
                    </th>
                    <th width="50%" class="text-right">
                        {{- 'ekyna_commerce.shipment_price.field.net_price'|trans -}}
                    </th>
                </tr>
                </thead>
                <tbody>
                {%- for price in list.prices -%}
                    <tr data-{{ list.filterBy }}="{{ attribute(price, list.filterBy).id }}">
                        <td class="text-right" id="shipment_price_{{ loop.index0 }}_weight">
                            {{- price.weight|localizednumber ~ ' kg' -}}{# TODO packging format #}
                        </td>
                        <td class="text-right" id="shipment_price_{{ loop.index0 }}_netPrice">
                            {{- price.netPrice|localizedcurrency('EUR') -}} {# TODO currency #}
                        </td>
                    </tr>
                {%- endfor -%}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endspaceless %}
