{% extends '@EkynaAdmin/Entity/Default/show.html.twig' %}

{% block main %}
{% apply spaceless %}
<div class="actions">
    {{ admin_resource_btn(member, 'edit') }}
    {{ admin_resource_btn(member, 'remove') }}
</div>
<div class="show show-with-tabs">
    <ul class="nav nav-tabs" data-tab-key="{{ resource_id }}">
        <li class="active">
            <a href="#member-general" data-toggle="tab">
                {{ 'ekyna_core.field.general'|trans }}
            </a>
        </li>
    </ul>
    <div class="show-body">
        <div class="tab-content">
            <div class="tab-pane active" id="member-general">
                {{ show_row(member.email, 'text', {
                    'label': 'ekyna_core.field.email_address'
                }) }}
                {{ show_row(member.status, 'constant_choice', {
                    'class': 'Ekyna\\Bundle\\CommerceBundle\\Model\\SubscriptionStatus',
                    'theme': true
                }) }}
                <div class="row show-row">
                    <div class="col-md-2 show-label" title="{{ 'ekyna_commerce.audience.label.plural'|trans }}">
                        {{- 'ekyna_commerce.audience.label.plural'|trans -}}
                    </div>
                    <div class="col-md-10">
                        <div class="show-widget show-widget-block">
                            {{ ekyna_table_render(newsletter_member_subscriptions(member)) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endapply %}
{% endblock %}
