<ul class="nav nav-tabs">
    <li class="active">
        <a href="#quote-general" id="toggle-general" data-toggle="tab">
            {{ 'ekyna_core.field.general'|trans }}
        </a>
    </li>
    <li>
        <a href="#quote-addresses" id="toggle-addresses" data-toggle="tab">
            {{ 'ekyna_commerce.sale.field.addresses'|trans }}
        </a>
    </li>
</ul>
<div class="panel-body form-body">
    {{ bootstrap_set_style('horizontal') }}
    {{ bootstrap_set_col_size('md') }}
    {{ form_errors(form) }}
    <div class="tab-content">
        <div class="tab-pane active" id="quote-general">
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.number, {'label_col': 4, 'widget_col': 8}) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.currency, {'label_col': 4, 'widget_col': 8}) }}
                </div>
            </div>
            {{ form_row(form.customer) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.company, {'label_col': 4, 'widget_col': 8}) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.customerGroup, {'label_col': 4, 'widget_col': 8}) }}
                </div>
            </div>
            {{ form_row(form.identity) }}
            {{ form_row(form.email) }}
            <hr>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.preferredShipmentMethod, {'label_col': 4, 'widget_col': 8}) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.paymentTerm, {'label_col': 4, 'widget_col': 8}) }}
                </div>
            </div>
        </div>
        <div class="tab-pane" id="quote-addresses">
            {{ form_row(form.invoiceAddress) }}
            <hr>
            {{ form_row(form.deliveryAddress) }}
        </div>
    </div>
    {{ form_rest(form) }}
</div>
