{% extends '@EkynaAdmin/Entity/Crud/read.html.twig' %}

{% block flashes %}
    {{ parent() }}
    {% include '@EkynaUi/flashes.html.twig' with {'flashes': quote|sale_flashes} %}
    {% if quote.exchangeRate is null and quote.currency.code != commerce_default_currency %}
        <div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ 'sale.message.null_exchange_rate'|trans({
                '{{url}}': admin_resource_path(quote, 'Ekyna\\Bundle\\CommerceBundle\\Action\\Admin\\Sale\\SetExchangeRateAction')
            }, 'EkynaCommerce')|raw }}
        </div>
    {% endif %}
{% endblock %}

{% block main_infos -%}
    <span class="sale-state">{{ quote|sale_state_badge }}</span>
    {{- quote|sale_flags -}}
    {{- quote.allTags|cms_tags({'text': false}) -}}
{%- endblock main_infos %}

{% block main_actions -%}
    {{ sale_custom_buttons(quote) }}
    {# TODO permission ? #}
    {{ admin_resource_btn(quote, 'Ekyna\\Bundle\\CommerceBundle\\Action\\Admin\\Sale\\NotifyAction') }}
    {{ sale_export_btn(quote) }}
    {{ sale_duplicate_btn(quote) }}
    {{ sale_transform_btn(quote) }}
    {{ admin_resource_btn(quote, 'Ekyna\\Bundle\\AdminBundle\\Action\\UpdateAction') }}
    {{ admin_resource_btn(quote, 'Ekyna\\Bundle\\AdminBundle\\Action\\DeleteAction') }}
{%- endblock main_actions %}

{% block main_tabs -%}
<li class="active">
    <a href="#quote-general" id="toggle-general" data-toggle="tab">
        {{ 'field.general'|trans({}, 'EkynaUi') }}
    </a>
</li>
<li>
    <a href="#quote-addresses" id="toggle-addresses" data-toggle="tab">
        {{ 'address.label.plural'|trans({}, 'EkynaCommerce') }}
    </a>
</li>
<li>
    <a href="#quote-details" id="toggle-details" data-toggle="tab">
        {{ 'sale.field.details'|trans({}, 'EkynaCommerce') }}
    </a>
</li>
<li>
    <a href="#quote-payments" id="toggle-payments" data-toggle="tab">
        {{ 'payment.label.plural'|trans({}, 'EkynaCommerce') }}
    </a>
</li>
<li>
    <a href="#quote-attachments" id="toggle-attachments" data-toggle="tab">
        {{ 'attachment.label.plural'|trans({}, 'EkynaCommerce') }}
    </a>
</li>
<li>
    <a href="#quote-information" id="toggle-information" data-toggle="tab">
        {{ 'field.information'|trans({}, 'EkynaUi') }}
    </a>
</li>
{% if commerce_feature(constant('Ekyna\\Component\\Commerce\\Features::SUPPORT')) -%}
<li>
    <a href="#quote-tickets" id="toggle-tickets" data-toggle="tab">
        {{ 'ticket.label.plural'|trans({}, 'EkynaCommerce') }}
    </a>
</li>
{%- endif %}
{%- endblock main_tabs %}

{% block main_contents -%}
<div class="tab-pane active" id="quote-general">
    {% include '@EkynaCommerce/Admin/Common/Sale/show_general.html.twig' with {
        'sale': quote
    } %}
    <div class="row">
        <div class="col-md-4">
            {{ show_row(quote.expiresAt, 'datetime', {
                'label': t('field.expires_at', [], 'EkynaUi'),
                'time': false,
                'label_col': 6
            }) }}
        </div>
        <div class="col-md-4">
            {{ show_row(quote.editable, 'boolean', {
                'label': t('quote.field.editable', [], 'EkynaCommerce'),
                'label_col': 6,
                'color': true,
                'true_class': 'label label-danger',
                'false_class': 'label label-default'
            }) }}
        </div>
    </div>
    {{ show_row(quote, 'tags', {
        'id': 'quote_tags'
    }) }}
</div>
<div class="tab-pane" id="quote-addresses">
    {% include '@EkynaCommerce/Admin/Common/Sale/show_addresses.html.twig' with {
        'sale': quote
    } %}
</div>
<div class="tab-pane" id="quote-details">
    {{- render_sale_view(quote|sale_view) -}}
</div>
<div class="tab-pane" id="quote-payments">
    {# --------------- PAYMENTS --------------- #}
    {% if is_granted('create', 'ekyna_commerce.quote_payment') -%}
    <div class="actions">
        <a href="{{ admin_resource_path('ekyna_commerce.quote_payment', 'Ekyna\\Bundle\\CommerceBundle\\Action\\Admin\\Payment\\CreateAction') }}"
           class="btn btn-primary btn-xs pull-right">
            {{- 'payment.button.new'|trans({}, 'EkynaCommerce') -}}
        </a>
    </div>
    {%- endif %}
    <h4 class="sub-header">
        {{- 'payment.label.plural'|trans({}, 'EkynaCommerce') -}}
    </h4>
    {% include '@EkynaCommerce/Admin/Common/Sale/show_payments.html.twig' with {
        'payments': quote.getPayments(true),
        'prefix': 'payment'
    } %}
    <hr>
    {# --------------- REFUNDS --------------- #}
    {% if is_granted('create', 'ekyna_commerce.order_payment') -%}
    <div class="actions">
        <a href="{{ admin_resource_path('ekyna_commerce.quote_payment', 'Ekyna\\Bundle\\CommerceBundle\\Action\\Admin\\Payment\\CreateAction', {'refund': 1}) }}"
           class="btn btn-primary btn-xs pull-right">
            {{- 'refund.button.new'|trans({}, 'EkynaCommerce') -}}
        </a>
    </div>
    {%- endif %}
    <h4 class="sub-header">
        {{- 'refund.label.plural'|trans({}, 'EkynaCommerce') -}}
    </h4>
    {% include '@EkynaCommerce/Admin/Common/Sale/show_payments.html.twig' with {
        'payments': quote.getPayments(false),
        'prefix': 'refund'
    } %}
    <hr>
    {# --------------- PAYMENT FIELDS --------------- #}
    {% include '@EkynaCommerce/Admin/Common/Sale/Fragment/payment_fields.html.twig' with {
        'sale': quote
    } %}
</div>
<div class="tab-pane" id="quote-attachments">
    <div class="actions">
        {% for type in quote|sale_editable_document_types -%}
        <a href="{{ admin_resource_path(quote, 'Ekyna\\Bundle\\CommerceBundle\\Action\\Admin\\Sale\\DocumentGenerateAction', {'type': type}) }}"
           class="btn btn-default btn-xs pull-right">
            {{- 'attachment.button.create'|trans({}, 'EkynaCommerce') }}
            {{ ('document.type.' ~ type)|trans({}, 'EkynaCommerce') -}}
        </a>
        {%- endfor %}
        {% if is_granted('create', 'ekyna_commerce.quote_attachment') -%}
        <a href="{{ admin_resource_path('ekyna_commerce.quote_attachment', 'Ekyna\\Bundle\\AdminBundle\\Action\\CreateAction', {'quoteId': quote.id}) }}"
           class="btn btn-primary btn-xs pull-right">
            {{ 'attachment.button.new'|trans({}, 'EkynaCommerce') }}
        </a>
        {%- endif %}
    </div>
    <h4 class="sub-header">
        {{ 'attachment.label.plural'|trans({}, 'EkynaCommerce') }}
    </h4>
    {% include '@EkynaCommerce/Admin/Common/Sale/show_attachments.html.twig' with {
        'sale': quote,
        'attachments': quote.attachments
    } %}
</div>
<div class="tab-pane" id="quote-information">
    {% include '@EkynaCommerce/Admin/Common/Sale/show_information.html.twig' with {'sale': quote} %}
    <h4 class="sub-header">
        {{- 'notification.label.plural'|trans({}, 'EkynaCommerce') -}}
    </h4>
    {% include '@EkynaCommerce/Admin/Common/Sale/show_notifications.html.twig' with {
        'sale': quote,
        'notifications': quote.notifications
    } %}
</div>
{% if commerce_feature(constant('Ekyna\\Component\\Commerce\\Features::SUPPORT')) -%}
<div class="tab-pane" id="quote-tickets">
    {{- support_tickets(quote, {
        'admin': true,
        'new': admin_resource_path('ekyna_commerce.ticket', 'Ekyna\\Bundle\\AdminBundle\\Action\\CreateAction', {'quote': quote.number})
    }) -}}
</div>
{%- endif %}
{%- endblock main_contents %}

{% block side %}
    {{ parent() }}
    {% if quote.customer is not null %}
        {% include '@EkynaCommerce/Admin/Common/Sale/Side/customer.html.twig' with {'customer': quote.customer} %}
    {% endif %}
{% endblock side %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ absolute_url(asset('bundles/ekynacommerce/css/sale-view.css')) }}" type="text/css" rel="stylesheet"/>
    {% if commerce_feature(constant('Ekyna\\Component\\Commerce\\Features::SUPPORT')) -%}
        <link href="{{ absolute_url(asset('bundles/ekynacommerce/css/support.css')) }}" rel="stylesheet" type="text/css"/>
    {%- endif %}
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">require(['ekyna-commerce/sale-view']);</script>
    <script type="text/javascript">require(['ekyna-commerce/sale-admin-show']);</script>
    {% if commerce_feature(constant('Ekyna\\Component\\Commerce\\Features::SUPPORT')) -%}
        <script type="text/javascript">require(['ekyna-commerce/support']);</script>
    {%- endif %}
{% endblock javascripts %}
