{% extends "EkynaAdminBundle:Entity/Default:show.html.twig" %}


{% import "EkynaCmsBundle:Admin:show_macros.html.twig" as _cms %}


{% block title %}
    {{ admin_resource_pin(resource) }}
    <h1>{{ 'ekyna_commerce.quote.header.show'|trans({'%number%': quote.number})|raw }}</h1>
{% endblock title %}

{% block main %}
<div class="main-header">
    <div class="infos">
        <span class="sale-state">{{ quote|sale_state_badge }}</span>
        {{ quote.allTags|cms_tags({'text': false}) }}
    </div>
    <div class="actions">
        {# TODO permission ? #}
        {{ ui_button('ekyna_core.button.notify', {
            'theme': 'default',
            'type': 'link',
            'path': admin_resource_path(quote, 'notify')
        }) }}
        {{ sale_transform_btn(quote) }}
        {{ admin_resource_btn(quote, 'edit') }}
        {{ admin_resource_btn(quote, 'remove') }}
    </div>
</div>
<div class="show show-with-tabs">
    <ul class="nav nav-tabs" data-tab-key="{{ resource_id }}">
        <li class="active">
            <a href="#quote-general" id="toggle-general" data-toggle="tab">
                {{ 'ekyna_core.field.general'|trans }}
            </a>
        </li>
        <li>
            <a href="#quote-addresses" id="toggle-addresses" data-toggle="tab">
                {{ 'ekyna_commerce.sale.field.addresses'|trans }}
            </a>
        </li>
        <li>
            <a href="#quote-details" id="toggle-details" data-toggle="tab">
                {{ 'ekyna_commerce.sale.field.details'|trans }}
            </a>
        </li>
        <li>
            <a href="#quote-payments" id="toggle-payments" data-toggle="tab">
                {{ 'ekyna_commerce.payment.label.plural'|trans }}
            </a>
        </li>
        <li>
            <a href="#quote-attachments" id="toggle-attachments" data-toggle="tab">
                {{ 'ekyna_commerce.attachment.label.plural'|trans }}
            </a>
        </li>
        <li>
            <a href="#quote-informations" id="toggle-informations" data-toggle="tab">
                {{ 'ekyna_core.field.informations'|trans }}
            </a>
        </li>
    </ul>
    <div class="show-body">
        <div class="tab-content">
            <div class="tab-pane active" id="quote-general">
                {% include "EkynaCommerceBundle:Admin/Common/Sale:show_general.html.twig" with {'sale': quote} %}
                <div class="row">
                    <div class="col-md-6">
                        {{ show_row(quote.weightTotal, 'number', 'ekyna_commerce.sale.field.weight_total', {
                            'precision': 3,
                            'append': 'kg',
                            'label_nb_col': 4,
                            'widget_nb_col': 8
                        }) }}
                    </div>
                    <div class="col-md-6">
                        {{ show_row(quote.expiresAt, 'datetime', 'ekyna_commerce.quote.field.expires_at', {
                            'date_format': 'short',
                            'time_format': 'none',
                            'label_nb_col': 4,
                            'widget_nb_col': 8
                        }) }}
                    </div>
                </div>
                {{ _cms.show_tags(quote) }}
            </div>
            <div class="tab-pane" id="quote-addresses">
                {% include "EkynaCommerceBundle:Admin/Common/Sale:show_addresses.html.twig" with {'sale': quote} %}
            </div>
            <div class="tab-pane" id="quote-details">
                {{ render_sale_view(sale_view) }}
            </div>
            <div class="tab-pane" id="quote-payments">
                <div class="actions">
                    {# TODO Permission #}
                    {%- if not quote.paid -%}
                    <a href="{{ admin_resource_path('ekyna_commerce.quote_payment', 'new', {'quoteId': quote.id}) }}"
                       class="btn btn-primary btn-xs pull-right">
                        {{ 'ekyna_commerce.payment.button.new'|trans }}
                    </a>
                    {%- endif -%}
                </div>
                <h4 class="sub-header">
                    {{ 'ekyna_commerce.payment.label.plural'|trans }}
                </h4>
                {% include "EkynaCommerceBundle:Admin/Common/Sale:show_payments.html.twig" with {'sale': quote} %}
                <hr>
                {% include "EkynaCommerceBundle:Admin/Common/Sale/Fragment:payment_fields.html.twig" with {'sale': quote} %}
            </div>
            <div class="tab-pane" id="quote-attachments">
                <div class="actions">
                    {% for type in quote|sale_editable_document_types -%}
                    <a href="{{ admin_resource_path(quote, 'document_generate', {'quoteId': quote.id, 'type': type}) }}"
                       class="btn btn-default btn-xs pull-right">
                        {{ 'ekyna_commerce.attachment.button.create'|trans }}
                        {{ ('ekyna_commerce.document.type.' ~ type)|trans }}
                    </a>
                    {%- endfor %}
                    {# TODO Permission #}
                    <a href="{{ admin_resource_path('ekyna_commerce.quote_attachment', 'new', {'quoteId': quote.id}) }}"
                       class="btn btn-primary btn-xs pull-right">
                        {{ 'ekyna_commerce.attachment.button.new'|trans }}
                    </a>
                </div>
                <h4 class="sub-header">
                    {{ 'ekyna_commerce.attachment.label.plural'|trans }}
                </h4>
                {% include "EkynaCommerceBundle:Admin/Common/Sale:show_attachments.html.twig" with {'attachments': quote.attachments} %}
            </div>
            <div class="tab-pane" id="quote-informations">
                {% include "EkynaCommerceBundle:Admin/Common/Sale:show_informations.html.twig" with {'sale': quote} %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block side %}
    {{ parent() }}
    {% if quote.customer is not null %}
        {% include "EkynaCommerceBundle:Admin/Common/Sale/Side:customer.html.twig" with {'customer': quote.customer} %}
    {% endif %}
{% endblock side %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/ekynacommerce/css/sale-view.css') }}" type="text/css" rel="stylesheet"/>
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">require(['ekyna-commerce/sale-view']);</script>
    <script type="text/javascript">require(['ekyna-commerce/sale-admin-show']);</script>
{% endblock javascripts %}
