{% spaceless %}
{% set show_origin_customer = not customer.hasParent() %}
<table class="table table-stripped">
    <thead>
    <tr>
        <th>{{ 'ekyna_core.field.number'|trans }}</th>
        <th>{{ 'ekyna_commerce.sale.field.voucher_number'|trans }}</th>
        {% if show_origin_customer -%}
            <th>{{ 'ekyna_commerce.sale.field.origin_customer'|trans }}</th>
        {%- endif %}
        <th>{{ 'ekyna_commerce.sale.field.grand_total'|trans }}</th>
        <th>{{ 'ekyna_commerce.sale.field.state'|trans }}</th>
        <th>{{ 'ekyna_commerce.sale.field.payment_state'|trans }}</th>
        <th>{{ 'ekyna_commerce.sale.field.shipment_state'|trans }}</th>
        <th>{{ 'ekyna_core.field.date'|trans }}</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    {% for order in orders %}
        {% set path = path('ekyna_commerce_account_order_show', {'number': order.number}) %}
        <tr>
            <td>
                <a href="{{ path }}">{{ order.number }}</a>
            </td>
            <td>
                {%- if order.voucherNumber is not empty -%}
                    {{ order.voucherNumber }}
                {%- else -%}
                    &dash;
                {%- endif -%}
            </td>
            {% if show_origin_customer -%}
            <td>
                {%- if order.originCustomer is not null -%}
                    {{ order.originCustomer|identity }}
                {%- else -%}
                    &dash;
                {%- endif -%}
            </td>
            {%- endif %}
            <td class="text-right">
                {{- order.grandTotal|localizedcurrency(order.currency.code) -}}
            </td>
            <td>
                {{- order|sale_state_badge -}}
            </td>
            <td>
                {{- order.paymentState|payment_state_badge -}}
            </td>
            <td>
                {{- order.shipmentState|shipment_state_badge -}}
            </td>
            <td>
                {{- order.createdAt|localizeddate('short', 'none') -}}
            </td>
            <td class="text-right">
                <a href="{{ path }}" class="btn btn-xs btn-default">
                    {{- 'ekyna_core.button.show'|trans -}}
                </a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="{{ show_origin_customer ? 9 : 8 }}">
                <em>{{ 'ekyna_commerce.account.order.empty_list'|trans }}</em>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endspaceless %}
