{% apply spaceless %}
{% set show_origin_customer = not customer.hasParent() %}
<div class="table-responsive">
<table class="table table-stripped">
    <thead>
    <tr>
        <th>{{ 'field.number'|trans({}, 'EkynaUi') }}</th>
        <th>{{ 'sale.field.voucher_number'|trans({}, 'EkynaCommerce') }}</th>
        {% if show_origin_customer -%}
            <th>{{ 'sale.field.origin_customer'|trans({}, 'EkynaCommerce') }}</th>
        {%- endif %}
        <th>{{ 'sale.field.ati_total'|trans({}, 'EkynaCommerce') }}</th>
        <th>{{ 'field.status'|trans({}, 'EkynaCommerce') }}</th>
        <th>{{ 'sale.field.payment_state'|trans({}, 'EkynaCommerce') }}</th>
        <th>{{ 'sale.field.shipment_state'|trans({}, 'EkynaCommerce') }}</th>
        <th>{{ 'field.date'|trans({}, 'EkynaUi') }}</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    {% for order in orders %}
        {% set path = path('ekyna_commerce_account_order_read', {'number': order.number}) %}
        <tr>
            <td>
                <a href="{{ path }}">{{ order.number }}</a>
            </td>
            <td>
                {%- if order.sample -%}
                    <span class="label label-purple">{{ 'field.sample'|trans({}, 'EkynaCommerce') }}</span>
                {%- elseif order.voucherNumber is not empty -%}
                    {{ order.voucherNumber }}
                {%- else -%}
                    &dash;
                {%- endif -%}
            </td>
            {% if show_origin_customer -%}
            <td>
                {%- if order.originCustomer is not null -%}
                    {{ order.originCustomer|identity }}
                {%- else -%}
                    &dash;
                {%- endif -%}
            </td>
            {%- endif %}
            <td class="text-right">
                {{- order.grandTotal|currency_quote(order) -}}
            </td>
            <td>
                {{- order|sale_state_badge -}}
            </td>
            <td>
                {%- if order.sample -%}
                    &dash;
                {%- else -%}
                    {{- order.paymentState|payment_state_badge -}}
                {%- endif -%}
            </td>
            <td>
                {{- order.shipmentState|shipment_state_badge -}}
            </td>
            <td>
                {{- order.createdAt|format_datetime('short', 'none') -}}
            </td>
            <td class="text-right">
                <a href="{{ path }}" class="btn btn-xs btn-default">
                    {{- 'button.show'|trans({}, 'EkynaUi') -}}
                </a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="{{ show_origin_customer ? 9 : 8 }}">
                <em>{{ 'account.order.empty_list'|trans({}, 'EkynaCommerce') }}</em>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endapply %}
