{% extends '@EkynaCommerce/Account/layout.html.twig' %}

{% block account %}
{% apply spaceless %}
    <h3>{{ 'ekyna_commerce.account.order.attachment'|trans({'%number%': order.number})|raw }}</h3>

    <hr>

    {{ bootstrap_set_style('horizontal') }}
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="form-body">
        {{ form_errors(form, {'global_errors': true}) }}
        {{ form_row(form.title) }}
        <div class="upload-widget">
            {{ form_row(form.file) }}
            {{ form_row(form.rename) }}
            {{ form_row(form.key) }}
        </div>
        {{ form_rest(form) }}
    </div>
    {{ form_end(form) }}

    <br><br>
    <h3>{{ 'ekyna_commerce.account.order.title'|trans|raw }}</h3>
    <hr>
    {% include '@EkynaCommerce/Account/Order/_list.html.twig' with {
        'orders': orders, 'customer': customer
    } only %}

{% endapply %}
{% endblock %}
