{% extends "EkynaCommerceBundle:Account:layout.html.twig" %}

{% block account %}
{% spaceless %}
    <h3>{{ 'ekyna_commerce.account.order.payment'|trans({'%number%': order.number})|raw }}</h3>
    <p>
        Du {{ order.createdAt|localizeddate('short', 'none') }}, {{ order|sale_state_badge }}
    </p>

    {%- include "EkynaCommerceBundle:Account/Sale:payments.html.twig" with {
        'sale': order,
        'cancel_route': 'ekyna_commerce_account_order_payment_cancel'
    } -%}

    {{ bootstrap_set_style('horizontal') }}
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="form-body">
        {{ form_errors(form, {'global_errors': true}) }}
        {{ form_row(form.confirm) }}
        {{ form_rest(form) }}
    </div>
    {{ form_end(form) }}

    <br><br>
    <h3>{{ 'ekyna_commerce.account.order.title'|trans|raw }}</h3>
    <hr>
    {% include "EkynaCommerceBundle:Account/Order:_list.html.twig" with {
        'orders': orders, 'customer': customer
    } only %}

{% endspaceless %}
{% endblock %}

{% block stylesheets %}
    {{- parent() -}}
    <link href="{{ asset('bundles/ekynacommerce/css/sale-view.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}
