{% extends "EkynaCommerceBundle:Account:layout.html.twig" %}

{% block account %}
{% spaceless %}
    <h3>{{ 'ekyna_commerce.account.order.payment'|trans({'%number%': order.number})|raw }}</h3>
    <p>
        Du {{ order.createdAt|localizeddate('short', 'none') }}, {{ order|sale_state_badge }}
    </p>

    {%- include "EkynaCommerceBundle:Account/Sale:payments.html.twig" with {
        'sale': order, 'customer': customer
    } -%}

    <div class="row">
        <div class="col-md-8">
            {%- include "EkynaCommerceBundle:Account/Sale:payment_forms.html.twig" with {
                'sale': order, 'forms': forms
            } only -%}
        </div>
        <div class="col-md-4">
            {% include "EkynaCommerceBundle:Account/Sale:summary.html.twig" with {
                'title': 'ekyna_commerce.account.order.summary', 'sale': order, 'delivery': true
            } %}
        </div>
    </div>

    <hr>

    <div class="text-center">
        <a href="{{ path('ekyna_commerce_account_order_show', {'number': order.number}) }}" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-chevron-left"></span>
            {{ 'ekyna_core.button.back'|trans }}
        </a>
    </div>

    <br><br>

    <h3>{{ 'ekyna_commerce.account.order.title'|trans|raw }}</h3>
    <hr>
    {% include "EkynaCommerceBundle:Account/Order:_list.html.twig" with {
        'orders': orders, 'customer': customer
    } only %}
{% endspaceless %}
{% endblock %}


{% block stylesheets -%}
    {{ parent() }}
    <link href="{{ asset('bundles/ekynacommerce/css/checkout.css') }}" type="text/css" rel="stylesheet"/>
{%- endblock stylesheets %}
