{% extends "EkynaCommerceBundle:Account:layout.html.twig" %}

{% block account %}
{% spaceless %}
    <h3>{{ 'ekyna_commerce.account.order.show'|trans({'%number%': order.number})|raw }}</h3>
    <p>
        Du {{ order.createdAt|localizeddate('short', 'none') }}, {{ order|sale_state_badge }}
    </p>
    <hr>

    {{- render_sale_view(view) -}}

    {% if 0 < order.remainingAmount %}
    <div class="text-center" style="margin-bottom: 40px;">
        <a href="{{ path('ekyna_commerce_account_order_payment', {'number': order.number}) }}" class="btn btn-primary btn-lg">
            <span class="glyphicon glyphicon-chevron-right"></span>
            {{ 'ekyna_commerce.account.order.button.pay'|trans }}
        </a>
    </div>
    {% endif %}

    {%- include "EkynaCommerceBundle:Account/Sale:attachments.html.twig" with {
        'sale': order,
        'detail_route': 'ekyna_commerce_account_order_attachment_download'
    } -%}

    {%- include "EkynaCommerceBundle:Account/Sale:payments.html.twig" with {
        'sale': order,
        'cancel_route': 'ekyna_commerce_account_order_payment_cancel'
    } -%}

    {%- include "EkynaCommerceBundle:Account/Sale:shipments.html.twig" with {'sale': order} -%}

    <br><br>
    <h3>{{ 'ekyna_commerce.account.order.title'|trans|raw }}</h3>
    <hr>
    {% include "EkynaCommerceBundle:Account/Order:_list.html.twig" %}

{% endspaceless %}
{% endblock %}

{% block stylesheets %}
    {{- parent() -}}
    <link href="{{ asset('bundles/ekynacommerce/css/sale-view.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}
