{% extends '@EkynaCommerce/Account/layout.html.twig' %}

{% block account %}
{% spaceless %}
    <h3>{{ 'ekyna_commerce.account.order.show'|trans({'%number%': order.number})|raw }}</h3>
    <p>
        {{ order|sale_state_badge }}
        Créée le <em>{{ order.createdAt|localizeddate('short', 'none') }}</em>. {# TODO translations #}
    </p>
    <hr>

    {% include '@EkynaCommerce/Account/Sale/addresses.html.twig' with {'sale': order} only %}

    {{- render_sale_view(view) -}}

    {% if 0 < order.remainingAmount %}
        {% if customer.id == order.customer.id %}
        <div class="text-center" style="margin-bottom: 40px;">
            <a href="{{ path('ekyna_commerce_account_order_payment_create', {'number': order.number}) }}"
               class="btn btn-primary">
                <span class="glyphicon glyphicon-chevron-right"></span>
                {{ 'ekyna_commerce.account.order.button.pay'|trans }}
                ({{ order.remainingAmount|localizedcurrency(order.currency.code) }})
            </a>
        </div>
        {% else %}
        <div class="alert alert-info">
            {{ 'ekyna_commerce.account.order.message.payment_denied'|trans }}
        </div>
        {% endif %}
    {% endif %}

    {# Payments #}
    {%- if order is sale_with_payment -%}
        {%- include '@EkynaCommerce/Account/Sale/payments.html.twig' with {
            'sale': order, 'customer': customer
        } only -%}
    {%- endif -%}

    {# Shipments #}
    {%- if order is sale_with_shipment -%}
        {%- include '@EkynaCommerce/Account/Sale/shipments.html.twig' with {
            'sale': order, 'return': false, 'route_prefix': route_prefix
        } only -%}
    {%- endif -%}

    {# Returns #}
    {%- if order is sale_with_return -%}
        {%- include '@EkynaCommerce/Account/Sale/shipments.html.twig' with {
            'sale': order, 'return': true, 'route_prefix': route_prefix
        } only -%}
    {%- endif -%}

    {# Invoices #}
    {%- if order is sale_with_invoice -%}
        {%- include '@EkynaCommerce/Account/Sale/invoices.html.twig' with {
            'sale': order, 'credit': false, 'route_prefix': route_prefix
        } only -%}
    {%- endif -%}

    {# Credits #}
    {%- if order is sale_with_credit -%}
        {%- include '@EkynaCommerce/Account/Sale/invoices.html.twig' with {
            'sale': order, 'credit': true, 'route_prefix': route_prefix
        } only -%}
    {%- endif -%}

    {# Attachments #}
    {%- if order is sale_with_attachment -%}
        {%- include '@EkynaCommerce/Account/Sale/attachments.html.twig' with {
            'sale': order, 'route_prefix': route_prefix
        } only -%}
    {% endif %}

    {# Tickets #}
    <div class="panel panel-default">
        <div class="panel-heading">
            {{- 'ekyna_commerce.ticket.label.plural'|trans|raw -}}
        </div>
        <div class="panel-body">
            {{- render_tickets(order, {'new': path('ekyna_commerce_account_ticket_new', {'order': order.number})}) -}}
        </div>
    </div>

    <br><br>
    <h3>{{ 'ekyna_commerce.account.order.title'|trans|raw }}</h3>
    <hr>
    {%- include '@EkynaCommerce/Account/Order/_list.html.twig' with {
        'orders': orders, 'customer': customer
    } only -%}

{% endspaceless %}
{% endblock %}

{% block stylesheets %}
    {{- parent() -}}
    <link href="{{ asset('bundles/ekynacommerce/css/sale-view.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/ekynacommerce/css/support.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">require(['ekyna-commerce/support']);</script>
{% endblock %}
