{% block ekyna_commerce_configurable_slots_widget %}
{% spaceless %}
    {% for child in form %}
        {{ form_widget(child) }}
    {% endfor %}
{% endspaceless %}
{% endblock ekyna_commerce_configurable_slots_widget %}


{% block ekyna_commerce_configurable_slot_widget %}
{% spaceless %}

    <div class="row commerce-configurable-slot">
        <div class="col-md-6 col-md-push-6">
            <div class="slot-info">
                <h3 class="slot-title">{{ form.vars.slot_title }}</h3>
                <div class="slot-description">{{ form.vars.slot_description|raw }}</div>
                {# TODO slot title #}
                {# TODO slot description #}
            </div>
            <div class="choice-info">
                <h2 class="choice-title"></h2>
                <div class="choice-description"></div>
            </div>
            {{ form_row(form.quantity, {'label_col': 6, 'widget_col': 6}) }}
        </div>
        <div class="col-md-6 col-md-pull-6 choices">
            <a href="javascript: void(0)" class="prev">
                <span class="fa fa-arrow-left"></span>
            </a>
            <a href="javascript: void(0)" class="next">
                <span class="fa fa-arrow-right"></span>
            </a>
            <ul>
                {% for child in form.subject %}
                <li>
                    <img src="{{ asset('bundles/ekynacommerce/img/no-image.gif') }}" class="img-responsive">
                    <p>
                        {{ form_widget(child) }}
                    </p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endspaceless %}
{% endblock ekyna_commerce_configurable_slot_widget %}
