{% extends 'EkynaAdminBundle:Form:form_div_layout.html.twig' %}


{% block ekyna_commerce_address_widget %}
{% spaceless %}
    {{- bootstrap_backup_form_settings() -}}
    {{- bootstrap_set_sizing('sm') -}}

    {{- form_errors(form) -}}

    {%- if form.customer is defined -%}
        {{- form_row(form.customer) -}}
    {%- endif -%}

    {%- if form.company is defined -%}
        {{- form_row(form.company) -}}
    {%- endif -%}

    {%- if form.identity is defined -%}
        {{- form_row(form.identity) -}}
    {%- endif -%}

    {{- form_row(form.street, {'sizing': 'sm'}) -}}
    {{- form_row(form.complement) -}}
    {{- form_row(form.supplement) -}}
    <div class="row">
        <div class="col-md-6">
            {{- form_row(form.postalCode, {'label_col': 4, 'widget_col': 8}) -}}
        </div>
        <div class="col-md-6">
            {{- form_row(form.city, {'label_col': 4, 'widget_col': 8}) -}}
        </div>
    </div>
    {%- if form.country is defined -%}
    <div class="row">
        <div class="col-md-6">
            {{- form_row(form.country, {'label_col': 4, 'widget_col': 8}) -}}
        </div>
        <div class="col-md-6">
        {%- if form.state is defined -%}
            {{- form_row(form.state, {'label_col': 4, 'widget_col': 8}) -}}
        {%- endif -%}
        </div>
    </div>
    {%- endif -%}
    {%- if form.phone is defined -%}
    <div class="row">
        <div class="col-md-6">
            {{- form_row(form.phone, {'label_col': 4, 'widget_col': 8}) -}}
        </div>
        <div class="col-md-6">
            {{- form_row(form.mobile, {'label_col': 4, 'widget_col': 8}) -}}
        </div>
    </div>
    {%- endif -%}

    {%- if form.invoiceDefault is defined and form.deliveryDefault is defined -%}
    <div class="row">
        <div class="col-md-6">
            {{- form_row(form.invoiceDefault, {'label_col': 4, 'widget_col': 8}) -}}
        </div>
        <div class="col-md-6">
            {{- form_row(form.deliveryDefault, {'label_col': 4, 'widget_col': 8}) -}}
        </div>
    </div>
    {%- endif -%}

    {{- bootstrap_restore_form_settings() -}}

    {{- form_rest(form) -}}
{% endspaceless %}
{% endblock ekyna_commerce_address_widget %}


{% block ekyna_commerce_adjustments_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': 'ekyna-collection' }) %}
    {% set delete_button_confirm = ' data-confirm="' ~ (form.vars.delete_button_confirm|trans|escape) ~ '"' %}

    {# Prototype #}
    {% if prototype is defined %}
        {# Controls #}
        {% set controls =
            '<button type="button" class="btn btn-default btn-xs" data-collection-role="move-up" ' ~
                    'data-collection="' ~ form.vars.id ~ '" data-field="__id__">' ~
                '<span class="glyphicon glyphicon-chevron-up"></span>' ~
            '</button>' ~
            '<button type="button" class="btn btn-danger btn-xs" data-collection-role="remove" ' ~
                    'data-collection="' ~ form.vars.id ~ '" data-field="__id__"' ~ delete_button_confirm ~ '>' ~
                '<span class="glyphicon glyphicon-remove"></span>' ~
            '</button>' ~
            '<button type="button" class="btn btn-default btn-xs" data-collection-role="move-down" ' ~
                    'data-collection="' ~ form.vars.id ~ '" data-field="__id__">' ~
                '<span class="glyphicon glyphicon-chevron-down"></span>' ~
            '</button>' %}
        {% set attr = attr|merge({'data-prototype': form.vars.id ~ '_prototype'}) %}
        {% set attr = attr|merge({'data-prototype-name': prototype_name}) %}
        <div class="ekyna-collection-prototype" id="{{ form.vars.id }}_prototype">
            {{ form_widget(prototype)|replace({'__controls__': controls}) }}
        </div>
    {% endif %}
    <div {{ block('widget_container_attributes') }}>
        <table class="table">
            {# Header #}
            {#<thead>
            <tr>
                <th>{{ 'ekyna_core.field.designation'|trans }}</th>
                <th>{{ 'ekyna_core.field.type'|trans }}</th>
                <th>{{ 'ekyna_core.field.mode'|trans }}</th>
                <th>{{ 'ekyna_core.field.amount'|trans }}</th>
                <th></th>
            </tr>
            </thead>#}

            {# Rows #}
            <tbody class="ekyna-collection-child-container">
            {% for child in form %}
                {% set controls =
                    '<button type="button" class="btn btn-default btn-xs" data-collection-role="move-up" ' ~
                            'data-collection="' ~ form.vars.id ~ '" data-field="' ~ child.vars.id ~ '">' ~
                        '<span class="glyphicon glyphicon-chevron-up"></span>' ~
                    '</button>' ~
                    '<button type="button" class="btn btn-danger btn-xs" data-collection-role="remove" ' ~
                            'data-collection="' ~ form.vars.id ~ '" data-field="' ~ child.vars.id ~ '"' ~
                            delete_button_confirm ~ '>' ~
                        '<span class="glyphicon glyphicon-remove"></span>' ~
                    '</button>' ~
                    '<button type="button" class="btn btn-default btn-xs" data-collection-role="move-down" ' ~
                            'data-collection="' ~ form.vars.id ~ '" data-field="' ~ child.vars.id ~ '">' ~
                        '<span class="glyphicon glyphicon-chevron-down"></span>' ~
                    '</button>'
                %}
                {{ form_widget(child)|replace({'__controls__': controls})|raw }}
            {% endfor %}
            </tbody>
        </table>
        {{ form_errors(form) }}
        {% if form.vars.allow_add %}
        <p>
            <button type="button" class="btn btn-link btn-xs" data-collection-role="add"
                    data-collection="{{ form.vars.id }}" data-prototype-name="{{ prototype_name }}">
                {{- form.vars.add_button_text|trans({}, translation_domain)|raw -}}
            </button>
        </p>
        {% endif %}
        {{ form_rest(form) }}
    </div>
{% endspaceless %}
{% endblock ekyna_commerce_adjustments_widget %}


{% block ekyna_commerce_adjustment_widget %}
{% spaceless %}
    {{ bootstrap_backup_form_settings() }}
    {{ bootstrap_set_sizing('sm') }}
    {% set class = attr.class|default('') %}
    {% set attr = attr|merge({'class': ('ekyna-collection-child ' ~ class)|trim }) %}
    <tr {{ block('widget_container_attributes') }}>
        <td width="30%">{{ form_widget(form.designation) }}</td>
        <td>{{ form_widget(form.type) }}</td>
        <td>{{ form_widget(form.mode) }}</td>
        <td>{{ form_widget(form.amount) }}</td>
        <td class="ekyna-collection-controls">
            {{ form_widget(form.position) }}
            <div class="btn-group">__controls__</div>
        </td>
    </tr>
    {% if errors|length > 0 %}
    <tr>
        <td colspan="5">
            {{ form_errors(form) }}
        </td>
    </tr>
    {% endif %}
    {{ form_rest(form) }}
    {{ bootstrap_restore_form_settings() }}
{% endspaceless %}
{% endblock ekyna_commerce_adjustment_widget %}


{% block ekyna_commerce_attachment_widget %}
{% spaceless %}
    {{ form_row(form.title) }}
    {{ block('ekyna_upload_widget') }}
{% endspaceless %}
{% endblock ekyna_commerce_attachment_widget %}


{% block ekyna_commerce_checkout_payment_widget %}
{% spaceless %}
    <div class="row">
        <div class="col-sm-3 hidden-xs">
            {{ block('ekyna_commerce_checkout_payment_image') }}
        </div>
        <div class="col-sm-9 commerce-payment-method">
            <p>{{ payment.method.title }}</p>
            {{ payment.method.description|raw }}

            {%- if form.submit is defined %}{{ form_row(form.submit) }}{% endif -%}
        </div>
    </div>
{% endspaceless %}
{% endblock ekyna_commerce_checkout_payment_widget %}


{% block ekyna_commerce_checkout_attachment_widget %}
{% spaceless %}
    {{ bootstrap_set_sizing('sm') }}
    {{ form_errors(form) }}
    {{ form_row(form.file) }}
    {{ form_row(form.title) }}
    {{ form_rest(form) }}
{% endspaceless %}
{% endblock ekyna_commerce_checkout_attachment_widget %}


{% block ekyna_commerce_checkout_balance_payment_widget %}
{% spaceless %}
    <div class="row">
        <div class="col-sm-3 hidden-xs">
            {{- block('ekyna_commerce_checkout_payment_image') -}}
        </div>
        <div class="col-sm-9 commerce-payment-method">
            <p>{{ payment.method.title }}</p>
            {{- payment.method.description|raw -}}

            {%- if 0 >= available_amount -%}
                <div class="alert alert-danger">
                    {{- 'ekyna_commerce.checkout.payment.insuffisant_fund'|trans|raw -}}
                </div>
            {%- else -%}
                <p>
                    {{- 'ekyna_commerce.checkout.payment.available_fund'|trans({
                        '%amount%': available_amount|localizedcurrency(currency_code)
                    })|raw -}}
                </p>
                {{- form_row(form.amount) -}}
            {%- endif -%}

            {%- if form.submit is defined %}{{ form_row(form.submit) }}{% endif -%}

            {% if lock_message is not empty -%}
            <div class="alert alert-warning">{{ lock_message|raw }}</div>
            {%- endif %}
        </div>
    </div>
{% endspaceless %}
{% endblock ekyna_commerce_checkout_balance_payment_widget %}


{% block ekyna_commerce_checkout_payment_image %}
{% spaceless %}
    {% if payment.method.media is not same as (null) %}
        <img src="{{ payment.method.media.path|imagine_filter('commerce_method') }}"
             alt="{{ payment.method.media.title }}" class="img-responsive">
    {% else %}
        <img src="{{ asset(default_image_path) }}" alt="{{ default_image_alt|trans }}"
             class="img-responsive">
    {% endif %}
{% endspaceless %}
{% endblock ekyna_commerce_checkout_payment_image %}


{% block ekyna_commerce_identity_widget %}
{% spaceless %}
    <div class="input-group commerce-identity">
        {{ form_widget(form.gender) }}
        {{ form_widget(form.lastName) }}
        {{ form_widget(form.firstName) }}
    </div>
{% endspaceless %}
{% endblock ekyna_commerce_identity_widget %}


{% block ekyna_commerce_messages_widget %}
{% spaceless %}
    <ul class="nav nav-tabs">
    {% for child in form %}
        <li{% if loop.first %} class="active"{% endif %}>
            <a href="#method-message-state-{{ child.vars.state }}" data-toggle="tab">
            {% if translation_type == 'shipment' %}
                {{ child.vars.state|shipment_state_label }}
            {% elseif translation_type == 'payment' %}
                {{ child.vars.state|payment_state_label }}
            {% else %}
                {{ child.vars.state|trans }}
            {% endif %}
            </a>
        </li>
    {% endfor %}
    </ul>
    <div class="panel-body" style="border: 1px solid #ddd; border-top: none; padding:15px 15px 1px 15px; margin-bottom: 15px;">
        <div class="tab-content">
        {% for child in form %}
            <div class="tab-pane{% if loop.first %} active{% endif %}" id="method-message-state-{{ child.vars.state }}">
                {{ form_row(child.translations, {'label_col': 0, 'widget_col': 12}) }}
                {{ form_errors(child) }}
                {{ form_rest(child) }}
            </div>
        {% endfor %}
        </div>
    </div>
{% endspaceless %}
{% endblock ekyna_commerce_messages_widget %}


{% block ekyna_commerce_shipment_method_choice_widget %}
{% spaceless %}
    {% with %}
    {% set button_message = 'ekyna_commerce.shipment_method.button.choose' %}
    {% set default_image_path = 'bundles/ekynacommerce/img/money.png' %}
    {% set default_image_alt = 'Shipment' %}

    {{ block('ekyna_commerce_method_choice_widget') }}
    {% endwith %}
{% endspaceless %}
{% endblock ekyna_commerce_shipment_method_choice_widget %}


{% block ekyna_commerce_method_choice_widget %}
{% spaceless %}
    {% if compound %}
        {% if 0 < form.children|length %}
        <div class="commerce-method-choice">
            {% for child in form %}
                {% set method = form.vars.choices[child.vars.value].data %}
                <div class="row">
                    <div class="col-sm-3 commerce-method-choice-visual">
                        {{ form_widget(child) }}
                        <label for="{{ child.vars.id }}">
                            {% if method.media is not same as (null) %}
                                <img src="{{ method.media.path|imagine_filter('commerce_method') }}"
                                     alt="{{ method.media.title }}" class="img-responsive">
                            {% else %}
                                <img src="{{ asset(default_image_path) }}" alt="{{ default_image_alt|trans }}"
                                     class="img-responsive">
                            {% endif %}
                        </label>
                    </div>
                    <div class="col-sm-9 commerce-method-choice-description">
                        <p>{{ child.vars.label|raw }}</p>
                        {{ method.description|raw }}
                        <p>
                            <label for="{{ child.vars.id }}" class="btn btn-xs btn-primary">
                                {{ button_message|trans({'%gateway_name%': method.title}) }}
                            </label>
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% else %}
            <div class="alert alert-warning">
                <p>
                    {% if form.vars.country is defined -%}
                        {{ 'ekyna_commerce.shipment_method.alert.none_available_for_country'|trans({
                            '%country%': form.vars.country
                        })|raw }}
                    {%- else -%}
                        {{ 'ekyna_commerce.shipment_method.alert.none_available'|trans }}
                    {%- endif %}
                </p>
            </div>
        {% endif %}
    {% else %}
        {{ block('choice_widget') }}
    {% endif %}
{% endspaceless %}
{% endblock ekyna_commerce_method_choice_widget %}


{% block ekyna_commerce_sale_address_widget %}
{% spaceless %}
    <div class="commerce-sale-address"{{ block('widget_container_attributes') }}>
        {% if form.sameAddress is defined %}
            {{ form_row(form.sameAddress) }}
        {% endif %}
        <div class="sale-address-wrap">
            {% if form.choice is defined %}
                {{ form_row(form.choice, {'sizing': 'sm'}) }}
            {% endif %}
            <div class="sale-address">
                {{ form_row(form.address) }}
            </div>
        </div>
        {{ form_errors(form)}}
        {#{{ form_rest(form)}}#}
    </div>
{% endspaceless %}
{% endblock ekyna_commerce_sale_address_widget %}


{% block ekyna_commerce_sale_items_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': 'ekyna-collection' }) %}
    {% set delete_button_confirm = ' data-confirm="' ~ (form.vars.delete_button_confirm|trans|escape) ~ '"' %}

    {# Prototype #}
    {% if prototype is defined %}
        {# Controls #}
        {% set controls =
            '<button type="button" class="btn btn-default btn-xs" data-collection-role="move-up" ' ~
                    'data-collection="' ~ form.vars.id ~ '" data-field="__id__">' ~
                '<span class="glyphicon glyphicon-chevron-up"></span>' ~
            '</button>' ~
            '<button type="button" class="btn btn-danger btn-xs" data-collection-role="remove" ' ~
                    'data-collection="' ~ form.vars.id ~ '" data-field="__id__"' ~ delete_button_confirm ~ '>' ~
                '<span class="glyphicon glyphicon-remove"></span>' ~
            '</button>' ~
            '<button type="button" class="btn btn-default btn-xs" data-collection-role="move-down" ' ~
                    'data-collection="' ~ form.vars.id ~ '" data-field="__id__">' ~
                '<span class="glyphicon glyphicon-chevron-down"></span>' ~
            '</button>'
        %}
        {% set attr = attr|merge({'data-prototype': form.vars.id ~ '_prototype'}) %}
        {% set attr = attr|merge({'data-prototype-name': prototype_name}) %}
        <div class="ekyna-collection-prototype" id="{{ form.vars.id }}_prototype">
            {{ form_widget(prototype)|replace({'__controls__': controls}) }}
        </div>
    {% endif %}
    <div {{ block('widget_container_attributes') }}>
        <table class="ekyna-collection-child-container table">
            {% if not form.vars.children_mode %}
                {# Header #}
                <thead>
                <tr>
                    <th>
                        {{ 'ekyna_core.field.designation'|trans }}
                    </th>
                    <th>
                        {{ 'ekyna_core.field.reference'|trans }}
                    </th>
                    <th>
                        {{ 'ekyna_core.field.weight'|trans }}
                    </th>
                    <th>
                        {{ 'ekyna_core.field.price'|trans }}
                    </th>
                    <th>
                        {{ 'ekyna_commerce.sale_item.field.tax_group'|trans }}
                    </th>
                    <th>
                        {{ 'ekyna_core.field.quantity'|trans }}
                    </th>
                    <th></th>
                </tr>
                </thead>
            {% endif %}

            {# Rows #}
            {% for child in form %}
                {% set controls =
                    '<button type="button" class="btn btn-default btn-xs" data-collection-role="move-up" ' ~
                            'data-collection="' ~ form.vars.id ~ '" data-field="' ~ child.vars.id ~ '">' ~
                        '<span class="glyphicon glyphicon-chevron-up"></span>' ~
                    '</button>' ~
                    '<button type="button" class="btn btn-danger btn-xs" data-collection-role="remove" ' ~
                            'data-collection="' ~ form.vars.id ~ '" data-field="' ~ child.vars.id ~ '"' ~
                            delete_button_confirm ~ '>' ~
                        '<span class="glyphicon glyphicon-remove"></span>' ~
                    '</button>' ~
                    '<button type="button" class="btn btn-default btn-xs" data-collection-role="move-down" ' ~
                            'data-collection="' ~ form.vars.id ~ '" data-field="' ~ child.vars.id ~ '">' ~
                        '<span class="glyphicon glyphicon-chevron-down"></span>' ~
                    '</button>'
                %}
                {{ form_widget(child)|replace({'__controls__': controls})|raw }}
            {% endfor %}

        </table>
        {{ form_errors(form) }}
        {#{{ form_rest(form) }}#}
        {% if form.vars.allow_add %}
        <p>
            <button type="button" class="btn btn-link btn-xs" data-collection-role="add"
                    data-collection="{{ form.vars.id }}" data-prototype-name="{{ prototype_name }}">
                {{- form.vars.add_button_text|trans({}, translation_domain)|raw -}}
            </button>
        </p>
        {% endif %}
    </div>
{% endspaceless %}
{% endblock ekyna_commerce_sale_items_widget %}


{% block ekyna_commerce_sale_item_widget %}
{% spaceless %}
    {{ bootstrap_backup_form_settings() }}
    {{ bootstrap_set_sizing('sm') }}
    {% set class = attr.class|default('') %}
    {% set attr = attr|merge({'class': ('ekyna-collection-child commerce-sale-item ' ~ class)|trim }) %}
    <tbody {{ block('widget_container_attributes') }}>
    <tr>
        <td width="30%">{{ form_widget(form.designation) }}</td>
        <td>{{ form_widget(form.reference) }}</td>
        <td>{{ form_widget(form.weight) }}</td>
        <td>{{ form_widget(form.netPrice) }}</td>
        <td>{{ form_widget(form.taxGroup) }}</td>
        <td>{{ form_widget(form.quantity) }}</td>
        <td rowspan="{{ form.vars.with_collections ? 3 : 2 }}" class="ekyna-collection-controls">
            {{ form_widget(form.position) }}
            <div class="btn-group-vertical">__controls__</div>
        </td>
    </tr>
    {% if errors|length > 0 %}
        <tr>
            <td colspan="7">
                {{ form_errors(form) }}
            </td>
        </tr>
    {% endif %}
    {% if form.items is defined %}
        <tr>
            <td colspan="6" class="commerce-sale-item-children">
                {{ form_widget(form.items) }}
            </td>
        </tr>
    {% endif %}
    {% if form.adjustments is defined %}
    <tr>
        <td colspan="6" class="commerce-sale-item-children">
            {{ form_widget(form.adjustments) }}
        </td>
    </tr>
    {% endif %}
    {#{{ form_rest(form) }}#}
    </tbody>
    {{ bootstrap_restore_form_settings() }}
{% endspaceless %}
{% endblock ekyna_commerce_sale_item_widget %}


{% block ekyna_commerce_sale_item_subject_widget %}
{% spaceless %}
    {{ form_row(form.subjectIdentity) }}
    <div class="sale-item-subject-stock"></div>
{% endspaceless %}
{% endblock ekyna_commerce_sale_item_subject_widget %}


{% block ekyna_commerce_shipment_items_widget %}
{% spaceless %}
    {% if form.vars.headers -%}
    <table class="table table-striped table-condensed shipment-items">
        <thead>
            <tr>
                <th>{{ 'ekyna_core.field.designation'|trans }}</th>
                <th>{{ 'ekyna_core.field.reference'|trans }}</th>
                <th width="15%">{{ 'ekyna_core.field.quantity'|trans }}</th>
                {% if form.parent.vars.return_mode %}
                    <th>{{ 'ekyna_commerce.shipment_item.field.shipped'|trans }}</th>
                {% else %}
                    <th>{{ 'ekyna_commerce.shipment_item.field.available'|trans }}</th>
                    <th>{{ 'ekyna_commerce.shipment_item.field.expected'|trans }}</th>
                {% endif %}
                <th>{{ 'ekyna_commerce.stock_unit.field.geocode'|trans }}</th>
            </tr>
        </thead>
        <tbody>
    {%- endif %}
        {% set previous_style = bootstrap_get_style() %}
        {{ bootstrap_set_style('') }}
        {% for child in form %}
            {{ form_widget(child) }}
        {% endfor %}
        {{ bootstrap_set_style(previous_style) }}
    {% if form.vars.headers -%}
        </tbody>
    </table>
    {{ form_errors(form) }}
    {{ form_rest(form) }}
    {%- endif %}
{% endspaceless %}
{% endblock ekyna_commerce_shipment_items_widget %}


{% block ekyna_commerce_shipment_item_widget %}
{% spaceless %}
    {%- if errors|length > 0 -%}
        {%- set attr = attr|merge({'class': ('has-error ' ~ (attr.class|default('')))|trim }) -%}
    {%- endif -%}
    <tr {{ block('widget_container_attributes') }}>
        <td style="padding-left:{{ level * 20 }}px">
            {{ form.vars.item.saleItem.designation }}
            {%- if form.vars.item.saleItem.description is not empty -%}
                <br><p style="font-size:11px;padding-left:12px;">{{ form.vars.item.saleItem.description|nl2br }}</p>
            {%- endif -%}
        </td>
        <td>{{ form.vars.item.saleItem.reference }}</td>
        <td>{{ form_widget(form.quantity) }}</td>
        {% if return_mode %}
            <td>{{ form.vars.item.available }}</td>{# TODO packaging format #}
        {% else %}
            <td>{{ form.vars.item.available }}</td>{# TODO packaging format #}
            <td>{{ form.vars.item.expected }}</td>{# TODO packaging format #}
        {% endif %}
        <td>{{ form.vars.geocodes|join(', ') }}</td>
    </tr>
    {% if errors|length > 0 -%}
    <tr>
        <td colspan="6">
            {{ form_errors(form) }}
        </td>
    </tr>
    {%- endif %}
    {{ form_widget(form.children) }}
    {{ form_rest(form) }}
{% endspaceless %}
{% endblock ekyna_commerce_shipment_item_widget %}


{% block ekyna_commerce_invoice_lines_widget %}
{% spaceless %}
    {% if form.vars.headers -%}
    <table class="table table-striped table-condensed invoice-items">
        <thead>
            <tr>
                <th>{{ 'ekyna_core.field.designation'|trans }}</th>
                <th>{{ 'ekyna_core.field.reference'|trans }}</th>
                <th width="15%">{{ 'ekyna_core.field.quantity'|trans }}</th>
                {% if form.parent.vars.credit_mode %}
                <th>{{ 'ekyna_commerce.invoice_line.field.max_quantity'|trans }}</th>
                {% else %}
                <th>{{ 'ekyna_commerce.invoice_line.field.max_quantity'|trans }}</th>
                <th>{{ 'ekyna_commerce.invoice_line.field.expected'|trans }}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
    {%- endif %}
        {% set previous_style = bootstrap_get_style() %}
        {{ bootstrap_set_style('') }}
        {% for child in form %}
            {{ form_widget(child) }}
        {% endfor %}
        {{ bootstrap_set_style(previous_style) }}
    {% if form.vars.headers -%}
        </tbody>
    </table>
    {{ form_errors(form) }}
    {{ form_rest(form) }}
    {% endif %}
{% endspaceless %}
{% endblock ekyna_commerce_invoice_lines_widget %}


{% block ekyna_commerce_invoice_line_widget %}
{% spaceless %}
    {%- if errors|length > 0 -%}
        {%- set attr = attr|merge({'class': ('has-error ' ~ (attr.class|default('')))|trim }) -%}
    {%- endif -%}
    <tr {{ block('widget_container_attributes') }}>
        <td style="padding-left:{{ level * 20 }}px">
            {%- if form.vars.line.designation is empty and form.vars.line.type == 'discount' -%}
                {{- 'ekyna_commerce.adjustment.type.discount'|trans }}
            {%- else -%}
                {{- form.vars.line.designation -}}
            {%- endif -%}
            {%- if form.vars.line.description is not empty -%}
                <br><p style="font-size:11px;padding-left:12px;">{{ form.vars.line.description|nl2br }}</p>
            {%- endif -%}
        </td>
        <td>{{ form.vars.line.reference }}</td>
        <td>{{ form_widget(form.quantity) }}</td>
        {% if credit_mode %}
        <td>{{ form.vars.line.available }}</td>{# TODO packaging format #}
        {% else %}
        <td>{{ form.vars.line.available }}</td>{# TODO packaging format #}
        <td>{{ form.vars.line.expected }}</td>{# TODO packaging format #}
        {% endif %}
    </tr>
    {% if errors|length > 0 -%}
        <tr>
            <td colspan="6">
                {{ form_errors(form) }}
            </td>
        </tr>
    {%- endif %}
    {{ form_widget(form.children) }}
    {{ form_rest(form) }}
{% endspaceless %}
{% endblock ekyna_commerce_invoice_line_widget %}


{% block ekyna_commerce_shipment_pricing_widget %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
        {{ form_row(form.filter, {'label_col': 0, 'widget_col': 12}) }}
        {{ form_row(form.prices, {'label_col': 0, 'widget_col': 12}) }}
    </div>
{% endspaceless %}
{% endblock ekyna_commerce_shipment_pricing_widget %}


{% block ekyna_commerce_shipment_prices_widget %}
{% spaceless %}
    {% set class = attr.class|default('') %}
    {% set attr = attr|merge({'class': ('ekyna-collection ' ~ class)|trim }) %}
    {% set delete_button_confirm = ' data-confirm="' ~ (form.vars.delete_button_confirm|trans|escape) ~ '"' %}

    {# Prototype #}
    {% if prototype is defined %}
        {# Controls #}
        {% set controls =
            '<button type="button" class="btn btn-danger btn-xs" data-collection-role="remove" ' ~
                'data-collection="' ~ form.vars.id ~ '" data-field="__id__"' ~ delete_button_confirm ~ '>' ~
                    '<span class="glyphicon glyphicon-remove"></span>' ~
            '</button>'
        %}
        {% set attr = attr|merge({'data-prototype': form.vars.id ~ '_prototype'}) %}
        {% set attr = attr|merge({'data-prototype-name': prototype_name}) %}
        <div class="ekyna-collection-prototype" id="{{ form.vars.id }}_prototype">
            {{ form_widget(prototype)|replace({'__controls__': controls}) }}
        </div>
    {% endif %}
    <div {{ block('widget_container_attributes') }}>
        <table class="ekyna-collection-child-container table">

            {# Header #}
            <thead>
            <tr>
                <th>{{ 'ekyna_commerce.shipment_price.field.weight'|trans }}</th>
                <th>{{ 'ekyna_commerce.shipment_price.field.net_price'|trans }}</th>
                <th></th>
            </tr>
            </thead>

            {# Body #}
            <tbody>
            {# Rows #}
            {% set previous_style = bootstrap_get_style() %}
            {{ bootstrap_set_style('') }}
            {% for child in form %}
                {% set controls =
                    '<button type="button" class="btn btn-danger btn-xs" data-collection-role="remove" ' ~
                            'data-collection="' ~ form.vars.id ~ '" data-field="' ~ child.vars.id ~ '"' ~
                            delete_button_confirm ~ '>' ~
                        '<span class="glyphicon glyphicon-remove"></span>' ~
                    '</button>'
                %}
                {{ form_widget(child)|replace({'__controls__': controls})|raw }}
            {% endfor %}
            {{ bootstrap_set_style(previous_style) }}
            </tbody>

        </table>
        {{ form_errors(form) }}
        {#{{ form_rest(form) }}#}

        {# Footer #}
        {% if form.vars.allow_add %}
        <p style="text-align:center;">
            <button type="button" class="btn btn-primary btn-xs" data-collection-role="add"
                    data-collection="{{ form.vars.id }}" data-prototype-name="{{ prototype_name }}">
                {{- form.vars.add_button_text|trans({}, translation_domain)|raw -}}
            </button>
        </p>
        {% endif %}
    </div>
{% endspaceless %}
{% endblock ekyna_commerce_shipment_prices_widget %}


{% block ekyna_commerce_shipment_price_widget %}
{% spaceless %}
    {% set class = attr.class|default('') %}
    {% set attr = attr|merge({'class': ('ekyna-collection-child ' ~ class)|trim }) %}
    <tr {{ block('widget_container_attributes') }}>
        <td>{{ form_widget(form.weight, {'sizing': 'sm'}) }}</td>
        <td>
            {{- form_widget(form.netPrice, {'sizing': 'sm'}) -}}
            {% if form.method is defined %}
                {{ form_widget(form.method) }}
            {% else %}
                {{ form_widget(form.zone) }}
            {% endif %}
        </td>
        <td class="ekyna-collection-controls">
            <div class="btn-group-vertical">__controls__</div>
        </td>
    </tr>
{% endspaceless %}
{% endblock ekyna_commerce_shipment_price_widget %}


{% block ekyna_commerce_subject_choice_widget %}
{% spaceless %}
    {#<div class="input-group">#}
    <div class="row commerce-subject-choice">
        <div class="col-md-3">
            {{ form_widget(form.provider) }}
            {{ form_widget(form.identifier) }}
        </div>
        <div class="col-md-9">
            {{ form_widget(form.subject) }}
        </div>
    </div>
    {#{{ form_errors(form.provider) }}
    {{ form_errors(form.identifier) }}
    {{ form_errors(form.subject) }}#}
    {{ form_errors(form) }}
    {#{{ form_rest(form) }}#}
{% endspaceless %}
{% endblock ekyna_commerce_subject_choice_widget %}


{% block ekyna_commerce_supplier_delivery_items_widget %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
        <table class="table">

            {# Header #}
            <thead>
                <tr>
                    <th>{{ 'ekyna_core.field.designation'|trans }}</th>
                    <th>{{ 'ekyna_core.field.reference'|trans }}</th>
                    <th width="12%">{{ 'ekyna_core.field.quantity'|trans }}</th>
                    <th width="12%">{{ 'ekyna_commerce.supplier_delivery_item.field.remaining'|trans }}</th>
                    <th width="12%">{{ 'ekyna_commerce.stock_unit.field.geocode'|trans }}</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>

            {# Rows #}
            {% set previous_style = bootstrap_get_style() %}
            {{ bootstrap_set_style('') }}
            {% for child in form %}
                {{ form_widget(child) }}
            {% endfor %}
            {{ bootstrap_set_style(previous_style) }}

        </table>
        {{ form_errors(form) }}
        {#{{ form_rest(form) }}#}

    </div>
{% endspaceless %}
{% endblock ekyna_commerce_supplier_delivery_items_widget %}


{% block ekyna_commerce_supplier_delivery_item_widget %}
{% spaceless %}
    {% if errors|length > 0 %}
        {% set attr = attr|merge({'class': ('has-error ' ~ (attr.class|default('')))|trim }) %}
    {% endif %}
    <tbody {{ block('widget_container_attributes') }}>
        <tr>
            <td>{{ form.vars.order_item.designation }}</td>
            <td>{{ form.vars.order_item.reference }}</td>
            <td class="text-right">{{ form_widget(form.quantity) }}</td>
            <td class="text-right">{{ form.vars.remaining_quantity|localizednumber }}</td>{# TODO packaging format #}
            <td class="text-right">{{ form_widget(form.geocode) }}</td>
            <td>
                <a href="javascript: void(0)"
                   data-order-id="{{ form.vars.order_item.order.id }}"
                   data-item-id="{{ form.vars.order_item.id }}"
                    class="btn btn-xs btn-primary print-label">
                    <i class="glyphicon glyphicon-barcode"></i>
                </a>
            </td>
        </tr>
        {% if errors|length > 0 %}
            <tr>
                <td colspan="4">
                    {{ form_errors(form) }}
                </td>
            </tr>
        {% endif %}
        {#{{ form_rest(form) }}#}
    </tbody>
{% endspaceless %}
{% endblock ekyna_commerce_supplier_delivery_item_widget %}


{% block ekyna_commerce_supplier_order_items_widget %}
{% spaceless %}
    {% set class = attr.class|default('') %}
    {% set attr = attr|merge({'class': ('ekyna-collection ' ~ class)|trim }) %}
    {% if errors|length > 0 %}
        {% set attr = attr|merge({'class': ('has-error ' ~ class)|trim }) %}
    {% endif %}
    {% set delete_button_confirm = ' data-confirm="' ~ (form.vars.delete_button_confirm|trans|escape) ~ '"' %}

    {# Prototype #}
    {% if prototype is defined %}
        {# Controls #}
        {% set controls =
            '<button type="button" class="btn btn-danger btn-xs" data-collection-role="remove" ' ~
                    'data-collection="' ~ form.vars.id ~ '" data-field="__id__"' ~ delete_button_confirm ~ '>' ~
                '<span class="glyphicon glyphicon-remove"></span>' ~
            '</button>'
        %}
        {% set attr = attr|merge({'data-prototype': form.vars.id ~ '_prototype'}) %}
        {% set attr = attr|merge({'data-prototype-name': prototype_name}) %}
        <div class="ekyna-collection-prototype" id="{{ form.vars.id }}_prototype">
            {{ form_widget(prototype)|replace({'__controls__': controls}) }}
        </div>
    {% endif %}
    <div {{ block('widget_container_attributes') }}>
        <table class="ekyna-collection-child-container table">

            {# Header #}
            <thead>
                <tr>
                    <th>{{ 'ekyna_core.field.designation'|trans }}</th>
                    <th>{{ 'ekyna_core.field.reference'|trans }}</th>
                    <th width="15%">{{ 'ekyna_core.field.quantity'|trans }}</th>
                    <th width="15%">{{ 'ekyna_commerce.supplier_order_item.field.net_price'|trans }}</th>
                    <th></th>
                </tr>
            </thead>

            {# Rows #}
            {% set previous_style = bootstrap_get_style() %}
            {{ bootstrap_set_style('') }}
            {% for child in form %}
                {% set controls =
                '<button type="button" class="btn btn-danger btn-xs" data-collection-role="remove" ' ~
                        'data-collection="' ~ form.vars.id ~ '" data-field="' ~ child.vars.id ~ '"' ~
                        delete_button_confirm ~ '>' ~
                    '<span class="glyphicon glyphicon-remove"></span>' ~
                '</button>'
                %}
                {{ form_widget(child)|replace({'__controls__': controls})|raw }}
            {% endfor %}
            {{ bootstrap_set_style(previous_style) }}

        </table>
        {{ form_errors(form) }}
        {#{{ form_rest(form) }}#}

        {# Footer #}
        {% if form.vars.allow_add %}
        <p style="text-align:center;">
            <button type="button" class="btn btn-primary btn-xs" data-collection-role="add"
                    data-collection="{{ form.vars.id }}" data-prototype-name="{{ prototype_name }}">
                {{- form.vars.add_button_text|trans({}, translation_domain)|raw -}}
            </button>
        </p>
        {% endif %}
    </div>
{% endspaceless %}
{% endblock ekyna_commerce_supplier_order_items_widget %}


{% block ekyna_commerce_supplier_order_item_widget %}
{% spaceless %}
    {{ bootstrap_backup_form_settings() }}
    {{ bootstrap_set_sizing('sm') }}
    {% set class = attr.class|default('') %}
    {% set attr = attr|merge({'class': ('ekyna-collection-child ' ~ class)|trim }) %}
    {% if errors|length > 0 %}
        {% set attr = attr|merge({'class': ('has-error ' ~ class)|trim }) %}
    {% endif %}
    <tbody {{ block('widget_container_attributes') }}>
        <tr>
            <td>{{ form_widget(form.designation) }}</td>
            <td>{{ form_widget(form.reference) }}</td>
            <td>{{ form_widget(form.quantity) }}</td>
            <td>
                {{ form_widget(form.netPrice) }}
                {{ form_widget(form.product) }}
            </td>
            <td class="ekyna-collection-controls">
                <div class="btn-group-vertical">__controls__</div>
            </td>
        </tr>
        {% if errors|length > 0 %}
            <tr>
                <td colspan="5">
                    {{ form_errors(form) }}
                </td>
            </tr>
        {% endif %}
        {#{{ form_rest(form) }}#}
    </tbody>
    {{ bootstrap_restore_form_settings() }}
{% endspaceless %}
{% endblock ekyna_commerce_supplier_order_item_widget %}


{% block ekyna_commerce_recipients_widget %}
{% spaceless %}
    {% set class = attr.class|default('') %}
    {% set attr = attr|merge({'class': ('ekyna-collection ' ~ class)|trim }) %}
    {% if errors|length > 0 %}
        {% set attr = attr|merge({'class': ('has-error ' ~ class)|trim }) %}
    {% endif %}
    {% set delete_button_confirm = ' data-confirm="' ~ (form.vars.delete_button_confirm|trans|escape) ~ '"' %}

    {# Prototype #}
    {% if prototype is defined %}
        {# Controls #}
        {% set controls =
        '<button type="button" class="btn btn-danger btn-xs" data-collection-role="remove" ' ~
                'data-collection="' ~ form.vars.id ~ '" data-field="__id__"' ~ delete_button_confirm ~ '>' ~
            '<span class="glyphicon glyphicon-remove"></span>' ~
        '</button>'
        %}
        {% set attr = attr|merge({'data-prototype': form.vars.id ~ '_prototype'}) %}
        {% set attr = attr|merge({'data-prototype-name': prototype_name}) %}
        <div class="ekyna-collection-prototype" id="{{ form.vars.id }}_prototype">
            {{ form_widget(prototype)|replace({'__controls__': controls}) }}
        </div>
    {% endif %}
    <div {{ block('widget_container_attributes') }}>
        <table class="ekyna-collection-child-container table">

            {# Header #}
            {#<thead>
            <tr>
                <th>{{ 'ekyna_core.field.email'|trans }}</th>
                <th>{{ 'ekyna_core.field.name'|trans }}</th>
                <th></th>
            </tr>
            </thead>#}

            {# Rows #}
            {% set previous_style = bootstrap_get_style() %}
            {{ bootstrap_set_style('') }}
            {% for child in form %}
                {% set controls =
                '<button type="button" class="btn btn-danger btn-xs" data-collection-role="remove" ' ~
                        'data-collection="' ~ form.vars.id ~ '" data-field="' ~ child.vars.id ~ '"' ~
                        delete_button_confirm ~ '>' ~
                    '<span class="glyphicon glyphicon-remove"></span>' ~
                '</button>'
                %}
                {{ form_widget(child)|replace({'__controls__': controls})|raw }}
            {% endfor %}
            {{ bootstrap_set_style(previous_style) }}

        </table>
        {{ form_errors(form) }}
        {#{{ form_rest(form) }}#}

        {# Footer #}
        {% if form.vars.allow_add %}
        <p>
            <button type="button" class="btn btn-primary btn-xs" data-collection-role="add"
                    data-collection="{{ form.vars.id }}" data-prototype-name="{{ prototype_name }}">
                {{- form.vars.add_button_text|trans({}, translation_domain)|raw -}}
            </button>
        </p>
        {% endif %}
    </div>
{% endspaceless %}
{% endblock ekyna_commerce_recipients_widget %}


{% block ekyna_commerce_recipient_widget %}
{% spaceless %}
    {% set class = attr.class|default('') %}
    {% set attr = attr|merge({'class': ('ekyna-collection-child ' ~ class)|trim }) %}
    <tr{{ block('widget_container_attributes') }}>
        <td>{{ form_widget(form.email, {'sizing': 'sm'}) }}</td>
        <td>{{ form_widget(form.name, {'sizing': 'sm'}) }}</td>
        <td class="ekyna-collection-controls">
            <div class="btn-group-vertical">__controls__</div>
        </td>
    </tr>
{% endspaceless %}
{% endblock ekyna_commerce_recipient_widget %}


{% block ekyna_commerce_vat_number_widget %}
{% spaceless %}
    {% if form.vars.config is defined %}
    <div class="input-group commerce-vat-number" data-config='{{ form.vars.config|json_encode }}'>
        {{ block('form_widget') }}
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">
                <span class="fa fa-check"></span>
            </button>
        </span>
    </div>
    {% else %}
        {{ block('form_widget') }}
    {% endif %}
{% endspaceless %}
{% endblock ekyna_commerce_vat_number_widget %}

