{%- block ekyna_commerce_address_widget -%}
<div {{ block('widget_container_attributes') -}}>
    {{- bootstrap_backup_form_settings() -}}
    {{- bootstrap_set_sizing('sm') -}}

    {{- form_errors(form) -}}

    {%- if form.customer is defined -%}
        {{- form_row(form.customer) -}}
    {%- endif -%}

    {%- if form.company is defined -%}
        {{- form_row(form.company) -}}
    {%- endif -%}

    {%- if form.identity is defined -%}
        {{- form_row(form.identity) -}}
    {%- endif -%}

    {{- form_row(form.street) -}}
    {{- form_row(form.complement) -}}
    {{- form_row(form.supplement) -}}
    {{- form_row(form.extra) -}}
    <div class="row">
        <div class="col-md-6">
            {{- form_row(form.postalCode, {'label_col': 4, 'widget_col': 8}) -}}
        </div>
        <div class="col-md-6">
            {{- form_row(form.city, {'label_col': 4, 'widget_col': 8}) -}}
        </div>
    </div>
    {%- if form.country is defined -%}
    <div class="row">
        <div class="col-md-6">
            {{- form_row(form.country, {'label_col': 4, 'widget_col': 8}) -}}
        </div>
        <div class="col-md-6">
        {%- if form.state is defined -%}
            {{- form_row(form.state, {'label_col': 4, 'widget_col': 8}) -}}
        {%- endif -%}
        </div>
    </div>
    {%- endif -%}
    {%- if form.phone is defined -%}
    <div class="row">
        <div class="col-md-6">
            {{- form_row(form.phone, {'label_col': 4, 'widget_col': 8}) -}}
        </div>
        <div class="col-md-6">
            {{- form_row(form.mobile, {'label_col': 4, 'widget_col': 8}) -}}
        </div>
    </div>
    {%- endif -%}
    <div class="row">
        <div class="col-md-4">
            {{- form_row(form.digicode1, {'label_col': 6, 'widget_col': 6}) -}}
        </div>
        <div class="col-md-4">
            {{- form_row(form.digicode2, {'label_col': 6, 'widget_col': 6}) -}}
        </div>
        <div class="col-md-4">
            {{- form_row(form.intercom, {'label_col': 6, 'widget_col': 6}) -}}
        </div>
    </div>

    {# Sale address specific #}
    {%- if form.information is defined -%}
        {{- form_row(form.information) -}}
    {%- endif -%}

    {# Customer address specific #}
    {%- if form.invoiceDefault is defined and form.deliveryDefault is defined -%}
    <div class="row">
        <div class="col-md-6">
            {{- form_row(form.invoiceDefault, {'label_col': 4, 'widget_col': 8}) -}}
        </div>
        <div class="col-md-6">
            {{- form_row(form.deliveryDefault, {'label_col': 4, 'widget_col': 8}) -}}
        </div>
    </div>
    {%- endif -%}

    {%- if form.coordinate is defined -%}
        {{- form_row(form.coordinate) -}}
    {%- endif -%}

    {{- bootstrap_restore_form_settings() -}}

    {{- form_rest(form) -}}
</div>
{%- endblock ekyna_commerce_address_widget -%}


{%- block ekyna_commerce_adjustments_widget -%}
    {%- set attr = attr|merge({'class': 'ekyna-collection' }) -%}
    {%- set delete_button_confirm = ' data-confirm="' ~ (form.vars.delete_button_confirm|trans({}, 'EkynaUi')|escape('html_attr')) ~ '"' -%}

    {# Prototype #}
    {%- if prototype is defined -%}
        {# Controls #}
        {%- set controls =
            '<button type="button" class="btn btn-default btn-xs" data-collection-role="move-up" ' ~
                    'data-collection="' ~ form.vars.id ~ '" data-field="__id__">' ~
                '<span class="glyphicon glyphicon-chevron-up"></span>' ~
            '</button>' ~
            '<button type="button" class="btn btn-danger btn-xs" data-collection-role="remove" ' ~
                    'data-collection="' ~ form.vars.id ~ '" data-field="__id__"' ~ delete_button_confirm ~ '>' ~
                '<span class="glyphicon glyphicon-remove"></span>' ~
            '</button>' ~
            '<button type="button" class="btn btn-default btn-xs" data-collection-role="move-down" ' ~
                    'data-collection="' ~ form.vars.id ~ '" data-field="__id__">' ~
                '<span class="glyphicon glyphicon-chevron-down"></span>' ~
            '</button>' -%}
        {%- set attr = attr|merge({'data-prototype': form.vars.id ~ '_prototype'}) -%}
        {%- set attr = attr|merge({'data-prototype-name': prototype_name}) -%}
        <div class="ekyna-collection-prototype" id="{{ form.vars.id }}_prototype">
            {{- form_widget(prototype)|replace({'__controls__': controls}) -}}
        </div>
    {%- endif -%}
    <div {{ block('widget_container_attributes') }}>
        <table class="table">
            {# Header #}
            {#<thead>
            <tr>
                <th>{{ 'field.designation'|trans({}, 'EkynaUi') }}</th>
                <th>{{ 'field.type'|trans({}, 'EkynaUi') }}</th>
                <th>{{ 'field.mode'|trans({}, 'EkynaUi') }}</th>
                <th>{{ 'field.amount'|trans({}, 'EkynaUi') }}</th>
                <th></th>
            </tr>
            </thead>#}

            {# Rows #}
            <tbody class="ekyna-collection-child-container">
            {%- for child in form -%}
                {%- set controls =
                    '<button type="button" class="btn btn-default btn-xs" data-collection-role="move-up" ' ~
                            'data-collection="' ~ form.vars.id ~ '" data-field="' ~ child.vars.id ~ '">' ~
                        '<span class="glyphicon glyphicon-chevron-up"></span>' ~
                    '</button>' ~
                    '<button type="button" class="btn btn-danger btn-xs" data-collection-role="remove" ' ~
                            'data-collection="' ~ form.vars.id ~ '" data-field="' ~ child.vars.id ~ '"' ~
                            delete_button_confirm ~ '>' ~
                        '<span class="glyphicon glyphicon-remove"></span>' ~
                    '</button>' ~
                    '<button type="button" class="btn btn-default btn-xs" data-collection-role="move-down" ' ~
                            'data-collection="' ~ form.vars.id ~ '" data-field="' ~ child.vars.id ~ '">' ~
                        '<span class="glyphicon glyphicon-chevron-down"></span>' ~
                    '</button>'
                -%}
                {{- form_widget(child)|replace({'__controls__': controls})|raw -}}
            {%- endfor -%}
            </tbody>
        </table>
        {{- form_errors(form) -}}
        {%- if form.vars.allow_add -%}
        <p>
            <button type="button" class="btn btn-link btn-xs" data-collection-role="add"
                    data-collection="{{ form.vars.id }}" data-prototype-name="{{ prototype_name }}">
                {{- form.vars.add_button_text|trans({}, 'EkynaUi')|raw -}}
            </button>
        </p>
        {%- endif -%}
        {{- form_rest(form) -}}
    </div>
{%- endblock ekyna_commerce_adjustments_widget -%}


{%- block ekyna_commerce_adjustment_widget -%}
    {{- bootstrap_backup_form_settings() -}}
    {{- bootstrap_set_sizing('sm') -}}
    {%- set class = attr.class|default('') -%}
    {%- set attr = attr|merge({'class': ('ekyna-collection-child ' ~ class)|trim }) -%}
    <tr {{ block('widget_container_attributes') }}>
        <td style="width:30%">{{ form_widget(form.designation) }}</td>
        <td>{{ form_widget(form.type) }}</td>
        <td>{{ form_widget(form.mode) }}</td>
        <td>{{ form_widget(form.amount) }}</td>
        <td class="ekyna-collection-controls">
            {{- form_widget(form.position) -}}
            <div class="btn-group">__controls__</div>
        </td>
    </tr>
    {%- if errors|length > 0 -%}
    <tr>
        <td colspan="5">
            {{- form_errors(form) -}}
        </td>
    </tr>
    {%- endif -%}
    {{- form_rest(form) -}}
    {{- bootstrap_restore_form_settings() -}}
{%- endblock ekyna_commerce_adjustment_widget -%}

{%- block ekyna_commerce_attachment_widget -%}
    {{- form_row(form.title) -}}
    {{- block('ekyna_upload_widget') -}}
{%- endblock ekyna_commerce_attachment_widget -%}


{%- block ekyna_commerce_sale_coupon_widget -%}
    {{- form_label(form.code) -}}
    {{- form_widget(form.code) -}}
    {{- form_widget(form.submit) -}}
    {{- form_errors(form.code) -}}
    {{- form_rest(form) -}}
{%- endblock ekyna_commerce_sale_coupon_widget -%}


{%- block ekyna_commerce_checkout_attachment_widget -%}
    {{- bootstrap_set_sizing('sm') -}}
    {{- form_errors(form) -}}
    {{- form_row(form.file) -}}
    {{- form_row(form.title) -}}
    {{- form_rest(form) -}}
{%- endblock ekyna_commerce_checkout_attachment_widget -%}


{%- block ekyna_commerce_checkout_payment_widget -%}
    <div class="row">
        <div class="col-sm-3 hidden-xs">
            {{- block('ekyna_commerce_checkout_payment_image') -}}
        </div>
        <div class="col-sm-9 commerce-payment-method">
            <p>
                {{ payment.method.title }}
                {% if not payment.refund -%}
                &nbsp;&dash;&nbsp;{{ payment.getAmount()|format_currency(payment.currency.code) }}
                {%- endif %}
            </p>
            {{- payment.method.description|raw -}}
            {% if form.vars.extended -%}
            <div class="row">
                <div class="col-md-6">{{ form_row(form.amount) }}</div>
                {%- if form.completedAt is defined -%}
                <div class="col-md-6">{{ form_row(form.completedAt) }}</div>
                {%- endif -%}
            </div>
            {%- if form.description is defined %}{{ form_row(form.description) }}{% endif -%}
            {%- endif %}
            {%- if form.submit is defined %}{{ form_row(form.submit) }}{% endif -%}
        </div>
    </div>
{%- endblock ekyna_commerce_checkout_payment_widget -%}


{%- block ekyna_commerce_checkout_balance_payment_widget -%}
    <div class="row">
        <div class="col-sm-3 hidden-xs">
            {{- block('ekyna_commerce_checkout_payment_image') -}}
        </div>
        <div class="col-sm-9 commerce-payment-method">
            <p>{{ payment.method.title }}</p>
            {{- payment.method.description|raw -}}

            {%- if payment_term -%}
                {{- 'payment_term.label.singular'|trans({}, 'EkynaCommerce') }}: <strong>{{ payment_term.title -}}</strong>
            {%- endif -%}

            {%- if not payment.refund -%}
                {%- if 0 >= available_amount -%}
                    <div class="alert alert-danger">
                        {{- 'checkout.payment.insuffisant_fund'|trans({}, 'EkynaCommerce')|raw -}}
                    </div>
                {%- else -%}
                    <p>
                        {{- 'checkout.payment.available_fund'|trans({
                            '%amount%': available_amount|format_currency(currency_code)
                        }, 'EkynaCommerce')|raw -}}
                    </p>
                {%- endif -%}
            {%- endif -%}

            {{- form_row(form.amount) -}}

            {%- if form.submit is defined %}{{ form_row(form.submit) }}{% endif -%}

            {%- if lock_message is not empty -%}
            <div class="alert alert-warning">{{ lock_message|raw }}</div>
            {%- endif -%}
        </div>
    </div>
{%- endblock ekyna_commerce_checkout_balance_payment_widget -%}


{%- block ekyna_commerce_checkout_payment_image -%}
    {%- if payment.method.media is not null -%}
        <img src="{{ payment.method.media.path|imagine_filter('commerce_method') }}"
             alt="{{ payment.method.media.title }}" class="img-responsive">
    {%- else -%}
        <img src="{{ absolute_url(asset('bundles/ekynacommerce/img/money.png')) }}"
             alt="{{ payment.method.title }}" class="img-responsive">
    {%- endif -%}
{%- endblock ekyna_commerce_checkout_payment_image -%}


{%- block ekyna_commerce_customer_contact_widget -%}
    <div {{ block('widget_container_attributes') }}>
        {{- form_row(form.identity) -}}
        <div class="row">
            <div class="col-md-6">
                {{- form_row(form.email, {'label_col': 4, 'widget_col': 8}) -}}
                {{- form_row(form.title, {'label_col': 4, 'widget_col': 8}) -}}
                {{- form_row(form.phone, {'label_col': 4, 'widget_col': 8}) -}}
            </div>
            <div class="col-md-6">
                {{- form_row(form.notifications, {'label_col': 4, 'widget_col': 8}) -}}
            </div>
        </div>
        {% if form.description is defined -%}
            {{- form_row(form.description) -}}
        {%- endif %}
        {{- form_rest(form) -}}
    </div>
{%- endblock ekyna_commerce_customer_contact_widget -%}


{%- block ekyna_commerce_customer_group_widget -%}
    {% if expanded %}
    <div {{ block('widget_container_attributes') }}>
    {%- for child in form -%}
        {{- form_widget(child) -}}
        {% with child.vars %}
        <label {% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}>
            {%- if translation_domain is same as(false) -%}
                {{- label|raw -}}
            {%- else -%}
                {{- label|trans({}, translation_domain)|raw -}}
            {%- endif -%}
        </label>
        {% endwith %}
    {%- endfor -%}
    </div>
    {%- else -%}
        {{- block('choice_widget') -}}
    {%- endif -%}
{%- endblock ekyna_commerce_customer_group_widget -%}


{%- block ekyna_commerce_identity_widget -%}
    <div class="input-group commerce-identity">
        {{- form_widget(form.gender) -}}
        {{- form_widget(form.lastName) -}}
        {{- form_widget(form.firstName) -}}
    </div>
{%- endblock ekyna_commerce_identity_widget -%}


{%- block ekyna_commerce_messages_widget -%}
    <ul class="nav nav-tabs">
    {%- for child in form -%}
        <li{% if loop.first %} class="active"{% endif %}>
            <a href="#method-message-state-{{ child.vars.state }}" data-toggle="tab">
            {%- if translation_type == 'shipment' -%}
                {{ child.vars.state|shipment_state_label }}
            {%- elseif translation_type == 'payment' -%}
                {{ child.vars.state|payment_state_label }}
            {%- else -%}
                {{ child.vars.state|trans({}, translation_domain) }}
            {%- endif -%}
            </a>
        </li>
    {%- endfor -%}
    </ul>
    <div class="panel-body" style="border: 1px solid #ddd; border-top: none; padding:15px 15px 1px 15px; margin-bottom: 15px;">
        <div class="tab-content">
        {%- for child in form -%}
            <div class="tab-pane{% if loop.first %} active{% endif %}" id="method-message-state-{{ child.vars.state }}">
                {{- form_row(child.translations, {'label_col': 0, 'widget_col': 12}) -}}
                {{- form_errors(child) -}}
                {{- form_rest(child) -}}
            </div>
        {%- endfor -%}
        </div>
    </div>
{%- endblock ekyna_commerce_messages_widget -%}


{%- block ekyna_commerce_shipment_method_choice_widget -%}
{%- with -%}
    {%- set button_message = 'shipment_method.button.choose' -%}
    {%- set default_image_path = 'bundles/ekynacommerce/img/in-store.png' -%}
    {%- set default_image_alt = 'Shipment' -%}

    {{- block('ekyna_commerce_method_choice_widget') -}}
{%- endwith -%}
{%- endblock ekyna_commerce_shipment_method_choice_widget -%}


{%- block ekyna_commerce_money_widget -%}
    {% if quote_config is defined -%}
    <div class="input-group commerce-money" data-config='{{ config|json_encode_data }}' title="{{ title }}">
    {%- if base_config.left -%}
        <span class="input-group-addon">{{ base_config.symbol }}</span>
        {{ block('form_widget_simple') }}
    {%- else -%}
        {{ block('form_widget_simple') }}
        <span class="input-group-addon">{{ base_config.symbol }}</span>
    {%- endif -%}
    {%- if quote_config.left -%}
        <span class="input-group-addon">{{ quote_config.symbol }}</span>
        <input type="text" class="commerce-money-quote form-control" value="0"/>
    {%- else -%}
        <input type="text" class="commerce-money-quote form-control" value="0"/>
        <span class="input-group-addon">{{ quote_config.symbol }}</span>
    {%- endif -%}
    </div>
    {%- else -%}
    <div class="input-group">
        {%- if base_config.left -%}
            <span class="input-group-addon">{{ base_config.symbol }}</span>
            {{ block('form_widget_simple') }}
        {%- else -%}
            {{ block('form_widget_simple') }}
            <span class="input-group-addon">{{ base_config.symbol }}</span>
        {%- endif -%}
    </div>
    {%- endif -%}
{%- endblock ekyna_commerce_money_widget -%}


{%- block ekyna_commerce_method_choice_widget -%}
    {%- if compound -%}
        {%- if 0 < form.children|length -%}
        <div class="commerce-method-choice">
            {%- for child in form -%}
                {%- set method = form.vars.choices[loop.index0].data -%}
                <div class="row">
                    <div class="col-sm-3 commerce-method-choice-visual">
                        {{- form_widget(child) -}}
                        <label for="{{ child.vars.id }}">
                            {%- if method.media is not null -%}
                                <img src="{{ method.media.path|imagine_filter('commerce_method') }}"
                                     alt="{{ method.media.title }}" class="img-responsive">
                            {%- else -%}
                                <img src="{{ absolute_url(asset(default_image_path)) }}" alt="{{ default_image_alt|trans }}"
                                     class="img-responsive">
                            {%- endif -%}
                        </label>
                    </div>
                    <div class="col-sm-9 commerce-method-choice-description">
                        <p>{{ child.vars.label|raw }}</p>
                        {{- method.description|raw -}}
                        <p>
                            <label for="{{ child.vars.id }}" class="btn btn-xs btn-primary">
                                {{- button_message|trans({'%gateway_name%': method.title}, 'EkynaCommerce') -}}
                            </label>
                        </p>
                    </div>
                </div>
            {%- endfor -%}
        </div>
        {%- else -%}
            <div class="alert alert-warning">
                <p>
                    {%- if form.vars.country is defined -%}
                        {{ 'shipment_method.alert.none_available_for_country'|trans({
                            '%country%': form.vars.country
                        }, 'EkynaCommerce')|raw }}
                    {%- else -%}
                        {{ 'shipment_method.alert.none_available'|trans({}, 'EkynaCommerce') }}
                    {%- endif -%}
                </p>
            </div>
        {%- endif -%}
    {%- else -%}
        {{ block('choice_widget') }}
    {%- endif -%}
{%- endblock ekyna_commerce_method_choice_widget -%}


{%- block ekyna_commerce_notify_widget -%}
    {{ form_row(form.from) }}
    {{ form_row(form.recipients) }}
    {{ form_row(form.extraRecipients) }}
    {{ form_row(form.copies) }}
    {{ form_row(form.extraCopies) }}
    <hr>
    {% if form.invoices is defined -%}
        {{ form_row(form.invoices) }}
    {%- endif %}
    {% if form.shipments is defined -%}
        {{ form_row(form.shipments) }}
    {%- endif %}
    {% if form.attachments is defined -%}
        {{ form_row(form.attachments) }}
    {%- endif %}
    {% if form.paymentMessage is defined -%}
        {{ form_row(form.paymentMessage) }}
    {%- endif %}
    {% if form.shipmentMessage is defined -%}
        {{ form_row(form.shipmentMessage) }}
    {%- endif %}
    {% if form.includeView is defined -%}
        {{ form_row(form.includeView) }}
    {% elseif form.includeForm is defined -%}
        {{ form_row(form.includeForm) }}
    {%- endif %}
    <hr>
    {% if form.model is defined -%}
        {{ form_row(form.model) }}
    {%- elseif form.template is defined -%}
        {{ form_row(form.template) }}
    {%- endif %}
    {{ form_row(form.subject) }}
    {{ form_row(form.customMessage) }}
    {{ form_rest(form) }}
{%- endblock ekyna_commerce_notify_widget -%}


{%- block ekyna_commerce_notify_model_choice_widget -%}
    <div class="row commerce-notify-model"
         data-sale-id="{{ form.vars.sale_id }}"
         data-sale-type="{{ form.vars.sale_type }}">
        <div class="col-md-9">
            {{- form_widget(form.model) -}}
        </div>
        <div class="col-md-3">
            {{- form_widget(form.locale) -}}
        </div>
    </div>
{%- endblock ekyna_commerce_notify_model_choice_widget -%}


{%- block ekyna_commerce_sale_address_widget -%}
    <div class="commerce-sale-address"{{ block('widget_container_attributes') }}>
        {%- if form.sameAddress is defined -%}
            {{ form_row(form.sameAddress) }}
        {%- endif -%}
        <div class="sale-address-wrap"{% if wrapped %} style="display:none;"{% endif %}>
            {%- if form.choice is defined -%}
                {{ form_row(form.choice, {'sizing': 'sm'}) }}
            {%- endif -%}
            <div class="sale-address">
                {{ form_row(form.address) }}
            </div>
        </div>
        {{- form_errors(form)}}
        {#{{ form_rest(form)}}#}
    </div>
{%- endblock ekyna_commerce_sale_address_widget -%}


{%- block ekyna_commerce_sale_items_widget -%}
    {%- set attr = attr|merge({'class': 'ekyna-collection' }) -%}
    {%- set delete_button_confirm = ' data-confirm="' ~ (form.vars.delete_button_confirm|trans({}, 'EkynaUi')|escape('html_attr')) ~ '"' -%}

    {# Prototype #}
    {%- if prototype is defined -%}
        {# Controls #}
        {%- set controls =
            '<button type="button" class="btn btn-default btn-xs" data-collection-role="move-up" ' ~
                    'data-collection="' ~ form.vars.id ~ '" data-field="__id__">' ~
                '<span class="glyphicon glyphicon-chevron-up"></span>' ~
            '</button>' ~
            '<button type="button" class="btn btn-danger btn-xs" data-collection-role="remove" ' ~
                    'data-collection="' ~ form.vars.id ~ '" data-field="__id__"' ~ delete_button_confirm ~ '>' ~
                '<span class="glyphicon glyphicon-remove"></span>' ~
            '</button>' ~
            '<button type="button" class="btn btn-default btn-xs" data-collection-role="move-down" ' ~
                    'data-collection="' ~ form.vars.id ~ '" data-field="__id__">' ~
                '<span class="glyphicon glyphicon-chevron-down"></span>' ~
            '</button>'
        -%}
        {%- set attr = attr|merge({'data-prototype': form.vars.id ~ '_prototype'}) -%}
        {%- set attr = attr|merge({'data-prototype-name': prototype_name}) -%}
        <div class="ekyna-collection-prototype" id="{{ form.vars.id }}_prototype">
            {{- form_widget(prototype)|replace({'__controls__': controls}) -}}
        </div>
    {%- endif -%}
    <div {{ block('widget_container_attributes') }}>
        <table class="ekyna-collection-child-container table">
            {%- if not form.vars.children_mode -%}
                {# Header #}
                <thead>
                <tr>
                    <th>{{ 'field.designation'|trans({}, 'EkynaUi') }}</th>
                    <th>{{ 'field.reference'|trans({}, 'EkynaUi') }}</th>
                    <th>{{ 'field.weight'|trans({}, 'EkynaUi') }}</th>
                    <th>{{ 'field.net_price'|trans({}, 'EkynaCommerce') }}</th>
                    <th>{{ 'field.tax_group'|trans({}, 'EkynaCommerce') }}</th>
                    <th>{{ 'field.quantity'|trans({}, 'EkynaUi') }}</th>
                    <th>{{ 'field.private'|trans({}, 'EkynaCommerce') }}</th>
                    <th></th>
                </tr>
                </thead>
            {%- endif -%}

            {# Rows #}
            {%- for child in form -%}
                {%- set controls =
                    '<button type="button" class="btn btn-default btn-xs" data-collection-role="move-up" ' ~
                            'data-collection="' ~ form.vars.id ~ '" data-field="' ~ child.vars.id ~ '">' ~
                        '<span class="glyphicon glyphicon-chevron-up"></span>' ~
                    '</button>' ~
                    '<button type="button" class="btn btn-danger btn-xs" data-collection-role="remove" ' ~
                            'data-collection="' ~ form.vars.id ~ '" data-field="' ~ child.vars.id ~ '"' ~
                            delete_button_confirm ~ '>' ~
                        '<span class="glyphicon glyphicon-remove"></span>' ~
                    '</button>' ~
                    '<button type="button" class="btn btn-default btn-xs" data-collection-role="move-down" ' ~
                            'data-collection="' ~ form.vars.id ~ '" data-field="' ~ child.vars.id ~ '">' ~
                        '<span class="glyphicon glyphicon-chevron-down"></span>' ~
                    '</button>'
                -%}
                {{ form_widget(child)|replace({'__controls__': controls})|raw }}
            {%- endfor -%}

        </table>
        {{- form_errors(form) -}}
        {#{{- form_rest(form) -}}#}
        {%- if form.vars.allow_add -%}
        <p>
            <button type="button" class="btn btn-link btn-xs" data-collection-role="add"
                    data-collection="{{ form.vars.id }}" data-prototype-name="{{ prototype_name }}">
                {{- form.vars.add_button_text|trans({}, 'EkynaUi')|raw -}}
            </button>
        </p>
        {%- endif -%}
    </div>
{%- endblock ekyna_commerce_sale_items_widget -%}


{%- block ekyna_commerce_sale_item_widget -%}
    {{- bootstrap_backup_form_settings() -}}
    {{- bootstrap_set_sizing('sm') -}}
    {%- set class = attr.class|default('') -%}
    {%- set attr = attr|merge({'class': ('ekyna-collection-child commerce-sale-item ' ~ class)|trim }) -%}
    <tbody {{ block('widget_container_attributes') }}>
    <tr>
        <td style="width:30%">{{ form_widget(form.designation) }}</td>
        <td>{{ form_widget(form.reference) }}</td>
        <td>{{ form_widget(form.weight) }}</td>
        <td>{{ form_widget(form.netPrice) }}</td>
        <td>{{ form_widget(form.taxGroup) }}</td>
        <td>{{ form_widget(form.quantity) }}</td>
        <td>{{ form_widget(form.private) }}</td>
        {% if form.vars.with_collections -%}
        <td rowspan="3" class="ekyna-collection-controls">
            {{- form_widget(form.position) }}
            <div class="btn-group-vertical">__controls__</div>
        </td>
        {%- endif %}
    </tr>
    {% if form.vars.with_collections -%}
        <tr>
            <td colspan="7" class="commerce-sale-item-children">
                {{- form_widget(form.items) -}}
            </td>
        </tr>
        <tr>
            <td colspan="7" class="commerce-sale-item-children">
                {{- form_widget(form.adjustments) -}}
            </td>
        </tr>
    {%- endif -%}
    {#{%- if errors|length > 0 -%}
        <tr>
            <td colspan="7">
                {{- form_errors(form) -}}
            </td>
        </tr>
    {%- endif -%}#}
    {#{{- form_rest(form) -}}#}
    </tbody>
    {{- bootstrap_restore_form_settings() -}}
{%- endblock ekyna_commerce_sale_item_widget -%}


{%- block ekyna_commerce_sale_item_subject_widget -%}
    {{- form_row(form.subjectIdentity) -}}
    <div class="sale-item-subject-stock"></div>
{%- endblock ekyna_commerce_sale_item_subject_widget -%}


{%- block ekyna_commerce_shipment_items_widget -%}
    {%- if form.vars.headers -%}
    <table class="table table-striped table-condensed table-alt-head shipment-items">
        <thead>
            <tr>
                <th>{{ 'field.designation'|trans({}, 'EkynaUi') }}</th>
                <th>{{ 'field.reference'|trans({}, 'EkynaUi') }}</th>
                <th style="width:15%">{{ 'field.quantity'|trans({}, 'EkynaUi') }}</th>
                {%- if form.parent.vars.return_mode -%}
                    <th>{{ 'field.shipped'|trans({}, 'EkynaCommerce') }}</th>
                {%- else -%}
                <th>{{ 'field.available'|trans({}, 'EkynaCommerce') }}</th>
                <th>{{ 'field.expected'|trans({}, 'EkynaCommerce') }}</th>
                {%- endif -%}
                <th>{{ 'field.geocode'|trans({}, 'EkynaCommerce') }}</th>
            </tr>
        </thead>
        <tbody>
    {%- endif -%}
        {%- set previous_style = bootstrap_get_style() -%}
        {{- bootstrap_set_style('') -}}
        {%- for child in form -%}
            {{ form_widget(child) }}
        {%- endfor -%}
        {{- bootstrap_set_style(previous_style) -}}
    {%- if form.vars.headers -%}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">&nbsp;</td>
                <td class="text-center">
                    <a href="javascript:void(0)" id="toggle-quantities">
                        {{- 'button.toggle_quantities'|trans({}, 'EkynaCommerce') -}}
                    </a>
                </td>
                <td colspan="{{ form.parent.vars.return_mode ? 2 : 3 }}">&nbsp;</td>
            </tr>
        </tfoot>
    </table>
    {{- form_errors(form) -}}
    {{- form_rest(form) -}}
    {%- endif -%}
{%- endblock ekyna_commerce_shipment_items_widget -%}


{%- block ekyna_commerce_shipment_item_widget -%}
    {%- if errors|length > 0 -%}
        {%- set attr = attr|merge({'class': ('has-error ' ~ (attr.class|default('')))|trim }) -%}
    {%- endif -%}
    <tr {{ block('widget_container_attributes') }}>
        <td style="padding-left:{{ level * 20 }}px">
            {{- form.vars.item.saleItem.designation -}}
            {%- if form.vars.item.saleItem.description is not empty -%}
                <br><p style="font-size:11px;padding-left:12px;">{{ form.vars.item.saleItem.description|nl2br }}</p>
            {%- endif -%}
        </td>
        <td>{{ form.vars.item.saleItem.reference }}</td>
        <td>{{ form_widget(form.quantity) }}</td>
        {%- if return_mode -%}
            <td>{{ form.vars.item.available|number_format }}</td>{# TODO packaging format #}
        {%- else -%}
            <td>{{ form.vars.item.available|number_format }}</td>{# TODO packaging format #}
            <td>{{ form.vars.item.expected|number_format }}</td>{# TODO packaging format #}
        {%- endif -%}
        <td>{{ form.vars.geocodes|join(', ') }}</td>
    </tr>
    {%- if errors|length > 0 -%}
    <tr>
        <td colspan="6">
            {{- form_errors(form) -}}
        </td>
    </tr>
    {%- endif -%}
    {{- form_widget(form.children) -}}
    {{- form_rest(form) -}}
{%- endblock ekyna_commerce_shipment_item_widget -%}


{%- block ekyna_commerce_shipment_parcel_widget -%}
    {{- form_errors(form) -}}
    <div class="row">
        <div class="col-md-1">
            <span class="form-control text-center parcel-index"></span>
        </div>
        <div class="col-md-3">
            {{- form_widget(form.weight, {'sizing': 'sm'}) -}}
            {{- form_errors(form.weight) -}}
        </div>
        <div class="col-md-4">
            {{- form_widget(form.valorization, {'sizing': 'sm'}) -}}
            {{- form_errors(form.valorization) -}}
        </div>
        <div class="col-md-4">
            {{- form_widget(form.trackingNumber, {'sizing': 'sm'}) -}}
            {{- form_errors(form.trackingNumber) -}}
        </div>
    </div>
    {{- form_rest(form) -}}
{%- endblock ekyna_commerce_shipment_parcel_widget -%}


{%- block ekyna_commerce_shipment_gateway_data_widget -%}
    <div {{ block('widget_container_attributes') }}>
    {{- form_errors(form) -}}
    {%- for child in form -%}
        {{ form_row(child, {'label_col': 4, 'widget_col': 8}) }}
    {%- endfor -%}
    {{- form_rest(form) -}}
    </div>
{%- endblock ekyna_commerce_shipment_gateway_data_widget -%}


{%- block ekyna_commerce_invoice_lines_widget -%}
    {%- if form.vars.headers -%}
    <table class="table table-striped table-condensed table-alt-head invoice-lines">
        <thead>
            <tr>
                <th>{{ 'field.designation'|trans({}, 'EkynaUi') }}</th>
                <th>{{ 'field.reference'|trans({}, 'EkynaUi') }}</th>
                <th style="width:15%">{{ 'field.quantity'|trans({}, 'EkynaUi') }}</th>
                {%- if form.parent.vars.credit_mode -%}
                <th>{{ 'field.max_quantity'|trans({}, 'EkynaCommerce') }}</th>
                {%- else -%}
                <th>{{ 'field.max_quantity'|trans({}, 'EkynaCommerce') }}</th>
                <th>{{ 'field.expected'|trans({}, 'EkynaCommerce') }}</th>
                {%- endif -%}
            </tr>
        </thead>
        <tbody>
    {%- endif -%}
        {%- set previous_style = bootstrap_get_style() -%}
        {{- bootstrap_set_style('') -}}
        {%- for child in form -%}
            {{ form_widget(child) }}
        {%- endfor -%}
        {{- bootstrap_set_style(previous_style) -}}
    {%- if form.vars.headers -%}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="2">&nbsp;</td>
            <td class="text-center">
                <a href="javascript:void(0)" id="toggle-quantities">
                    {{- 'button.toggle_quantities'|trans({}, 'EkynaCommerce') -}}
                </a>
            </td>
            <td colspan="{{ form.parent.vars.credit_mode ? 2 : 3 }}">&nbsp;</td>
        </tr>
        </tfoot>
    </table>
    {{- form_errors(form) -}}
    {{- form_rest(form) -}}
    {%- endif -%}
{%- endblock ekyna_commerce_invoice_lines_widget -%}


{%- block ekyna_commerce_invoice_line_widget -%}
    {%- if errors|length > 0 -%}
        {%- set attr = attr|merge({'class': ('has-error ' ~ (attr.class|default('')))|trim }) -%}
    {%- endif -%}
    <tr {{ block('widget_container_attributes') }}>
        <td style="padding-left:{{ level * 20 }}px">
            {%- if form.vars.line.designation is empty and form.vars.line.type == 'discount' -%}
                {{ 'adjustment.type.discount'|trans({}, 'EkynaCommerce') }}
            {%- else -%}
                {{ form.vars.line.designation }}
            {%- endif -%}
            {%- if form.vars.line.description is not empty -%}
                <br><p style="font-size:11px;padding-left:12px;">{{ form.vars.line.description|nl2br }}</p>
            {%- endif -%}
        </td>
        <td>{{ form.vars.line.reference }}</td>
        <td>{{ form_widget(form.quantity) }}</td>
        {%- if credit_mode -%}
        <td>{{ form.vars.line.available|number_format }}</td>{# TODO packaging format #}
        {%- else -%}
        <td>{{ form.vars.line.available|number_format }}</td>{# TODO packaging format #}
        <td>{{ form.vars.line.expected|number_format }}</td>{# TODO packaging format #}
        {%- endif -%}
    </tr>
    {%- if errors|length > 0 -%}
        <tr>
            <td colspan="6">
                {{- form_errors(form) -}}
            </td>
        </tr>
    {%- endif -%}
    {{- form_widget(form.children) -}}
    {{- form_rest(form) -}}
{%- endblock ekyna_commerce_invoice_line_widget -%}


{%- block ekyna_commerce_invoice_items_widget -%}
    {%- set attr = attr|merge({'class': 'ekyna-collection' }) -%}
    {%- set delete_button_confirm = ' data-confirm="' ~ (form.vars.delete_button_confirm|trans({}, 'EkynaUi')|escape('html_attr')) ~ '"' -%}

    {# Prototype #}
    {%- if prototype is defined -%}
        {# Controls #}
        {%- set controls =
            '<button type="button" class="btn btn-default btn-xs" data-collection-role="move-up" ' ~
                    'data-collection="' ~ form.vars.id ~ '" data-field="__id__">' ~
                '<span class="glyphicon glyphicon-chevron-up"></span>' ~
            '</button>' ~
            '<button type="button" class="btn btn-danger btn-xs" data-collection-role="remove" ' ~
                    'data-collection="' ~ form.vars.id ~ '" data-field="__id__"' ~ delete_button_confirm ~ '>' ~
                '<span class="glyphicon glyphicon-remove"></span>' ~
            '</button>' ~
            '<button type="button" class="btn btn-default btn-xs" data-collection-role="move-down" ' ~
                    'data-collection="' ~ form.vars.id ~ '" data-field="__id__">' ~
                '<span class="glyphicon glyphicon-chevron-down"></span>' ~
            '</button>'
        -%}
        {%- set attr = attr|merge({'data-prototype': form.vars.id ~ '_prototype'}) -%}
        {%- set attr = attr|merge({'data-prototype-name': prototype_name}) -%}
        <div class="ekyna-collection-prototype" id="{{ form.vars.id }}_prototype">
            {{- form_widget(prototype)|replace({'__controls__': controls}) -}}
        </div>
    {%- endif -%}
    <div {{ block('widget_container_attributes') }}>
    <table class="table table-striped table-condensed table-alt-head">
        <thead>
            <tr>
                <th>{{ 'field.designation'|trans({}, 'EkynaUi') }}</th>
                <th>{{ 'field.reference'|trans({}, 'EkynaUi') }}</th>
                <th>{{ 'sale.field.net_unit'|trans({}, 'EkynaCommerce') }}</th>
                <th>{{ 'field.quantity'|trans({}, 'EkynaUi') }}</th>
                <th>{{ 'field.tax_group'|trans({}, 'EkynaCommerce') }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody class="ekyna-collection-child-container">
        {%- for child in form -%}
            {%- set controls =
                '<button type="button" class="btn btn-default btn-xs" data-collection-role="move-up" ' ~
                        'data-collection="' ~ form.vars.id ~ '" data-field="' ~ child.vars.id ~ '">' ~
                    '<span class="glyphicon glyphicon-chevron-up"></span>' ~
                '</button>' ~
                '<button type="button" class="btn btn-danger btn-xs" data-collection-role="remove" ' ~
                        'data-collection="' ~ form.vars.id ~ '" data-field="' ~ child.vars.id ~ '"' ~
                    delete_button_confirm ~ '>' ~
                    '<span class="glyphicon glyphicon-remove"></span>' ~
                '</button>' ~
                '<button type="button" class="btn btn-default btn-xs" data-collection-role="move-down" ' ~
                        'data-collection="' ~ form.vars.id ~ '" data-field="' ~ child.vars.id ~ '">' ~
                    '<span class="glyphicon glyphicon-chevron-down"></span>' ~
                '</button>'
            -%}
            {{ form_widget(child)|replace({'__controls__': controls})|raw }}
        {%- endfor -%}
        </tbody>
        {%- if form.vars.allow_add -%}
        <tfoot>
        <tr>
            <td colspan="6" class="text-center">
                <button type="button" class="btn btn-link btn-xs" data-collection-role="add"
                        data-collection="{{ form.vars.id }}" data-prototype-name="{{ prototype_name }}">
                    {{- form.vars.add_button_text|trans({}, 'EkynaUi')|raw -}}
                </button>
            </td>
        </tr>
        </tfoot>
        {%- endif -%}
    </table>
    </div>
    {{- form_errors(form) -}}
    {{- form_rest(form) -}}
{%- endblock ekyna_commerce_invoice_items_widget -%}


{%- block ekyna_commerce_invoice_item_widget -%}
    {{- bootstrap_backup_form_settings() -}}
    {{- bootstrap_set_sizing('sm') -}}
    {%- set attr = attr|merge({'class': ('ekyna-collection-child ' ~ (attr.class|default('')))|trim }) -%}
    {%- if errors|length > 0 -%}
        {%- set attr = attr|merge({'class': ('has-error ' ~ attr.class|default(''))|trim }) -%}
    {%- endif -%}
    <tr {{ block('widget_container_attributes') }}>
        <td>{{ form_widget(form.designation) }}</td>
        <td>{{ form_widget(form.reference) }}</td>
        <td>{{ form_widget(form.unit) }}</td>
        <td>{{ form_widget(form.quantity) }}</td>
        <td>{{ form_widget(form.taxGroup) }}</td>
        <td class="ekyna-collection-controls">
            {{- form_widget(form.position) }}
            <div class="btn-group">__controls__</div>
        </td>
    </tr>
    {%- if errors|length > 0 -%}
    <tr>
        <td colspan="6">
            {{- form_errors(form) -}}
        </td>
    </tr>
    {%- endif -%}
    {{- form_rest(form) -}}
    {{- bootstrap_restore_form_settings() -}}
{%- endblock ekyna_commerce_invoice_item_widget -%}


{%- block ekyna_commerce_price_widget -%}
    <div class="commerce-price" data-config="{{ config|json_encode_data }}">
    {%- set sizing = sizing|default(bootstrap_get_sizing()) -%}
    {%- set ig_size_class = sizing in ['sm', 'lg'] ? ' input-group-' ~ sizing : '' -%}
    <div class="input-group{{ ig_size_class }}">
        {{- form_widget(input_prototype) -}}
        <span class="input-group-addon">
            {{- currency -}}
            <label for="{{ mode_prototype.vars.id }}">
                {{- form_widget(mode_prototype) -}}
                {{- 'pricing.vat_display_mode.ati'|trans({}, 'EkynaCommerce') -}}
                <span class="commerce-price-rates"></span>
            </label>
        </span>
    </div>
    {%- set type = type|default('hidden') -%}
    {{- block('form_widget_simple') -}}
    </div>
{%- endblock ekyna_commerce_price_widget -%}


{%- block ekyna_commerce_shipment_pricing_widget -%}
    <div {{ block('widget_container_attributes') }}>
        {{- form_row(form.filter, {'label_col': 0, 'widget_col': 12}) -}}
        {{- form_row(form.prices, {'label_col': 0, 'widget_col': 12}) -}}
    </div>
{%- endblock ekyna_commerce_shipment_pricing_widget -%}


{%- block ekyna_commerce_shipment_prices_widget -%}
    {%- set class = attr.class|default('') -%}
    {%- set attr = attr|merge({'class': ('ekyna-collection ' ~ class)|trim }) -%}
    {%- set delete_button_confirm = ' data-confirm="' ~ (form.vars.delete_button_confirm|trans({}, 'EkynaUi')|escape('html_attr')) ~ '"' -%}

    {# Prototype #}
    {%- if prototype is defined -%}
        {# Controls #}
        {%- set controls =
            '<button type="button" class="btn btn-danger btn-xs" data-collection-role="remove" ' ~
                'data-collection="' ~ form.vars.id ~ '" data-field="__id__"' ~ delete_button_confirm ~ '>' ~
                    '<span class="glyphicon glyphicon-remove"></span>' ~
            '</button>'
        -%}
        {%- set attr = attr|merge({'data-prototype': form.vars.id ~ '_prototype'}) -%}
        {%- set attr = attr|merge({'data-prototype-name': prototype_name}) -%}
        <div class="ekyna-collection-prototype" id="{{ form.vars.id }}_prototype">
            {{- form_widget(prototype)|replace({'__controls__': controls}) -}}
        </div>
    {%- endif -%}
    <div {{ block('widget_container_attributes') }}>
        <table class="table table-alt-head">

            {# Header #}
            <thead>
            <tr>
                <th>{{ 'shipment_price.field.weight'|trans({}, 'EkynaCommerce') }}</th>
                <th>{{ 'field.buy_net_price'|trans({}, 'EkynaCommerce') }}</th>
                <th></th>
            </tr>
            </thead>

            {# Body #}
            <tbody class="ekyna-collection-child-container">
            {# Rows #}
            {%- set previous_style = bootstrap_get_style() -%}
            {{- bootstrap_set_style('') -}}
            {%- for child in form -%}
                {%- set controls =
                    '<button type="button" class="btn btn-danger btn-xs" data-collection-role="remove" ' ~
                            'data-collection="' ~ form.vars.id ~ '" data-field="' ~ child.vars.id ~ '"' ~
                            delete_button_confirm ~ '>' ~
                        '<span class="glyphicon glyphicon-remove"></span>' ~
                    '</button>'
                -%}
                {{ form_widget(child)|replace({'__controls__': controls})|raw }}
            {%- endfor -%}
            {{- bootstrap_set_style(previous_style) -}}
            </tbody>

        </table>
        {{- form_errors(form) -}}
        {#{{ form_rest(form) -}}#}

        {# Footer #}
        {%- if form.vars.allow_add -%}
        <p style="text-align:center;">
            <button type="button" class="btn btn-primary btn-xs" data-collection-role="add"
                    data-collection="{{ form.vars.id }}" data-prototype-name="{{ prototype_name }}">
                {{- form.vars.add_button_text|trans({}, 'EkynaUi')|raw -}}
            </button>
        </p>
        {%- endif -%}
    </div>
{%- endblock ekyna_commerce_shipment_prices_widget -%}


{%- block ekyna_commerce_shipment_price_widget -%}
    {%- set class = attr.class|default('') -%}
    {%- set attr = attr|merge({'class': ('ekyna-collection-child ' ~ class)|trim }) -%}
    <tr {{ block('widget_container_attributes') }}>
        <td{% if form.weight.vars.errors|length > 0 %} class="has-error"{% endif %}>
            {{- form_widget(form.weight, {'sizing': 'sm'}) -}}
            {{- form_errors(form.weight) -}}
        </td>
        <td{% if form.netPrice.vars.errors|length > 0 %} class="has-error"{% endif %}>
            {{- form_widget(form.netPrice, {'sizing': 'sm'}) -}}
            {{- form_errors(form.netPrice) -}}
        </td>
        <td class="ekyna-collection-controls">
            {%- if form.method is defined -%}
                {{ form_widget(form.method) }}
            {%- else -%}
                {{ form_widget(form.zone) }}
            {%- endif -%}
            <div class="btn-group-vertical">__controls__</div>
        </td>
    </tr>
{%- endblock ekyna_commerce_shipment_price_widget -%}


{%- block ekyna_commerce_subject_choice_widget -%}
    {#<div class="input-group">#}
    <div class="row commerce-subject-choice">
        <div class="col-md-3">
            {{- form_widget(form.provider) -}}
            {{- form_widget(form.identifier) -}}
        </div>
        <div class="col-md-9">
            {{- form_widget(form.subject) -}}
        </div>
    </div>
    {#{{- form_errors(form.provider) -}}
    {{- form_errors(form.identifier) -}}
    {{- form_errors(form.subject) -}}#}
    {{- form_errors(form) -}}
    {#{{- form_rest(form) -}}#}
{%- endblock ekyna_commerce_subject_choice_widget -%}


{%- block ekyna_commerce_supplier_delivery_items_widget -%}
    <div {{ block('widget_container_attributes') }}>
        <table class="table table-alt-head">

            {# Header #}
            <thead>
                <tr>
                    <th>{{ 'field.designation'|trans({}, 'EkynaUi') }}</th>
                    <th>{{ 'field.reference'|trans({}, 'EkynaUi') }}</th>
                    <th style="width:12%">{{ 'field.quantity'|trans({}, 'EkynaUi') }}</th>
                    <th style="width:12%">{{ 'supplier_delivery_item.field.remaining'|trans({}, 'EkynaCommerce') }}</th>
                    <th style="width:12%">{{ 'field.geocode'|trans({}, 'EkynaCommerce') }}</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>

            {# Rows #}
            {%- set previous_style = bootstrap_get_style() -%}
            {{- bootstrap_set_style('') -}}
            {%- for child in form -%}
                {{ form_widget(child) }}
            {%- endfor -%}
            {{- bootstrap_set_style(previous_style) -}}

        </table>
        {{- form_errors(form) -}}
        {#{{- form_rest(form) -}}#}

    </div>
{%- endblock ekyna_commerce_supplier_delivery_items_widget -%}


{%- block ekyna_commerce_supplier_delivery_item_widget -%}
    {%- if errors|length > 0 -%}
        {%- set attr = attr|merge({'class': ('has-error ' ~ (attr.class|default('')))|trim }) -%}
    {%- endif -%}
    <tbody {{ block('widget_container_attributes') }}>
        <tr>
            <td>{{ form.vars.order_item.designation }}</td>
            <td>{{ form.vars.order_item.reference }}</td>
            <td class="text-right">{{ form_widget(form.quantity) }}</td>
            <td class="text-right">{{ form.vars.remaining_quantity|format_number }}</td>{# TODO packaging format #}
            <td class="text-right">{{ form_widget(form.geocode) }}</td>
            <td>
                <a href="javascript: void(0)"
                   data-order-id="{{ form.vars.order_item.order.id }}"
                   data-item-id="{{ form.vars.order_item.id }}"
                    class="btn btn-xs btn-primary print-label">
                    <i class="glyphicon glyphicon-barcode"></i>
                </a>
            </td>
        </tr>
        {%- if errors|length > 0 -%}
            <tr>
                <td colspan="4">
                    {{- form_errors(form) -}}
                </td>
            </tr>
        {%- endif -%}
        {#{{- form_rest(form) -}}#}
    </tbody>
{%- endblock ekyna_commerce_supplier_delivery_item_widget -%}


{%- block ekyna_commerce_supplier_order_items_widget -%}
    {%- set class = attr.class|default('') -%}
    {%- set attr = attr|merge({'class': ('ekyna-collection ' ~ class)|trim }) -%}
    {%- if errors|length > 0 -%}
        {%- set attr = attr|merge({'class': ('has-error ' ~ class)|trim }) -%}
    {%- endif -%}
    {%- set delete_button_confirm = ' data-confirm="' ~ (form.vars.delete_button_confirm|trans({}, 'EkynaCommerce')|escape('html_attr')) ~ '"' -%}

    {# Prototype #}
    {%- if prototype is defined -%}
        {# Controls #}
        {%- set controls =
            '<button type="button" class="btn btn-danger btn-xs" data-collection-role="remove" ' ~
                    'data-collection="' ~ form.vars.id ~ '" data-field="__id__"' ~ delete_button_confirm ~ '>' ~
                '<span class="glyphicon glyphicon-remove"></span>' ~
            '</button>'
        -%}
        {%- set attr = attr|merge({'data-prototype': form.vars.id ~ '_prototype'}) -%}
        {%- set attr = attr|merge({'data-prototype-name': prototype_name}) -%}
        <div class="ekyna-collection-prototype" id="{{ form.vars.id }}_prototype">
            {{- form_widget(prototype)|replace({'__controls__': controls}) -}}
        </div>
    {%- endif -%}
    <div {{ block('widget_container_attributes') }}>
        <table class="ekyna-collection-child-container table">

            {# Header #}
            <thead>
                <tr>
                    <th>{{ 'field.designation'|trans({}, 'EkynaUi') }}</th>
                    <th style="width:13%">{{ 'field.reference'|trans({}, 'EkynaUi') }}</th>
                    <th style="width:10%">{{ 'field.quantity'|trans({}, 'EkynaUi') }}</th>
                    <th style="width:10%">{{ 'field.buy_net_price'|trans({}, 'EkynaCommerce') }}</th>
                    <th style="width:10%">{{ 'field.weight'|trans({}, 'EkynaUi') }}</th>
                    <th style="width:14%">{{ 'tax_group.label.singular'|trans({}, 'EkynaCommerce') }}</th>
                    <th></th>
                </tr>
            </thead>

            {# Rows #}
            {%- set previous_style = bootstrap_get_style() -%}
            {{- bootstrap_set_style('') -}}
            {%- for child in form -%}
                {%- set controls =
                '<button type="button" class="btn btn-danger btn-xs" data-collection-role="remove" ' ~
                        'data-collection="' ~ form.vars.id ~ '" data-field="' ~ child.vars.id ~ '"' ~
                        delete_button_confirm ~ '>' ~
                    '<span class="glyphicon glyphicon-remove"></span>' ~
                '</button>'
                -%}
                {{ form_widget(child)|replace({'__controls__': controls})|raw }}
            {%- endfor -%}
            {{- bootstrap_set_style(previous_style) -}}

        </table>
        {{- form_errors(form) -}}
        {#{{- form_rest(form) -}}#}

        {# Footer #}
        {%- if form.vars.allow_add -%}
        <p style="text-align:center;">
            <button type="button" class="btn btn-primary btn-xs" data-collection-role="add"
                    data-collection="{{ form.vars.id }}" data-prototype-name="{{ prototype_name }}">
                {{- form.vars.add_button_text|trans({}, 'EkynaCommerce')|raw -}}
            </button>
        </p>
        {%- endif -%}
    </div>
{%- endblock ekyna_commerce_supplier_order_items_widget -%}


{%- block ekyna_commerce_supplier_order_item_widget -%}
    {{- bootstrap_backup_form_settings() -}}
    {{- bootstrap_set_sizing('sm') -}}
    {%- set class = attr.class|default('') -%}
    {%- set attr = attr|merge({'class': ('ekyna-collection-child ' ~ class)|trim }) -%}
    {%- if errors|length > 0 -%}
        {%- set attr = attr|merge({'class': ('has-error ' ~ class)|trim }) -%}
    {%- endif -%}
    <tbody {{ block('widget_container_attributes') }}>
        <tr>
            <td>{{ form_widget(form.designation) }}</td>
            <td>{{ form_widget(form.reference) }}</td>
            <td>{{ form_widget(form.quantity) }}</td>
            <td>{{- form_widget(form.netPrice) -}}</td>
            <td>{{- form_widget(form.weight) -}}</td>
            <td>{{- form_widget(form.taxGroup) -}}</td>
            <td class="ekyna-collection-controls">
                {{- form_widget(form.product) -}}
                <div class="btn-group-vertical">__controls__</div>
            </td>
        </tr>
        {%- if errors|length > 0 -%}
            <tr>
                <td colspan="6">
                    {{- form_errors(form) -}}
                </td>
            </tr>
        {%- endif -%}
        {#{{ form_rest(form) -}}#}
    </tbody>
    {{- bootstrap_restore_form_settings() -}}
{%- endblock ekyna_commerce_supplier_order_item_widget -%}


{%- block ekyna_commerce_supplier_template_choice_widget -%}
    <div class="row commerce-supplier-template" data-order-id='{{ form.vars.order_id }}'>
        <div class="col-md-9">
            {{- form_widget(form.template) -}}
        </div>
        <div class="col-md-3">
            {{- form_widget(form.locale) -}}
        </div>
    </div>
{%- endblock ekyna_commerce_supplier_template_choice_widget -%}


{%- block ekyna_commerce_relay_point_row -%}
<div class="commerce-relay-point" style="display:none" data-map-api-key="{{ map_api_key }}">
    {{- block('form_row') -}}
</div>
{%- endblock ekyna_commerce_relay_point_row -%}


{%- block ekyna_commerce_relay_point_widget -%}
    <div class="panel panel-default">
        <div class="panel-body">
            <p class="relay-point-address"{% if relay_point is null %} style="display: none;"{% endif %}>
                {%- if relay_point is not null %}{{ relay_point|address }}{% endif -%}
            </p>
            <p class="relay-point-none"{% if relay_point is not null %} style="display: none;"{% endif %}>
                {{- 'relay_point.message.choose'|trans({}, 'EkynaCommerce') -}}
            </p>
        </div>
        <div class="panel-footer">
            <button class="btn btn-primary btn-sm relay-point-search" type="button">
                <i class="glyphicon glyphicon-search"></i> {{ 'button.search'|trans({}, 'EkynaUi') }}
            </button>
            <button class="btn btn-default btn-sm relay-point-clear" type="button">
                <i class="glyphicon glyphicon-remove"></i> {{ 'button.cancel'|trans({}, 'EkynaUi') }}
            </button>
        </div>
    </div>
    {{- block('hidden_widget') -}}
{%- endblock ekyna_commerce_relay_point_widget -%}


{%- block ekyna_commerce_recipients_widget -%}
    {%- set class = attr.class|default('') -%}
    {%- set attr = attr|merge({'class': ('ekyna-collection ' ~ class)|trim }) -%}
    {%- if errors|length > 0 -%}
        {%- set attr = attr|merge({'class': ('has-error ' ~ class)|trim }) -%}
    {%- endif -%}
    {%- set delete_button_confirm = ' data-confirm="' ~ (form.vars.delete_button_confirm|trans({}, 'EkynaUi')|escape('html_attr')) ~ '"' -%}

    {# Prototype #}
    {%- if prototype is defined -%}
        {# Controls #}
        {%- set controls =
        '<button type="button" class="btn btn-danger btn-xs" data-collection-role="remove" ' ~
                'data-collection="' ~ form.vars.id ~ '" data-field="__id__"' ~ delete_button_confirm ~ '>' ~
            '<span class="glyphicon glyphicon-remove"></span>' ~
        '</button>'
        -%}
        {%- set attr = attr|merge({'data-prototype': form.vars.id ~ '_prototype'}) -%}
        {%- set attr = attr|merge({'data-prototype-name': prototype_name}) -%}
        <div class="ekyna-collection-prototype" id="{{ form.vars.id }}_prototype">
            {{- form_widget(prototype)|replace({'__controls__': controls}) -}}
        </div>
    {%- endif -%}
    <div {{ block('widget_container_attributes') }}>
        <table class="table table-alt-head">
        <tbody class="ekyna-collection-child-container">
            {# Rows #}
            {%- set previous_style = bootstrap_get_style() -%}
            {{- bootstrap_set_style('') -}}
            {%- for child in form -%}
                {%- set controls =
                '<button type="button" class="btn btn-danger btn-xs" data-collection-role="remove" ' ~
                        'data-collection="' ~ form.vars.id ~ '" data-field="' ~ child.vars.id ~ '"' ~
                        delete_button_confirm ~ '>' ~
                    '<span class="glyphicon glyphicon-remove"></span>' ~
                '</button>'
                -%}
                {{ form_widget(child)|replace({'__controls__': controls})|raw }}
            {%- endfor -%}
            {{- bootstrap_set_style(previous_style) -}}
        </tbody>
        </table>
        {{- form_errors(form) -}}
        {#{{- form_rest(form) -}}#}

        {# Footer #}
        {%- if form.vars.allow_add -%}
        <p>
            <button type="button" class="btn btn-primary btn-xs" data-collection-role="add"
                    data-collection="{{ form.vars.id }}" data-prototype-name="{{ prototype_name }}">
                {{- form.vars.add_button_text|trans({}, 'EkynaUi')|raw -}}
            </button>
        </p>
        {%- endif -%}
    </div>
{%- endblock ekyna_commerce_recipients_widget -%}


{%- block ekyna_commerce_recipient_widget -%}
    {%- set class = attr.class|default('') -%}
    {%- set attr = attr|merge({'class': ('ekyna-collection-child ' ~ class)|trim }) -%}
    <tr {{ block('widget_container_attributes') }}>
        <td{% if form.email.vars.errors|length > 0 %} class="has-error"{% endif %}>
            {{ form_widget(form.email, {'sizing': 'sm'}) }}
            {{ form_errors(form.email) }}
        </td>
        <td{% if form.name.vars.errors|length > 0 %} class="has-error"{% endif %}>
            {{ form_widget(form.name, {'sizing': 'sm'}) }}
            {{ form_errors(form.name) }}
        </td>
        <td class="ekyna-collection-controls">
            <div class="btn-group-vertical">__controls__</div>
        </td>
    </tr>
{%- endblock ekyna_commerce_recipient_widget -%}


{%- block ekyna_commerce_resupply_alert_subscribe_widget -%}
    <div class="alert alert-info">
        <p>{{ 'resupply_alert.subscribe.message'|trans({}, 'EkynaCommerce') }}</p>
    </div>
    {{ form_row(form.email) }}
{%- endblock ekyna_commerce_resupply_alert_subscribe_widget -%}


{%- block ekyna_commerce_resupply_alert_unsubscribe_widget -%}
    <div class="alert alert-warning">
        <p>{{ 'resupply_alert.unsubscribe.message'|trans({}, 'EkynaCommerce') }}</p>
    </div>
    {{ form_row(form.email) }}
    {{ form_row(form.confirm) }}
{%- endblock ekyna_commerce_resupply_alert_unsubscribe_widget -%}


{%- block ekyna_commerce_vat_number_widget -%}
    {%- if form.vars.config is defined -%}
    <div class="input-group commerce-vat-number" data-config='{{ form.vars.config|json_encode_data }}'>
        {{- block('form_widget') -}}
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">
                <span class="fa fa-check"></span>
            </button>
        </span>
    </div>
    {%- else -%}
        {{ block('form_widget') }}
    {%- endif -%}
{%- endblock ekyna_commerce_vat_number_widget -%}
