{% extends 'EkynaAdminBundle:Form:form_div_layout.html.twig' %}


{% block ekyna_commerce_address_widget %}
{% spaceless %}
    {{ form_errors(form) }}
    {% if form.customer is defined -%}
        {{ form_row(form.customer) }}
    {%- endif %}
    {% if form.company is defined -%}
        {{ form_row(form.company) }}
    {%- endif %}
    {{ form_row(form.identity) }}
    {{ form_row(form.street) }}
    {{ form_row(form.supplement) }}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.postalCode, {'label_col': 4, 'widget_col': 8}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.city, {'label_col': 4, 'widget_col': 8}) }}
        </div>
    </div>
    {% if form.country is defined -%}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.country, {'label_col': 4, 'widget_col': 8}) }}
        </div>
        <div class="col-md-6">
        {% if form.state is defined %}
            {{ form_row(form.state, {'label_col': 4, 'widget_col': 8}) }}
        {% endif %}
        </div>
    </div>
    {%- endif %}
    {% if form.phone is defined -%}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.phone, {'label_col': 4, 'widget_col': 8}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.mobile, {'label_col': 4, 'widget_col': 8}) }}
        </div>
    </div>
    {%- endif %}
    {{ form_rest(form) }}
{% endspaceless %}
{% endblock ekyna_commerce_address_widget %}


{% block ekyna_commerce_adjustments_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': 'ekyna-collection' }) %}
    {% set delete_button_confirm = ' data-confirm="' ~ (form.vars.delete_button_confirm|trans|escape) ~ '"' %}

    {# Prototype #}
    {% if prototype is defined %}
        {# Controls #}
        {% set controls =
            '<button type="button" class="btn btn-default btn-xs" data-collection-role="move-up" ' ~
                    'data-collection="' ~ form.vars.id ~ '" data-field="__id__">' ~
                '<span class="glyphicon glyphicon-chevron-up"></span>' ~
            '</button>' ~
            '<button type="button" class="btn btn-danger btn-xs" data-collection-role="remove" ' ~
                    'data-collection="' ~ form.vars.id ~ '" data-field="__id__"' ~ delete_button_confirm ~ '>' ~
                '<span class="glyphicon glyphicon-remove"></span>' ~
            '</button>' ~
            '<button type="button" class="btn btn-default btn-xs" data-collection-role="move-down" ' ~
                    'data-collection="' ~ form.vars.id ~ '" data-field="__id__">' ~
                '<span class="glyphicon glyphicon-chevron-down"></span>' ~
            '</button>' %}
        {% set attr = attr|merge({'data-prototype': form.vars.id ~ '_prototype'}) %}
        {% set attr = attr|merge({'data-prototype-name': prototype_name}) %}
        <div class="ekyna-collection-prototype" id="{{ form.vars.id }}_prototype">
            {{ form_widget(prototype)|replace({'__controls__': controls}) }}
        </div>
    {% endif %}
    <div {{ block('widget_container_attributes') }}>
        {{ form_errors(form) }}
        <table class="table">
            {# Header #}
            {#<thead>
            <tr>
                <th>{{ 'ekyna_core.field.designation'|trans }}</th>
                <th>{{ 'ekyna_core.field.type'|trans }}</th>
                <th>{{ 'ekyna_core.field.mode'|trans }}</th>
                <th>{{ 'ekyna_core.field.amount'|trans }}</th>
                <th></th>
            </tr>
            </thead>#}

            {# Rows #}
            <tbody class="ekyna-collection-child-container">
            {% for child in form %}
                {% set controls =
                    '<button type="button" class="btn btn-default btn-xs" data-collection-role="move-up" ' ~
                            'data-collection="' ~ form.vars.id ~ '" data-field="' ~ child.vars.id ~ '">' ~
                        '<span class="glyphicon glyphicon-chevron-up"></span>' ~
                    '</button>' ~
                    '<button type="button" class="btn btn-danger btn-xs" data-collection-role="remove" ' ~
                            'data-collection="' ~ form.vars.id ~ '" data-field="' ~ child.vars.id ~ '"' ~
                            delete_button_confirm ~ '>' ~
                        '<span class="glyphicon glyphicon-remove"></span>' ~
                    '</button>' ~
                    '<button type="button" class="btn btn-default btn-xs" data-collection-role="move-down" ' ~
                            'data-collection="' ~ form.vars.id ~ '" data-field="' ~ child.vars.id ~ '">' ~
                        '<span class="glyphicon glyphicon-chevron-down"></span>' ~
                    '</button>'
                %}
                {{ form_widget(child)|replace({'__controls__': controls})|raw }}
            {% endfor %}
            </tbody>
        </table>
        {% if form.vars.allow_add %}
        <p>
            <button type="button" class="btn btn-link btn-xs" data-collection-role="add"
                    data-collection="{{ form.vars.id }}" data-prototype-name="{{ prototype_name }}">
                {{- form.vars.add_button_text|trans({}, translation_domain)|raw -}}
            </button>
        </p>
        {% endif %}
        {{ form_rest(form) }}
    </div>
{% endspaceless %}
{% endblock ekyna_commerce_adjustments_widget %}


{% block ekyna_commerce_adjustment_widget %}
{% spaceless %}
    {# TODO {{ form_errors(form) }}#}
    <tr class="ekyna-collection-child">
        <td width="30%">{{ form_widget(form.designation) }}</td>
        <td>{{ form_widget(form.type) }}</td>
        <td>{{ form_widget(form.mode) }}</td>
        <td>{{ form_widget(form.amount) }}</td>
        <td class="ekyna-collection-controls">
            {{ form_widget(form.position) }}
            <div class="btn-group">__controls__</div>
        </td>
    </tr>
    {# TODO {{ form_rest(form) }}#}
{% endspaceless %}
{% endblock ekyna_commerce_adjustment_widget %}


{% block ekyna_commerce_attribute_slot_widget %}
{% spaceless %}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col-md-8">
            {{ form_widget(form.group) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.multiple) }}
        </div>
    </div>
    {{ form_rest(form) }}
{% endspaceless %}
{% endblock ekyna_commerce_attribute_slot_widget %}


{% block ekyna_commerce_bundle_slot_widget %}
{% spaceless %}
    {{ form_errors(form) }}
    {#{% if configurable %}

    {% else %}

    {% endif %}#}
    {% if form.translations is defined %}
        {{ form_row(form.translations, {'widget_col': 12}) }}
    {% endif %}
    {{ form_row(form.choices, {'widget_col': 12}) }}
    {{ form_widget(form.position) }}
    {{ form_rest(form) }}
{% endspaceless %}
{% endblock ekyna_commerce_bundle_slot_widget %}


{% block ekyna_commerce_bundle_choice_widget %}
{% spaceless %}
    {{ form_errors(form) }}
    {{ form_row(form.product, {'label_col': 2, 'widget_col': 10}) }}
    {% if configurable %}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.minQuantity, {'label_col': 4, 'widget_col': 8}) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.maxQuantity, {'label_col': 4, 'widget_col': 8}) }}
            </div>
        </div>
        {{ form_row(form.rules, {'label_col': 2, 'widget_col': 10}) }}
        {{ form_widget(form.position) }}
    {% else %}
        {{ form_row(form.quantity, {'label_col': 2, 'widget_col': 10}) }}
    {% endif %}
    {{ form_rest(form) }}
{% endspaceless %}
{% endblock ekyna_commerce_bundle_choice_widget %}


{% block ekyna_commerce_bundle_choice_rule_widget %}
{% spaceless %}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col-md-3">
            {{ form_widget(form.type) }}
        </div>
        <div class="col-md-9">
            {{ form_widget(form.expression) }}
        </div>
    </div>
    {{ form_widget(form.position) }}
    {{ form_rest(form) }}
{% endspaceless %}
{% endblock ekyna_commerce_bundle_choice_rule_widget %}


{% block ekyna_commerce_configurable_slots_widget %}
{% spaceless %}
    {% for child in form %}
        {{ form_widget(child) }}
    {% endfor %}
{% endspaceless %}
{% endblock ekyna_commerce_configurable_slots_widget %}


{% block ekyna_commerce_configurable_slot_widget %}
{% spaceless %}
    {# TODO form_errors(form) #}
    <div class="row commerce-configurable-slot">
        <div class="col-md-6 col-md-push-6">
            <div class="slot-info">
                <h3 class="slot-title">{{ form.vars.slot_title }}</h3>
                <div class="slot-description">{{ form.vars.slot_description|raw }}</div>
            </div>
            <div class="choice-info">
                <h2 class="choice-title"></h2>
                <div class="choice-description"></div>
                <div class="row">
                    <div class="col-xs-4">
                        <span class="choice-price"></span>
                    </div>
                    <div class="col-xs-8">
                        {{ form_row(form.quantity, {'label_col': 6, 'widget_col': 6}) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-pull-6 choices">
            <a href="javascript: void(0)" class="prev">
                <span class="fa fa-arrow-left"></span>
            </a>
            <a href="javascript: void(0)" class="next">
                <span class="fa fa-arrow-right"></span>
            </a>
            <ul>
            {% for child in form.subject %}
                <li>
                    <img src="{{ asset('bundles/ekynacommerce/img/no-image.gif') }}" class="img-responsive">
                    <p>
                        {{ form_widget(child) }}
                    </p>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endspaceless %}
{% endblock ekyna_commerce_configurable_slot_widget %}


{% block ekyna_commerce_identity_widget %}
{% spaceless %}
    <div class="input-group commerce-identity">
        {{ form_widget(form.gender) }}
        {{ form_widget(form.lastName) }}
        {{ form_widget(form.firstName) }}
    </div>
    {{ form_errors(form) }}
    {{ form_rest(form) }}
{% endspaceless %}
{% endblock ekyna_commerce_identity_widget %}


{% block ekyna_commerce_messages_widget %}
{% spaceless %}
    <ul class="nav nav-tabs">
    {% for child in form %}
        <li{% if loop.first %} class="active"{% endif %}>
            <a href="#method-message-state-{{ child.vars.state }}" data-toggle="tab">
                {{ child.vars.state|payment_state_label }}
            </a>
        </li>
    {% endfor %}
    </ul>
    <div class="panel-body" style="border: 1px solid #ddd; border-top: none; padding:15px 15px 1px 15px; margin-bottom: 15px;">
        <div class="tab-content">
        {% for child in form %}
            <div class="tab-pane{% if loop.first %} active{% endif %}" id="#method-message-state-{{ child.vars.state }}">
                {{ form_errors(child) }}
                {{ form_row(child.translations, {'label_col': 0, 'widget_col': 12}) }}
                {{ form_rest(child) }}
            </div>
        {% endfor %}
        </div>
    </div>
{% endspaceless %}
{% endblock ekyna_commerce_messages_widget %}


{% block ekyna_commerce_option_widget %}
{% spaceless %}
    {{ form_errors(form) }}
    {{ form_widget(form.designation) }}
    {{ form_widget(form.reference) }}
    <div class="row">
        <div class="col-md-6">
            {{ form_widget(form.netPrice) }}
        </div>
        <div class="col-md-6">
            {{ form_widget(form.taxGroup) }}
        </div>
    </div>
    {{ form_widget(form.position) }}
    {{ form_rest(form) }}
{% endspaceless %}
{% endblock ekyna_commerce_option_widget %}


{% block ekyna_commerce_option_group_widget %}
{% spaceless %}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.name, {'label_col': 4, 'widget_col': 8}) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.required, {'label_col': 4, 'widget_col': 8}) }}
        </div>
    </div>

    {% set previous_style = bootstrap_get_style() %}
    {{ bootstrap_set_style('') }}
    {{ form_row(form.options) }}
    {{ bootstrap_set_style(previous_style) }}

    {{ form_widget(form.position) }}
    {{ form_rest(form) }}
{% endspaceless %}
{% endblock ekyna_commerce_option_group_widget %}


{% block ekyna_commerce_payment_method_choice_widget %}
{% spaceless %}
    {% if compound %}
        <div class="payment-method-choice">
            {% for child in form %}
                {% set method = form.vars.choices[child.vars.value].data %}
                <div class="row">
                    <div class="col-sm-3 commerce-method-choice-visual">
                        {{ form_widget(child) }}
                        <label for="{{ child.vars.id }}">
                        {% if method.media.path %}
                            <img src="{{ method.media.path|imagine_filter('payment_method') }}" alt="{{ method.media.title }}" class="img-responsive">
                        {% else %}
                            <img src="{{ asset('bundles/ekynacommerce/img/money.png') }}" alt="Payment" class="img-responsive">
                        {% endif %}
                        </label>
                    </div>
                    <div class="col-sm-9 commerce-method-choice-description">
                        <p>{{ method.gatewayName }}</p>
                        {{ method.description|raw }}
                        <p>
                            <label for="{{ child.vars.id }}" class="btn btn-xs btn-primary">
                                {{ 'ekyna_commerce.payment_method.button.choose'|trans({'%gateway_name%': method.gatewayName}) }}
                            </label>
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        {{ block('form_widget_simple') }}
    {% endif %}
{% endspaceless %}
{% endblock ekyna_commerce_payment_method_choice_widget %}


{% block ekyna_commerce_sale_items_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': 'ekyna-collection' }) %}
    {% set delete_button_confirm = ' data-confirm="' ~ (form.vars.delete_button_confirm|trans|escape) ~ '"' %}

    {# Prototype #}
    {% if prototype is defined %}
        {# Controls #}
        {% set controls =
            '<button type="button" class="btn btn-default btn-xs" data-collection-role="move-up" ' ~
                    'data-collection="' ~ form.vars.id ~ '" data-field="__id__">' ~
                '<span class="glyphicon glyphicon-chevron-up"></span>' ~
            '</button>' ~
            '<button type="button" class="btn btn-danger btn-xs" data-collection-role="remove" ' ~
                    'data-collection="' ~ form.vars.id ~ '" data-field="__id__"' ~ delete_button_confirm ~ '>' ~
                '<span class="glyphicon glyphicon-remove"></span>' ~
            '</button>' ~
            '<button type="button" class="btn btn-default btn-xs" data-collection-role="move-down" ' ~
                    'data-collection="' ~ form.vars.id ~ '" data-field="__id__">' ~
                '<span class="glyphicon glyphicon-chevron-down"></span>' ~
            '</button>'
        %}
        {% set attr = attr|merge({'data-prototype': form.vars.id ~ '_prototype'}) %}
        {% set attr = attr|merge({'data-prototype-name': prototype_name}) %}
        <div class="ekyna-collection-prototype" id="{{ form.vars.id }}_prototype">
            {{ form_widget(prototype)|replace({'__controls__': controls}) }}
        </div>
    {% endif %}
    <div {{ block('widget_container_attributes') }}>
        {{ form_errors(form) }}
        <table class="ekyna-collection-child-container table">
            {% if not form.vars.children_mode -%}
                {# Header #}
                <thead>
                <tr>
                    <th>
                        {{ 'ekyna_core.field.designation'|trans }}
                    </th>
                    <th>
                        {{ 'ekyna_core.field.reference'|trans }}
                    </th>
                    <th>
                        {{ 'ekyna_core.field.weight'|trans }}
                    </th>
                    <th>
                        {{ 'ekyna_core.field.price'|trans }}
                    </th>
                    <th>
                        {{ 'ekyna_core.field.quantity'|trans }}
                    </th>
                    <th></th>
                </tr>
                </thead>
            {%- endif %}

            {# Rows #}
            {% for child in form -%}
                {%- set controls =
                    '<button type="button" class="btn btn-default btn-xs" data-collection-role="move-up" ' ~
                            'data-collection="' ~ form.vars.id ~ '" data-field="' ~ child.vars.id ~ '">' ~
                        '<span class="glyphicon glyphicon-chevron-up"></span>' ~
                    '</button>' ~
                    '<button type="button" class="btn btn-danger btn-xs" data-collection-role="remove" ' ~
                            'data-collection="' ~ form.vars.id ~ '" data-field="' ~ child.vars.id ~ '"' ~
                            delete_button_confirm ~ '>' ~
                        '<span class="glyphicon glyphicon-remove"></span>' ~
                    '</button>' ~
                    '<button type="button" class="btn btn-default btn-xs" data-collection-role="move-down" ' ~
                            'data-collection="' ~ form.vars.id ~ '" data-field="' ~ child.vars.id ~ '">' ~
                        '<span class="glyphicon glyphicon-chevron-down"></span>' ~
                    '</button>'
                -%}
                {{ form_widget(child)|replace({'__controls__': controls})|raw }}
            {%- endfor %}

            {# Footer #}
            <tfoot>
            {% if form.vars.allow_add -%}
                <tr>
                    <td colspan="5">
                        <button type="button" class="btn btn-link btn-xs" data-collection-role="add"
                                data-collection="{{ form.vars.id }}" data-prototype-name="{{ prototype_name }}">
                            {{- form.vars.add_button_text|trans({}, translation_domain)|raw -}}
                        </button>
                    </td>
                </tr>
            {%- endif %}
            </tfoot>
        </table>
        {{ form_rest(form) }}
    </div>
{% endspaceless %}
{% endblock ekyna_commerce_sale_items_widget %}


{% block ekyna_commerce_sale_item_widget %}
{% spaceless %}
    <tbody class="ekyna-collection-child commerce-sale-item">
    {%- if form.vars.errors|length > 0 -%}
    <tr>
        <td colspan="6">
            {{ form_errors(form) }}
        </td>
    </tr>
    {%- endif -%}
    <tr>
        <td width="30%">{{ form_widget(form.designation) }}</td>
        <td>{{ form_widget(form.reference) }}</td>
        <td>{{ form_widget(form.weight) }}</td>
        <td>{{ form_widget(form.netPrice) }}</td>
        <td>{{ form_widget(form.quantity) }}</td>
        <td rowspan="{{ form.vars.with_collections ? 3 : 2 }}" class="ekyna-collection-controls">
            {{ form_widget(form.position) }}
            <div class="btn-group-vertical">__controls__</div>
        </td>
    </tr>
    {% if form.vars.with_collections %}
        <tr>
            <td colspan="5" class="commerce-sale-item-children">
                {{ form_widget(form.items) }}
            </td>
        </tr>
    {% endif %}
    <tr>
        <td colspan="5" class="commerce-sale-item-children">
            {{ form_widget(form.adjustments) }}
        </td>
    </tr>
    {{ form_rest(form) }}
    </tbody>
{% endspaceless %}
{% endblock ekyna_commerce_sale_item_widget %}


{% block ekyna_commerce_shipment_items_widget %}
{% spaceless %}
    <table class="table">
        <thead>
            <tr>
                <th>{{ 'ekyna_core.field.designation'|trans }}</th>
                <th>{{ 'ekyna_core.field.reference'|trans }}</th>
                <th width="15%">{{ 'ekyna_core.field.quantity'|trans }}</th>
                {# TODO <th>{{ 'ekyna_core.field.expected_quantity'|trans }}</th>#}
                <th>Expected</th>
                <th>Available</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% set previous_style = bootstrap_get_style() %}
        {{ bootstrap_set_style('') }}
        {% for child in form -%}
            {{ form_widget(child) }}
        {%- endfor %}
        {{ bootstrap_set_style(previous_style) }}
        </tbody>
    </table>
{% endspaceless %}
{% endblock ekyna_commerce_shipment_items_widget %}


{% block ekyna_commerce_shipment_item_widget %}
{% spaceless %}
    {%- if form.vars.errors|length > 0 -%}
        <tr>
            <td colspan="6">
                {{ form_errors(form) }}
            </td>
        </tr>
    {%- endif -%}
    <tr>
        <td>{{ form.vars.sale_item.designation }}</td>
        <td>{{ form.vars.sale_item.reference }}</td>
        <td>{{ form_widget(form.quantity) }}</td>
        <td>TODO</td>{# TODO Expected quantity #}
        <td>TODO</td>{# TODO Available quantity (stock) #}
        <td>X</td>{# TODO removal #}
    </tr>
    {{ form_rest(form) }}
{% endspaceless %}
{% endblock ekyna_commerce_shipment_item_widget %}


{% block ekyna_commerce_supplier_order_items_widget %}
{% spaceless %}
    {% set attr = attr|merge({'class': 'ekyna-collection' }) %}
    {% set delete_button_confirm = ' data-confirm="' ~ (form.vars.delete_button_confirm|trans|escape) ~ '"' %}

    {# Prototype #}
    {% if prototype is defined %}
        {# Controls #}
        {% set controls =
            '<button type="button" class="btn btn-danger btn-xs" data-collection-role="remove" ' ~
                    'data-collection="' ~ form.vars.id ~ '" data-field="__id__"' ~ delete_button_confirm ~ '>' ~
                '<span class="glyphicon glyphicon-remove"></span>' ~
            '</button>'
        %}
        {% set attr = attr|merge({'data-prototype': form.vars.id ~ '_prototype'}) %}
        {% set attr = attr|merge({'data-prototype-name': prototype_name}) %}
        <div class="ekyna-collection-prototype" id="{{ form.vars.id }}_prototype">
            {{ form_widget(prototype)|replace({'__controls__': controls}) }}
        </div>
    {% endif %}
    <div {{ block('widget_container_attributes') }}>
        {{ form_errors(form) }}
        <table class="ekyna-collection-child-container table">

            {# Header #}
            <thead>
                <tr>
                    <th>{{ 'ekyna_core.field.designation'|trans }}</th>
                    <th>{{ 'ekyna_core.field.reference'|trans }}</th>
                    <th width="15%">{{ 'ekyna_core.field.quantity'|trans }}</th>
                    <th width="15%">{{ 'ekyna_commerce.supplier_order_item.field.net_price'|trans }}</th>
                    <th></th>
                </tr>
            </thead>

            {# Rows #}
            {% set previous_style = bootstrap_get_style() %}
            {{ bootstrap_set_style('') }}
            {% for child in form -%}
                {%- set controls =
                '<button type="button" class="btn btn-danger btn-xs" data-collection-role="remove" ' ~
                        'data-collection="' ~ form.vars.id ~ '" data-field="' ~ child.vars.id ~ '"' ~
                        delete_button_confirm ~ '>' ~
                    '<span class="glyphicon glyphicon-remove"></span>' ~
                '</button>'
                -%}
                {{ form_widget(child)|replace({'__controls__': controls})|raw }}
            {%- endfor %}
            {{ bootstrap_set_style(previous_style) }}

            {# Footer #}
            <tfoot>
            {% if form.vars.allow_add -%}
                <tr>
                    <td colspan="5" style="text-align:center;">
                        <button type="button" class="btn btn-primary btn-xs" data-collection-role="add"
                                data-collection="{{ form.vars.id }}" data-prototype-name="{{ prototype_name }}">
                            {{- form.vars.add_button_text|trans({}, translation_domain)|raw -}}
                        </button>
                        &nbsp;<p class="label label-warning">[TODO] Add helper (from supplier catalog)</p>
                    </td>
                </tr>
            {%- endif %}
            </tfoot>

        </table>
        {{ form_rest(form) }}

    </div>
{% endspaceless %}
{% endblock ekyna_commerce_supplier_order_items_widget %}


{% block ekyna_commerce_supplier_order_item_widget %}
{% spaceless %}
<tbody class="ekyna-collection-child">
    {%- if form.vars.errors|length > 0 -%}
        <tr>
            <td colspan="6">
                {{ form_errors(form) }}
            </td>
        </tr>
    {%- endif -%}
    <tr>
        <td>{{ form_widget(form.designation) }}</td>
        <td>{{ form_widget(form.reference) }}</td>
        <td>{{ form_widget(form.quantity) }}</td>
        <td>{{ form_widget(form.netPrice) }}</td>
        <td class="ekyna-collection-controls">
            <div class="btn-group-vertical">__controls__</div>
        </td>
    </tr>
    {{ form_rest(form) }}
</tbody>
{% endspaceless %}
{% endblock ekyna_commerce_supplier_order_item_widget %}
