<div id="newsletter-customer-subscription" class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-3 control-label">{{ 'field.email_address'|trans({}, 'EkynaUi') }}</label>
        <div class="col-sm-9">
            {% if customer -%}
            <p class="form-control" id="email">{{ email }}</p>
            <input type="hidden" name="customer" value="{{ customer }}"/>
            {%- else -%}
            <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="{{ email }}">
            {%- endif %}
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="col-sm-3 control-label">
            {{ 'newsletter.audiences'|trans({}, 'EkynaCommerce') }}
        </label>
        <div class="col-sm-9">
            {% for audience in audiences -%}
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="audiences[]" value="{{ audience.key }}"{% if audience.subscribed %} checked{% endif %}>
                    {{ audience.title }}
                </label>
            </div>
            {%- endfor %}
        </div>
    </div>
    {# TODO Csrf protection #}
</div>
<script type="text/javascript">
    require(['ekyna-commerce/newsletter-customer-subscription'], function(Newsletter) {
        Newsletter.init('#newsletter-customer-subscription');
    });
</script>
