{% extends "email.html.twig" %}

{% block subject %}
    {{ 'customer.notify.registration.subject'|trans({}, 'EkynaCommerce') }}
{% endblock subject %}

{% block body %}
    <p>
        {% if customer.company is not empty %}
        <strong>{{ customer.company }}</strong><br>
        {% endif %}
        {{ customer|identity }}<br>
        <a href="mailto:{{ customer.email }}">{{ customer.email }}</a>
    </p>
    <p>
        {{ customer.description|nl2br }}
    </p>
    <p style="text-align: center;">
        <a href="{{ absolute_url(admin_resource_path(customer)) }}">
            {{ 'customer.notify.admin_link'|trans({}, 'EkynaCommerce') }}
        </a>
    </p>
{% endblock body %}
