{% extends "email.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        table {
            border-right: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            width: 100%;
            border-collapse: collapse;
        }

        td, th {
            font-size: 14px;
            padding: 4px 8px;
            border-top: 1px solid #ddd;
            border-left: 1px solid #ddd;
            vertical-align: top;
        }

        td p {
            margin: 0 0 10px 0;
        }
    </style>
{% endblock stylesheets %}

{% block subject %}{{ subject|raw }}{% endblock subject %}

{% block body %}
{% apply spaceless %}
    <p>{{ content|raw }}</p>
    <table>
        <thead>
        <tr>
            <th>Ticket</th>
            <th>Message</th>
        </tr>
        </thead>
        <tbody>
        {% for message in messages -%}
        <tr>
            <td>
                <a href="{{ absolute_url(admin_resource_path(message.ticket)) }}">
                    {{- message.ticket.number -}}
                </a>
            </td>
            <td>
                {{- message.content|raw -}}
            </td>
        </tr>
        {%- endfor %}
        </tbody>
    </table>
    {{- get_setting('commerce.email_signature')|raw -}}
{% endapply %}
{% endblock body %}
