{% extends "email.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        table { border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; width: 100% }
        td, th { font-size: 13px; padding: 2px 4px; border-top: 1px solid #ddd; border-left: 1px solid #ddd; }
        p { margin-bottom: 10px; }
    </style>
{% endblock stylesheets %}

{% block subject %}{{ subject|raw }}{% endblock subject %}

{% block body %}
{% apply spaceless %}
    {% do trans_set_locale(locale) %}
    <p>{{ 'ekyna_commerce.notify.type.balance.message'|trans }}</p>
    <table>
        <thead>
        <tr>
            <th>{{ 'ekyna_core.field.date'|trans }}</th>
            <th>{{ 'ekyna_core.field.number'|trans }}</th>
            <th>{{ 'ekyna_commerce.customer.balance.order_date'|trans }}</th>
            <th>{{ 'ekyna_commerce.order.label.singular'|trans }}</th>
            <th>{{ 'ekyna_commerce.sale.field.voucher_number'|trans }}</th>
            <th>{{ 'ekyna_core.field.label'|trans }}</th>
            <th>{{ 'ekyna_commerce.customer.balance.debit'|trans }}</th>
            <th>{{ 'ekyna_commerce.customer.balance.credit'|trans }}</th>
            <th>{{ 'ekyna_commerce.customer.balance.due_date'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {%- include "@EkynaCommerce/Js/customer_balance_rows.html.twig" with {
            'balance': balance
        } only -%}
        </tbody>
    </table>

    {{- get_setting('commerce.email_signature', locale)|raw -}}
    {% do trans_revert_locale() %}
{% endapply %}
{% endblock body %}
