{% extends "email.html.twig" %}

{% block stylesheets %}
{{ parent() }}
<style>
    table { border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; width: 100% }
    td, th { font-size: 13px; padding: 2px 4px; border-top: 1px solid #ddd; border-left: 1px solid #ddd; }
    p { margin-bottom: 10px; }
    a.message-reply {
        padding: 10px 16px; font-size: 18px; line-height: 24px; border-radius: 6px;
        color: #fff; background-color: #337ab7; border: 1px solid #2e6da4;
        display: inline-block; text-align: center; text-decoration: none;
    }
    div.message-content {
        border: 1px solid #ddd; border-radius: 6px; padding: 5px 16px; margin: 10px;
    }
</style>
{% endblock stylesheets %}

{% set ticket = message.ticket %}

{% block subject %}{{ subject|raw }}{% endblock subject %}

{% block body %}
{% apply spaceless %}
    {% do trans_set_locale(locale) %}
    {% if 0 < ticket.orders|length %}
        {% set path = path('ekyna_commerce_account_order_read', {'number': ticket.orders|first.number}) %}
    {% elseif 0 < ticket.quotes|length %}
        {% set path = path('ekyna_commerce_account_quote_read', {'number': ticket.quotes|first.number}) %}
    {% else %}
        {% set path = path('ekyna_commerce_account_ticket_index') %}
    {% endif %}
    {{- 'ticket_message.notify.customer.content_head'|trans({
        '%number%': ticket.number,
        '%subject%': ticket.subject
    }, 'EkynaCommerce')|raw -}}
    <div class="message-content">
        {{- message.content|raw -}}
    </div>
    {{- 'ticket_message.notify.customer.content_foot'|trans({
        '%url%': absolute_url(path) ~ '#support-tickets'
    }, 'EkynaCommerce')|raw -}}
    {{- admin_email_signature(null, locale=locale) -}}
    {% do trans_revert_locale() %}
{% endapply %}
{% endblock body %}
