{% extends "email.html.twig" %}

{% block stylesheets %}
{% apply spaceless %}
    {{ parent() }}
    {% if notify.includeView != 'none' %}
    <style>
        .sale-view th, .sale-view td {
            font-size: 13px;
        }
    </style>
    <link href="{{ absolute_url(asset('bundles/ekynacommerce/css/sale-view.css')) }}" rel="stylesheet" type="text/css"/>
    {% endif %}
{% endapply %}
{% endblock stylesheets %}

{% block subject %}
    {{- notify.subject -}}
{% endblock subject %}

{% block body %}
{% apply spaceless %}
    {% do trans_set_locale(sale.locale) %}
    {% if notify.includeView == 'before' -%}
        {{ render_sale_view(sale|sale_view({
            'private': false,
            'editable': false,
            'taxes_view': false
        })) }}
    {%- endif %}

    {% if notify.customMessage is not empty -%}
        {{ notify.customMessage|raw }}
    {%- endif %}

    {% if notify.paymentMessage is not empty -%}
        {{ notify.paymentMessage|raw }}
    {%- endif %}

    {% if notify.shipmentMessage is not empty -%}
        {{ notify.shipmentMessage|raw }}
    {%- endif %}

    {{- admin_email_signature(notify.from.user) -}}

    <hr>

    {% if 0 < attachments|length -%}
    <p>{{ 'notify.message.attachment_list'|trans({}, 'EkynaCommerce') }}:</p>
    <ul>
        {% for filename, title in attachments -%}
        <li>{{ title }} : <em>{{ filename }}</em></li>
        {%- endfor %}
    </ul>
    {%- endif %}

    {% if notify.includeView == 'after' -%}
        {{ render_sale_view(sale|sale_view({
            'private': false,
            'editable': false,
            'taxes_view': false
        })) }}
    {%- endif %}

    {% if notify.buttonUrl is not empty -%}
    <p style="text-align: center;">
        <a class="button" href="{{ notify.buttonUrl }}">{{ notify.buttonLabel|trans }}</a>
    </p>
    {%- endif %}
    {% do trans_revert_locale() %}
{% endapply %}
{% endblock body %}
