{{ bootstrap_set_style('horizontal') }}
{{ bootstrap_set_col_size('md') }}
{{ form_errors(form, {'global_errors': true}) }}
<table class="table table-alt-head">
    <thead>
    <tr>
        <th>{{ 'field.designation'|trans({}, 'EkynaUi') }}</th>
        <th>{{ 'field.type'|trans({}, 'EkynaUi') }}</th>
        <th>{{ 'field.mode'|trans({}, 'EkynaUi') }}</th>
        <th>{{ 'field.amount'|trans({}, 'EkynaUi') }}</th>
        <th></th>
    </tr>
    </thead>
    {{ form_widget(form)|replace({'__controls__': ''})|raw }}
</table>
{{ form_rest(form) }}
