{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        {{ bootstrap_set_style('horizontal') }}
        {{ bootstrap_set_col_size('md') }}
        {{ bootstrap_set_sizing('sm') }}
        {{ bootstrap_set_label_col(2) }}
        {{ bootstrap_set_widget_col(10) }}

        {{ form_errors(form, {'global_errors': true}) }}

        {{ form_row(form.applyGroup) }}

        <div class="row">
            <div class="col-md-10 col-md-push-2">
                <h3>{{ 'ekyna_commerce.account.registration.credentials'|trans|raw }}</h3>
            </div>
        </div>
        {% if form.customer.email is defined and form.customer.plainPassword is defined -%}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.customer.email.first, {'label_col': 4, 'widget_col': 8}) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.customer.email.second, {'label_col': 4, 'widget_col': 8}) }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.customer.plainPassword.first, {'label_col': 4, 'widget_col': 8}) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.customer.plainPassword.second, {'label_col': 4, 'widget_col': 8}) }}
            </div>
        </div>
        {% else %}
        <div class="form-group form-group-sm">
            <label class="control-label col-md-2 control-label-sm" for="registration_user">
                {{ 'ekyna_user.user.label.singular'|trans }}
            </label>
            <div class="col-md-10">
                <span id="registration_user" class="input-sm form-control" disabled>
                    <strong>{{ form.vars.user.email }}</strong>
                    {% if form.vars.user_owner is not same as (null) -%}
                        (via <strong>{{ form.vars.user_owner|capitalize }}</strong>)
                    {%- endif %}
                </span>
            </div>
        </div>
        {% endif %}

        <div class="row">
            <div class="col-md-10 col-md-push-2">
                <h3>{{ 'ekyna_commerce.account.registration.information'|trans|raw }}</h3>
            </div>
        </div>

        {{ form_row(form.customer.identity) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.customer.phone, {'label_col': 4, 'widget_col': 8}) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.customer.mobile, {'label_col': 4, 'widget_col': 8}) }}
            </div>
        </div>

        <div id="registration_regular">
            {% if form.customer.birthday is defined -%}
                <div class="row">
                    <div class="col-md-6">
                        {{- form_row(form.customer.birthday, {'label_col': 4, 'widget_col': 8}) -}}
                    </div>
                </div>
            {%- endif %}
        </div>

        <div id="registration_business" style="display:none;">
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.customer.company, {'label_col': 4, 'widget_col': 8}) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.customer.companyNumber, {'label_col': 4, 'widget_col': 8}) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.customer.vatNumber, {'label_col': 4, 'widget_col': 8}) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-push-2">
                <h3>{{ 'ekyna_commerce.account.registration.invoice_address'|trans|raw }}</h3>
            </div>
        </div>
        {{ form_row(form.invoiceAddress, {'widget_col': 12}) }}

        <hr>

        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.customer.currency, {'label_col': 4, 'widget_col': 8}) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.customer.locale, {'label_col': 4, 'widget_col': 8}) }}
            </div>
        </div>

        {{ form_row(form.comment) }}

        {% if form.newsletter is defined -%}
            {{- form_row(form.newsletter) -}}
        {%- endif %}

        <div class="row">
            <div class="col-md-6">
                {{ form_row(form.captcha, {'label_col': 4, 'widget_col': 8}) }}
            </div>
        </div>

        {{ bootstrap_set_sizing('md') }}
        {{ form_rest(form) }}
        {{ ivory_google_api() }}
{{ form_end(form) }}
