{% extends "EkynaAdminBundle:Entity/Default:show.html.twig" %}

{% block main %}
<div class="actions">
    {{ admin_resource_btn(taxGroup, 'edit') }}
    {{ admin_resource_btn(taxGroup, 'remove') }}
</div>
<div class="show show-with-tabs">
    <ul class="nav nav-tabs" data-tab-key="{{ resource_id }}">
        <li class="active">
            <a href="#tax-group-general" id="toggle-general" data-toggle="tab">
                {{ 'ekyna_core.field.general'|trans }}
            </a>
        </li>
    </ul>
    <div class="show-body">
        <div class="tab-content">
            <div class="tab-pane active" id="tax-group-general">
                <div class="row">
                    <div class="col-md-6">
                        {{ show_row(taxGroup.name, 'text', 'ekyna_core.field.name', {
                            'label_nb_col': 4,
                            'widget_nb_col': 8
                        }) }}
                    </div>
                    <div class="col-md-6">
                        {{ show_row(taxGroup.default, 'checkbox', 'ekyna_core.field.default', {
                            'label_nb_col': 4,
                            'widget_nb_col': 8
                        }) }}
                    </div>
                </div>
                {{ show_row(taxGroup.taxes, 'entity', 'ekyna_commerce.tax.label.plural', {
                    'id': 'tax_group_taxes',
                    'route': 'ekyna_commerce_tax_admin_show',
                    'route_params_map': {'taxId': 'id'}
                }) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
