{% spaceless %}
{% set show_customer = not customer.hasParent() %}
<div class="table-responsive">
<table class="table table-stripped">
    <thead>
    <tr>
        <th>{{ 'ekyna_core.field.number'|trans }}</th>
        {% if show_customer -%}
        <th>{{ 'ekyna_commerce.sale.field.origin_customer'|trans }}</th>
        {%- endif %}
        <th>{{ 'ekyna_commerce.sale.field.voucher_number'|trans }}</th>
        <th>{{ 'ekyna_commerce.sale.field.ati_total'|trans }}</th>
        <th>{{ 'ekyna_commerce.sale.field.state'|trans }}</th>
        <th>{{ 'ekyna_commerce.sale.field.payment_state'|trans }}</th>
        <th>{{ 'ekyna_core.field.date'|trans }}</th>
        <th>{{ 'ekyna_core.field.expires_at'|trans }}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for quote in quotes %}
        {% set path = path('ekyna_commerce_account_quote_show', {'number': quote.number}) %}
        <tr>
            <td>
                <a href="{{ path }}">{{ quote.number }}</a>
            </td>
            {% if show_customer -%}
            <td>
                {{- quote.customer|identity -}}
            </td>
            {% endif -%}
            <td>
                {%- if quote.voucherNumber is not empty -%}
                    {{ quote.voucherNumber }}
                {%- else -%}
                    &dash;
                {%- endif -%}
            </td>
            <td class="text-right">
                {{- quote.grandTotal|localizedcurrency(quote.currency.code) -}}
            </td>
            <td>
                {{- quote|sale_state_badge -}}
            </td>
            <td>
                {{- quote.paymentState|payment_state_badge -}}
            </td>
            <td>
                {{- quote.createdAt|localizeddate('short', 'none') -}}
            </td>
            <td>
                {%- if quote.expiresAt is not null -%}
                    {{- quote.expiresAt|localizeddate('short', 'none') -}}
                {%- endif -%}
            </td>
            <td class="text-right">
                <a href="{{ path }}" class="btn btn-xs btn-default">
                    {{- 'ekyna_core.button.show'|trans -}}
                </a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="{{ show_customer ? 8 : 7 }}">
                <em>{{ 'ekyna_commerce.account.quote.empty_list'|trans }}</em>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
{% endspaceless %}
