{% extends '@EkynaCommerce/Account/layout.html.twig' %}

{% block account %}
{% apply spaceless %}
    <h3>{{ 'ekyna_commerce.account.quote.payment'|trans({'%number%': quote.number})|raw }}</h3>
    <p>
        Du {{ quote.createdAt|localizeddate('short', 'none') }}, {{ quote|sale_state_badge }}
    </p>

    {%- include '@EkynaCommerce/Account/Sale/payments.html.twig' with {
        'sale': quote, 'customer': customer, 'refund': false
    } only -%}

    {%- if quote is sale_with_refund -%}
        {%- include '@EkynaCommerce/Account/Sale/payments.html.twig' with {
            'sale': quote, 'customer': customer, 'refund': true
        } only -%}
    {%- endif -%}

    {{ bootstrap_set_style('horizontal') }}
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="form-body">
        {{ form_errors(form, {'global_errors': true}) }}
        {{ form_row(form.confirm) }}
        {{ form_rest(form) }}
    </div>
    {{ form_end(form) }}

    <br><br>
    <h3>{{ 'ekyna_commerce.account.quote.title'|trans|raw }}</h3>
    <hr>
    {%- include '@EkynaCommerce/Account/Quote/_list.html.twig' with {
        'quotes': quotes, 'customer': customer
    } only -%}

{% endapply %}
{% endblock %}
