{% extends '@EkynaCommerce/Account/layout.html.twig' %}

{% block account %}
{% apply spaceless %}
    <h3>{{ 'account.quote.payment'|trans({'%number%': quote.number}, 'EkynaCommerce')|raw }}</h3>
    <p>
        Du {{ quote.createdAt|format_datetime('short', 'none') }}, {{ quote|sale_state_badge }}
    </p>

    {%- include '@EkynaCommerce/Account/Sale/payments.html.twig' with {
        'sale': quote, 'customer': customer, 'refund': false
    } only -%}

    {%- if quote is sale_with_refund -%}
        {%- include '@EkynaCommerce/Account/Sale/payments.html.twig' with {
            'sale': quote, 'customer': customer, 'refund': true
        } only -%}
    {%- endif -%}

    <div class="row">
        <div class="col-md-8">
            {%- include '@EkynaCommerce/Account/Sale/payment_forms.html.twig' with {
                'sale': quote, 'forms': forms
            } only -%}
        </div>
        <div class="col-md-4">
            {%- include '@EkynaCommerce/Account/Sale/summary.html.twig' with {
                'title': t('account.quote.summary', {}, 'EkynaCommerce'), 'sale': quote, 'delivery': true
            } -%}
        </div>
    </div>

    <hr>

    <div class="text-center">
        <a href="{{ path('ekyna_commerce_account_quote_read', {'number': quote.number}) }}" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-chevron-left"></span>
            {{ 'button.back'|trans({}, 'EkynaUi') }}
        </a>
    </div>

    <br><br>

    <h3>{{ 'account.quote.title'|trans({}, 'EkynaCommerce')|raw }}</h3>
    <hr>
    {%- include '@EkynaCommerce/Account/Quote/_list.html.twig' with {
        'quotes': quotes, 'customer': customer
    } only -%}
{% endapply %}
{% endblock %}


{% block stylesheets -%}
    {{ parent() }}
    <link href="{{ absolute_url(asset('bundles/ekynacommerce/css/checkout.css')) }}" type="text/css" rel="stylesheet"/>
{%- endblock stylesheets %}
