{% extends '@EkynaCommerce/Account/layout.html.twig' %}

{% import '@EkynaCommerce/Account/Sale/macros.html.twig' as macros %}

{% block account %}
{% spaceless %}
    <h3>{{ 'ekyna_commerce.account.quote.show'|trans({'%number%': quote.number})|raw }}</h3>
    <hr>
    <a href="{{ path('ekyna_commerce_account_quote_export', {'number': quote.number}) }}"
       class="btn btn-sm btn-default pull-right">
        {{- 'ekyna_core.button.export'|trans -}}
    </a>
    <div class="account-sale">
        <div id="account-sale-header">
            {{- macros.sale_header(quote) -}}
        </div>
        {%- include '@EkynaCommerce/Account/Sale/addresses.html.twig' with {'sale': quote} only -%}
        <div class="account-sale-view">
            {{- render_sale_view(view) -}}
        </div>
    </div>

    {% set remaining = quote|payment_remaining_total %}
    {% if quote.expired %}
        <div class="alert alert-warning">
            {{ 'ekyna_commerce.account.quote.message.expired'|trans }}
        </div>
    {% elseif 0 < remaining %}
        {% if customer.parent is null %}
            {# Voucher required message #}
            {% if quote.requiresVoucher() and not quote.hasVoucher() %}
            <div class="alert alert-info">
                {{ 'ekyna_commerce.account.quote.message.voucher_required'|trans }}
            </div>
            {% endif %}

            <div class="text-center" style="margin-bottom: 40px;">
                {# Payment button #}
                {% if not (quote.requiresVoucher() and not quote.hasVoucher()) %}
                <a href="{{ path('ekyna_commerce_account_quote_payment_create', {'number': quote.number}) }}"
                   class="btn btn-primary"
                   style="margin-right: 12px">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    {{ 'ekyna_commerce.account.quote.button.pay'|trans }}
                    <strong>{{ remaining|localizedcurrency(quote.currency.code) }}</strong>
                </a>
                {% endif %}
                {# Voucher button #}
                <a href="{{ path('ekyna_commerce_account_quote_voucher', {'number': quote.number}) }}"
                   class="btn btn-default">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    {{ 'ekyna_commerce.account.quote.button.voucher'|trans }}
                </a>
            </div>
        {% else %}
        <div class="alert alert-info">
            {{ 'ekyna_commerce.account.quote.message.payment_denied'|trans }}
        </div>
        {% endif %}
    {% endif %}

    {# Payments #}
    {%- if quote is sale_with_payment -%}
        {%- include '@EkynaCommerce/Account/Sale/payments.html.twig' with {
            'sale': quote, 'customer': customer
        } only -%}
    {%- endif -%}

    {# Attachments #}
    {%- if quote is sale_with_attachment -%}
        {%- include '@EkynaCommerce/Account/Sale/attachments.html.twig' with {
            'sale': quote, 'route_prefix': route_prefix
        } only -%}
    {%- endif -%}

    {# Tickets #}
    {% if support_enabled() -%}
    <div class="panel panel-default">
        <div class="panel-heading">
            {{- 'ekyna_commerce.ticket.label.plural'|trans|raw -}}
        </div>
        <div class="panel-body">
            {{- support_tickets(quote, {'new': path('ekyna_commerce_account_ticket_new', {'quote': quote.number})}) -}}
        </div>
    </div>
    {%- endif %}

    <br><br>
    <h3>{{ 'ekyna_commerce.account.quote.title'|trans|raw }}</h3>
    <hr>
    {% include '@EkynaCommerce/Account/Quote/_list.html.twig' with {
        'quotes': quotes, 'customer': customer
    } only %}

{% endspaceless %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/ekynacommerce/css/sale-view.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/ekynacommerce/css/support.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">require(['ekyna-commerce/support']);</script>
    <script type="text/javascript">require(['ekyna-commerce/sale-view']);</script>
    <script type="text/javascript">require(['ekyna-commerce/sale-account-show']);</script>
{% endblock %}
