{% extends "EkynaCommerceBundle:Account:layout.html.twig" %}

{% block account %}
{% spaceless %}
    <h3>{{ 'ekyna_commerce.account.quote.show'|trans({'%number%': quote.number})|raw }}</h3>
    <p>
        Du {{ quote.createdAt|localizeddate('short', 'none') }}, {{ quote|sale_state_badge }}
    </p>
    <hr>

    {{- render_sale_view(view) -}}

    {% if 0 < quote.remainingAmount %}
        <div class="text-center" style="margin-bottom: 40px;">
            <a href="{{ path('ekyna_commerce_account_quote_payment', {'number': quote.number}) }}" class="btn btn-primary btn-lg">
                <span class="glyphicon glyphicon-chevron-right"></span>
                {{ 'ekyna_commerce.account.quote.button.pay'|trans }}
            </a>
        </div>
    {% endif %}

    {%- include "EkynaCommerceBundle:Account/Sale:attachments.html.twig" with {
        'sale': quote,
        'detail_route': 'ekyna_commerce_account_quote_attachment_download'
    } -%}

    {%- include "EkynaCommerceBundle:Account/Sale:payments.html.twig" with {
        'sale': quote,
        'cancel_route': 'ekyna_commerce_payment_quote_cancel'
    } -%}

    <br><br>
    <h3>{{ 'ekyna_commerce.account.quote.title'|trans|raw }}</h3>
    <hr>
    {% include "EkynaCommerceBundle:Account/Quote:_list.html.twig" %}
{% endspaceless %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/ekynacommerce/css/sale-view.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}
