{% extends "EkynaCommerceBundle:Account:layout.html.twig" %}

{% block account %}
{% spaceless %}
    <h3>{{ 'ekyna_commerce.account.quote.show'|trans({'%number%': quote.number})|raw }}</h3>
    <p>
        {{ quote|sale_state_badge }}
        Créé le {{ quote.createdAt|localizeddate('short', 'none') }},
        expire le {{ quote.expiresAt|localizeddate('short', 'none') }}
    </p>
    <hr>

    {{- render_sale_view(view) -}}

    {% if quote.expired %}
        <div class="alert alert-warning">
            {{ 'ekyna_commerce.account.quote.message.expired'|trans }}
        </div>
    {% elseif not quote.paid %}
        {% if customer.parent is null %}
        <div class="text-center" style="margin-bottom: 40px;">
            <a href="{{ path('ekyna_commerce_account_quote_payment_create', {'number': quote.number}) }}"
               class="btn btn-primary btn-lg">
                <span class="glyphicon glyphicon-chevron-right"></span>
                {{ 'ekyna_commerce.account.quote.button.pay'|trans }}
            </a>
        </div>
        {% else %}
        <div class="alert alert-info">
            {{ 'ekyna_commerce.account.quote.message.payment_denied'|trans }}
        </div>
        {% endif %}
    {% endif %}

    {# Payments #}
    {%- if quote is sale_with_payment -%}
        {%- include "EkynaCommerceBundle:Account/Sale:payments.html.twig" with {'sale': quote} only -%}
    {%- endif -%}

    {# Attachments #}
    {%- include "EkynaCommerceBundle:Account/Sale:attachments.html.twig" with {
        'sale': quote, 'route_prefix': route_prefix
    } only -%}

    <br><br>
    <h3>{{ 'ekyna_commerce.account.quote.title'|trans|raw }}</h3>
    <hr>
    {% include "EkynaCommerceBundle:Account/Quote:_list.html.twig" with {'quotes': quotes} only %}
{% endspaceless %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/ekynacommerce/css/sale-view.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}
