<div class="form-horizontal" style="padding:15px 15px 0 15px;">
    {% if customer.inCharge is not null %}
        <div class="form-group">
            <label class="control-label col-md-3">
                {{- 'customer.field.in_charge'|trans({}, 'EkynaCommerce') -}}
            </label>
            <div class="col-md-9">
                <p class="form-control">
                    {{- customer.inCharge.username }}
                    &lt;<em><a href="mailto:{{ customer.inCharge.email }}">{{ customer.inCharge.email }}</a></em>&gt;
                </p>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-6">
                    {{- 'sale.field.outstanding_limit'|trans({}, 'EkynaCommerce') -}}
                </label>
                <div class="col-md-6">
                    <p class="form-control">
                        {{- customer.outstandingLimit|format_currency(commerce_default_currency) -}}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-6">
                    {{- 'customer.field.outstanding_balance'|trans({}, 'EkynaCommerce') -}}
                </label>
                <div class="col-md-6">
                    <p class="form-control">
                        {{- customer.outstandingBalance|format_currency(commerce_default_currency) -}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <p class="text-center">
        <a class="btn btn-primary" href="{{ path('ekyna_commerce_account_balance_index') }}">
            {{- 'account.balance.title'|trans({}, 'EkynaCommerce') -}}
        </a>
    </p>
</div>
