{% apply spaceless %}
<div class="panel panel-default">
    <div class="panel-heading">
        {{ 'customer.label.singular'|trans({}, 'EkynaCommerce') }}
    </div>
    <div class="panel-body">
        <table class="table table-condensed table-alt-head">
        <tbody>
            <tr>
                <th>{{ 'field.number'|trans({}, 'EkynaUi') }}</th>
                <td>{{ customer.number }}</td>
            </tr>
            <tr>
                <th>{{ 'field.company'|trans({}, 'EkynaUi') }}</th>
                <td>{{ customer.company }}</td>
            </tr>
            <tr>
                <th>{{ 'customer.field.company_number'|trans({}, 'EkynaCommerce') }}</th>
                <td>{{ customer.companyNumber }}</td>
            </tr>
            <tr>
                <th>{{ 'customer.label.singular'|trans({}, 'EkynaCommerce') }}</th>
                <td>
                    <a href="{{ admin_resource_path(customer) }}">
                        {{- customer|identity|raw -}}
                    </a>
                </td>
            </tr>
            <tr>
                <th>{{ 'customer_group.label.singular'|trans({}, 'EkynaCommerce') }}</th>
                <td>
                    <a href="{{ admin_resource_path(customer.customerGroup) }}">
                        {{- customer.customerGroup -}}
                    </a>
                </td>
            </tr>
            <tr>
                <th>{{ 'field.currency'|trans({}, 'EkynaUi') }}</th>
                <td>{{ customer.currency }}</td>
            </tr>
            <tr>
                <th>{{ 'field.locale'|trans({}, 'EkynaUi') }}</th>
                <td>{{ customer.locale|language|capitalize  }}</td>
            </tr>
            <tr>
                <th>{{ 'field.email'|trans({}, 'EkynaUi') }}</th>
                <td>{{ customer.email }}</td>
            </tr>
            {% if customer.phone is not empty %}
            <tr>
                <th>{{ 'field.phone'|trans({}, 'EkynaUi') }}</th>
                <td>{{ customer.phone|phone_number_format }}</td>
            </tr>
            {% endif %}
            {% if customer.mobile is not empty %}
            <tr>
                <th>{{ 'field.mobile'|trans({}, 'EkynaUi') }}</th>
                <td>{{ customer.mobile|phone_number_format }}</td>
            </tr>
            {% endif %}
            {% if customer.description is not empty -%}
            <tr>
                <th>{{ 'field.description'|trans({}, 'EkynaCommerce') }}</th>
                <td>{{ customer.description|nl2br }}</td>
            </tr>
            {%- endif %}
            {% if customer.hasParent() -%}
            <tr>
                <th>{{ 'customer.field.parent'|trans({}, 'EkynaCommerce') }}</th>
                <td>
                    <a href="{{ admin_resource_path(customer.parent) }}">
                        {{- customer.parent|raw -}}
                    </a>
                </td>
            </tr>
            {%- endif %}
            {% set customerSource = customer.hasParent() ? customer.parent : customer %}
            <tr>
                <th>{{ 'payment_term.label.singular'|trans({}, 'EkynaCommerce') }}</th>
                <td>
                    {% if customerSource.paymentTerm is not null -%}
                    <a href="{{ admin_resource_path(customerSource.paymentTerm) }}">
                        {{- customerSource.paymentTerm|raw -}}
                    </a>
                    {%- else -%}
                        <em>{{ 'value.undefined'|trans({}, 'EkynaUi') }}</em>
                    {%- endif %}
                </td>
            </tr>
            <tr>
                <th>{{ 'sale.field.outstanding_limit'|trans({}, 'EkynaCommerce') }}</th>
                <td>{{ customerSource.outstandingLimit|format_currency(commerce_default_currency) }}</td>
            </tr>
            <tr>
                <th>{{ 'customer.field.outstanding_balance'|trans({}, 'EkynaCommerce') }}</th>
                <td>{{ customerSource.outstandingBalance|format_currency(commerce_default_currency) }}</td>
            </tr>
            <tr>
                <th>{{ 'customer.field.outstanding_overflow'|trans({}, 'EkynaCommerce') }}</th>
                <td>
                    {%- if customerSource.outstandingOverflow -%}
                        <span class="label label-warning">{{ 'value.yes'|trans({}, 'EkynaUi') }}</span>
                    {%- else -%}
                        <span class="label label-success">{{ 'value.no'|trans({}, 'EkynaUi') }}</span>
                    {%- endif -%}
                </td>
            </tr>
            <tr>
                <th>{{ 'customer.field.credit_balance'|trans({}, 'EkynaCommerce') }}</th>
                <td>{{ customerSource.creditBalance|format_currency(commerce_default_currency) }}</td>
            </tr>
            {%- if customerSource.defaultPaymentMethod is not null -%}
            <tr>
                <th>{{ 'customer.field.default_payment_method'|trans({}, 'EkynaCommerce') }}</th>
                <td>{{ customerSource.defaultPaymentMethod }}</td>
            </tr>
            <tr>
                <th>{{ 'customer.field.payment_methods'|trans({}, 'EkynaCommerce') }}</th>
                <td>
                    {%- for method in customerSource.paymentMethods -%}
                        {{- method -}}
                        {%- if not loop.last %}, {% endif %}
                    {%- else -%}
                    {%- endfor -%}
                </td>
            </tr>
            {%- endif -%}
        </tbody>
        </table>
    </div>
</div>
{% endapply %}
