{% spaceless %}
<h3>Client</h3>
<div class="show visible-lg">
    <div class="show-body">

        {{ show_row(customer.number, 'text', 'ekyna_core.field.number', {
            'label_nb_col': 4,
            'widget_nb_col': 8
        }) }}

        {{ show_row(customer.company, 'text', 'ekyna_core.field.company', {
            'id': 'customer_company',
            'label_nb_col': 4,
            'widget_nb_col': 8
        }) }}

        {{ show_row(customer|identity, 'entity', 'ekyna_commerce.customer.label.singular', {
            'route': 'ekyna_commerce_customer_admin_show',
            'route_params': {'customerId': customer.id},
            'label_nb_col': 4,
            'widget_nb_col': 8
        }) }}

        {{ show_row(customer.email, 'text', 'ekyna_core.field.email', {
            'label_nb_col': 4,
            'widget_nb_col': 8
        }) }}

        {% if customer.description is not empty %}
            {{ show_row(customer.description, 'textarea', 'ekyna_core.field.description', {
                'label_nb_col': 4,
                'widget_nb_col': 8
            }) }}
        {% endif %}

        {% if customer.hasParent() %}
            {{ show_row(customer.parent, 'entity', 'ekyna_commerce.customer.field.parent', {
                'route': 'ekyna_commerce_customer_admin_show',
                'route_params_map': {'customerId': 'id'},
                'label_nb_col': 4,
                'widget_nb_col': 8
            }) }}
        {% endif %}

        {% set customerSource = customer.hasParent() ? customer.parent : customer %}

        {{ show_row(customerSource.paymentTerm, 'entity', 'ekyna_commerce.payment_term.label.singular', {
            'route': 'ekyna_commerce_payment_term_admin_show',
            'route_params_map': {'paymentTermId': 'id'},
            'label_nb_col': 4,
            'widget_nb_col': 8
        }) }}

        {{ show_row(customerSource.outstandingLimit|localizedcurrency(commerce_default_currency), 'text', 'ekyna_commerce.customer.field.outstanding_limit', {
            'label_nb_col': 4,
            'widget_nb_col': 8
        }) }}

        {{ show_row(customerSource.outstandingBalance|localizedcurrency(commerce_default_currency), 'text', 'ekyna_commerce.customer.field.outstanding_balance', {
            'label_nb_col': 4,
            'widget_nb_col': 8
        }) }}

        {{ show_row(customerSource.creditBalance|localizedcurrency(commerce_default_currency), 'text', 'ekyna_commerce.customer.field.credit_balance', {
            'label_nb_col': 4,
            'widget_nb_col': 8
        }) }}

    </div>
</div>
{% endspaceless %}
