{% apply spaceless %}
<div class="panel panel-default">
    {% if title is defined -%}
    <div class="panel-heading">
        {{ title|trans }}
    </div>
    {%- endif %}
    {% do currency_configure(sale) %}{# Configure currency renderer #}
    <div class="panel-body">
        <table class="table table-condensed table-alt-head">
        <tbody>
            {% if sale.currency.code != commerce_default_currency -%}
            <tr>
                <th>{{ 'field.exchange_rate'|trans({}, 'EkynaCommerce') }}</th>
                <td>{{ null|currency_rate }}</td>
            </tr>
            {%- endif %}
            <tr>
                <th>{{ 'sale.field.ati_total'|trans({}, 'EkynaCommerce') }}</th>
                <td>{{ sale.grandTotal|currency_quote(null, true) }}</td>
            </tr>
            {% if sale is sale_order -%}
            <tr>
                <th>{{ 'sale.field.shipment_state'|trans({}, 'EkynaCommerce') }}</th>
                <td>{{ sale.shipmentState|shipment_state_badge }}</td>
            </tr>
            <tr>
                <th>{{ 'sale.field.invoice_state'|trans({}, 'EkynaCommerce') }}</th>
                <td>{{ sale.invoiceState|invoice_state_badge }}</td>
            </tr>
            {%- endif %}
            <tr>
                <th>{{ 'sale.field.payment_state'|trans({}, 'EkynaCommerce') }}</th>
                <td>{{ sale.paymentState|payment_state_badge }}</td>
            </tr>
            {% if sale is sale_order -%}
            <tr><th colspan="2">&nbsp;</th></tr>
            <tr>
                <th>{{ 'sale.field.invoice_total'|trans({}, 'EkynaCommerce') }}</th>
                <td>{{ sale.invoiceTotal|currency_quote(null, true) }}</td>
            </tr>
            <tr>
                <th>{{ 'sale.field.credit_total'|trans({}, 'EkynaCommerce') }}</th>
                <td>{{ sale.creditTotal|currency_quote(null, true) }}</td>
            </tr>
            <tr>
                <th>{{ 'sale.field.paid_total'|trans({}, 'EkynaCommerce') }}</th>
                <td>{{ sale.paidTotal|currency_quote(null, true) }}</td>
            </tr>
            <tr>
                <th>{{ 'sale.field.refunded_total'|trans({}, 'EkynaCommerce') }}</th>
                <td>{{ sale.refundedTotal|currency_quote(null, true) }}</td>
            </tr>
            <tr>
                <th>{{ 'field.balance'|trans({}, 'EkynaCommerce') }}</th>
                <td>{{ (sale.invoiceTotal - sale.creditTotal - sale.paidTotal + sale.refundedTotal)|currency_quote(null, true) }}</td>
            </tr>
            <tr><th colspan="2">&nbsp;</th></tr>
            {%- endif %}
            <tr>
                <th>{{ 'payment_term.label.singular'|trans({}, 'EkynaCommerce') }}</th>
                <td>
                    {%- if sale.paymentTerm is not null -%}
                        <a href="{{ admin_resource_path(sale.paymentTerm) }}">
                            {{ sale.paymentTerm|raw }}
                        </a>
                    {%- else -%}
                        <em>{{ 'value.undefined'|trans({}, 'EkynaUi') }}</em>
                    {%- endif -%}
                </td>
            </tr>
            <tr>
                <th>{{ 'sale.field.deposit_total'|trans({}, 'EkynaCommerce') }}</th>
                <td>{{ sale.depositTotal|currency_quote }}</td>
            </tr>
            <tr>
                <th>{{ 'sale.field.outstanding_limit'|trans({}, 'EkynaCommerce') }}</th>
                <td>{{ sale.outstandingLimit|currency_quote }}</td>
            </tr>
            <tr>
                <th>{{ 'sale.field.outstanding_date'|trans({}, 'EkynaCommerce') }}</th>
                <td>
                    {%- if sale.outstandingDate is not null -%}
                        {{ sale.outstandingDate|format_datetime('short', 'none') }}
                    {%- else -%}
                        <em>{{ 'value.undefined'|trans({}, 'EkynaUi') }}</em>
                    {%- endif -%}
                </td>
            </tr>
        </tbody>
        </table>
    </div>
    {% do currency_configure() %}{# Reset currency renderer #}
</div>
{% endapply %}
