{% extends '@EkynaCommerce/Account/layout.html.twig' %}

{% block account %}
{% apply spaceless %}
    <h3>{{ 'account.contact.add.title'|trans({}, 'EkynaCommerce') }}</h3>

    <hr>

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <div class="form-body">
        {{ bootstrap_set_style('horizontal') }}
        {{ bootstrap_set_col_size('md') }}
        {{ bootstrap_set_label_col(2) }}
        {{ bootstrap_set_widget_col(10) }}

        {{ form_widget(form) }}
    </div>
    {{ form_end(form) }}

    <br><br>

    {% include '@EkynaCommerce/Account/Contact/_list.html.twig' %}

{% endapply %}
{% endblock account %}
