{{ bootstrap_set_style('horizontal') }}
{{ bootstrap_set_col_size('md') }}
{{ form_errors(form, {'global_errors': true}) }}
<table class="table table-alt-head">
    <thead>
    <tr>
        <th>{{ 'field.designation'|trans({}, 'EkynaUi') }}</th>
        <th>{{ 'field.reference'|trans({}, 'EkynaUi') }}</th>
        <th>{{ 'field.weight'|trans({}, 'EkynaUi') }}</th>
        <th>{{ 'field.net_price'|trans({}, 'EkynaCommerce') }}</th>
        <th>{{ 'field.tax_group'|trans({}, 'EkynaCommerce') }}</th>
        <th>{{ 'field.quantity'|trans({}, 'EkynaUi') }}</th>
        <th>{{ 'field.private'|trans({}, 'EkynaCommerce') }}</th>
        <th></th>
    </tr>
    </thead>
    {{ form_widget(form)|replace({'__controls__': ''})|raw }}
</table>
{{ form_rest(form) }}
