{{ bootstrap_set_style('horizontal') }}
{{ bootstrap_set_col_size('md') }}
{{ form_errors(form, {'global_errors': true}) }}
<table class="table table-alt-head">
    <thead>
    <tr>
        <th>{{ 'ekyna_core.field.designation'|trans }}</th>
        <th>{{ 'ekyna_core.field.reference'|trans }}</th>
        <th>{{ 'ekyna_core.field.weight'|trans }}</th>
        <th>{{ 'ekyna_commerce.field.net_price'|trans }}</th>
        <th>{{ 'ekyna_commerce.field.tax_group'|trans }}</th>
        <th>{{ 'ekyna_core.field.quantity'|trans }}</th>
        <th>{{ 'ekyna_commerce.field.private'|trans }}</th>
        <th></th>
    </tr>
    </thead>
    {{ form_widget(form)|replace({'__controls__': ''})|raw }}
</table>
{{ form_rest(form) }}
