{% extends '@EkynaAdmin/Entity/Default/edit.html.twig' %}

{% block title %}
    <h1>{{ 'ekyna_commerce.attachment.header.edit'|trans|raw }}</h1>
{% endblock title %}

{% block actions %}
    {#{{ admin_resource_btn(resource, 'list') }}#}
    {#{{ admin_resource_btn(resource, 'new') }}#}
{% endblock actions %}

{% block main %}
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {% include form_template %}
    {{ form_end(form) }}
{% endblock main %}
