{% spaceless %}
<ul class="nav nav-tabs" data-tab-key="{{ resource_id }}">
    <li class="active">
        <a href="#supplier-carrier-general" id="toggle-general" data-toggle="tab">
            {{- 'ekyna_core.field.general'|trans -}}
        </a>
    </li>
</ul>
<div class="panel-body form-body">
    {{ bootstrap_set_style('horizontal') }}
    {{ bootstrap_set_col_size('md') }}
    {{ form_errors(form) }}
    <div class="tab-content">
        <div class="tab-pane active" id="supplier-carrier-general">
            {{ form_row(form.name) }}
        </div>
    </div>
    {{ form_rest(form) }}
</div>
{% endspaceless %}
