{% extends '@EkynaAdmin/Entity/Default/show.html.twig' %}

{% block main %}
<div class="actions">
    {{ admin_resource_btn(supplierCarrier, 'edit') }}
    {{ admin_resource_btn(supplierCarrier, 'remove') }}
</div>
<div class="show show-with-tabs">
    <ul class="nav nav-tabs" data-tab-key="{{ resource_id }}">
        <li class="active">
            <a href="#supplier-carrier-general" id="toggle-general" data-toggle="tab">
                {{ 'ekyna_core.field.general'|trans }}
            </a>
        </li>
    </ul>
    <div class="show-body">
        <div class="tab-content">
            <div class="tab-pane active" id="supplier-carrier-general">
                {{ show_row(supplierCarrier.name, 'text', {'label': 'ekyna_core.field.name'}) }}
                {{ show_row(supplierCarrier.tax, 'entity', {
                    'label': 'ekyna_commerce.tax.label.singular',
                    'route': 'ekyna_commerce_tax_admin_show',
                    'route_parameters_map': {'taxId': 'id'}
                }) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
